<template>
<span class="dot">
  <span class="xref small"
        :title="node.ref_title"
        v-html="truncate(node.ref_title)"
        @click="showMORefEntry"/>
  (<span class="x-small" v-html="node.ref_target"/>,
  <span class="x-small" v-html="node.ref_id"/>)
  <b-icon-trash style="cursor: hand" @click.stop="deleteNode"/>
</span>  
</template>

<script>

import { undoStackPush, resolveText, //  showMORefEntry,
         callAPI, showErrorMessage,
         useMOStore
       } from '@/components/mixins/ordbokUtils.js'

import { mapStores } from 'pinia'

export default {
    name: 'attest-list-edit',
    props: ['node','nodes','top','hp','hpType'],
    data: function () { return { over: false } },
    computed: {
        ...mapStores(useMOStore),
        introResolved: function () {
            return resolveText(this.top.dictionary,this.node.intro,[])
        }
    },
    methods: {
        truncate: function (str) {
            if (str.length < 30) {
                return str
            } else {
                return str.substring(0,25) + "…"
            }
        },
        showMORefEntry: function () {
            let path = "/dict/" + 'setel' + '/' + this.node.ref_id
            callAPI(path, null, null, 'ordbank')
                .then(r => this.moStore.dictArtList = r)
                .catch (showErrorMessage)

            // showMORefEntry(this.node.refTabellId, this.node.refObjekt)
        },
        deleteNode: function() {
            // setPrevActive()
            this.nodes.splice(this.nodes.indexOf(this.node),1)
            undoStackPush(this)
            if (this.hp) { this.hp.changed[this.hpType] = true }
            event.cancelBubble = true
        }
    }
}
</script>
