<template>
<span>
  <input v-if="inputType=='text'"
         :class="inputClass"
         type="text"
         :id="id"
         :name="name"
         v-model.trim="node[acc]"
         autocomplete="off"
         autocorrect="off"
         spellcheck="false"
         autocapitalize="off"
         @input="markChanged"
         @click.stop="closePopup()"
         @focus="focus"
         @focusout="focusOut"
         @keyup="keyUp"/>
  <textarea v-if="inputType=='textarea'"
            :class="inputClass"
            :id="id"
            :name="name"
            :rows="rows"
            v-model.trim="node[acc]"
            v-html="node[acc]"
            autocomplete="off"
            autocorrect="off"
            spellcheck="false"
            autocapitalize="off"
            @focus="focus"
            @focusout="focusOut"
            @input="markChanged"
            @drop="handleDrop"
            @click.stop="closePopup()"
            @keyup="keyUp"/>
  <div class="autocomplete"
       v-if="inTag">
    <table class="autocomplete">
      <tbody>
        <tr v-for="tag in app.tags.filter(tag => tag.indexOf(filterTagPrefix) != -1)"
            :key="tag"
            class="autocomplete">
          <td autocomplete="off"
              autocorrect="off"
              spellcheck="false"
              autocapitalize="off"
              @click.stop="insertTag(tag)">
            {{ tag }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="autocomplete" v-if="inEntity">
    <table class="autocomplete">
      <tbody>
        <tr v-for="(ent, index) in filteredEntities"
            :key="index"
            class="autocomplete">
          <td autocomplete="off" autocorrect="off" spellcheck="false" autocapitalize="off"
              @click.stop="insertEntity(ent[0])">{{ ent[0] + ' – ' + ent[1] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="autocomplete" v-if="inXref">
    <ul @blur="showLemmaList[0]=false"
        class="xref-link">
      <xref-link v-for="(e, index) in lemmaArticleList"
                 :showLemmaList="showLemmaList"
                 :insertFn="insertXref"
                 :e="e"
                 :node="node"
                 :key="index"
                 :dictionary='top.dictionary'
                 :setActive="setActive"/>
    </ul>
  </div>
  <div class="autocomplete" v-if="message">
    <table class="autocomplete">
      <tbody>
        <tr>
          <td>
            <span class="error">{{message}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</span>
</template>

<script>

// autcomplete for:
// * entities (triggered on ‘&’)
// * HTML tags (triggered on ‘<’)
// * xrefs (triggered on ‘@’)

import $ from 'jquery'

import { app } from '@/main.js'

import xrefLink from './xrefLink.vue'

import { markChanged, showErrorMessage, defaultMessage, closePopup, checkConsistency,
         callAPI, dictId, setPopupComp,
         formatXrefTitle, contentToMarkdown, markdownToContent,
         lexCommon
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'autocomplete-input',
    props: ['node','id','top','language','entry','accessor', 'rows',
            'inputClass','inputType','name','hp','hpType','stringify','setActive'],
    components: { xrefLink },
    mixins: [lexCommon],
    data: function () {
        return { app,
                 caretPos: 0,
                 newCaretPos: -1,
                 ltPos: 0,
                 gtPos: 0,
                 ampPos: 0,
                 semicolonPos: 0,
                 atPos: 0,
                 inTag: false,
                 inEntity: false,
                 inXref: false,
                 mode: null,
                 input: null,
                 showLemmaList: [false], // need to wrap this in an array
                 lemmaArticleList: [],
                 prefix: null,
                 message: null,
                 queryId: 0
               }
    },
    updated: function () {
        if (this.newCaretPos > -1) {
            this.input.setSelectionRange(this.newCaretPos,this.newCaretPos)
            this.newCaretPos = -1
        }
    },
    created: function () {
        if (this.stringify) {
            this.node[this.accessor + '_'] = contentToMarkdown(this.top.dictionary, this.node[this.accessor])
        }
    },
    computed: {
        acc: function () {
            return this.stringify ? this.accessor + '_' : this.accessor
        },
        filterTagPrefix: function () {
            return this.filterTagPrefixM()
        },
        filteredEntities: function () {
            let prefix = this.filterEntityPrefix()
            let fEnt = new Map()
            for (let ent of this.app.entities[this.top.dictionary]) {
                if (ent[0].indexOf(prefix) != -1 || ent[1].indexOf(prefix) != -1) {
                    fEnt.set(ent[0], ent[1])
                }
            }
            return fEnt
        }
    },
    methods: {
        handleDrop: function () {
            console.log('handleDrop')
            if (document.dragData && this.top.dictionary == document.dragData.dict) {
                if (!this.node.xrefs) {
                    this.node.xrefs = []
                }
                console.log('form:', formatXrefTitle(document.dragData))
                this.node.xrefs.splice(0,0,
                                       { id: document.dragData.id,
                                         article_id: document.dragData.article_id,
                                         definition_id: document.dragData.definition_id,
                                         form: formatXrefTitle(document.dragData)
                                       })
                document.dragData = null
            }
        },
        markChanged: function () {
            markChanged(this)
            if (this.stringify) {
                markdownToContent(this.node, this.accessor, this.node[this.acc])
            }
        },
        focus: function () {
            this.input = $(this.$el).find(":input")[0]
            app.activeNode = this.input
        },
        focusOut: function () {
            if (this.stringify) {
                markdownToContent(this.node, this.accessor, this.node[this.acc])
            }
        },
        closeList: function () {
            this.inEntity = false
            this.inXref = false
            this.inTag = false
        },
        keyUp: function () {
            // this.input = $(this.$el).find(":input")[0]
            // if (true || !app.activeNode) { app.activeNode = this.input }
            let inputStr = this.node[this.acc]
            if (inputStr) {
                this.caretPos = this.input.selectionStart
                if (app.autocompleteMode=='entity') {
                    this.checkInEntity()
                } else if (app.autocompleteMode=='tag') {
                    this.checkInTag()
                } else if (app.autocompleteMode=='xref') {
                    this.checkInXref()
                } else {
                    this.checkInEntity() ||
                        this.checkInTag() ||
                        (this.hpType != 'etymology_lit' && this.hpType != 'pronunciation' && // has no xref!
                         this.checkInXref())
                    if (null && !app.autocompleteMode) { // see checkEntry() below
                        this.message = checkConsistency(inputStr,this.language) // app.dictionary[0])
                    }
                }
            }
            if (this.hp) {
                this.hp.changed[this.hpType] = true
            }
            this.top.vue.checkEntry()
        },
        checkInXref: function () {
            let found = null
            if (this.input && app.activeNode == this.input) {
                let prefix = this.filterXrefPrefixM()
                if (prefix) {
                    if (prefix != this.prefix) {
                        this.prefix = prefix
                        this.getXrefs(prefix)
                    }
                    found = true
                }
            }
            if (found && !app.autocomplete) {
                this.message = defaultMessage
                app.autocomplete = $('tr.autocomplete')[0]
                app.autocompleteMode = "xref"
                if (app.autocomplete) {
                    app.autocomplete.style.background='lightgray'
                }
            } else if (!found) {
                app.autocomplete = null
                app.autocompleteMode = null
            }
            this.inTag = false
            this.inEntity = false
            this.inXref = found
            setPopupComp(this)
            return found
        },
        checkInTag: function () {
            let found = null
            if (this.input && app.activeNode == this.input) {
                let prefix = this.filterTagPrefixM()
                app.tags.forEach(tag => {
                    if (tag.indexOf(prefix) != -1) {
                        found = true
                    }
                })
            }
            if (found && !app.autocomplete) {
                app.autocomplete = $('tr.autocomplete')[0]
                app.autocompleteMode = "tag"
                this.message = defaultMessage
                if (app.autocomplete) {
                    app.autocomplete.style.background='lightgray'
                }
            } else if (!found) {
                app.autocomplete = null
                app.autocompleteMode = null
            }
            this.inTag = found
            this.inEntity = false
            this.inXref = false
            setPopupComp(this)
            return found
        },
        checkInEntity: function () {
            let found = null
            if (this.input && app.activeNode == this.input) {
                let entities = app.entities[this.top.dictionary]
                if (entities) {
                    let prefix = this.filterEntityPrefix()
                    entities.forEach(function (ent, val) {
                        if (ent.indexOf(prefix) != -1 ||
                            val.indexOf(prefix) != -1) {
                            found = true
                        }
                    })
                }
            }
            if (found && !app.autocomplete) {
                app.autocomplete = $('tr.autocomplete')[0]
                app.autocompleteMode = "entity"
                this.message = defaultMessage
                if (app.autocomplete) {
                    app.autocomplete.style.background='lightgray'
                }
            } else if (!found) {
                app.autocomplete = null
                app.autocompleteMode = null
            }
            this.inTag = false
            this.inEntity = found
            this.inXref = false
            setPopupComp(this)
            return found
        },
        insertTag: function (tag) {
            let end = this.caretPos
            let str = this.node[this.acc]
            for (let i = this.ltPos + 1; i < str.length; i += 1) {
                if (str.charAt(i) == '>') {
                    end = i + 1
                } else if (str.charAt(i) == '<') {
                    break
                }
            }
            // let strEnd = str.substr(end)
            let endTag = '</' + tag.substr(1)
            let wordStart = 0
            for (let i = this.ltPos-1; i > -1; i -= 1) {
                if (" .:,;!?<>".search(str.charAt(i)) > -1) {
                    wordStart = i + 1
                    break
                }
            }
            if (wordStart < this.ltPos - 1) { // put tags around word to the left
                let content = str.substring(wordStart, this.ltPos)
                this.node[this.acc] =
                    str.substr(0,wordStart)
                    + tag
                    + content
                    + endTag
                    + str.substr(this.caretPos)
                this.newCaretPos = wordStart + tag.length + content.length + endTag.length
            } else {
                let wordEnd = str.length
                for (let i = end; i < str.length; i += 1) {
                    if (" .:,;!?<>".search(str.charAt(i)) > -1) {
                        wordEnd = i
                        break
                    }
                }
                if (this.ltPos+1 < wordEnd) { // put tags around word to the right
                    let content = str.substring(this.caretPos,wordEnd)
                    this.node[this.acc] =
                        str.substr(0,this.ltPos)
                        + tag
                        + content
                        + endTag
                        + str.substr(wordEnd)
                    this.newCaretPos = this.ltPos + tag.length + content.length + endTag.length
                } else { // insert empty element
                    this.node[this.acc] =
                        str.substr(0,this.ltPos)
                        + tag
                        + endTag
                        + str.substr(wordEnd)
                    this.newCaretPos = this.ltPos + tag.length
                }
            }
        },
        insertEntity: function (ent) {
            // console.log('insertEntity')
            this.closePopup()
            let end = this.caretPos
            let str = this.node[this.acc]
            for (let i = this.ampPos + 1; i < str.length; i += 1) {
                if (str.charAt(i) == ';') {
                    end = i + 1
                } else if (str.charAt(i) == '&') {
                    break
                }
            }
            let strEnd = this.node[this.acc].substr(end)
            this.node[this.acc] =
                this.node[this.acc].substr(0,this.ampPos)
                + ent
                + strEnd
            this.newCaretPos = this.node[this.acc].length - strEnd.length
            if (this.stringify) {
                markdownToContent(this.node, this.accessor, this.node[this.acc])
            }
        },
        insertXref: function (xref) {
            this.closePopup()
            let end = this.caretPos
            // let str = this.node[this.acc]
            let strEnd = this.node[this.acc].substr(end)
            this.node[this.acc] =
                this.node[this.acc].substr(0,this.atPos)
                + xref
                + strEnd
            this.newCaretPos = this.node[this.acc].length - strEnd.length
            if (this.stringify) {
                markdownToContent(this.node, this.accessor, this.node[this.acc])
            }
        },
        filterEntityPrefix: function () {
            this.ampPos = -1
            this.semicolonPos = this.caretPos
            let inputStr = this.node[this.acc]
            if (inputStr) {
                let str = inputStr.substring(0,this.caretPos)
                for (let i = 0; i < this.caretPos; i += 1) {
                    if (str.charAt(i) == '&') {
                        this.ampPos = i
                    }
                }
                for (let i = this.ampPos; i < this.caretPos; i += 1) {
                    if (str.charAt(i) == ';') {
                        this.semicolonPos = i
                    }
                }
                if (this.ampPos > -1
                    && this.ampPos < this.caretPos
                    && this.caretPos <= this.semicolonPos) {
                    let prefix = inputStr.substring(this.ampPos+1,this.caretPos)
                    return prefix
                } else {
                    return "????"
                }
            }
        },
        filterTagPrefixM: function () {
            this.ltPos = -1
            this.gtPos = this.caretPos
            let inputStr = this.node[this.acc]
            if (inputStr) {
                let str = inputStr.substring(0,this.caretPos)
                for (let i = 0; i < this.caretPos; i += 1) {
                    if (str.charAt(i) == '<') {
                        this.ltPos = i
                    }
                }
                for (let i = this.ltPos; i < this.caretPos; i += 1) {
                    if (str.charAt(i) == '>') {
                        this.gtPos = i
                    }
                }
                if (this.ltPos > -1 && this.ltPos < this.caretPos && this.caretPos <= this.gtPos) {
                    let prefix = inputStr.substring(this.ltPos+1,this.caretPos)
                    return prefix
                } else {
                    return "????"
                }
            }
        },
        filterXrefPrefixM: function () {
            this.atPos = -1
            let inputStr = this.node[this.acc]
            if (inputStr) {
                let str = inputStr.substring(0,this.caretPos)
                for (let i = 0; i < this.caretPos; i += 1) {
                    if (str.charAt(i) == '@') {
                        this.atPos = i
                    }
                }
                if (this.atPos > -1 && this.atPos < this.caretPos) {
                    return inputStr.substring(this.atPos+1,this.caretPos)
                } else {
                    return null
                }
            }
        },
        getXrefs: function (lemma) {
            let queryId = ++this.queryId
            callAPI('/dict/' + dictId(this.top.dictionary) + '/article',
                    'GET',
                    null,
                    null,
                    null,
                    { query: 'main_lemma = "' + lemma + '" and is latest',
                      expand_lemmas: true,
                      expand_refs: true,
                      complete: true,
                      // version_filter: 'latest'
                    })
                .then (r => {
                    if (queryId == this.queryId) { // has to be the current lemma
                        this.lemmaArticleList = r.map(a => {
                            return {
                                id: a.article_id,
                                type: "entry",
                                word_class: a.versions[0].lemmas[0].word_class,
                                entryType: "NORMAL",
                                lemma: a.versions[0].lemmas[0].lemma,
                                // lemma_id: a.versions[0].lemmas[0].id,
                                hgno: a.versions[0].lemmas[0].hgno,
                                definitions: this.getDefinitions(a.versions[0].body.definitions[0])
                                /*
                                definitions: a.versions[0].body
                                    .definitions[0]?.elements?.filter(d => d.type_=='definition')
                                */
                            }
                        })
                        this.$nextTick(() => {
                            app.chooseXref = $('span.xref-link-span')[0]
                            if (app.chooseXref) {
                                app.chooseXref.style.background='lightgray'
                            }
                        })
                    }
                })
                .catch (showErrorMessage)
        },
        getDefinitions: function (def) {
            console.log('def', def)
            if (top.dictionary == 'no') {
                let res = []
                let walk = function (elt) {
                    if (elt) {
                        if (elt.type_ == 'definition') {
                            res.push(elt)
                        }
                        elt.elements?.forEach(elt => walk(elt))
                    }
                }
                walk(def)
                return res
            } else {
                return def?.elements?.filter(d => d.type_=='definition')
            }
        },
        closePopup
    }
    
}
</script>
