<template>
<span class="node comma"
      :id="node.type + node.id">
  <span v-if="node.type_=='pronunciation'">
    <span class="language"
          v-html="pronunciationResolved"/>
  </span>
  <span v-else-if="node.type_=='older_source'">
    <span>{{node.intro}}</span>
    <span class="place"
          v-if="litSource"
          @click.stop="litSource=null"
          v-html="litSource"/>
    <span class="xref"
          :title="node._ordning"
          @click.stop="showLitSource" >
      {{node.code}}</span>
    <!--eldre-source-belegg-list v-for="(attest, index) in node.attest || []"
                              :key="attest.id"
                              :node="attest"
                              :top="top"
                              :last="index==node.attest.length-1"
                              :id="attest.id"/-->
    <span v-if="node.spec" class="spec" v-html="specResolved"/>
  </span>
  <span v-else-if="node.type_=='written_form'">
    <span>{{node.intro}}</span>
    <written-form-list v-for="(form, index) in node.forms || []"
                       :key="index"
                       :node="form"
                       :top="top"
                       :id="form.id"/>
  </span>
  <span v-else-if="node.type_=='dialect'">
    <span>{{node.intro}}</span>
    <dialect-subcats
      v-for="(sub, index) in node.subcats || []"
      :key="index"
      :node="sub"
      :top="top"/>
  </span>
  <span v-else-if="node.type_=='etymology_lang'"
        ><span v-if="node.intro" v-html="introResolved"/>
    <span class="language">{{langResolved}}</span>
    <span v-if="node.spec" class="spec" v-html="specResolved"/>
    <span v-if="node.sources && node.sources.length">
      (<etymology-source-list v-for="(source, index) in node.sources"
                              :key="source.id"
                              :node="source"
                              :last="index==node.sources.length-1"
                              :id="source.id"/>)
    </span>
  </span>
  <span v-else-if="node.type_=='etymology_lit'">
    <span v-if="node.content" v-html="textResolved"/>
    <span v-else>–</span>
    <span v-if="node.sources?.length">
      (<etymology-source-list v-for="(source, index) in node.sources"
                              :key="index"
                              :node="source"
                              :id="source.id"/>)
    </span>
    <!--span v-if="last == false">, </span-->
  </span>
  <span v-else-if="node.type_=='etymology_ref' && top.dictionary=='no'">
    <span v-if="node.intro"
          v-html="introResolved"/>
    <span class="xref"
          @click.stop="showRefEntry"
          v-html="refResolved"/>
    <span v-if="node.spec"
          class="spec"
          v-html="specResolved"/>
    <span v-if="node.sources?.length">
      (<etymology-source-list v-for="(source, index) in node.sources"
                              :key="index"
                              :node="source"
                              :id="source.id"/>)
    </span>
  </span>
  <span v-else-if="node.type_=='etymology_ref' && top.dictionary!='no'">
    <span v-html="textResolved"/>
    <span v-if="node.sources && node.sources.length">
      (<etymology-source-list v-for="(source, index) in node.sources"
                              :top="top"
                              :key="index"
                              :node="source"
                              :id="source.id"/>)
    </span>
  </span>
</span>
</template>

<script>

// import { app } from '@/main.js'

import dialectSubcats from './dialectSubcats'
import etymologySourceList from './etymologySourceList'
import writtenFormList from './writtenFormList'

import { resolveText, resolveLang, showRefEntry, showLitSource
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'bracket-list-display',
    props: ['node','top'],
    components: { dialectSubcats, etymologySourceList, writtenFormList },
    data: function () { return { litSource: null } },
    computed: {
        textResolved: function () {
            return resolveText(this.top.dictionary,this.node.content,this.node.xrefs)
        },
        introResolved: function () {
            return resolveText(this.top.dictionary,this.node.intro,[]) + ' '
        }, // obsolete
        litResolved: function () {
            return resolveText(this.top.dictionary,this.node.content,[])
        },
        specResolved: function () {
            let res = resolveText(this.top.dictionary,this.node.spec,[])
            return res ? ' ' + res : null 
        },
        langResolved: function () {
            //console.log(this.top)
            return resolveLang(this.top.dictionary,this.node.language)
        },
        pronunciationResolved: function () {
            return resolveText(this.top.dictionary,this.node.content,this.node.xrefs)
        },
        refResolved: function () {
            if (this.node && this.node.title) {
                return this.node.title
            } else {
                return '(ikke valgt)'
            }
        }
    },
    methods: {
        showRefEntry: function () {
            showRefEntry(this.top.dictionary, this.node.definition_id, this.node.article_id)
        },
        showLitSource: function () {
            showLitSource(this)
        }
    }
}

</script>
