<template>
<tbody>
  <tr class="bracket-edit" :id="node.type_ + node.id">
    <td class="drag">
      <drag class="drag"
            :transfer-data="{node, nodes, entry: top.entry, dictionary: top.dictionary}">
        <drop class="drop" :class="{ rOver }"
              @dragover="acceptReorderDrop"
              @dragleave="rOver = false"
              @drop="handleReorderDrop">
          <span class="id reorder">&#xe165;</span>
        </drop>
      </drag>
    </td>
    
    <template v-if="node.type_=='older_source'">
      <td>
        <autocomplete-input :node="node"
                            :top="top"
                            :entry="entry"
                            accessor="intro"
                            inputClass="bracket-intro first"
                            xxxid="node.id"
                            :hp="hp"
                            :hpType="node.type_"
                            inputType="text"/>
      </td>
      <td>
        <lit-ref-edit :node="node" type="older_source" :hp="hp"/>
      </td>
      <td>
        <autocomplete-input :node="node"
                            :top="top"
                            :entry="entry"
                            accessor="spec"
                            :stringify="true"
                            :hp="hp"
                            :hpType="node.type_"
                            inputClass="bracket-spec"
                            inputType="text"/>
      </td>
      <td>
        <drop class="drop"
              @dragover="acceptDrop"
              @dragleave="over = false"
              @drop="handleDrop">
          <input class="button ml-3 small"
                 :class="{ over }"
                 type="button"
                 title="Slipp belegg"
                 value="✼">
        </drop>
      </td>
      <td class="button">
        <input class="button" type="button" @click.stop="deleteBracket" value="-"/>
      </td>
      <td class="button">
        <input class="button plus keyfocus"
               type="button"
               @click.stop="addBracket"
               @keydown.enter.prevent="addBracket"
               value="+"/>
      </td>
    </template>
    
    <template v-if="node.type=='written_form' || node.type_=='written_form'">
      <td>
        <div>
          Intro:
          <select @click.stop
                  class="bracket-language keyfocus"
                  @change="markChanged('written_form')"
                  v-model="node.intro">
            <option value="skr">skr</option>
            <option value="skr òg">skr òg</option>
            <option value="e skr">e skr</option>
            <option value="e skr òg">e skr òg</option>
          </select>
          <span class="button">
            <input class="button plus keyfocus"
                   type="button"
                   @click.stop="addFormTop"
                   @keydown.enter.prevent="addFormTop"
                   value="+"/>
          </span>
        </div>
        <table class="bracket-list-edit">
          <tr class="edit">
            <td>
              <span v-if="node.forms?.length">
                <written-form-form-list-edit
                  v-for="form in node.forms"
                  :hp="hp"
                  :key="form.id"
                  :node="form"
                  :nodes="node.forms"
                  :top="top"
                  :entry="entry"
                  :id="form.id"/>
              </span>
            </td>
          </tr>
        </table>
      </td>
    </template>
    
    <template v-if="node.type=='dialect' || node.type_=='dialect'">
      <td style="border-top: 1px solid gray">
        <div>
          <span class="label mx-2">Intro:</span>
          <select @click.stop
                  class="bracket-language keyfocus"
                  @change="markChanged('dialect')"
                  v-model="node.intro">
            <option value="">-</option>
            <option value="målf">målf</option>
            <option value="målf òg">målf òg</option>
          </select>
          <span class="label mx-2">Fritekst:</span>
          <span class="mt-1" style="vertical-align: top">
            <autocomplete-input
            :node="node"
            :entry="entry"
            :top="top"
            :rows="1"
            accessor="freetext"
            inputClass="bracket-freetext mt-1"
            :id="node.id"
            :hp="hp"
            :hpType="node.type_"
              inputType="textarea"/>
          </span>
          <span class="button">
            <input class="button plus keyfocus"
                   type="button"
                   title="Lag ny underkategori"
                   @click.stop="addSubcatTop"
                   @keydown.enter.prevent="addSubcatTop"
                   value="+"/>
          </span>
        </div>
        <table class="bracket-list-edit">
          <tr class="edit">
            <td>
              <template v-if="node.subcats && node.subcats.length">
                <dialect-subcats-edit
                  v-for="sub in node.subcats"
                  :key="sub.id"
                  :node="sub"
                  :nodes="node.subcats"
                  :top="top"
                  :entry="entry"
                  :hp="hp"
                  :id="sub.id"/>
              </template>
            </td>
            <!--td class="button">
              <input class="button"
                     type="button"
                     title="Slett underkategorien"
                     @click.stop="deleteBracket"
                     value="-"/>
            </td-->
            <td class="button" style="vertical-align: bottom">
              <input class="button plus keyfocus"
                     type="button"
                     title="Lag nytt målføreoppslag under dette"
                     @click.stop="addBracket"
                     @keydown.enter.prevent="addBracket"
                     value="+"/>
            </td>
          </tr>
        </table>
      </td>
    </template>
    
    <template v-if="node.type_=='pronunciation'">
      <td>
        <autocomplete-input :node="node"
                            :entry="entry"
                            :top="top"
                            :hp="hp"
                            :hpType="node.type_"
                            accessor="content"
                            inputClass="bracket-pronunciation first"
                            :id="node.id"
                            inputType="text"/>
      </td>
      <td class="button">
        <input class="button"
               type="button"
               @click.stop="deleteBracket"
               value="-"/>
      </td>
      <td class="button">
        <input class="button plus keyfocus"
               type="button"
               @click.stop="addBracket"
               @keydown.enter.prevent="addBracket"
               value="+"/>
      </td>
    </template>
    
    <template v-if="node.type_=='etymology_lang' && top.dictionary=='no'">
      <td>
        <autocomplete-input :node="node"
                            :entry="entry"
                            :top="top"
                            :hp="hp"
                            :hpType="node.type_"
                            accessor="intro"
                            inputClass="bracket-intro first"
                            xxxid="node.id"
                            :inputType="'text'"/>
      </td>
      <td class="bracket-language">
        <select class="bracket-language keyfocus"
                @click.stop
                @change="markChanged('etymology_lang')"
                :id="node.id"
                v-model="node.language">
          <option v-for="lang in app.langArray[top.dictionary]"
                  :key="lang[0]"
                  :value="lang[0]"
                  selected="lang[0]==language"
                  :title="lang[1]">
            {{langName(lang)}}
          </option>
          <!--language-options
              v-for="lang in app.langArray[top.dictionary]"
              :node="lang" :key="lang[0]" :language="node.language"/-->
        </select>
      </td>
      <td>
        <autocomplete-input :node="node"
                            :entry="entry"
                            :top="top"
                            :hp="hp"
                            :hpType="node.type_"
                            :rows="1"
                            accessor="spec"
                            inputClass="bracket-spec"
                            inputType="textarea"/>
      </td>
      <td>
        <input v-if="!node.sources?.length"
               class="button ml-3 small keyfocus"
               type="button"
               title="Lag ny kilde"
               @click="addSourceTop"
               @keydown.enter.prevent="addSourceTop"
               value="+ kilde"/>
        <input v-else
               class="button ml-3 small keyfocus"
               type="button"
               title="klikk for å vise/skjule"
               @click="toggleSrcHide"
               @keydown.enter.prevent="toggleSrcHide"
               :value="srcInputString"/>
      </td>
      <td class="button">
        <input class="button" type="button" @click.stop="deleteBracket" value="-"/>
      </td>
      <td class="button">
        <input class="button plus keyfocus"
               type="button"
               @click.stop="addBracket"
               @keydown.enter.prevent="addBracket"
               value="+"/>
      </td>
    </template>
    <template v-if="node.type_=='etymology_lang' && top.dictionary!='no'">
      <td>
        <autocomplete-input :node="node"
                            :entry="entry"
                            :top="top"
                            accessor="content"
                            :hp="hp"
                            :hpType="node.type_"
                            inputClass="bracket-intro-lit first"
                            inputType="textarea"
                            :id="node.id"/>
      </td>
      <td class="button">
        <input class="button" type="button" @click.stop="deleteBracket" value="-"/>
      </td>
      <td class="button">
        <input class="button plus keyfocus"
               type="button"
               @keydown.enter.prevent="addBracket"
               @click.stop="addBracket"
               value="+"/>
      </td>
    </template>
    <template v-if="node.type_=='etymology_lit' && top.dictionary=='no'">
      <td>
        <autocomplete-input :node="node"
                            :entry="entry"
                            :top="top"
                            :rows="1"
                            accessor="content"
                            :hp="hp"
                            :hpType="node.type_"
                            inputClass="bracket-intro-lit first"
                            inputType="textarea"
                            :id="node.id"/>
      </td>
      <td>
        <input v-if="!node.sources?.length"
               class="button ml-3 small keyfocus"
               type="button"
               title="Lag ny kilde"
               @click="addSourceTop"
               @keydown.enter.prevent="addSourceTop"
               value="+ kilde"/>
        <input v-else
               class="button ml-3 small keyfocus"
               type="button"
               title="klikk for å vise/skjule"
               @click="toggleSrcHide"
               @keydown.enter.prevent="toggleSrcHide"
               :value="srcInputString"/>
      </td>
      <td class="button">
        <input class="button" type="button" @click.stop="deleteBracket" value="-"/>
      </td>
      <td class="button">
        <input class="button plus keyfocus"
               type="button"
               @click.stop="addBracket"
               @keydown.enter.prevent="addBracket"
               value="+"/>
      </td>
    </template>
    <template v-if="node.type_=='etymology_lit' && top.dictionary!='no'">
      <td>
        <autocomplete-input :node="node"
                            :entry="entry"
                            :top="top"
                            accessor="content"
                            :hp="hp"
                            :hpType="node.type_"
                            inputClass="bracket-intro-lit first"
                            inputType="textarea"
                            :id="node.id"/>
      </td>
      <td class="button">
        <input class="button" type="button" @click.stop="deleteBracket" value="-"/>
      </td>
      <td class="button">
        <input class="button plus keyfocus"
               type="button"
               @click.stop="addBracket"
               @keydown.enter.prevent="addBracket"
               value="+"/>
      </td>
    </template>
    <template v-if="node.type_=='etymology_ref' && top.dictionary!='no'">
      <td>
        <autocomplete-input :node="node"
                            :entry="entry"
                            :top="top"
                            accessor="content"
                            :hp="hp"
                            :hpType="node.type_"
                            inputClass="bracket-intro-lit first"
                            inputType="textarea"
                            :id="node.id"/>
      </td>
      <td class="button">
        <input class="button" type="button" @click.stop="deleteBracket" value="-"/>
      </td>
      <td class="button">
        <input class="button plus" type="button" @click.stop="addBracket" value="+"/>
      </td>
    </template>
    <template v-if="node.type_=='etymology_ref' && top.dictionary=='no'">
      <td>
        <autocomplete-input :node="node"
                            :entry="entry"
                            :hp="hp"
                            :hpType="node.type_"
                            :top="top"
                            accessor="intro"
                            :id="'intro'+node.id"
                            inputClass="bracket-intro"
                            inputType="text"/>
      </td>
      <td>
        <span v-if="node.article_id" v-html="node.title"/>
        <input v-if="!node.article_id"
               class="xref"
               type="text"
               v-model="node.title"
               :id="node.id"
               @input="getLemma"
               @focus="showLemmaListFirst"
               @blur="showLemmaList=[false]"
               autocomplete="off"
               autocorrect="off"
               spellcheck="false"
               autocapitalize="off"
               @click.stop/>
        <div v-if="showLemmaList[0] && lemmaArtikkelList.length"
             class="check-lemma">
          <ul v-if="lemmaArtikkelList.length"
              class="xref-link">
            <xref-link v-for="(e,index) in lemmaArtikkelList"
                       :showLemmaList="showLemmaList"
                       :e="e"
                       :node="node"
                       :key="index"
                       :dictionary='top.dictionary'/>
          </ul>
        </div>
      </td>
      <td>
        <autocomplete-input :node="node"
                            :entry="entry"
                            :top="top"
                            accessor="spec"
                            :hp="hp"
                            :hpType="node.type_"
                            :rows="1"
                            inputClass="bracket-spec"
                            inputType="textarea"/>
      </td>
      <td>
        <input v-if="!node.sources?.length"
               class="button ml-3 small keyfocus"
               type="button"
               title="Lag ny kilde"
               @click="addSourceTop"
               @keydown.enter.prevent="addSourceTop"
               value="+ kilde"/>
        <input v-else
               class="button ml-3 small keyfocus"
               type="button"
               title="klikk for å vise/skjule"
               @click="toggleSrcHide"
               @keydown.enter.prevent="toggleSrcHide"
               :value="srcInputString"/>
      </td>

      <td class="delete-button">
        <input class="button" type="button" @click.stop="deleteBracket" value="-"/>
      </td>
      <td xclass="drop" xxclick="addBracket">
        <drop class="drop"
              :class="{ over }"
              @dragover="over = true"
              @dragleave="over = false"
              @drop="handleDrop">
          <input class="drop-button keyfocus"
                 type="button"
                 @click="addBracket"
                 @keydown.enter.prevent="addBracket"
                 value=""/>
        </drop>
      </td>
    </template>
  </tr>
  <tr v-if="node.type_=='older_source' && node.attest?.length"
      style="border-bottom: 1px solid gray">
    <td/>
    <td colspan="5" style="border-left: 1px solid gray">
      <div class="menu-line">
        <span class="tri" @click.stop="toggleAttHide" v-if="attHide">&#x25B6;</span>
        <span class="tri" @click.stop="toggleAttHide" v-else>&#x25BC;</span>
        <drop class="drop"
              :class="{ over }"
              @dragover="acceptDrop"
              @dragleave="over = false"
              @drop="handleDrop">
          <span class="id">belegg</span>
        </drop>
        <span v-if="node.attest?.length && attHide">&nbsp;…</span>
        <span class="flex-left"/>
      </div>
      <table v-if="!attHide">
        <attest-list-edit v-for="attest in node.attest"
                          :hp="hp"
                          hpType="older_source"
                          :key="attest.id"
                          :node="attest"
                          :nodes="node.attest"
                          :top="top"
                          :entry="entry"/>
      </table>
    </td>
  </tr>
  <tr v-if="top.dictionary=='no' && (node.type_=='etymology_lang' || node.type_=='etymology_lit' || node.type_=='etymology_ref')"
      style="border-bottom: 1px solid gray">
    <td/>
    <td colspan="5" style="border-left: 1px solid gray">
      <!--div class="menu-line">
        <span class="tri" @click.stop="toggleSrcHide" v-if="srcHide">&#x25B6;</span>
        <span class="tri" @click.stop="toggleSrcHide" v-else>&#x25BC;</span>
        <span class="id">kilde</span>
        <span v-if="node.sources?.length && srcHide">&nbsp;…</span>
        <span class="flex-left"/>
        <input class="button keyfocus"
               type="button"
               @click="addSourceTop"
               v-show="!srcHide"
               value="+"/>
      </div-->
      <table v-if="!node.srcHide && node.sources">
        <tr class="edit" v-if="node.sources.length">
          <th/>
          <th class="intro">Litt. kode</th>
          <th class="intro">Spesifisering</th>
          <th/>
        </tr>
        <lit-list-edit v-for="(lit,index) in node.sources"
                        :key="index"
                        :top="top"
                        :entry="entry"
                        :hp="hp"
                        type="etymology"
                        :nodes="node.sources"
                        :node="lit"/>
      </table>
    </td>
  </tr>
</tbody>
</template>

<script>

import $ from 'jquery'

import { app } from '@/main.js'

import autocompleteInput from './autocompleteInput.vue'
import litListEdit from './litListEdit.vue'
import litRefEdit from './litRefEdit.vue'
import xrefLink from './xrefLink.vue'
import dialectSubcatsEdit from './dialectSubcatsEdit.vue'
import writtenFormFormListEdit from './writtenFormFormListEdit.vue'
import attestListEdit from './attestListEdit.vue'

import { showErrorMessage, markChanged,
         newId, getNewId, undoStackPush, canAcceptDrop, formatXrefTitle,
         callAPI, dictId, reorderDrop, lexCommon,
         setPendingEditMode, focusEditNode
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'bracket-list-edit',
    props: ['nodes','node','entry','top','hp'],
    components: { autocompleteInput, litListEdit, litRefEdit, attestListEdit,
                  xrefLink, dialectSubcatsEdit, writtenFormFormListEdit },
    mixins: [lexCommon],
    data: function () {
        return {
            showLemmaList: [false], // need to wrap this in an array
            lemmaArtikkelList: [],
            focus: false,
            hide: false,
            app,
            over: false,
            rOver: false, // for reorder
            canEdit: true,
            attHide: true,
            // srcHide: true,
            queryId: 0 }
    },
    mounted: function () {
        // console.log('mounted')
        setPendingEditMode(this)
    },
    updated: function () {
        // console.log('updated')
        focusEditNode(this)
    },
    computed: {
        srcInputString: function () {
            return 'kilder' +
                (this.node.sources?.length ?
                 (' (' + this.node.sources?.length + ')') : '') +
                (this.node.sources?.length && this.node.srcHide ? ' …' : '')
        }
    },
    methods: {
        toggleAttHide: function () {
            this.attHide=!this.attHide
        },
        toggleSrcHide: function () {
            this.node.srcHide = !this.node.srcHide
            console.log(this.node.srcHide)
        },
        addBracket: function () {
            app.editId = newId()
            // console.log('editId:', app.editId)
            // console.log('type', this.node.type || this.node.type_)
            switch(this.node.type_) {
            case "etymology_lang":
            case "etymology_lit":
            case "etymology_ref":
                this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                                  { id: getNewId(),
                                    type_: this.node.type_,
                                    srcHide: false,
                                    sources: [] })
                break
            case "written_form":
                this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                                  { id: getNewId(),
                                    type_: this.node.type_,
                                    forms: [] })
                break
            case "older_source":
                this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                                  {id: getNewId(),
                                   type_: this.node.type_,
                                   attest: []})
                break
            case "dialect":
                this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                                  { id: getNewId(),
                                    type: "dialect",
                                    subcats: [{ "id": getNewId(),
                                                "type": "dialect_subcat",
                                                "forms": [ { id: getNewId(),
                                                             type: "dialect-form",
                                                             sources: [],
                                                             attest: [] }] } ] })
                break
            default:
                this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                                  {id: getNewId(),
                                   type_: this.node.type_}) // add more?
                //app.addedComp = 'bracket-list-edit' // this.node.type // new but wrong
                // console.log('added:', app.addedComp)
                
            }
            this.keyStore.key++
            this.hp.changed[this.node.type_] = true
            undoStackPush(this)
        },
        deleteBracket: function () {
            this.nodes.splice(this.nodes.indexOf(this.node),1)
            this.hp.changed[this.node.type_] = true
            undoStackPush(this)
        },
        addSourceTop: function () {
            app.editId = newId()
            this.node.sources.splice(0,0,{ id: getNewId(),
                                           type_: "etymology_source",
                                           attest: [] })
            // console.log(this.nodes)
            this.hp.changed[this.node.type_] = true
            undoStackPush(this) 
        },
        addSubcatTop: function () {
            app.editId = newId()
            this.node.subcats.splice(0,0,{ id: getNewId(),
                                           type: "dialect_subcat",
                                           forms: [ { id: getNewId(),
                                                      type_: "dialect_form",
                                                      sources: [ { id: getNewId(),
                                                                   type_: "dialect_source",
                                                                   show: 1,
                                                                   auto: 0
                                                                 } ],
                                                      attest: [] }]
                                         })
            // console.log(this.nodes)
            this.keyStore.key++
            this.hp.changed[this.node.type_] = true
            undoStackPush(this) 
        },
        addFormTop: function () { // under construction
            app.editId = newId()
            this.node.forms.splice(0,0,{ type_:"written_form_form",
                                         id: getNewId(),
                                         form: null,
                                         sources: [{ id: getNewId(),
                                                     type_: "written_form_source",
                                                     attest: [] }],
                                         attest: [] } )
            // console.log("nodes:")
            // console.log(this.nodes)
            this.keyStore.key++
            this.hp.changed[this.node.type_] = true
            undoStackPush(this) 
        },
        handleDrop: function (data) {
            this.over = false
            if (canAcceptDrop(this, data) && data.type == 'entry') {
                if (!this.node.refObjekt) { // add to existing node
                    this.node.refTabellId = data.node.refTabellId // fixme: definition_id etc.
                    this.node.refObjekt = data.node.id
                    this.node.title = formatXrefTitle(data)
                } else {
                    this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                                      {id: getNewId(),
                                       type_: "etymology_ref",
                                       refTabellId: data.node.refTabellId, // fixme!
                                       refObjekt: data.node.id,
                                       title: formatXrefTitle(data),
                                       sources:[]
                                      })
                }
                this.hp.changed[this.node.type_] = true
                undoStackPush(this)
            } else if (data.mode == 'mo-articles') { // list of articles
                data.items.forEach(item => {
                    // avoid duplicates
                    if (!this.node.attest.find(n=>n.ref_id == item.art_id &&
                                               n.ref_target == item.dict_id)) {
                        this.node.attest.splice(this.node.attest.indexOf(this.node)+1,0,
                                                { id: getNewId(),
                                                  type_: 'attestation',
                                                  ref_title: item.title,
                                                  ref_id: item.art_id,
                                                  ref_target: item.dict_id
                                                } )
                        }
                })
            } else if (data.type == 'setel') {
                this.node.attest.splice(this.node.attest.indexOf(this.node)+1,0,
                                        {id: getNewId(),
                                         type_: "attestation",
                                         ref_title: data.title,
                                         ref_id: data.art_id,
                                         ref_target: data.dict_id})
                this.hp.changed[this.node.type_] = true
                undoStackPush(this)
            }
        },
        acceptDrop: function (data) {
            if (canAcceptDrop(this, data) &&
                (data.node?.etype == 'sub-entry' ||
                 data.type == 'setel' ||
                 data.mode == 'mo-articles')) {
                this.over = true
            }
        },
        handleReorderDrop: function (data) {
            this.hp.changed[this.node.type_] = true
            reorderDrop(this,data)
        },
        acceptReorderDrop: function () {
            this.rOver = true
        },
        getLemma: function () {
            // console.log(this.node.title)
            let queryId = ++this.queryId
            let url = '/dict/' + dictId(this.top.dictionary) + '/article'
            let parameters = { query: 'main_lemma="' +
                               this.node.title +
                               '" and is latest',
                               expand_refs: true,
                               expand_lemmas: true,
                               complete: true
                             }
            callAPI(url, null, null, null, null, parameters)
                .then (r => {
                    if (queryId == this.queryId) {
                        this.lemmaArtikkelList = r.map(a => {
                            return {
                                id: a.article_id,
                                type: "entry",
                                word_class: a.versions[0].lemmas[0].word_class,
                                entryType: "NORMAL",
                                lemma: a.versions[0].lemmas[0].lemma,
                                hgno: a.versions[0].lemmas[0].hgno }
                        })
                        
                        this.$nextTick(() => {
                            app.chooseXref = $('span.xref-link-span')[0]
                            // console.log('app.chooseXref')
                            // console.log(app.chooseXref)
                            if (app.chooseXref) {
                                app.chooseXref.parentNode.style.background='lightgray'
                            }
                        })
                    }
                })
                .catch (showErrorMessage)
            
            this.hp.changed[this.node.type_] = true
            markChanged(this)
        },
        markChanged: function (type) {
            if (type) {
                this.hp.changed[type] = true
            }
            markChanged(this)
            this.top.vue.checkEntry()
        },
        showLemmaListFirst: function() {
            this.showLemmaList = [true]
            this.$nextTick(() => {
                app.chooseXref = $('.xref-link-span')[0]
                if (app.chooseXref) {
                    app.chooseXref.parentNode.style.background='lightgray'
                }
            })
        },
        langName: function (lang) {
            if (lang[1].length < 16) {
                return lang[1]
            } else {
                return lang[1].substr(0,15) + "…"
            }
        }
    }
}

</script>
