<template>
<span :class="spanClass">
  <span v-if="node.type_=='pronunciation'">
    <span class="language"
          v-html="pronunciationResolved"
          @click="handleXrefClick"
          />
  </span>
  <span v-else-if="node.type=='older_source' || node.type_=='older_source'">
    <span>{{node.intro}} </span>
    <span class="place" v-if="litSource" @click.stop="litSource=null" v-html="litSource"/>
    <span class='xref small'
          @click.stop="showLitSource"
          :title="node._ordning">{{node.code}}</span>
    <!--span v-if="node.attest.length">
      <older-source-attest-list v-for="(attest, index) in node.attest"
                                :key="index"
                                :node="attest"
                                :top="top"
                                :last="index==node.attest.length-1"
                                :id="attest.id"
                                :last2="index==node.attest.length-2"/>
    </span>
    <span v-if="node.spec?.content?.length">: </span-->
    <span class="spec" v-html="specResolved"/>
  </span>
  <span v-else-if="node.type=='written_form' || node.type_=='written_form'">
    <span>{{node.intro}} </span>
    <span v-if="node.forms.length">
      <written-form-list v-for="(form, index) in node.forms"
                         :key="index"
                         :node="form"
                         :top="top"
                         :id="form.id"/>
    </span>
  </span>
  <span v-else-if="node.type=='dialect' || node.type_=='dialect'">
    <span>{{node.intro}} </span>
    <span v-html="freetextResolved"/>
    <span v-if="node.subcats.length">
      <dialect-subcats
        v-for="(sub, index) in node.subcats"
        :key="index"
        :top="top"
        :node="sub"/>
    </span>
  </span>
  <span v-else-if="node.type_=='etymology_lang' && top.dictionary=='no'">
    <span v-if="node.intro" v-html="introResolved"/>
    <span class='language'> {{langResolved}} </span>
    <span class="spec" v-html="specResolved"/>
    <span v-if="node.sources?.length">
      (<etymology-source-list v-for="(source, index) in node.sources"
                              :top="top"
                              :key="index"
                              :node="source"
                              :id="source.id"/>)
    </span>
  </span>
  <span v-else-if="node.type_=='etymology_lang' && top.dictionary!='no'">
    <span v-if="node.content" v-html="textResolved"/>
    <span v-else>–</span>
    <span v-if="node.sources?.length">
      (<etymology-source-list v-for="(source, index) in node.sources"
                              :top="top"
                              :key="index"
                              :node="source"
                              :last="index==node.sources.length-1"
                              :id="source.id"
                              />)
    </span>
  </span>
  <span v-else-if="node.type_=='etymology_lit'">
    <span v-if="node.content" v-html="textResolved"/>
    <span v-else>–</span>
    <span v-if="node.sources?.length">
      (<etymology-source-list v-for="(source, index) in node.sources"
                              :top="top"
                              :key="index"
                              :node="source"
                              :id="source.id"/>)
    </span>
  </span>
  <span v-else-if="node.type_=='etymology_ref' && top.dictionary=='no'">
    <span v-if="node.intro"
          v-html="introResolved"/>
    <span class="xref"
          @click.stop="showRefEntry"
          v-html="refResolved"/>
    <span class="spec" v-html="specResolved"/>
    <span v-if="node.sources?.length">
      (<etymology-source-list v-for="(source, index) in node.sources"
                              :top="top"
                              :key="index"
                              :node="source"
                              :id="source.id"/>)
    </span>
  </span>
  <span v-else-if="node.type_=='etymology_ref' && top.dictionary!='no'">
    <span v-html="textResolved" @click="handleXrefClick"/>
    <span v-if="node.sources && node.sources.length">
      (<etymology-source-list v-for="(source, index) in node.sources"
                              :top="top"
                              :key="index"
                              :node="source"
                              :id="source.id"/>)
    </span>
  </span>
</span>
</template>

<script>

import dialectSubcats from './dialectSubcats.vue'
import etymologySourceList from './etymologySourceList.vue'
import writtenFormList from './writtenFormList.vue'

// import { app } from '@/main.js'
import { resolveText, resolveLang, showRefEntry, showLitSource
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'bracket-list',
    props: ['node','top'],
    components: { dialectSubcats, etymologySourceList, writtenFormList },
    data: function () {
        return {
            focus: false, hide: false, canEdit: true, litSource: null
        }
    },
    computed: {
        spanClass: function () {
            if (this.focus) {
                if (this.node.type_ == 'dialect') {
                    return 'focus'
                } else {
                    return 'focus comma'
                }
            } else {
                if (this.node.type_ == 'dialect') {
                    return 'br-inactive'
                } else {
                    return 'br-inactive comma'
                }
            }
        },
        textResolved: function () {
            return resolveText(this.top.dictionary,this.node.content,this.node.xrefs)
        },
        introResolved: function () {
            let res = resolveText(this.top.dictionary,this.node.intro,[])
            return res ? res + ' ' : null 
        },
        specResolved: function () {
            let res = resolveText(this.top.dictionary,this.node.spec,[])
            return res ? ' ' + res : null 
        },
        freetextResolved: function () {
            let res = resolveText(this.top.dictionary,this.node.freetext,[])
            return res ? ' ' + res : null 
        },
        langResolved: function () {
            return resolveLang(this.top.dictionary,this.node.language)
        },
        pronunciationResolved: function () {
            // return resolveText(this.top.dictionary,this.node.pronunciation,[])
            return resolveText(this.top.dictionary,this.node.content,this.node.xrefs)
        },
        refResolved: function () {
            if (this.node && this.node.title) {
                return this.node.title
            } else {
                return '(ikke valgt)'
            }
        }
    },
    methods: {
        showRefEntry: function () {
            showRefEntry(this.top.dictionary, this.node.definition_id, this.node.article_id)
        },
        showLitSource: function () {
            showLitSource(this)
        },
        handleXrefClick: function (e) {
            if (e.target.matches('.xref, .xref *')) {
                let val = e.target.getAttribute('xref')
                if (val) {
                    // console.log(val)
                    showRefEntry(...val.split(','))
                }
            }
        }
    }
}
</script>
