<template>
<span class="bracket-list-display"
      ><bracket-list-display v-for="(bra, index) in node"
                             :key="bra.id" :node="bra" :top="top" :last="index==node.length-1"/></span>
</template>

<script>

import bracketListDisplay from './bracketListDisplay'

export default {
    name: 'bracket-group-display',
    props: ['entry','top','node','type'],
    components: { bracketListDisplay }
}

</script>
