<template>
<div :class="'node-list ' + [focus ? 'focus' : 'inactive']">
  <span class="bracket-list"
        v-if="!edit"
        @click.stop="toggleEditMode">
    <span style="font-size:smaller;color:gray" v-show="!node">[{{type}}]</span>
    <span>
      <bracket-list v-for="(bra, index) in node"
                    :key="index"
                    :node="bra"
                    :top="top"/>
    </span>
  </span>
  <div v-if="type=='older_source' && edit">
    <table class="bracket-list-edit" :key="keyStore.key">
      <tr class="edit">
        <td/>
        <td class="bracket-edit header">Innledning</td>
        <td class="bracket-edit header">Litteraturkode</td>
        <td class="bracket-edit header">Spesifisering</td>
        <td class="bracket-edit header">Belegg</td>
        <td class="button">
          <input class="button keyfocus"
                 type="button"
                 @click.stop="addBracketTop"
                 @keydown.enter.prevent="addBracketTop"
                 value="+"/>
        </td>
        <td class="button">
          <input class="button" type="button" @click.stop="editModeOff" value="x"/>
        </td>
      </tr>
      <bracket-list-edit v-for="(bra,index) in node"
                         :key="index"
                         :nodes="node"
                         :node="bra"
                         :entry='entry'
                         :top="top"
                         :hp="hp"/>
    </table>
  </div>
  
  <div v-if="type=='written_form' && edit">
    <table class="bracket-list-edit" :key="keyStore.key">
      <bracket-list-edit v-for="(bra,index) in node"
                         :key="index"
                         :nodes="node"
                         :node="bra"
                         :entry='entry'
                         :top="top"
                         :hp="hp"/>
    </table>
  </div>
  
  <div v-if="type=='dialect' && edit">
    <table class="bracket-list-edit" :key="keyStore.key">
      <bracket-list-edit v-for="(bra,index) in node"
                         :key="index"
                         :nodes="node"
                         :node="bra"
                         :entry='entry'
                         :top="top"
                         :hp="hp"/>
    </table>
  </div>
  
  <div v-if="type=='pronunciation' && edit">
    <table class="bracket-list-edit" :key="keyStore.key">
      <tr class="edit">
        <td/>
        <td class="bracket-edit header">Uttale</td>
        <td class="button">
          <input class="button keyfocus"
                 type="button"
                 @click.stop="addBracketTop"
                 @keydown.enter.prevent="addBracketTop"
                 value="+"/>
        </td>
        <td class="button">
          <input class="button" type="button" @click.stop="editModeOff" value="x"/>
        </td>
      </tr>
      <bracket-list-edit v-for="(bra,index) in node"
                         :key="index"
                         :nodes="node"
                         :node="bra"
                         :entry='entry'
                         :top="top"
                         :hp="hp"/>
    </table>
  </div>
  
  <div v-if="type=='etymology_lang'" v-show="edit">
    <div class="menu-line">
      <span class="id">etymologi språk</span>
      <span class="flex-left"/>
      <span class="flex" @click="deleteNode()">slett</span>
    </div>
    <table class="bracket-list-edit" :key="keyStore.key">
      <tr class="edit">
        <td/>
        <td class="bracket-edit header">Innledning</td>
        <td class="bracket-edit header">Språk</td>
        <td class="bracket-edit header">Spesifisering</td>
        <td class="button">
          <input class="button keyfocus"
                 type="button"
                 @click.stop="addBracketTop"
                 @keydown.enter.prevent="addBracketTop"
                 value="+"/>
        </td>
      </tr>
      <bracket-list-edit v-for="(bra,index) in node"
                         :key="index"
                         :nodes="node"
                         :node="bra"
                         :entry='entry'
                         :top="top"
                         :hp="hp"/>
    </table>
  </div>
  <div v-if="type=='etymology_lit'" v-show="edit">
    <div class="menu-line">
      <span class="id">Etymologi litteratur</span>
      <span class="flex-left"/>
      <span class="flex" @click="deleteNode()">slett</span>
    </div>
    <table class="bracket-list-edit" :key="keyStore.key">
      <tr class="edit">
        <td/>
        <td class="bracket-edit header">Fritekst</td>
        <td class="button">
          <input class="button keyfocus"
                 type="button"
                 @click.stop="addBracketTop"
                 @keydown.enter.prevent="addBracketTop"
                 value="+"/>
        </td>
      </tr>
      <bracket-list-edit v-for="(bra,index) in node"
                         :key="index"
                         :nodes="node"
                         :node="bra"
                         :entry='entry'
                         :top="top"
                         :hp="hp"/>
    </table>
  </div>
  <div v-if="type=='etymology_ref' && top.dictionary=='no'"
       v-show="edit">
    <div class="menu-line">
      <span class="id">Etymologi tilvisning</span>
      <span class="flex-left"/>
      <span class="flex" @click="deleteNode()">slett</span>
    </div>
    <table class="bracket-list-edit" :key="keyStore.key">
      <tbody>
        <tr class="edit">
          <td/>
          <td class="bracket-edit header">Innledning</td>
          <td class="bracket-edit header">Kryssreferanse</td>
          <td class="bracket-edit header">Spesifisering</td>
          <td @click="addBracketTop">
            <drop class="drop"
                  :class="{ over }"
                  @dragover="over = true"
                  @dragleave="over = false"
                  @drop="handleDrop">
              <input class="drop-button keyfocus"
                     type="button"
                     @click="addBracketTop"
                     @keydown.enter.prevent="addBracketTop"
                     value=""/>
            </drop>
          </td>
          <td class="button">
            <input class="button" type="button" @click.stop="editModeOff" value="x"/>
          </td>
        </tr>
      </tbody>
      <bracket-list-edit v-for="(bra,index) in node"
                         :key="index"
                         :nodes="node"
                         :node="bra"
                         :entry='entry'
                         :top="top"
                         :hp="hp"/>
    </table>
  </div>
  <div v-if="type=='etymology_ref' && top.dictionary!='no'" v-show="edit">
    <div class="menu-line">
      <span class="id">Etymologi tilvisning</span>
      <span class="flex-left"/>
      <span class="flex" @click="deleteNode()">slett</span>
    </div>
    <table class="bracket-list-edit" :key="keyStore.key">
      <tbody>
        <tr class="edit">
          <td/>
          <td class="bracket-edit header">Tekst</td>
          <td class="drop" @click="addBracketTop">
            <drop class="drop" :class="{ over }"
                  @dragover="over = true"
                  @dragleave="over = false"
                  @drop="handleDrop"> + </drop>
          </td>
          <td class="button">
            <input class="button" type="button" @click.stop="editModeOff" value="x"/>
          </td>
        </tr>
      </tbody>
      <bracket-list-edit v-for="(bra, index) in node"
                         :key="index"
                         :nodes="node"
                         :node="bra"
                         :entry='entry'
                         :top="top"
                         :hp="hp"/>
    </table>
  </div>
</div>
</template>

<script>


import { app } from '@/main.js'
import { lexCommon, setEditMode, setPendingEditMode, focusEditNode, setPrevActive,
         newId, getNewId, undoStackPush, canAcceptDrop, formatXrefTitle
       } from '@/components/mixins/ordbokUtils.js'

import bracketList from './bracketList.vue'
import bracketListEdit from './bracketListEdit.vue'

export default {
    name: 'bracket-group',
    props: ['entry','top','node','type','hp'],
    mixins: [lexCommon],
    components: { bracketList, bracketListEdit },
    data: function () {
        return { edit: false,
                 focus: false,
                 over: false,
                 canEdit: true, // dont’t delete!
                 canGetFocus: true
               }
    },
    mounted: function () {
        setPendingEditMode(this)
    },
    updated: function () {
        focusEditNode(this)
    },
    methods: {
        deleteNode: function () {
            setPrevActive()
            // this.node.splice(0,this.node.length)
            let etym = this.entry.hp.etymology
            switch (this.type) {
            case "etymology_lang":
                etym.hpEtymologyLang = null
                break
            case "etymology_lit":
                etym.hpEtymologyLit = null
                break
            case "etymology_ref":
                etym.hpEtymologyRef = null
            }
            this.hp.changed[this.type] = true
            undoStackPush(this)
            event.cancelBubble = true
        },
        toggleEditMode: function () {
            setEditMode(this)
        },
        addBracketTop: function () { // inserts an empty bracket at the top
            app.editId = newId()
            if (this.node == null) { // seems to be buggy, but can't happen?
                switch (this.type) {
                case "etymology_lang":
                    this.entry.hpEtymologyLang = [{id: getNewId(),
                                                   type_: this.type,
                                                   sources:[],
                                                   srcHide: false }]
                    break
                case "etymology_lit":
                    this.entry.hpEtymologyLit = [{id: getNewId(),
                                                  type_: this.type,
                                                  sources: [],
                                                  srcHide: false }]
                    break
                case "etymology_ref":
                    this.entry.hpEtymologyRef = [{id: getNewId(),
                                                  type_: this.type,
                                                  sources: [],
                                                  srcHide: false }]
                    break
                case "pronunciation":
                    this.entry.hpPronunciation = [{"id":getNewId(),"type_":this.type}]
                    break
                case "written_form":
                    this.entry.hpWrittenForm = [{"id":getNewId(),"type_":this.type,"forms":[]}]
                    break
                case "older_source":
                    this.entry.hpOlderSource = [{"id":getNewId(),"type_":this.type,"attest":[]}]
                }
            } else { // what about dialect?
                switch (this.type) {
                case "etymology_lang":
                    this.node.splice(0,0,{"id":getNewId(),"type_":this.type,"sources":[]})
                    break
                case "etymology_lit":
                    this.node.splice(0,0,{"id":getNewId(),"type_":this.type,"sources":[]})
                    break
                case "etymology_ref":
                    this.node.splice(0,0,{"id":getNewId(),"type_":this.type,"sources":[]})
                    break
                case "pronunciation":
                    this.node.splice(0,0,{"id":getNewId(),"type_":this.type})
                    break
                case "written_form":
                    this.node.splice(0,0,{"id":getNewId(),"type_":this.type,"forms":[]})
                    break
                case "older_source":
                    this.node.splice(0,0,{"id":getNewId(),"type_":this.type,"attest":[]})
                }
            }
            this.hp.changed[this.type] = true
            this.keyStore.key++
            undoStackPush(this)
        },
        editModeOff: function () { // ??
            app.activeComp == null
            this.edit = !this.edit
            undoStackPush(this)
        },
        handleDrop: function (data) {
            this.over = false
            if (canAcceptDrop(this, data) && data.type == 'entry') {
                this.node.splice(0,0,
                                 {"id":getNewId(),
                                  "type":"etymology_ref",
                                  "refTabellId":data.node.refTabellId, // fixme!
                                  "refObjekt":data.node.id,
                                  "title":formatXrefTitle(data),
                                  "sources":[]
                                 })
                this.hp.changed['etymology_ref'] = true        
                undoStackPush(this)
            }
        },
        acceptDrop: function (data) {
            if (canAcceptDrop(this, data) && data.node.etype=='sub-entry') {
                this.over = true
            }
        }
    }
}

</script>
