<template>
<div :class="'node-list ' + [focus ? 'focus' : 'inactive']">
  <span class="compound-list" @click="toggleEditMode">
    <div class="menu-line">
      <drag class="drag"
            :transfer-data="{type: 'compound-list', entry: entry, node: node, nodes: nodes, dictionary: top.dictionary}">
        <drop class="drop" :class="{ over }"
              @dragover="over = true"
              @dragleave="over = false"
              @drop="handleDrop">
          <span class="tri" @click.stop="toggleHide" v-if="hide">&#x25B6;</span>
          <span class="tri" @click.stop="toggleHide" v-else>&#x25BC;</span>
          <span class="id" @click.stop="setActive">sammensetninger</span>
        </drop>
      </drag>
      <span class="flex-left"/>
      <span v-if="!hide && focus && hasEditStatus()"
            class="flex" @click="deleteNode()">
        slett
      </span>
    </div>
    <div class="node" v-show="!hide && !edit">
      <compound-list v-for="(comp, index) in node"
                     :key="comp.id"
                     :node="comp" :top="top"
                     :last="index==node.length-1"/>
    </div>
    <div v-show="!hide && edit">
      <table class="edit">
        <compound-list-edit v-for="comp in node"
                            :key="comp.id" :node="comp" :nodes="node"
                            :entry="entry" :top="top"/>
      </table>
      </div>
    </span>
  </div>
</template>

<script>

import compoundList from './compoundList.vue'
import compoundListEdit from './compoundListEdit.vue'

import { app } from '@/main.js'

import { setPendingEditMode, setEditMode, unsetEditMode, setActive, setPrevActive,
         hasEditStatus, focusEditNode, //  resolveText,
         undoStackPush, canAcceptDrop
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'compound-group',
    props: ['node','nodes','entry','top'],
    components: { compoundList, compoundListEdit },
    data: function () { return {
        edit: false,
        focus: false,
        hide: false,
        over: false,
        canGetFocus: true,
        canEdit: true } },
    mounted: function () {
        setPendingEditMode(this)
    },
    updated: function () {
        focusEditNode(this)
        // setPendingEditMode(this)
    },
    methods: {
        setActive: function () {
            setActive(this)
        },
        toggleEditMode: function () {
            setEditMode(this)
        },
        editModeOff: function () {
            app.activeComp == null
            this.edit = !this.edit
            undoStackPush(this)
        },
        hasEditStatus: function () {
            return hasEditStatus(this.top.dictionary)
        },
        deleteNode: function() {
            setPrevActive()
            this.nodes.compounds = []
            event.cancelBubble = true
            undoStackPush(this)
        },
        handleDrop: function (data) {
            if (canAcceptDrop(this, data)) {
                this.over = false
                // console.log(data.node.type)
                if (data.entry == this.top.entry) {
                    if (data.node.type == 'compound-xref') { // not sensible
                        /* let dragIndex = data.nodes.indexOf(data.node)
            this.nodes.compounds.splice(0,0,data.node)
            data.nodes.splice(dragIndex,1)
            undoStackPush(this) */
            } else if (data.node.type == 'compound-list') {
            let dragIndex = data.nodes.indexOf(data.node)
            this.nodes.compounds.splice(0,0,data.node)
            data.nodes.splice(dragIndex,1)
            undoStackPush(this)
            // setEditMode(this)
            } else if (data.type == 'compound-list') {
            // merge compounds
            this.nodes.compounds = this.nodes.compounds.concat(data.node)
            data.nodes.compounds = []
            undoStackPush(this)
            }
        }
        }
    },
    acceptDropxxx: function (data) {
        if (canAcceptDrop(this, data) && data.node.etype=='sub-entry') {
        this.over = true
        }
    },
    toggleHide: function () {
        this.hide=!this.hide
        if (this.hide) {
        unsetEditMode()
        }
    }
  }
}
</script>
