<template>
<div class="compound" :class="[focus ? 'focus' : 'inactive']">
  <span v-if="node.intro" v-html="introResolved"/>
  <span>
    <span class="xref comma"
          v-for="(xref, index) in node.xrefs"
          :key="index"
          v-html="xref.title"
          @click="showRefEntry(xref)"/>
  </span>
</div>
</template>

<script>

import { resolveText, showRefEntry } from '@/components/mixins/ordbokUtils.js'

// list_type is not used!

export default {
    name: 'compound-list',
    props: ['node','top'],
    data: function () { return { focus: false } },
    computed: {
        introResolved: function () {
            return resolveText(this.top.dictionary,this.node.intro) + ' '
        }
    },
    methods: {
        showRefEntry: function (xref) {
            showRefEntry(this.top.dictionary, xref.definition_id, xref.article_id)
        }
    }   
}

</script>
