<template>
<div class="compound-display">
  <span v-if="node.alternativtLedd && node.alternativtLedd.length">[{{node.alternativtLedd}}]</span>
  <span v-if="node.intro" v-html="introResolved + ' '"/>
    <span>
    <span class="xref comma"
          v-for="(xref, index) in node.xrefs"
          :key="index"
          v-html="xref.title"
          @click="showRefEntry(xref)"/>
  </span>
</div>
</template>

<script>

import { resolveText, showRefEntry } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'compound-list-display',
    props: ['node','top'],
    computed: {
        introResolved: function () {
            return resolveText(this.top.dictionary,this.node.intro)
        }
    },
    methods: {
        showRefEntry: function (xref) {
            showRefEntry(this.top.dictionary, xref.definition_id, xref.article_id)
        }
    }
}
</script>
