<template>
<span>
  <compound-list-display v-for="(comp, index) in node"
                         :key="comp.id"
                         :node="comp" :top="top"
                         :last="index==node.length-1"/>
</span>
</template>

<script>

import compoundListDisplay from './compoundListDisplay.vue'

export default {
    name: 'compound-group-display',
    props: ['node','nodes','entry','top'],
    components: { compoundListDisplay }   
}

</script>
