<template>
<tr class="edit-group">
  <td>
    <table class="edit">
      <tr class="edit">
        <th class="drag">
          <drag class="drag"
                :transfer-data="{node, nodes, entry, dictionary: top.dictionary}">
            <drop class="drop" :class="{ over }"
                  @dragover="acceptReorderDrop"
                  @dragleave="over = false"
                  @drop="handleReorderDrop">
              <span class="id reorder">&#xe165;</span>
            </drop>
          </drag>
        </th>
        <th>Innledning</th>
        <th>Type</th>
      </tr>
      <tr class="edit">
        <td/>
        <td class="edit">
          <autocomplete-input :node="node"
                              :entry="entry"
                              :top="top"
                              accessor="intro"
                              :id="node.id"
                              inputClass="sms-intro first"
                              inputType="textarea"/>
        </td>
        <td class="edit">
          <select class="bracket-language keyfocus"
                  v-model="node.list_type">
            <option value="i sms">i sms</option>
            <option value="hertil">hertil</option>
          </select>
        </td>
        <td class="drop-button">
          <drop class="drop plus"
                :class="{ over }"
                @dragover="over = true"
                @dragleave="over = false"
                @drop="handleDrop">
            <input class="button keyfocus"
                   type="button"
                   :id="'new-compound-button' + node.id"
                   @click="addXrefTop"
                   title="klikk eller dra og slipp for å legge til en ny sammensetning"
                   value=""/>
          </drop>
          
        </td>
      </tr>
    </table>
    <table class="edit" v-if="node.xrefs.length">
      <tr class="edit">
        <th v-if="false && top.dictionary!='no'"/>
        <!--th class="id">Id</th-->
        <th class="xref">Tittel</th>
        <th/>
      </tr>
      <compound-xref-list-edit v-for="xref in node.xrefs"
                               :key="xref.id"
                               :node="xref"
                               :nodes="node.xrefs"
                               :nodeId="node.id"
                               :top="top"
                               :entry="entry"/>
    </table>
  </td>
  <template v-if="false && top.dictionary=='no'">
    <td class="button"><input class="button" type="button" @click="deleteCompound" value="-"/></td>
    <td class="button"><input class="button" type="button" @click.stop="addCompound" value="+"/></td>
  </template>
</tr>
</template>


<script>

import { app } from '@/main.js'

import autocompleteInput from './autocompleteInput.vue'
import compoundXrefListEdit from './compoundXrefListEdit.vue'

import { undoStackPush, canAcceptDrop, newId, getNewId, markChanged, formatXrefTitle, reorderDrop
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'compound-list-edit',
    props: ['node','nodes','entry','top'],
    components: { autocompleteInput, compoundXrefListEdit },
    data: function () {
        return { over: false }
    },
    methods: { 
        addCompound: function () { // inserts an empty meaning after this.meaning
            app.editId = newId()
            this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                              {"id":getNewId(),"xrefs":[]})
            undoStackPush(this)
        },
        deleteCompound: function () { // deletes this.meaning
            this.nodes.splice(this.nodes.indexOf(this.node),1)
            undoStackPush(this)
        },
        addXrefTop: function () { // inserts an empty xref at the top
            app.editId = newId()
            this.node.xrefs.splice(0,0,{"id":getNewId(),"type":"compound-xref"})
            undoStackPush(this)
        },
        handleDrop: function (data) { // fixme: only articles can be dropped here!
            if (canAcceptDrop(this, data)) {
                this.over = false
                this.node.xrefs.splice(0,0,
                                       { "id": getNewId(),
                                         "type": "compound-xref",
                                         "article_id": data.node.id,
                                         "title": formatXrefTitle(data)
                                       })
                this.node.xrefs = this.node.xrefs.sort((x1,x2) => x1.title.localeCompare(x2.title))
                undoStackPush(this)
            }
        },
        acceptDrop: function (data) {
            if (canAcceptDrop(this, data) && data.node.etype=='sub-entry') {
                this.over = true
            }
        },
        handleReorderDrop: function (data) {
            reorderDrop(this,data)
        },
        acceptReorderDrop: function () {
            this.over = true
        },
        markChanged: function () {
            markChanged(this)
        }
    }
}
</script>
