<template>
<tr>
  <td class="drag" v-if="false && top.dictionary!='no'">
    <drag class="drag"
          :transfer-data="{node, nodes, entry, dictionary: top.dictionary}">
      <drop class="drop"
            :class="{ over }"
            @dragover="acceptReorderDrop"
            @dragleave="over = false"
            @drop="handleReorderDrop">
        <span class="id reorder">&#xe165;</span>
      </drop>
    </drag>
  </td>
  <td class="tittel">
    <span v-if="node.article_id" v-html="node.title"/>
    <input v-else
           class="xref"
           type="text"
           v-model="node.title"
           :id="node.id"
           @input="getLemma"
           @focus="showLemmaListFirst"
           @blur="showLemmaList=[false]"
           autocomplete="off"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           @click.stop/>
    <div v-if="showLemmaList[0] && lemmaArticleList.length && top.dictionary!='no'">
      <xref-link v-for="(e, index) in lemmaArticleList"
                 :e="e"
                 :node="node"
                 :key="index"
                 :setActive="'new-compound-button'+nodeId"
                 :dictionary='top.dictionary'/>
    </div>
    <div v-if="showLemmaList[0] && (lemmaArticleList.length || lemmaOrdbankList.length) && top.dictionary=='no'"
         class="check-lemma">
      <div class="check-lemma-list">
        <li v-if="lemmaArticleList.length"
            class="head1">
          <small>Norsk Ordbok:</small>
          <ul class="check-lemma-list">
            <xref-link v-for="(e, index) in lemmaArticleList"
                       :e="e"
                       :node="node"
                       :key="index"
                       :setActive="'new-compound-button'+nodeId"
                       :dictionary='top.dictionary'/>
          </ul>
        </li>
        <li v-if="lemmaOrdbankList.length"
            class="head1">
          <small>Ordbank:</small>
          <ul class="check-lemma-list">
            <li style="text-indent: 0"
                v-for="(e, index) in lemmaOrdbankList"
                :key="index"
                @mousedown="setArticleFromOrdbank(e)"
                @click.stop>
              <span class="link black"
                    style="color: black"
                    @click.stop="setArticleFromOrdbank(e)">
                <span :title='e.id'>
                  {{ e.lemma }}
                </span>
                <span style="color: gray" v-if="e.word_class"> {{posToWordclass(e.word_class)}}</span>
                <span style="color: gray"> {{e.id}}</span>
              </span>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </td>
  <td class="button">
    <input class="button" type="button" @click="deleteXref" value="-"/>
  </td>
  <td class="drop-button" v-if="false && top.dictionary!='no'">
    <drop class="drop plus"
          :class="{ over }"
          @dragover="over = true"
          @dragleave="over = false"
          @drop="handleDrop">
      <input class="button keyfocus"
             type="button"
             @click="addXref"
             value=""/>
    </drop>
  </td>
</tr>
</template>

<script>

// import definitionList from './definitionList.vue'

import $ from 'jquery'


import { app } from '@/main.js'
import { showErrorMessage, getNewId, newId, undoStackPush, canAcceptDrop,
         formatXrefTitle, reorderDrop, markChanged, callAPI, dictId, dictLanguage,
         sessionId, storeEntriesURL, loadJSON, posToWordclass
       } from '@/components/mixins/ordbokUtils.js'

import xrefLink from './xrefLink.vue'

import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

export default {
    name: 'compound-xref-list-edit',
    props: ['nodes','node','nodeId','top','entry'],
    components: { xrefLink },
    data: function () {
        return { over: false,
                 showLemmaList: [false], // need to wrap this in an array
                 lemmaArticleList: [],
                 lemmaOrdbankList: [],
                 queryId: 0
               }
    },
    methods: {
        posToWordclass,
        addXref: function () { // inserts an empty xref after this.xref
            app.editId = newId()
            this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                              { id: getNewId(),
                                type: "compound-xref" })
            undoStackPush(this)
        },
        deleteXref: function () { // deletes this.xref
            this.nodes.splice(this.nodes.indexOf(this.node),1)
            undoStackPush(this)
            $('#new-compound-button'+this.nodeId).focus()
            app.activeNode = $('#new-compound-button'+this.nodeId)[0]
        },
        handleDrop: function (data) {
            if (canAcceptDrop(this, data)) {
                this.over = false
                this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                                  { "id": getNewId(),
                                    "type": "compound-xref",
                                    "article_id": data.node.id,
                                    "title": formatXrefTitle(data)
                                  })
                undoStackPush(this)
            }
        },
        acceptDrop: function (data) {
            if (canAcceptDrop(this, data) && data.node.etype=='sub-entry') {
                this.over = true
            }
        },
        handleDragStart: function (data,event) {
            event.dataTransfer.setData("text/plain"," [" + this.node.id + "] ")
            event.dataTransfer.effectAllowed = "copy"
        },
        handleReorderDrop: function (data) {
            reorderDrop(this, data)
        },
        acceptReorderDrop: function () {
            this.over = true
        },
        getLemma: function () {
            let queryId = ++this.queryId
            let lemmaPath = '/lemmas' // why component data?
                + '?query=' + encodeURIComponent(this.node.title.replace(/ /g, "+"))
                + '&stubs=false' // we need word_class
                + '&language=' + dictLanguage(this.top.dictionary)
                + (this.isSub ? '&extended_vocabulary_only=true' : '')
                + (this.top.dictionary == 'no' ? '&extended_vocabulary=true' : '')
                + '&max_hits=10'
            // console.log('lemmaPath:', lemmaPath)
            callAPI(lemmaPath, null, null,'ordbank')
                .then (r => {
                    if (queryId == this.queryId) {
                        this.lemmaOrdbankList = r.filter(l=>l.mo_article_ids.length)
                            .filter(l => !this.nodes.find(n => n.title ==  l.lemma_a_inf))
                    }
                })
                .catch (showErrorMessage)
            callAPI('/dict/' + dictId(this.top.dictionary) + '/article',
                    'GET',
                    null,
                    null,
                    null,
                    { query: 'main_lemma = "' + this.node.title + '" and is latest',
                      expand_lemmas: true
                    })
                .then (r => {
                    if (queryId == this.queryId) { // has to be the current lemma
                        this.lemmaArticleList = r.map(a => {
                            return {
                                id: a.article_id,
                                type: "entry",
                                word_class: a.versions[0].lemmas[0].word_class,
                                entryType: "NORMAL",
                                lemma: a.versions[0].lemmas[0].lemma,
                                hgno: a.versions[0].lemmas[0].hgno
                            }
                        }).filter(l => !this.nodes.find(n => n.article_id ==  l.id))
                        this.$nextTick(() => {
                            app.chooseXref = $('li.xref-link')[0]
                            if (app.chooseXref) {
                                app.chooseXref.style.background='lightgray'
                            }
                        })
                    }
                })
                .catch (showErrorMessage)
            markChanged(this)
        },
        // check this for ordbank!!
        showLemmaListFirst: function() {
            this.showLemmaList = [true]
            this.$nextTick(() => {
                app.chooseXref = $('div.xref-link')[0]
                // console.log(app.chooseXref)
                if (app.chooseXref) {
                    app.chooseXref.a.focus()
                    app.chooseXref.style.background='lightgray'
                }
            })
        },
        setArticleFromOrdbank: function (data) {
            let params = new URLSearchParams
            let entry = { id: getNewId(),
                          type: "entry",
                          etype: "entry",
                          entryType: "NORMAL",
                          properties: {},
                          language: this.dictionary,
                          status: { status: 0 },
                          owner: useStateStore().jwt?.sub.toString(), 
                          lemmas: [{ id: data.id,
                                     type: "lemma",
                                     lemma: data.lemma_a_inf,
                                     hgno: 0,
                                     mo_article_id: data.mo_article_ids[0], 
                                     ordklasse: null }],
                          hp: null,
                          definitions: [] }
            params.set("entry", JSON.stringify(entry))
            params.set("session-id", sessionId())
            params.set("dictionary", this.top.dictionary)
            params.set("nr", this.top.nr)
            loadJSON(storeEntriesURL,
                     { method: "POST",
                       headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                       body: params })
                .then (r => {
                    if (r.success==true) {
                        this.node.article_id = r.article_id
                        this.node.title = data.lemma_a_inf
                        undoStackPush(this)
                        console.log('ncb', $('#new-compound-button'+this.nodeId))
                        $('#new-compound-button'+this.nodeId).focus()
                        app.chooseXref = null // ??
                    } else {
                        showErrorMessage(r.error)
                    }})
                .catch (showErrorMessage)
        }
    }
}

</script>
