<template>
<span v-if="!isSubEntryList">
  <div v-if="!isSub" :class="calcClass()">
    <span v-if="node.defType=='undertyding'">• </span>
    <span v-else-if="node.fullDefnr=='//'">• </span>
    <span v-else-if="defIndex && nodes.length > 1" class="def-index">{{defIndex}} </span>
    <span class="null">
      <meaning-group-display v-if="node.meanings.length"
                             :node="node.meanings"
                             :nodes="node"
                             :entry="entry"
                             :top="top"/>
      <example-group-display v-if="node.examples.length"
                             :node="node.examples"
                             :nodes="node"
                             :entry="entry"
                             :top="top"/>
      <definition-list-display v-for="(n, index) in node.definitions || []"
                               :key="n.id" :entry="entry" :top="top"
                               :node="n"
                               :parent="node"
                               :nodes="node.definitions"
                               :index="index"/>
      <subentry-group-display v-if="subentryInSitu && node.subEntries.length"
                              :node="node.subEntries"
                              :entry="entry"
                              :top="top"/>
      <compound-group-display v-if="node.compounds.length"
                              :node="node.compounds"
                              :nodes="node"
                              :entry="entry"
                              :top="top"/>
    </span>
  </div>
  <span v-if="isSub">
    <span v-if="defIndex" class="def-index">{{defIndex}} </span>
    <meaning-group-display v-if="node.meanings.length"
                           :node="node.meanings"
                           :nodes="node"
                           :entry="entry"
                           :top="top"/>
    <example-group-display v-if="node.examples.length"
                           :node="node.examples"
                           :nodes="node"
                           :entry="entry"
                           :top="top"/>
    <definition-list-display v-for="(n, index) in node.definitions || []"
                             :key="n.id"
                             :entry="entry"
                             :top="top"
                             :node="n"
                             :parent="node"
                             :nodes="node.definitions"
                             :index="index"/>
  </span>
</span>
</template>

<script>

import meaningGroupDisplay from './meaningGroupDisplay.vue'
import exampleGroupDisplay from './exampleGroupDisplay.vue'
import subentryGroupDisplay from './subentryGroupDisplay.vue'
import compoundGroupDisplay from './compoundGroupDisplay.vue'

// import { subentryInSitu } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'definition-list-display',
    props: ['entry','top','nodes','node','parent'],
    components: { meaningGroupDisplay, exampleGroupDisplay,
                  subentryGroupDisplay, compoundGroupDisplay },
    data: function () {
        return { 
            isSub: this.entry.etype=='sub-entry'
        }
    },
    computed: {
        subentryInSitu: function () {
            return this.entry.dictionary == 'no'
        },
        defIndex: function () { // fixme: compare to defIndexDelta in definitionList.vue
            let level = this.nodeLevel()
            let index = this.nodes.indexOf(this.node)
            if (this.nodes?.length && level == 2) {
                return (index+1) + "."
            } else if (this.nodes?.length && level == 3) {
                if (this.entry.dictionary=='no') {
                    return String.fromCharCode(index+97) + "."
                } else {
                    return "•"
                }
            } else if (this.nodes?.length > 1 && this.parent.defType=='nulltyding') {
                return String.fromCharCode(index+65) + "." // A.
            }
            return ""
        },
        // hides definitions if they solely consist of subentries
        isSubEntryList: function () {
            if (!this.subentryInSitu
                && this.node.meanings.length
                && (this.node.meanings[0].text == 'i faste uttrykk'
                    || this.node.meanings[0].text == 'i faste &uttr;')
                && !this.node.examples.length) { // no fake subentries
                // console.log(true)
                return true
            } else if (!this.subentryInSitu
                       && !this.node.meanings.length
                       && !this.node.definitions.length // new
                       && this.node.subEntries.length
                       && !this.node.examples.length) {
                // console.log(true)
                return true
            } else {
                // console.log(false)
                return false
            }
        }
    },
    methods: {
        nodeLevel: function () {
            let node = this.node
            let level = 0
            function walk (n, d) {
                if (n == node) {
                    level = d-1
                } else if (n.definitions.length) {
                    n.definitions.map(function (cn) {
                        walk(cn,d+1)
                    })
                }
            }
            walk(this.entry,0)
            return level
        },
        calcClass: function () {
            if (this.node.definitions.length) {
                return 'definition-display'
            } else if (this.nodeLevel() == 1) {
                // console.log(this.nodeLevel())
                return 'null-definition-display1'
            } else {
                // console.log(this.nodeLevel())
                return 'null-definition-display'
            }
        }
    }
}
</script>
