<template>
<div :class="[node.defType=='nulltyding' || node.fullDefnr=='A' ? 'null-definition' : 'definition', focus ? 'focus' : 'inactive']"
     :id="'definition'+node.id">
  <div class="menu-line">
    <template v-if="node.defType=='nulltyding'">
      <span>
        <drop class="drop" :class="{ over }"
              @dragover="over = true"
              @dragleave="over = false"
              @drop="handleParentDrop">
          <span class="tri" @click="hide=!hide" v-if="hide">&#x25B6;</span>
          <span class="tri" @click="hide=!hide" v-else>&#x25BC;</span>
          <span class="id"  @click.stop="setActive">definisjonsdel</span>
        </drop>
      </span>
      <span class="flex-left"/>
      <div v-if="focus && !hide && hasEditStatus()">
        <span class="flex"
              v-if="levelDepth() < 2"
              title="legg til nivå A"
              @click="insertLevelA">→ [A]</span>
        <span class="flex"
              v-if="!node.definitions.length || top.dictionary=='no'"
              @click="addNode('definition')">+&nbsp;(d)ef.<span v-if="top.dictionary=='no'"> [A]</span></span>
        <span class="flex" @click="deleteNode()">slett</span>
      </div>
    </template>
    <template v-else-if="level == 1">
      <span>
        <drag class="drag"
              :transfer-data="{type:'definition', level, node, nodes, entry, dictionary: top.dictionary}">
          <drop class="drop" :class="{ over }"
                @dragover="over = true"
                @dragleave="over = false"
                @drop="handleDrop">
            <span class="tri" @click="hide=!hide" v-if="hide">&#x25B6;</span>
            <span class="tri" @click="hide=!hide" v-else>&#x25BC;</span>
            <span v-if="defIndex" class="def-index">{{defIndex}}</span>
            <span class="id" @click.stop="setActive" :title="node.id">definisjon</span>
          </drop>
        </drag>
      </span>
      <span class="flex-left"/>
      <div v-if="focus && !hide && hasEditStatus()">
        <span class="flex"
              v-if="!node.meanings.length || (top.dictionary=='no' && nodes.length > 0)"
              @click="addNode('definition')">+&nbsp;(d)ef.<span v-if="top.dictionary=='no'">&nbsp;[{{levelType}}]</span></span>
        <span class="flex"
              v-if="!node.meanings.length && (isContentNode() || top.dictionary=='no')"
              @click="addNode('meaning')">+&nbsp;(b)et.</span>
        <span class="flex"
              v-if="!node.examples.length && isContentNode()"
              @click="addNode('example')">+&nbsp;(e)ks.</span>
        <span class="flex" v-if="!node.subEntries.length && entry.etype=='entry' && !node.definitions.length"
              @click="addNode('sub-entry')">+&nbsp;(u)nderart.</span>
        <span class="flex" v-if="!node.definitions.length && entry.etype=='entry' && !node.definitions.length && level<3"
              @click="addNode('sub-definition')">+&nbsp;underde(f).</span>
        <span class="flex" v-if="!node.compounds.length && entry.etype=='entry' && isContentNode()"
              @click="addNode('compound-list')">+&nbsp;sa(m)mens.</span>
        <span class="flex" @click="deleteNode()">slett</span>
      </div>
    </template>
    <template v-else-if="node.defType=='undertyding'">
      <span>
        <drag class="drag"
              :transfer-data="{type:'definition', level, node, nodes, entry, dictionary: top.dictionary}">
          <drop class="drop" :class="{ over }"
                @dragover="over = true"
                @dragleave="over = false"
                @drop="handleDrop">
            <span class="tri" @click="hide=!hide" v-if="hide">&#x25B6;</span>
            <span class="tri" @click="hide=!hide" v-else>&#x25BC;</span>
            <span> • </span>
            <span class="id drag" @click.stop="setActive" :title="node.id">
              underdef
            </span>
          </drop>
        </drag>
      </span>
      <span class="short-content" v-show="hide" v-html="shortContent"/>
      <template v-if="focus && !hide && hasEditStatus()">
        <span class="flex-left"/>
        <span class="flex-left"/>
        <span class="flex"
              @click="changeDefType('normaltyding')">↦ definisjon</span>
        <span class="flex" v-if="!node.meanings.length"
              @click="addNode('meaning')">+&nbsp;(b)et.</span>
        <span class="flex" v-if="!node.examples.length"
              @click="addNode('example')">+&nbsp;(e)ksempel</span>
        <span class="flex" @click="deleteNode()">slett</span>
      </template>
    </template>
    <template v-else-if="node.fullDefnr=='//'">
      <span class="tri" @click="hide=!hide" v-if="hide">&#x25B6;</span>
      <span class="tri" @click="hide=!hide" v-else>&#x25BC;</span>
      <span>•</span>
      <span class="flex-left"/>
      <div v-if="focus && !hide && hasEditStatus()">
        <span class="flex" @click="deleteNode()">slett</span>
      </div>
      <span class="id" @click.stop="setActive">definisjon: · {{node.id}}</span>
    </template>
    <template v-else class="defnr">
      <span>
        <drag class="drag"
              :transfer-data="{type:'definition', entry, level, node, nodes, dictionary: top.dictionary, top}"
              @dragstart="handleDragStart">
          <drop class="drop" :class="{ over }"
                @dragover="over = true"
                @dragleave="over = false"
                @drop="handleDrop">
            <span class="tri" @click="hide=!hide" v-if="hide">&#x25B6;</span>
            <span class="tri" @click="hide=!hide" v-else>&#x25BC;</span>
            <span v-if="defIndex" class="def-index">{{defIndex}}</span>
            <span class="id drag" @click.stop="setActive" :title="node.id"> definisjon</span>
          </drop>
        </drag>
      </span>
      <span v-if="focus && !hide && hasEditStatus()">
        <span style="color: gray">, Status: </span>
        <select v-model="node.status"
                @click.stop @change="undoStackPush">
          <option v-for="status in ['','UREV','SLETT?']"
                  :key="status"
                  :value="status">
            {{status}}
          </option>
        </select>
      </span>
      <span v-else>
        <span v-if="node.status"> <span style="color: gray">, Status:</span> {{node.status}}</span>
      </span>
      <span class="short-content" v-show="hide" v-html="shortContent"/>
      <template v-if="focus && !hide && hasEditStatus()">
        <span class="flex-left"/>
        <span class="flex"
              v-if="!node.examples.length && top.dictionary=='no' && level<3"
              @click="addNode('definition')">+&nbsp;(d)ef.<span v-if="top.dictionary=='no'">&nbsp;[{{levelType}}]</span></span>
        <span class="flex" v-if="!node.meanings.length"
              @click="addNode('meaning')">+&nbsp;(b)etydning</span>
        <span class="flex" v-if="isContentNode() && !node.examples.length"
              @click="addNode('example')">+&nbsp;(e)ksempel</span>
        <span class="flex" v-if="!node.subEntries.length && entry.etype=='entry' && level<3"
              @click="addNode('sub-entry')">+&nbsp;(u)nderart.</span>
        <span class="flex" v-if="!node.definitions.length && entry.etype=='entry' && level<33"
              @click="addNode('sub-definition')">+&nbsp;underde(f).</span>
        <span class="flex" v-if="!node.compounds.length && entry.etype=='entry'"
              @click="addNode('compound-list')">+&nbsp;sa(m)s.</span>
        <span class="flex" @click="deleteNode()">slett</span>
        <!--span class="flex" @click="showReferencingArticles">ref</span-->
      </template>
    </template>
  </div>
  <div v-if="focus && referencingArticles" class="referencing">
    <div class="head">
      <span class="head">Artikler med referanser</span>
      <span class="click" @click="referencingArticles=null">x</span>
    </div>
    <div class="referencing-list">
      <entry-link v-for="(e, index) in referencingArticles" :node="e" :compNr="1"
                  :key="index" :dictionary='top.dictionary'/>
    </div>
  </div>
  <span v-show="!hide">
    <meaning-group v-if="node.meanings.length" :node="node.meanings" :nodes="node"
                   :entry="entry" :top="top"/>
    <example-group v-if="node.examples.length" :node="node.examples" :nodes="node"
                   :entry="entry" :top="top"/>
    <template :v-if="node.definitions.length">
      <definition-list v-for="(n, index) in node.definitions"
                       :key="n.id"
                       :entry="entry"
                       :top="top"
                       :node="n"
                       :parent="node"
                       :nodes="node.definitions"
                       :index="index"/>
    </template>
    <subentry-group v-if="node.subEntries.length"
                    :node="node"
                    :nodes="node.subEntries"
                    :entry="entry"
                    :top="top"/>
    <compound-group v-if="node.compounds.length"
      :node="node.compounds"
      :nodes="node"
      :entry="entry"
      :top="top"/>
  </span>
  <div class="menu-line"
       v-if="node.defType!='nulltyding' && (node.fullDefnr!='A' || top.dictionary=='no')">
    <span class="flex-left"/>
    <template v-if="node.defType=='undertyding'">
      <span class="flex" v-if="!hide && focus && hasEditStatus() && hasPlus"
            @click.stop="addSibling(node.defType)">+</span>
    </template>
    <template v-else>
      <span class="flex" v-if="!hide && focus && hasEditStatus() && hasPlus"
            @click.stop="addSibling">+<span v-if="top.dictionary=='no'">&nbsp;{{defIndex1}}</span></span>
    </template>
  </div>
</div>
</template>

<script>

import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

import meaningGroup from './meaningGroup.vue'
import exampleGroup from './exampleGroup.vue'
import subentryGroup from './subentryGroup.vue'
import compoundGroup from './compoundGroup.vue'

import { app } from '@/main.js'

import { setPendingEditMode, setActive, setPrevActive, resolveText,
         hasEditStatus, getNewId, newId, focusEditNode,
         undoStackPush,
         canAcceptDrop, cloneDefinitionNode,
         xrefString
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'definition-list',
    props: ['entry','top','nodes','node','parent'],
    components: { meaningGroup, exampleGroup, subentryGroup, compoundGroup },
    data: function () { 
        return {
            edit: false,
            focus: false,
            hide: top.minimize
                && !(this.node.defType=='nulltyding' || this.node.fullDefnr=='A'),
            canGetFocus: true,
            over: false,
            referencingArticles: null
        }
    },
    mounted: function () {
        // console.log('mounted')
        setPendingEditMode(this)
    },
    updated: function () {
        // console.log('updated')
        focusEditNode(this)
    },
    computed: {
        level: function () {
            return this.nodeLevel()
        },
        levelType: function () {
            switch (this.level) {
            case 0: return 'A'
            case 1: return '1.'
            case 2: return 'a'
            default: return '?'
            }
        },
        defIndex: function () {
            return this.defIndexDelta(0)
        },
        defIndex1: function () {
            return this.defIndexDelta(1)
        },
        shortContent: function () {
            if (this.node.meanings.length) {
                return resolveText(this.top.dictionary,this.node.meanings[0].text,
                                   this.node.meanings[0].xrefs)
            } else {
                return null
            }
        },
        hasPlus: function () {
            return this.level > 1 || (this.level == 1 && this.node.meanings.length) || this.top.dictionary == 'no'
        }
    },
    methods: {
        defIndexDelta: function (delta) {
            let index = this.nodes.indexOf(this.node) + delta
            // console.log(this.nodes?.length, this.level, index)
            // console.log(this.node)
            let subDefLength = this.node.definitions?.length || 0
            if ((this.nodes?.length && this.level == 2) ||
                (this.nodes?.length == 1 && this.level == 1 && delta && subDefLength < 2)) {
                return (index+1) + "."
            } else if (this.nodes?.length && this.level == 3) {
                if (this.top.dictionary=='no') { // a.
                    return String.fromCharCode(index+97) + "."
                } else {
                    return "•"
                }
            } else if ((this.nodes?.length > 1  && this.level == 1) || // level A
                       (this.nodes?.length == 1 && this.level == 1 && delta && subDefLength > 1)) {
                return String.fromCharCode(index+65) + "." // A.
            }
            return null
        },
        defIndexDelta1: function (delta) {
            let index = this.nodes.indexOf(this.node) + delta
            console.log(this.level, index)
            if (this.nodes?.length && (this.level == 2 || (delta == 1 && this.level == 1))) {
                return (index+1) + "."
            } else if (this.nodes?.length && this.level == 3) {
                if (this.top.dictionary=='no') {
                    return String.fromCharCode(index+97) + "." // a.
                } else {
                    return "•"
                }
            } else if (this.nodes?.length > 1 && this.parent.defType=='nulltyding') { // level A
                return String.fromCharCode(index+65) + "."
            }
            return null
        },
        nodeLevel: function () {
            let node = this.node
            let level = 0
            function walk (n, d) {
                if (n == node) {
                    level = d-1
                } else if (n.definitions.length) {
                    n.definitions.map(cn => walk(cn,d+1))
                }
            }
            walk(this.entry,0)
            return level
        },
        setActive: function () {
            setActive(this)
        },
        addExampleTop: function () { // inserts an empty example at the top
            this.node.examples.splice(0,0,{"id":getNewId()})
            undoStackPush(this)
        },
        undoStackPush: function () {
            undoStackPush(this)
        },
        addNode: function (type) {
            // console.log(type)
            let defType, definition, meaning, example, compoundList, subEntry
            switch (type) {
            case "definition":
            case "sub-definition":
                defType = type == 'definition' ? 'normaltyding' : 'undertyding'
                definition = { "id": getNewId(),
                               "type": "definition",
                               "defType": defType,
                               "fullDefnr":'x',
                               "meanings": [{ id: getNewId(),
                                              type: "meaning",
                                              usage: [],
                                              text: "",
                                              xrefs: [],
                                              lit: [],
                                              place: [],
                                              attest: [] }],
                               "examples": [],
                               "definitions": [],
                               "subEntries": [],
                               "compounds": [] }
                // console.log(definition)
                if (this.node.definitions.length) {
                    this.node.definitions.splice(0,0,definition)
                } else {
                    this.node.definitions = [definition]
                }
                app.editId = newId()+1
                app.addedComp = 'meaning-group'
                break
            case "meaning":
                meaning = { id: getNewId(),
                            type: "meaning",
                            usage: [],
                            text: "",
                            xrefs: [],
                            lit: [],
                            place: [],
                            attest: [] }
                if (this.node.meanings.length) {
                    this.node.meanings.splice(0,0,example)
                } else {
                    this.node.meanings = [meaning]
                }
                app.editId = newId()+1
                app.addedComp = 'meaning-group'
                break
            case "example":
                example = { id: getNewId(),
                            type: "example",
                            citation: "",
                            explanation: null,
                            source: null,
                            xrefs: [],
                            usage: [],
                            lit: [],
                            place: [],
                            attest: [] }
                if (this.node.examples.length) {
                    this.node.examples.splice(0,0,example)
                } else {
                    this.node.examples = [example]
                }
                app.editId = newId()+1
                app.addedComp = 'example-group'
                break
            case "compound-list":
                compoundList = {"id": getNewId(),
                                "type": "compound-list",
                                "rekkjeType": "i sms",
                                "alternativtLedd": null,
                                "intro": null,
                                "xrefs": []}
                if (this.node.compounds.length) {
                    this.node.compound.splice(0,0,compoundList)
                } else {
                    this.node.compounds = [compoundList]
                }
                app.editId = newId()+1
                app.addedComp = 'compound-group'
                break
            case "sub-entry":
                subEntry = { id: newId(),
                             type: "sub-entry",
                             intro: null,
                             subEntry:
                             { id: getNewId(),
                               type: "entry",
                               etype: "sub-entry",
                               entryType: "SUB_ARTICLE",
                               status: { status: this.top.entry.status.status },
                               // owner: this.$store.state.lex.jwt?.sub.toString(),
                               owner: useStateStore().jwt?.sub.toString(),
                               lemmas: [ { id: getNewId(),
                                           type: "lemma",
                                           lemma: '' } ],
                               definitions: [] }
                           }
                if (this.node.subEntries.length) {
                    this.node.SubEntries.splice(0,0,subEntry)
                } else {
                    this.node.subEntries = [subEntry]
                }
                app.editId = newId()+1
                app.addedComp = 'lemma-group'
            }
            undoStackPush(this)
            // markChanged(this)
        },
        addSibling: function (defType) {
            if (defType!='undertyding') {
                defType = this.parent.meanings?.length && this.level < 3 && this.top.dictionary != 'no' ?
                    "undertyding" : "normaltyding"
            }
            console.log('defType:', defType, this.level, this.top.dictionary,
                        'nodes:', this.nodes.length, 'meanings', this.node.meanings.length)
            app.addedComp = 'meaning-group'
            let nl = this.nodes.length
            let definition = { id: getNewId(),
                               type: "definition",
                               defType: defType,
                               // fullDefnr:'x',
                               meanings: [ { id: getNewId(),
                                             type: "meaning",
                                             usage: [],
                                             text: '',
                                             xrefs: [] }],
                               examples: [],
                               definitions: [],
                               subEntries: [],
                               compounds: [] }
            this.nodes.splice(this.nodes.indexOf(this.node)+1,0,definition)
            if (this.level == 1 && this.node.meanings.length &&
                (this.top.dictionary != 'no' || nl == 1)) {
                // move nodes one level up; not NO!
                app.addedComp = 'meaning-group-lifted'
                let levelA = { id: getNewId(),
                               type: "definition",
                               defType: 'normaltyding',
                               meanings: [],
                               examples: [],
                               definitions: this.nodes,
                               subEntries: [],
                               compounds: [] }
                this.parent.definitions = [levelA]
            }
            app.editId = newId()+1
            // undoStackPush(this)
        },
        deleteNode: function() {
            //console.log('slett')
            this.nodes.splice(this.nodes.indexOf(this.node),1)
            // console.log(this.$parent.parent.definitions)
            if (this.nodes.length == 1 && this.node.defType!='undertyding') {
                this.$parent.parent.definitions = this.nodes
                app.activeComp = this.$parent // makes setPrevActive() work
            }
            setPrevActive()
            undoStackPush(this)
            event.cancelBubble = true
        },
        changeDefType: function(type) {
            this.node.defType = type
            this.node.fullDefnr = ''
            undoStackPush(this)
            event.cancelBubble = true
        },
        levelDepth: function () {
            let depth = 0
            function walk (n, d) {
                if (n.definitions.length) {
                    n.definitions.map(function (cn) {
                        if (cn.defType=='normaltyding') {
                            walk(cn,d+1)
                        }
                    })
                } else {
                    depth = Math.max(depth,d)
                }
            }
            walk(this.node,0)
            return depth
        },
        insertLevelA: function () {
            let def = this.node.definitions
            let levelA = {id: getNewId(),
                          type: "definition",
                          defType: 'normaltyding',
                          fullDefnr:'A',
                          meanings: [],
                          examples: [],
                          definitions: def,
                          subEntries: [],
                          compounds: []}
            this.node.definitions = [levelA]
            if (def[0].fullDefnr == 'A') {
                def[0].fullDefnr = null
            }
            undoStackPush(this)
            event.cancelBubble = true
        },
        handleDragStart: function (data, event) {
            event.dataTransfer.setData("text/plain",
                                       " [" + newId() + "/" + xrefString(this, this.defIndex) + "] ")
            document.dragData = {
                dict: this.top.dictionary,
                id: getNewId(),
                article_id: this.entry.id,
                definition_id: this.node.id,
                definition_nr: this.defIndex,
                type: 'definition',
                entry: this.entry,
                node: this.node
            }
        },
        handleDrop: function (data) {
            console.log('handleDrop', data)
            if (data.level == this.level) {
                this.handleSiblingDrop(data)
            } else {
                console.log('parentDrop')
                this.handleParentDrop(data)
            }
        },
        handleSiblingDrop: function (data) {
            console.log('handleSiblingDrop', data)
            this.over = false
            if (this.hasEditStatus() && 
                data.dictionary == this.top.dictionary) {
                let index = null
                let dropIndex = this.nodes.indexOf(data.node)
                let defType = this.parent.meanings &&
                    this.parent.meanings.length ? "undertyding" : "normaltyding"
                if (dropIndex > -1) { // same level: move
                    this.nodes.splice(dropIndex,1) // remove dragged node
                    index = this.nodes.indexOf(this.node)
                    if (index==dropIndex-1) {
                        // insert dragged node before target
                        this.nodes.splice(index,0,data.node)
                    } else {
                        // insert dragged node past target
                        this.nodes.splice(index+1,0,data.node)
                    }
                    // markChanged(this)
                    undoStackPush(this)
                } else if (data.entry == this.top.entry ||
                           // same article or main to sub: move
                           (data.top.entry == this.top.entry &&
                            this.entry == this.top.entry)) {
                    if (data.type == 'sub-entries') {
                        let subEntries = this.node.subEntries
                        if (subEntries) {
                            data.node.map(function (sub) {
                                subEntries.splice(0,0,sub)
                            })
                            data.node.splice(0,data.node.length)
                        }
                        undoStackPush(this)
                    } else if (data.type == 'meaning-list' &&
                               // not dragged from subentry
                               data.entry == this.top.entry) {
                        this.node.meanings = data.node.concat(this.node.meanings)
                        data.nodes.meanings = []
                        undoStackPush(this)
                    } else if (data.type == 'example-list') {
                        this.node.examples = data.node.concat(this.node.examples)
                        data.nodes.examples = []
                        undoStackPush(this)
                    } else if (data.type == 'compound-list') {
                        this.node.compounds = data.node.concat(this.node.compounds)
                        data.nodes.compounds = []
                        undoStackPush(this)
                    } else {
                        let dragIndex = null
                        // console.log(data.node.type)
                        switch (data.node.type) {
                        case "definition":
                            data.node.defType = defType
                            dragIndex = data.nodes.indexOf(data.node)
                            data.nodes.splice(dragIndex,1) // remove dragged node
                            index = this.nodes.indexOf(this.node)
                            if (index == dropIndex-1) {
                                // insert dragged node before target
                                this.nodes.splice(index,0,data.node)
                            } else {
                                // insert dragged node past target
                                this.nodes.splice(index+1,0,data.node)
                            }
                            undoStackPush(this)
                            break
                        case "example":
                            // comes from sub-entry? Need new id.
                            if (data.entry.etype == 'sub-entry') {
                                data.node.id = getNewId()
                            } else {
                                dragIndex = data.nodes.indexOf(data.node)
                                data.nodes.splice(dragIndex,1) // remove dragged node
                            }
                            if (this.node.examples) {
                                this.node.examples.splice(0,0,data.node)
                            } else {
                                this.node.examples = [data.node]
                            }
                            undoStackPush(this)
                            break
                        case "meaning":
                            // comes from sub-entry? Need new id.
                            if (data.entry.etype == 'sub-entry') {
                                data.node.id = getNewId()
                            } else {
                                dragIndex = data.nodes.indexOf(data.node)
                                data.nodes.splice(dragIndex,1) // remove dragged node
                            }
                            if (!this.node.meanings) {
                                this.node.meanings = [data.node]
                            } else if (this.node.meanings.length == 1 && !this.node.meanings[0].text) {
                                this.node.meanings = [data.node] // replace empty meaning node
                            } else {
                                this.node.meanings.splice(0,0,data.node)
                            }
                            undoStackPush(this)
                            break
                        case "entry":
                            // console.log(data.node.etype)
                            if (data.node.etype == 'sub-entry') {
                                dragIndex = data.nodes.indexOf(data.sub)
                                // console.log('dragIndex: ' + dragIndex)
                                data.nodes.splice(dragIndex,1) // remove dragged node
                                let subEntries = this.node.subEntries
                                if (subEntries) {
                                    subEntries.splice(0,0,data.sub)
                                } else {
                                    this.node.subEntries = [data.sub]
                                }
                                undoStackPush(this)
                            }
                        }
                    }
                } else { // different article: add
                    let newNode = cloneDefinitionNode(data.node)
                    newNode.defType = defType
                    let index = this.nodes.indexOf(this.node)
                    this.nodes.splice(index+1,0,newNode)
                    undoStackPush(this)
                }
            }
        },
        
        handleParentDrop: function (data) { // make dragged node first child of drop node
            this.over = false
            console.log('parentDrop:', data)
            if (canAcceptDrop(this, data)) {
                if (data.type == 'sub-entries' &&
                    (data.entry == this.top.entry ||
                     (data.top.entry == this.top.entry &&
                      this.entry == this.top.entry))) {
                    data.nodes.forEach(node => this.node.subEntries.splice(this.node.subEntries.length, 0, node))
                    data.node.subEntries = []
                    undoStackPush(this)
                } else if (data.node.type == 'definition') {
                    let dropIndex = this.node.definitions.indexOf(data.node)
                    data.node.defType = 'normaltyding'
                    if (dropIndex > -1) { // same (child) level: move
                        this.node.definitions.splice(dropIndex,1) // remove dragged node
                        // insert dragged node as first child
                        this.node.definitions.splice(0,0,data.node)
                        undoStackPush(this)
                    } else if (data.entry == this.top.entry ||
                               // same article or main to sub or sub to sub: move
                               (data.top.entry == this.top.entry &&
                                this.entry == this.top.entry) ||
                               (data.top.entry == this.top.entry && // sub to sub
                                data.entry == this.entry)) {
                        let dragIndex = data.nodes.indexOf(data.node)
                        data.nodes.splice(dragIndex,1) // remove dragged node
                        // insert dragged node as first child
                        this.node.definitions.splice(0,0,data.node)
                        if (this.node.defType=='nulltyding') {
                            data.node.fullDefnr='A'
                        }
                        undoStackPush(this)
                    } else { // different article: add; FIXME doesn’t quite work
                        let newNode = cloneDefinitionNode(data.node)
                        this.node.definitions.splice(0,0,newNode)
                        undoStackPush(this)
                    }
                } else if (data.type == 'example-list' &&
                           (data.entry == this.top.entry ||
                            (data.top.entry == this.top.entry &&
                             this.entry == this.top.entry))) {
                    this.node.examples = this.node.examples.concat(data.node)
                    data.nodes.examples = []
                    undoStackPush(this)
                } else if (data.type == 'meaning-list' &&
                           (data.entry == this.top.entry ||
                            (data.top.entry == this.top.entry &&
                             this.entry == this.top.entry))) {
                    if (data.entry.etype == 'sub-entry') {
                        this.node.meanings = this.node.meanings.concat(cloneDefinitionNode(data.node))
                    } else {
                        this.node.meanings = this.node.meanings.concat(data.node)
                        data.nodes.meanings = []
                    }
                    undoStackPush(this)
                } else if (data.type == 'entry' && data.sub) {
                    if (this.node.subEntries.length) {
                        this.node.subEntries.splice(0,0,data.sub)
                    } else {
                        this.node.subEntries = [data.sub]
                    }
                    if (data.top.entry == this.top.entry) {
                        data.nodes.splice(data.nodes.indexOf(data.sub),1)
                    }
                    undoStackPush(this)
                }
            }
        },
        hasEditStatus: function () {
            return hasEditStatus(this.top.dictionary)
        },
        isContentNode: function () {
            return !this.node.definitions.length
                || this.node.definitions[0].defType=='undertyding'
        }
    }
}

</script>
