<template>
<div :class="'node-list ' + [focus ? 'focus' : 'inactive']">
  <div class="menu-line">
    <span class="tri" @click="hide=!hide" v-if="hide">&#x25B6;</span>
    <span class="tri" @click="hide=!hide" v-else>&#x25BC;</span>
    <span class="id" @click.stop="setActive">målføre</span>
    <template v-if="!hide && focus">
      <span class="flex-left"/>
      <span class="flex" v-if="!node.hpDialect"
            @click.stop="addNode()">+ Målføre</span>
      <span class="flex" @click="deleteNode()">slett</span>
    </template>
  </div>
  <div class="node" v-show="!hide">
    <bracket-group v-if="node.hpDialect"
                   key="dialect"
                   :hp="nodes"
                   :entry="entry"
                   :top="top"
                   :node="node.hpDialect"
                   type="dialect"/>
  </div>
</div>
</template>

<script>

import { app } from '@/main.js'

import bracketGroup from './bracketGroup.vue'

import { setActive, setPrevActive, undoStackPush, getNewId } from '@/components/mixins/ordbokUtils.js'


export default {
    name: 'dialect-group',
    props: ['entry','top','node','nodes'],
    components: { bracketGroup },
    data: function () {
        return {
            focus: false,
            hide: false,
            canGetFocus: true
        }
    },
    methods: {
        setActive: function () { setActive(this) },
        addNode: function () {
            this.node.hpDialect = [{ id: getNewId(),
                                     type: 'dialect',
                                     dialect: null }]
            app.addedComp = 'bracket-group'
            this.nodes.changed['dialect'] = true        
        },
        deleteNode: function() {
            setPrevActive()
            this.nodes.dialect = null
            this.nodes.changed['dialect'] = true        
            undoStackPush(this)
        }
    }
}

</script>
