<template>
<span class="dot">
  <span v-html="formResolved"/>
  <span v-if="sources.length">
    (<dialect-source-list
       v-for="(source, index) in sources"
       :key="index"
       :node="source"
       :top="top"/>)
  </span>
</span>
</template>

<script>

import dialectSourceList from './dialectSourceList'

import { resolveText
       } from '@/components/mixins/ordbokUtils.js'

// todo: simplify!
export default {
    name: 'dialect-form-list',
    props: ['node','top'],
    components: { dialectSourceList },
    computed: {
        sources: function () {
            return this.node.sources.filter(k => k.show)
        },
        formResolved: function () {
            return resolveText(this.top.dictionary,this.node.form,[])
        },
    }
}

</script>
