<template>
<tbody>
  <tr>
    <td style="text-align: center">
      <input type="checkbox" v-model="node.auto" disabled/>
    </td>
    <td style="text-align: center">
      <input type="checkbox" v-model="node.show" @change="markChanged"/>
    </td>
    <td>
      <select @click.stop
              class="bracket-language keyfocus"
              @change="markChanged"
              v-model="node.infix">
        <option :value="null">-</option>
        <option value="og">og</option>
        <option value="el">el</option>
      </select>
    </td>
    <place-edit :node='node'
                accessor="place_name"
                :hp="hp"
                hpType="dialect"/>
    <td>
      <autocomplete-input :node="node"
                          :top="top"
                          :entry="entry"
                          accessor="spec"
                          :stringify="true"
                          inputClass="bracket-intro"
                          :id="node.id"
                          :hp="hp"
                          hpType="dialect"
                          inputType="text"/>
    </td>
    <lit-ref-edit :node="node" type="dialect" :hp="hp"/>
    <td class="button">
      <input class="button"
             type="button"
             @click.stop="deleteSource"
             value="-"/>
    </td>
    <td class="button">
      <input class="button keyfocus"
             type="button"
             @click.stop="addSource"
             @keydown="keydownAddSource"
             value="+"/>
    </td>
  </tr>
  <!--tr>
    <td colspan="2"/>
    <td colspan="6">
      <div class="menu-line">
        <span class="tri" @click.stop="toggleBgHide" v-if="bgHide">&#x25B6;</span>
        <span class="tri" @click.stop="toggleBgHide" v-else>&#x25BC;</span>
        <drop class="drop" :class="{ over }"
              @dragover="acceptDrop"
              @dragleave="over = false"
              @drop="handleDrop">
          <span class="id">belegg</span>
        </drop>
        <span v-if="node.attest && node.attest.length && bgHide">&nbsp;…</span>
        <span class="flex-left"/>
       </div>
      <table class='test' v-if="!bgHide">
        <belegg-list-edit
          v-for="(attest, index) in node.attest"
          :key="index"
          :node="attest"
          :nodes="node.attest"
          :top="top"
          :entry="entry"
          :hp="hp"
          hpType="dialect"
          :id="attest.id"/>
    </table>    
  </td>
 </tr-->
</tbody>
</template>

<script>

import { app } from '@/main.js'

import autocompleteInput from './autocompleteInput.vue'
import placeEdit from './placeEdit.vue'
import litRefEdit from './litRefEdit.vue'

import { undoStackPush, newId, getNewId, // markChanged,
         canAcceptDrop, lexCommon,
         setPendingEditMode, focusEditNode
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'dialect-source-list-edit',
    data: function () { return { over: false, app, bgHide: true } },
    props: ['node','nodes','top','id','entry','hp'],
    mixins: [lexCommon],
    components: { autocompleteInput, placeEdit, litRefEdit },
    mounted: function () {
        setPendingEditMode(this)
    },
    updated: function () {
        focusEditNode(this)
    },
    methods: {
        toggleBgHide: function () {
            this.bgHide=!this.bgHide
            if (this.bgHide) {
                // unsetEditMode()
            }
        },
        keydownAddSource () { // needed for Windows (!)
            if (event.which===13) this.addSource()
        },
        addSource: function () {
            app.editId = newId()
            this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                              { id: getNewId(),
                                type_: "dialect_source",
                                show: 1,
                                auto: 0 })
            this.keyStore.key++
            this.hp.changed['dialect'] = true
            undoStackPush(this)
        },
        deleteSource: function () {
            this.nodes.splice(this.nodes.indexOf(this.node),1)
            this.hp.changed['dialect'] = true
            undoStackPush(this)
        },
        markChanged: function () {
            undoStackPush(this) // sic!
            // markChanged(this)
        },
        handleDrop: function (data) {
            this.over = false
            if (data.type == 'setel') {
                this.node.attest.splice(this.node.attest.indexOf(this.node)+1,0,
                                        {"id":getNewId(),
                                         "type":"dialect-form-attest",
                                         "refTabellId":data.refTabellId,
                                         "refObjekt":data.refObjekt,
                                         "refTitle":data.refTitle})
                this.hp.changed['dialect'] = true
                undoStackPush(this)
            }
        },
        acceptDrop: function (data) {
            if (canAcceptDrop(this, data) &&
                ((data.node && data.node.etype=='sub-entry') ||
                 data.type == 'setel')) {
                this.over = true
            }
        }
    }
}

</script>
