<template>
<div>
   <span v-if="node.subcat" class='underkat'>{{node.subcat}}: </span>
   <span v-if="node.forms.length">
    <dialect-form-list
      v-for="(form, index) in node.forms"
      :key="index"
      :node="form"
      :top="top"/>
   </span>
</div>
</template>

<script>

import dialectFormList from './dialectFormList'

export default {
    name: 'dialect-subcats',
    components: { dialectFormList },
    props: ['node','top'],
}

</script>
