<template>
<div class="form">
  <div style="display: flex">
    <span>
      <span class="label">Underkategori: </span>
      <select @click.stop
              :id="node.id"
              class="bracket-language keyfocus"
              @change="markChanged"
              v-model="node.subcat">
        <option :value="null">-</option>  
        <option v-for="uk in app.subcat" :key="uk">{{uk}}</option>
      </select>
    </span>
    <!--span class="label">Former: </span-->
    <span class="button ml-2">
      <input class="button plus keyfocus"
             type="button"
             title="Lag ny form på toppen"
             @click.stop="addFormTop"
             @keydown="keydownAddForm"
             value="+"/>
    </span>
    <span style="margin-left: auto"/>
    <span >
      <input class="button"
             type="button"
             title="Slett underkategorien og tilhørende former"
             @click.stop="deleteSubcat"
             value="-"/>
    </span>
  </div>
  <!--div>
    <span class="label">Former: </span>
    <span class="button">
      <input class="button plus keyfocus"
             type="button"
             title="Lag ny form på toppen"
             @click.stop="addFormTop"
             @keydown="keydownAddForm"
             value="+"/>
    </span>
  </div-->
  <div v-if="node.forms.length"
       class="node">
    <dialect-form-list-edit
      v-for="(form, index) in node.forms"
      :key="index"
      :node="form"
      :nodes="node.forms"
      :entry="entry"
      :top="top"
      :hp="hp"
      :id="form.id"/>
  </div>
</div>
</template>

<script>

import { app } from '@/main.js'

import dialectFormListEdit from './dialectFormListEdit'

import { focusEditNode, setPendingEditMode, lexCommon,
         undoStackPush, newId, getNewId, markChanged
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'dialect-subcats-edit',
    props: ['node','nodes','top','entry','id','hp'],
    mixins: [lexCommon],
    components: { dialectFormListEdit },
    data: function () {
        return {
            app
        }
    },
    mounted: function () {
        setPendingEditMode(this)
    },
    updated: function () {
        focusEditNode(this)
    },
    methods: {
        keydownAddForm () { // needed for Windows (!)
            if (event.which===13) this.addFormTop()
        },
        addFormTop: function () {
            app.editId = newId()
            this.node.forms.splice(0,0,{ id: getNewId(),
                                         type_: "dialect_form",
                                         sources: [ { id: getNewId(),
                                                      type_: "dialect_source",
                                                      show: 1,
                                                      auto: 0
                                                    } ],
                                         attest: [] })
            this.keyStore.key++
            this.hp.changed['dialect'] = true
            undoStackPush(this)
        },
        deleteSubcat: function () {
            this.nodes.splice(this.nodes.indexOf(this.node),1)
            this.hp.changed[this.node.type] = true
            undoStackPush(this)
         },
        markChanged: function () {
            this.hp.changed['dialect'] = true
            markChanged(this)
        }
        
    }
}

</script>
