<template>
<bracket-group-display v-if="node.hpDialect"
                       key="dialect"
                       :entry="entry"
                       :top="top"
                       :node="node.hpDialect"
                       type="dialect"/>
</template>

<script>

import bracketGroupDisplay from './bracketGroupDisplay.vue'

export default {
    name: 'dialect-group-display',
    props: ['entry','top','node'],
    components: { bracketGroupDisplay }
}

</script>
