<template>
<div class="form">
  <div class="flex">
    <nobr>
      <span class="label mr-2">Form:</span>
      <autocomplete-input :node="node"
                          :top="top"
                          :entry="entry"
                          accessor="form"
                          inputClass="bracket-form"
                          :id="node.id"
                          :hp="hp"
                          hpType="dialect"
                          inputType="text"/>
    </nobr>
    <input v-if="!node.sources?.length"
           class="button ml-3 small keyfocus"
           type="button"
           title="Lag ny kilde"
           @click="addSourceTop"
           @keydown="keydownAddSource"
           v-show="!srcHide"
           value="+ kilde"/>
    <input v-else
           class="button ml-3 small"
           type="button"
           title="klikk for å vise/skjule"
           @click="toggleSrcHide"
           :value="srcInputString"/>
    <drop class="drop"
          @dragover="acceptDrop"
          @dragleave="over = false"
          @drop="handleDrop">
      <input class="button ml-3 small"
             :class="{ over }"
             type="button"
             title="slipp belegg; klikk for å vise/skjule"
             @click="toggleAttHide"
             :value="attInputString"/>
    </drop>
    <span class="flex-left"/>
    <span>
      <input class="button" type="button" @click.stop="deleteForm" value="-"/>
      <input class="button plus keyfocus"
             type="button"
             title="Lag ny form"
             @click.stop="addForm"
             @keydown="keydownAddForm"
             value="+"/>
    </span>
  </div>
  <template v-if="node.sources?.length">
    <!--div class="menu-line">
      <span class="tri" @click.stop="toggleSrcHide"
            v-if="srcHide">&#x25B6;</span>
      <span class="tri" @click.stop="toggleSrcHide"
            v-else>&#x25BC;</span>
      <span class="id">kilder</span>
      <span class="id" v-if="node.sources?.length">
        &nbsp;({{node.sources?.length}})
      </span>
      <span v-if="node.sources?.length && srcHide">&nbsp;…</span>
      <span class="flex-left"/>
    </div-->
    <table class='ml-3'
           v-if="!srcHide">
      <tr>
        <td class="header">Auto</td>
        <td class="header">Vis</td>
        <td class="header">Bindet.</td>
        <td class="header">Stad</td>
        <td class="header">Spes.</td>
        <td class="header nobr">Litt. kode</td>
        <td/>
        <td class="button">
          <input class="button keyfocus"
                 type="button"
                 title="Lag ny kilde"
                 @click.stop="addSourceTop"
                 @keydown="keydownAddSource"
                 value="+"/>
        </td>
      </tr>
      <dialect-source-list-edit
        v-for="(source, index) in node.sources"
        :key="index"
        :nodes="node.sources"
        :node="source"
        :top="top"
        :entry="entry"
        :hp="hp"
        :id="source.id"/>
    </table>
  </template>
  <!--div class="menu-line" v-if="node.attest?.length">
    <span class="tri" @click.stop="toggleAttHide" v-if="attHide">&#x25B6;</span>
    <span class="tri" @click.stop="toggleAttHide" v-else>&#x25BC;</span>
    <span class="id">belegg</span>
    <span class="id" v-if="node.attest?.length && attHide">&nbsp;({{node.attest?.length}})</span>
    <span v-if="node.attest?.length && attHide">&nbsp;…</span>
    <span class="flex-left"/>
  </div-->
  <div class='ml-3' v-if="node.attest?.length && !attHide">
    <attest-list-edit
      v-for="(attest, index) in node.attest"
      :key="index"
      :node="attest"
      :nodes="node.attest"
      :top="top"
      :hp="hp"
      hpType="dialect"/>
  </div>
</div>
</template>

<script>

import attestListEdit from './attestListEdit'
import dialectSourceListEdit from './dialectSourceListEdit'

import { app } from '@/main.js'

import { mapStores } from 'pinia'

import autocompleteInput from './autocompleteInput.vue'

import { lexCommon, focusEditNode, setPendingEditMode,
         newId, getNewId, undoStackPush, canAcceptDrop, useLexStore
       } from '@/components/mixins/ordbokUtils.js'

// todo: simplify!
export default {
    name: 'dialect-form-list-edit',
    props: ['node','nodes','top','entry','id','hp'],
    mixins: [lexCommon],
    components: { attestListEdit, dialectSourceListEdit, autocompleteInput },
    data: function () {
        return {
            over: false,
            app,
            srcHide: !this.node.sources.find(src => !src.place_name),
            attHide: true
        }
    },
    mounted: function () {
        setPendingEditMode(this)
    },
    updated: function () {
        focusEditNode(this)
    },
    computed: {
        ...mapStores(useLexStore),
        /* srcHide: function () {
            return this.lexStore.settings.srcHide
            } */
        attInputString: function () {
            return '✼ belegg' +
                (this.node.attest?.length ?
                 (' (' +
                  this.node.attest?.length +
                  ')') : '') +
                (this.node.attest?.length && this.attHide ? ' …' : '')
        },
        srcInputString: function () {
            return 'kilder' +
                (this.node.sources?.length ?
                 (' (' + this.node.sources?.length + ')') : '') +
                (this.node.sources?.length && this.srcHide ? ' …' : '')
        }
    },
    methods: {
        lastSource: function () {
            let last = null
            this.node.sources.map(function (k) { if (k.show) { last = k } })
            return last
        },
        keydownAddForm () { // needed for Windows (!)
            if (event.which===13) this.addForm()
        },
        addForm: function () {
            // console.log('add form')
            app.editId = newId()
            this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                              { type_: "dialect_form",
                                id: getNewId(),
                                form: null,
                                sources: [ { id: getNewId(),
                                             type_: "dialect_source",
                                             show: 1,
                                             auto: 0
                                           } ],
                                attest: [] } )
            this.keyStore.key++
            this.hp.changed['dialect'] = true
            undoStackPush(this)
        },
        deleteForm: function () {
            this.nodes.splice(this.nodes.indexOf(this.node),1)
            this.hp.changed['dialect'] = true
            undoStackPush(this)
        },
        keydownAddSource: function () {
            if (event.which===13) this.addSourceTop()
        },
        addSourceTop: function () {
            // console.log('addSourceTop')
            app.editId = newId()
            this.node.sources.splice(0,0,{ id: getNewId(),
                                           type_: "dialect_source",
                                           show: 1,
                                           auto: 0
                                         })
            // console.log(this.nodes)
            this.keyStore.key++
            this.hp.changed['dialect'] = true
            undoStackPush(this)
        },
        toggleSrcHide: function () {
            // this.lexStore.settings.srcHide=!this.lexStore.settings.srcHide
            this.srcHide = !this.srcHide
            if (this.srcHide) {
                // unsetEditMode()
            }
        },
        toggleAttHide: function () {
            this.attHide=!this.attHide
            if (this.attHide) {
                // unsetEditMode()
            }
        },
        handleDrop: function (data) {
            this.over = false
            this.attHide = false
            app.editId = newId()
            // console.log(data)
            if (data.type == 'setel') {
                this.node.attest.splice(this.node.attest.indexOf(this.node)+1,0,
                                        {"id":getNewId(),
                                         "type_":"attestation",
                                         "refTabellId":data.refTabellId,
                                         "refObjekt":data.refObjekt,
                                         "refTitle":data.refTitle})
                this.hp.changed['dialect'] = true
                undoStackPush(this)
            } else if (data.mode == 'mo-articles') { // list of articles dragged from sorter
                data.items.forEach(item =>
                    this.node.attest.splice(this.node.attest.indexOf(this.node)+1,0,
                                            { id: getNewId(),
                                              type_: 'attestation',
                                              ref_title: item.title,
                                              ref_id: item.art_id,
                                              ref_target: item.dict_id
                                            } ))
                this.hp.changed['written_form'] = true
                undoStackPush(this)
            }
        },
        acceptDrop: function (data) {
            if (canAcceptDrop(this, data) &&
                (data.node?.etype=='sub-entry' ||
                 data.type == 'setel' ||
                 data.mode == 'mo-articles')) {
                this.over = true
            }
        }
    }
}

</script>
