<template>
<span class="comma">
  <span v-if="node.infix" class='hgno'>{{node.infix}} </span>
  <span v-if="placePlace"
        class="place"
        v-html="placePlace"
        @click.stop="placePlace=null"/>
  <span v-if="node.place_name"
        class='xref small'
        @click.stop="showPlaceHierarchy">{{node.place_name}}</span>
  <span class="place" v-if="litSource" @click.stop="litSource=null" v-html="litSource"/>
  <template v-if="node.code">
    <span class='small'> (<span class='xref small' @click.stop="showLitSource">{{node.code}}</span>)</span>
  </template>
  <span class='hgno' v-if="node.spec && node.spec.content"
        v-html="' '+resolveText(top.dictionary,node.spec)"/>
</span>
</template>

<script>

import { app } from '@/main.js'

import { closePopup, setPopupComp, showLitSource, resolveText } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'dialect-source-list',
    data: function () { return { placePlace: null, litSource: null } },
    props: ['node','top'],
    methods: {
        showPlaceHierarchy: function () {
            closePopup()
            let path = []
            function walk (id) {
                let place = app.placeList[id]
                let pid = place.parent_place_id
                path.push(place.place_name_full)
                if (pid) {
                    walk(pid)
                }
            }
            if (this.node.place_id) {
                walk(this.node.place_id)
            }
            this.placePlace = path.join(' < ')
            /*
            let place = app.placeList.get(this.node.place_id)
            this.placePlace = place.place_place.map(s => app.placeList.get(s).fulltNamn).join(' < ')
            */
            setPopupComp(this)
        },
        showLitSource: function () {
            showLitSource(this)
        },
        resolveText
    }
}

</script>
