<template>
<div class="entries">
  <div class="scroll" style="xheight: 64em; height: auto; overflow: hidden">
    <div style="height: calc(100vh - 10em); overflow-y: scroll; position: relative; xborder: 1px solid green">
      <div class="ordbok">
        <b-form inline>
          <span>Ordbok: </span>
          <b-form-select size="sm"
                         class="mr-2"
                         v-model="dictionary"
                         :options="dictionaries"
                         @change="chooseDictionary"
                         />
        </b-form>
      </div>
      <div class="ordbok">
        <b-form inline>
          Søk:
          <b-form-input size="sm"
                        class="mr-2"
                        v-model.trim="word"
                        type="search"
                        debounce="500"
                        autocomplete="off"
                        autocorrect="off"
                        autocapitalize="off"
                        spellcheck="false"
                        @update="showEntriesJSON(id==0)"
                        @keydown.enter.prevent
                        placeholder="Søkeord"/>
          <b-form-checkbox size="sm"
                           class="ml-2"
                           v-model="N"
                           title="Normalartikkel"
                           @input="showEntriesJSON(id==0,true)">
            N
          </b-form-checkbox>
          <b-form-checkbox size="sm"
                           class="ml-2"
                           v-model="F"
                           title="Forleddsartikkel"
                           @input="showEntriesJSON(id==0,true)">
            F
          </b-form-checkbox>
          <b-form-checkbox size="sm"
                           class="ml-2"
                           v-model="E"
                           title="Etterleddsartikkel"
                           @input="showEntriesJSON(id==0,true)">
            E
          </b-form-checkbox>
          <b-form-checkbox size="sm"
                           class="ml-2"
                           v-model="U"
                           title="Underartikkel"
                           @input="showEntriesJSON(id==0,true)">
            U
          </b-form-checkbox>
          |
          {{entryList.length == 1 ? 'én artikkel' : entryList.length + ' artikler'}} funnet |
          <b-button variant="outline-primary"
                    size="sm"
                    @click="newEntry">
            Lag ny artikkel
          </b-button>
        </b-form>
      </div>
      <div class="busy" v-show="entryChanged">
        <span class="busy">Noen artikler er ikke lagret. Vil du fortsette likevel? </span>
        <input class="button"
               type="button"
               @click="leaveEntries"
               value="Ja"/>
        <input class="button"
               type="button"
               @click="entryChanged=false"
               value="Nei"/>
      </div>
      <div>
        <div class="busy" v-show="busy">
          <span class="busy">Vent…</span>
        </div>
        <span v-if="dictionary!='mo'">
          <entry-wrapper v-for="(e,index) in entryList"
                         :key="index"
                         :node="e.entry"
                         :nodes="entryList"
                         :e="e"
                         :entryCompID="id"
                         :entryTemplates="entryTemplates"
                         :dictionary="dictionary"/>
        </span>
        <div v-if="dictionary=='mo' && entryType=='sorterRow'">
          <div class="head1">Sorterer: <span class="head1">{{sorter.name}}</span>
            |
            <input class="flex" type="button"
                   @click.stop="newColumn"
                   value="Ny kolonne"/> |
            <input class="flex" type="button"
                   @click.stop="storeSorter"
                   value="Lagre"/> |
            <input class="flex" type="button"
                   @click.stop="newSorter"
                   value="Ny sorterer"/>
          </div>
          <table v-if="dictionary=='mo' && entryType=='sorterRow'">
            <tr>
              <th class="sorter" @click.stop="sortSourceColumn">Kilde</th>
              <th class="sorter" @click.stop="sortTextColumn">Tekst</th>
              <sorter-head v-for="(col,index) in sorter.columns"
                           :key="index"
                           :sorter="sorter"
                           :col="col"/>
            </tr>
            <sorter-entry v-for="(e,index) in sorter.entries"
                          :key="index"
                          :node="e"
                          :entry="e"
                          :sorter="sorter"
                          :entryCompID="id"
                          :dictionary="dictionary"/>
          </table>
        </div>
        <span v-if="dictionary=='mo' && entryType=='metaArticle'">
          <div class="node-list">Page: {{ page + 1 }} 
            <input class="flex" type="button"
                   @click.stop="gotoMOPage('previous')"
                   :disabled="page==0"
                   value="Forrige"/>
            <input class="flex" type="button"
                   @click.stop="gotoMOPage('next')"
                   value="Neste"/> 
          </div>
          <mo-entry v-for="(e,index) in entryList"
                    :key="index"
                    :entryList="entryList"
                    :entry="e"
                    :node="e.entry"/>
        </span>
      </div>
      <p id="entries"/>
    </div>
  </div>
</div>
</template>

<script>

import { app } from '@/main.js'
import { api } from '@/components/mixins/api.js'

import entryWrapper from './entryWrapper.vue'
import moEntry from './moEntry.vue'

import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

import { lexCommon, unsetEditMode, norskOrdbok, loadJSON, entriesURL, sessionId, entryComps,
         showErrorMessage, dismissErrorMessage, closePopup,
         getNewId,
         lexLispBase
       } from '@/components/mixins/ordbokUtils.js'

var activeCell = null

var _null = null

export default {
    name: 'dictEntries',
    props: [ 'id' ],
    mixins: [api, lexCommon],
    components: { entryWrapper, moEntry },
    data: function () {
        return { edit: false, focus: false, hide: false, canGetFocus: false,
                 busy: false,
                 tabs: { tabIndex: 0 },
                 // display: false,
                 alert: null,
                 N: true,
                 F: true,
                 E: true,
                 U: false,
                 prevWord: null,
                 dictionaries: norskOrdbok ?
                 [ { value: "bm", text: 'Bokmålsordboka' },
                   { value: "nn", text: 'Nynorskordboka' },
                   { value: "no", text: 'Norsk Ordbok' },
                   // { value: "mo", text: 'Metaordboka' }
                 ] :
                 [ { value: "bm", text: 'Bokmålsordboka' },
                   { value: "nn", text: 'Nynorskordboka' }
                 ],
                 entryList: [],
                 sorter: [],
                 entryType: 'article',
                 entryId: null, // for sorter
                 entryChanged: false,
                 entities: [],
                 languages: [],
                 langArray: [],
                 templateName: '-',
                 entryTemplates: {"templates": []},
                 leaveMode: null,
                 norskOrdbok,
                 MOrefTabellId: null,
                 MOrefObjekt: null,
                 page: 0
               }
    },
    created: function () {
    },
    mounted: function () {
        entryComps[this.id] = this
        this.showEntriesJSON(true,true)
        // window.addEventListener('keydown', handleKeyDown)
    },
    destroyed: function () {
        // window.removeEventListener('keydown', handleKeyDown)
    },
    computed: {
        canEdit: function () {
            return useStateStore().jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR')
        },
        dictionary: {
            get: function () {
                return this.lexStore.dictWord[this.id].dictionary
            },
            set: function (newVal) {
                this.lexStore.dictWord[this.id].dictionary = newVal
            }
        },
        word: {
            get: function () {
                return this.lexStore.dictWord[this.id].word
            },
            set: function (newVal) {
                this.lexStore.dictWord[this.id].word = newVal
            }
        }
    },
    methods: {
        hideEntriesRow: function () {
            let key = "row" + this.id
            this.lexStore.settings[key] = false
        },
        chooseDictionary: function () {
            this.showEntriesJSON(true,true)
        },
        leaveEntries: function () {
            this.entryList.forEach(e => {
                e.vue.canUndo = false
                e.vue.changed = false
                e.vue.warnings = []
                e.undoStack = []
                this.entryChanged = false
            })
            
            // this.entryChanged = false
            switch (this.leaveMode) {
            case "showEntries":
                this.showEntriesJSON(this.id==0)
                break
            case "newEntry":
                this.newEntry()
            }
        },
        entriesChanged: function () {
            return this.entryList.find(e => e.undoStack.length > 1) && true
        },
        showEntriesJSON: function (focus,force,refTabellId,articleId,topEntry,fresh) {
            dismissErrorMessage()
            if (this.dictionary == 'mo') {
                if (force || (this.word !== this.prevWord)) {
                    this.prevWord = this.word
                    this.MOrefTabellId = null
                    this.MOarticleId = null
                    this.showMOEntryJSON(focus,force,null,null,fresh)
                }
            } else {
                // check whether any of the entries in this row has been edited
                if (force || (this.word !== this.prevWord)) {
                    this.entryChanged = this.entriesChanged()
                    this.entryType = 'article'
                }
                if (this.entryChanged) {
                    this.leaveMode = "showEntries"
                } else if (force || (this.word !== this.prevWord)) {
                    let word = this.word
                    this.prevWord = this.word
                    if (focus) {
                        unsetEditMode()
                        if (app?.activeComp) {
                            app.activeComp.focus = false
                        }
                        if (app) {
                            app.activeComp = null
                        }
                    }
                    
                    if (1 == 1 || this.word.length) {
                        this.busy = true
                        let w = (this.word && !articleId) ? encodeURIComponent(this.word) : ""
                        let artType = ''
                        if (this.N) { artType += '&type=NORMAL' }
                        if (this.F) { artType += '&type=PREFIX' }
                        if (this.E) { artType += '&type=SUFFIX' }
                        if (this.U) { artType += '&type=SUB_ARTICLE' }
                        let url = entriesURL + '?session-id='
                            + sessionId()
                            + '&person-id=' + app.personId
                            + '&nr=' + this.id
                            + '&mode=edit'
                            + '&word=' + w
                            + '&dictionary=' + this.dictionary
                            + '&article-id=' + articleId
                            + '&show-top-entry=' + topEntry
                            + '&fresh=' + fresh
                            + artType
                        loadJSON(url)
                            .then (response => {
                                // console.log(response)
                                if (response.error == 'Session has expired.') {
                                    sessionId() // get new session
                                    // session.sessionId = null
                                    this.entryList = []
                                    this.busy = false
                                } else {
                                    if (fresh && response.query) {
                                        this.dictionary = response.query.dictionary
                                        this.word = response.query.word
                                    }
                                    if (this.prevWord == word) { // set only the most recent value
                                        if (force) { // force rerender; necessary because focus 
                                            // element may have changed, but entry stayed the same
                                            this.entryList = []
                                            this.$nextTick(() => {
                                                if (response.entries) {
                                                    this.entryList = response.entries
                                                    for (let i = 0; i < this.entryList.length; i++) {
                                                        this.entryList[i].JSONstring =
                                                            JSON.stringify(this.entryList[i].entry)
                                                        this.entryList[i].undoStack =
                                                            [JSON.stringify(this.entryList[i].entry)]
                                                        // this.busy = false
                                                    }
                                                }
                                                this.busy = false
                                            })
                                        } else {
                                            this.entryList = response.entries
                                            for (let i = 0; i < this.entryList.length; i++) {
                                                this.entryList[i].JSONstring =
                                                    JSON.stringify(this.entryList[i].entry)
                                                this.entryList[i].undoStack =
                                                    [JSON.stringify(this.entryList[i].entry)]
                                            }
                                            this.busy = false
                                        }
                                    }
                                }
                            })
                            .catch (showErrorMessage)
                    }
                }
            }
        },
        // Norsk ordbok
        showMOEntryJSON: function (focus,force,refTabellId,refObjekt,fresh) {
            if (refTabellId) { this.MOrefTabellId = refTabellId }
            if (refObjekt) { this.MOrefObjekt = refObjekt }
            if (1 == 1 || this.word.length) {
                this.busy = true
                this.entryList = []
                this.entryType = 'metaArticle'
                let word = this.word // obs: this.word may be changed in another thread!
                let w = this.word ? encodeURIComponent(this.word) : ""
                loadJSON(lexLispBase + '/js/entry-json?session-id='
                         + sessionId()
                         + '&dictionary=mo'
                         + '&nr=' + this.id
                         + '&ref-table-id=' + this.MOrefTabellId
                         + '&ref-object=' + this.MOrefObjekt
                         + '&prefix=' + w
                         + '&page=' + this.page
                         + '&fresh=' + fresh)
                    .then (response => {
                        if (response.error) {
                            showErrorMessage(response.error)
                        } else if (this.MOrefTabellId || this.prevWord == word) {
                            if (_null && force) { // force rerender; necessary because focus 
                                // element may have changed, but entry stayed the same
                                this.entryList = []
                                this.$nextTick(() => {
                                    if (response.entries) {
                                        this.entryList = response.entries
                                    }
                                    this.busy = false
                                })
                            } else {
                                this.entryList = response.entries
                                this.busy = false
                            }
                        }
                    })
                    .catch (showErrorMessage)
            }
        },
        gotoMOPage: function (mode) {
            switch (mode) {
            case "next": this.page++
                break
            case "previous": this.page--
            }
            this.showMOEntryJSON(true, true, null, null, true)
        },
        showSorterJSON: function (sorterId,entryId) {
            this.busy = true
            closePopup()
            this.entryType = 'sorterRow'
            this.entryList = []
            this.dictionary = 'mo'
            loadJSON(lexLispBase + '/js/entry-sorter?session-id='
                     + sessionId()
                     + '&dictionary=mo'
                     + '&sorter-id=' + sorterId
                     + '&entry-id=' + entryId)
                .then (response => {
                    if (response.error) {
                        showErrorMessage(response.error)
                    }
                    // console.log(response)
                    this.sorter = response
                    this.entryId = entryId
                    this.busy = false
                })
                .catch (showErrorMessage)
        },
        newEntry: function () {
            this.entryChanged = this.entriesChanged()
            if (this.entryChanged) {
                this.leaveMode = "newEntry"
            } else {
                this.entryList = [ { "undoStack":[],
                                     "JSONstring":[],
                                     "dictionary": this.dictionary, 
                                     "nr": 0,
                                     "entry":{ id: getNewId(),
                                               type: "entry",
                                               etype: "entry",
                                               entryType: "NORMAL",
                                               properties: {},
                                               language: this.dictionary,
                                               status: { status: 0 },
                                               owner: useStateStore().jwt?.sub.toString(), 
                                               lemmas: this.dictionary == 'no' ?
                                               // for NO, the lemmas have to be dragged from MO
                                               [] : [{ id: getNewId(),
                                                       type: "lemma",
                                                       lemma: '',
                                                       hgno: 0,
                                                       ordklasse: null }],
                                               hp: null,
                                               definitions: [] } } ]
                this.entryList[0].undoStack = [JSON.stringify(this.entryList[0].entry)]
                app.addedComp = 'lemma-group'
            }
        },
        getEntryTemplates: function () {
            loadJSON(lexLispBase + '/js/templates-json'
                     + '?session-id=' + sessionId() 
                     + '&dictionary=' + this.dictionary)
                .then (response =>
                       { 
                           this.entryTemplates.templates = response.templates
                           this.dictionary = response.dictionary
                       })
                .catch (showErrorMessage)
        },
        newEntryFromTemplate: function () {
            let entryTemplate 
                = this.entryTemplates.templates.find(x => x.name == this.templateName)
            if (entryTemplate) {
                let e = { "undoStack": [],
                          "nextStatusList":[],
                          "JSONstring": entryTemplate.template,
                          "dictionary": this.dictionary, 
                          "nr": 0, // ??
                          "entry": JSON.parse(entryTemplate.template) }
                this.entryList = [e]
                e.undoStack = [JSON.stringify(this.entryList[0].entry)]
                this.templateName = '-'
            }
        },
        sortSourceColumn: function () {
            closePopup()
            if (activeCell) {
                activeCell.edit = false
                activeCell = null
            }
            this.sorter.entries =
                this.sorter.entries.sort(function(a,b) {
                    return a.refTabellId
                        <  b.refTabellId
                        ? -1 : 1
                })
        },
        sortTextColumn: function () {
            closePopup()
            if (activeCell) {
                activeCell.edit = false
                activeCell = null
            }
            this.sorter.entries =
                this.sorter.entries.sort(function(a,b) {
                    return a.refTitle.localeCompare(b.refTitle)
                })
        },
        newColumn: function () {
            closePopup()
            let length = this.sorter.columns.length
            this.sorter.columns.splice(length+1,
                                       0,
                                       {"columnId": getNewId(),
                                        "position": length+1,
                                        "name": "Ny kolonne" })
        },
        storeSorter: function () {
            closePopup()
            if (activeCell) {
                activeCell.edit = false
                activeCell = null
            }
            console.log('closed')
            this.$http.post('js/store-sorter-json',
                            { "sorter": JSON.stringify(this.sorter),
                              "session-id": sessionId() },
                            { "emulateJSON": true })
                .then (response => response.data)
                .then (response => {
                    // console.log('response:')
                    // console.log(response)
                    if (response.success==true) {
                        this.sorter = response
                    }
                })
        }
    }
}
</script>
