<template>
<div :class="[etype+'-display', focus ? 'focus' : 'inactive']"
     @click="setActive"
     :id="node && node.id"
     :title="node && node.id">
  <template v-if="node">
    <span v-if="sub && sub.intro && subentryInSitu"
          v-html="introResolved"/>
    <lemma-group-display :entry="node"
                         :node="node.lemmas"
                         :top="top"/>
    <hakeparentes-group-display v-if="hasHP"
                                :entry="node"
                                :node="node.hp"
                                :nodes="node"
                                :top="top"/>
    <definition-list-display v-for="n in node.definitions || []"
                             :key="n.id" :entry="node"
                             :parent="node"
                             :nodes="node.definitions"
                             :node="n" :top="top"/>
    <div class="subentries-label"
         v-if="!sub && !subentryInSitu && getSubentries.length">
      Faste uttrykk:
    </div>
    <subentry-group-display v-if="!sub && !subentryInSitu && getSubentries"
                            :node="getSubentries"
                            :entry="entry"
                            :top="top"/>
  </template>
</div>
</template>

<script>

import { app } from '@/main.js'

import lemmaGroupDisplay from './lemmaGroupDisplay.vue'
import hakeparentesGroupDisplay from './hakeparentesGroupDisplay'
import definitionListDisplay from './definitionListDisplay'
import subentryGroupDisplay from './subentryGroupDisplay'

import { setActive, resolveText
       } from '@/components/mixins/ordbokUtils.js'

// var subentryInSitu = false

export default {
    name: 'dict-entry-display',
    props: ['node','entry','nodes','display',
            'entryCompID','intro','top','sub'],
    components: { lemmaGroupDisplay, hakeparentesGroupDisplay, definitionListDisplay,
                  subentryGroupDisplay },
    data: function () {
        return { over: false,
                 busy: false,
                 minimized: false,
                 app,
                 canGetFocus: !this.sub,
                 stored: false,
                 changed: false,
                 unchanged: false,
                 warnings: null,
                 message: null,
                 canUndo: false,
                 referencingArticles: null,
                 show: false,
                 focus: false }
    },
    computed: {
        etype: function () {
            return this.node?.etype || 'entry'
        },
        subentryInSitu: function () {
            return this.top.dictionary == 'no'
        },
        introResolved: function () {
            // console.log(this.node.intro)
            if (this.sub.intro) {
                return resolveText(this.top.dictionary,this.sub.intro,[]) + ' '
            } else {
                return ''
            }
        },
        getSubentries: function () {
            let subEntries = []
            if (!this.subentryInSitu) {
                let walk = function (n) {
                    if (n.subEntries && n.subEntries.length) {
                        subEntries = subEntries.concat(n.subEntries)
                    } else if (n.definitions) {
                        n.definitions.map(d => walk(d))
                    }
                }
                walk(this.entry)
                // console.log('subEntries')
                subEntries.sort(function(s1,s2) {
                    return s1.subEntry.lemmas[0].lemma < s2.subEntry.lemmas[0].lemma ? -1 : 1
                })
                return subEntries
            }
            return null
        },
        hasHP: function () {
            let hp = this.node['hp']
            return hp && (hp.etymology ||
                          hp.older_source ||
                          hp.pronunciation ||
                          hp.dialect ||
                          hp.dialect)
        }
    },     
    updated: function () {
        if (this.node && this.node.etype == 'entry') { // don’t do this for sub-entries!
            this.top.vue = this
        }
    },
    mounted: function () { // ??
        if (this.node && this.node.etype == 'entry') { // don’t do this for sub-entries!
            this.top.vue = this
            
        }
    },
    methods: {
        setActive: function () {
            // activate this if we only want one active entry
            /* if (false && app.activeEntry) {
                app.activeEntry.displayMode = true
            } */
            setActive(this)
            app.activeEntry = app.activeComp.$parent
            app.activeEntry.displayMode = false
            app.activeEntry.$nextTick(() => { // after nextTick child is dict-entry
                setActive(app.activeEntry.$children[0])
            })
        }
    }
}

</script>
