<template>
<div :class="[node.etype, focus ? 'focus' : 'inactive']"
     v-if="!sub || !sub.subEntry.deleted"
     xxstyle="width: 30em"
     :id="node.id">
  <div class="menu-line" v-if="node.etype == 'entry'">
    <span style="color: gray">{{dict_names[top.dictionary]}}</span>
  </div>
  <div v-if="!deleted" class="menu-line" @click.stop="setActive">
    <template v-if="!hide && node.etype == 'entry'">
      <template v-if="hasEditStatus">
        <input class="flex"
               type="button"
               title="Ctrl-S"
               @click.stop="storeEntry(true)"
               olddisabled="changedInDatabase || !(changed || canUndo()) || node.owner != personId || !hasEditStatus"
               :disabled="changedInDatabase || !changed || (node.owner != personId && !hasWriteUnownedStatus) || !hasEditStatus"
               value="Lagre"/>
        <input class="flex"
               type="button"
               @click.stop="checkEntry()"
               value="Sjekk"/>
      </template>
      <input v-if="hasEditStatus || canUndo()"
             class="flex"
             type="button"
             title="Ctrl-Z"
             @click.stop="undoStackPop()"
             :disabled="!canUndo()"
             value="Angre siste"/>
      <b-button v-if="hasEditStatus && top.dictionary == 'no' && node.id > 0"
                variant="outline-primary"
                size="sm"
                class="m-1 py-0 px-1 flex"
                @click.stop="showSorters()">
        Vis sorterer
      </b-button>
    </template>
  </div>
  <div v-if="!deleted" class="menu-line" @click.stop="setActive">
    <span>
      <drag class="drag"
            :transfer-data="{ type: 'entry', entry, node, nodes, sub, dictionary: top.dictionary, top }"
            @dragstart="handleDragStart">
        <drop class="drop"
              :class="{ over }"
              @dragover="acceptDrop"
              @dragleave="over = false"
              @drop="handleDrop">
          <span class="tri" @click="hide=!hide" v-if="hide">&#x25B6;</span>
          <span class="tri" @click="hide=!hide" v-else>&#x25BC;</span>
          <span class="id drag">{{node.etype == 'entry' ? 'artikkel' : 'underartikkel'}}
            <span v-show="!hide">
              : {{node.id}}
              <span v-if="node.version">/ v{{node.version}}</span>
              <span v-if="node.etype!='entry'">, {{UIDtoName(node.owner)}}, {{entryStatus}}</span>
            </span>
          </span>
        </drop>
      </drag>
    </span>
    <span class="short-content-lemma"
          v-show="hide"
          v-html="shortContent"/>
    <template v-if="!hide && sub">
      <span v-if="focus" style="color: gray">, Status: </span>
      <select v-if="focus"
              class="ml-1"
              v-model="sub.sub_status"
              @click.stop
              @change="undoStackPushTop">
        <option v-for="status in ['','UREV','SLETT?']"
                :key="status"
                :value="status">
          {{status}}
        </option>
      </select>
      <span v-if="!focus && sub.sub_status">
        <span style="color: gray">, Status: </span> {{sub.sub_status}}
      </span>
    </template>
    <template v-if="!hide && hasEditStatus">
      <span class="flex-left"/>
      <span class="flex" v-if="focus && !node.hp && node.etype == 'entry'"
            @click="addNode('hp')">+&nbsp;(h)p</span>
      <span class="flex" v-if="focus && (!node.definitions || !node.definitions.length)"
            @click="addNode('definition')">+&nbsp;(d)efinisjon</span>
      <span class="flex" v-if="focus && node.etype!='entry'"
            @click="deleteNode()">Slett</span>
    </template>
  </div>
  <div v-if="node.etype == 'entry' && !deleted" class="head1">
    <span v-if="isEditor">
      <span style="color: gray">Redaktør: </span>
      <span>{{UIDtoName(node.owner)}}</span>
      <b-button v-if="!hide && !top.locked && node.owner != personId"
                variant="outline-primary"
                size="sm"
                class="m-1 py-0 px-1"
                @click="setOwner">
        Sett redaktør
      </b-button>
      <span class="busy" v-show="busy">vent…</span>
      <span class="locked" v-if="top.locked"
            :title="top.locked.lockedMin + ' min igjen'">
        | Låst av {{top.locked.personId}}
      </span>
      |
      <span style="color: gray">Status: </span>
      <span v-if="!hide && nextStatusList?.length">
        <select @change="setStatus(false)"
                v-model="node.status.status">
          <option :value="node.status.status">
            {{entryStatus}}
          </option>
          <option v-for="(status, index) in nextStatusList"
                  :key="index"
                  :value="status.code">
            {{status.name}}
          </option>
        </select>
      </span>
      <span v-else>{{entryStatus}}</span>
      <span v-if="statusIsLocked"> [låst]</span>
      {{node.locked}}
    </span>
    <span v-else>{{entryStatus}}</span>
    |
    <span style="color: gray">Type: </span>
    <span v-if="node.status.status=='Rediger' && node.owner == personId">
      <select @change="setType" v-model="node.entryType">
        <option v-for="type in ['NORMAL','PREFIX','SUFFIX']"
                :key="type"
                :value="type">
          {{type.toLowerCase()}}
        </option>
      </select>
    </span>
    <span v-else>{{node.entryType.toLowerCase()}}</span>
    |
    versjon:
    <span v-if="node.version > 1 && isEditor">
      <!--{{node.version}}/{{version}}-->
      <select @change="getVersion"
              v-model="version">
        <option v-for="version in versions"
                :key="version"
                :value="version">
          v{{version}}
        </option>
      </select>
    </span>
    <span v-else>
      v{{node.version}}
    </span>
    |
    <b-button variant="outline-primary"
              size="sm"
              class="m-1 py-0 px-1"
              @click="downloadPDF">
      PDF
    </b-button>
    <template v-if="top.dictionary != 'no'">
      <span class="m-1 nobr" v-if="node.status.status">
        | Se på
        <b-link :href="ordbokLink" target="ordbokene.no">
          ordbøkene.no
        </b-link>
      </span>
      <span v-if="frontPageArticle">
      | Framsideartikkel
      </span>
      <span v-if="!frontPageArticle && isEditor">
        |
        <span v-if="askFrontPage">
          <b-button variant="outline-primary"
                    size="sm"
                    class="m-1 py-0 px-1"
                    @click="askFrontPage=false">
            Angre
          </b-button>
        </span>
        <b-button variant="outline-primary"
                  size="sm"
                  class="m-1 py-0 px-1"
                  @click="setFrontPageArticle">
          Sett
        </b-button>
        <span v-if="!askFrontPage">
          som framsideartikkel
        </span>
      </span>
    </template>
  </div>
  <div v-if="node.etype == 'entry' && !deleted"
       class="head1">
    <span>
      <span style="color: gray">Utgangspunkt: </span>
      <select v-if="node.owner == personId && hasEditStatus"
              @change="setEditState"
              v-model="node.edit_state">
      <option v-for="state in editStateList"
              :key="state"
              :value="state">
          {{state}}
        </option>
      </select>
      <span v-else>{{ node.edit_state }}</span>
      <span v-if="node.owner == personId || node.properties.batch"
            style="color: gray"> | Bolk: </span>
      <input v-if="node.owner == personId && hasEditStatus"
             type="number"
             style="width: 4em"
             v-model.number="node.properties.batch"
             @input="setBatchNr" />
      <span v-else>{{node.properties.batch}}</span>
      <span v-if="!selectCat && (isEditor || node.owner == personId || node.properties.categories)"
            @click="selectCat=true"
            style="color:gray;cursor:pointer"> | Kategori: </span>
      <span v-if="!selectCat && isEditor && node.properties.categories && node.properties.categories.length"
            @click="selectCat=true"
            style="cursor:pointer">
        <span class="comma"
              v-for="(cat, index) in node.properties.categories"
              :key="index">{{cat}}</span>
        </span>
      <span v-if="isEditor && !selectCat && !(node.properties.categories && node.properties.categories.length)">-</span>
      <span v-if="selectCat">
        | Legg til/fjern:
        <select @change="toggleCategory" v-model="cat">
          <option value="-">-</option>
          <option v-for="cat in categoryList[top.dictionary]"
                  :key="cat"
                  :value="cat">
            {{cat}}
          </option>
        </select>
      </span>
    </span>
    <!--span>
      <span v-if="canDelete() && node.owner == personId && node.status.status==9"> |
        <input class="button" type="button"
               @click="askDelete=true" value="Slett" v-show="!busy"/>
      </span>
    </span>
    <span v-if="askDelete == true">
      <b-button variant="outline-primary ml-2"
                size="sm"
                @click.stop="askDelete = null">
        Angre
      </b-button>
      <b-button variant="outline-primary"
                size="sm"
                @click.stop="deleteEntry">
        Ja, slett artikkelen
      </b-button>
    </span-->
  </div>
  <div class="message" style="color: red" v-if="warning">{{warning}}</div>
  <div v-if="node.etype == 'entry' && !hide"
       class="head1">
    <span style="color: gray">Opprettet:</span> {{entry.createDate}}
    |
    <span style="color: gray">Autor:</span> {{UIDtoName(entry.author)}}
    |
    <b-button variant="outline-primary"
              size="sm"
              class="m-1"
              @click="showStatusHistory">
      {{statusHistory.length ? 'Skjul historie':'Historie'}}
    </b-button>
    <b-button variant="outline-primary"
              size="sm"
              class="m-1"
              @click="showComments">
      {{comments ? 'Skjul kommentarer':'Kommentarer'}}
      <b-badge v-if="node.properties.comments && node.properties.comments.length">
        {{node.properties.comments.length}}
      </b-badge>
    </b-button>
    <span v-if="node.etype == 'entry' && (!referencingArticlesCache || referencingArticlesCache.length)">
      <b-button variant="outline-primary"
                size="sm"
                class="m-1"
                @click="showReferencingArticles()">
        {{referencingArticles ? 'Skjul Ref':'Ref'}}
        <b-badge v-if="referencingArticlesCache">
          {{referencingArticlesCache.length}}
        </b-badge>
      </b-button>
    </span>
    <div v-if="statusHistory.length"
         class="comments-box"
         style="padding: 1em">
      <table>
        <tr><th>Versjon</th><th>Status</th><th>Autor</th><th>Redaktør</th><th>Dato</th></tr>
        <tr v-for="(node, index) in statusHistory"
            :key="index">
          <td class="nobr">{{node.version}}</td>
          <td class="nobr">{{node.status}}</td>
          <td class="nobr">
            <span v-if="userAlias(node.personId)">({{userAlias(node.personId)}})</span>
            <span v-else>{{node.personId}}</span>
          </td>
          <td class="nobr">{{node.user}}
            <span v-if="userAlias(node.user)">({{userAlias(node.user)}})</span>
          </td>
          <td class="nobr">{{node.date.substring(0,19)}}</td>
        </tr>
      </table>
    </div>
    <div v-if="comments"
         class="comments-box">
      <div style="border-bottom: 1px solid gray; padding: 0.5em"
           v-for="(comment, index) in comments"
           :key="index"
           :comment="comment">
        <div style="color: gray">{{index}}
          <span style="font-weight: bold">{{UIDtoName(comment.user)}}, </span>
          <span :title="comment.date" style="cursor: pointer">
            {{comment.date.substring(0,10)}}
          </span>
          <span class="float-right ml-2"
                v-if="canDeleteAllComments || comment.user == jwt.sub"
                @click="deleteComment(index)"
                title="slett kommentar">
            <span v-if="askDeleteComment == index">
              <b-button variant="outline-primary"
                        size="sm"
                        @click.stop="deleteComment(index)">
                Slett
              </b-button>
              <b-button variant="outline-primary ml-2"
                        size="sm"
                        @click.stop="askDeleteComment = null">
                Angre
              </b-button>
            </span>
            <b-icon-trash v-if="askDeleteComment == null && editComment == null"/>
          </span>
          <span class="float-right ml-2"
                v-if="comment.user == jwt.sub && !askDeleteComment"
                title="rediger kommentar"
                @click="editComment = index; showNewComment = false; newComment = comment.text">
            <b-icon-pencil v-if="askDeleteComment == null && editComment == null"/>
          </span>
        </div>
        <div v-if="editComment==index">
          <textarea v-model.trim="newComment"
                    rows="4"
                    cols="80"
                    autocomplete="off"
                    autocorrect="off"
                    spellcheck="false"
                    autocapitalize="off"/>
          <div>
          <b-button variant="outline-primary"
                    size="sm"
                    @click.stop="addComment">
            Lagre
          </b-button>
          <b-button variant="outline-primary ml-2"
                    size="sm"
                    @click.stop="editComment = null; newComment = null">
            Angre
          </b-button>
          </div>
        </div>
        <div v-else>{{comment.text}}</div>
      </div>
      <div v-if="editComment == null"
           style="padding: 0.5em">
        <span v-if="showNewComment">
          Ny kommentar
        </span>
        <span v-else>
        <input class="button"
               type="button"
               @click="showNewComment=true"
               value="Kommentér"/>
        </span>
      </div>
      <div v-show="showNewComment"
           style="padding: 0.5em">
        <textarea v-model.trim="newComment"
                  rows="4"
                  cols="80"
                  autocomplete="off"
                  autocorrect="off"
                  spellcheck="false"
                  autocapitalize="off"/>
        <input class="button"
               type="button"
               @click="addComment"
               value="Lagre"/>
      </div>
    </div>
  </div>
  <div v-if="referencingArticles && referencingArticles.length"
       class="comments-box">
    <div style="padding: .5em">
      <span class="head1">
        Artikler med referanser til denne artikkelen (i den nyeste eller den publiserte versjonen)
      </span>
    </div>
    <div v-if="!referencingArticles.length"
         class="referencing-list">
      Ingen funnet
    </div>
    <div v-if="referencingArticles.length"
         style="padding: .5em"
         class="referencing-list">
      <entry-link v-for="(e, index) in referencingArticles"
                  :node="e"
                  :compNr="1"
                  :key="index"
                  :showStatus="true"
                  :dictionary='top.dictionary'/>
    </div>
  </div>
  <span v-if="sub?.intro" @click.stop="setActive" v-show="!hide">
    <sub-intro :entry="node" :node="sub" :top="top"/>
  </span>
  <div v-if="stored && node.etype == 'entry'" class="message">
    <span style='color: green'>Artikkelen er lagret.</span>
  </div>
  <div v-if="unchanged && node.etype == 'entry'" class="message">
    <span style='color: red'>Artikkelen er ikke endret.</span>
  </div>
  <div v-if="changedInDatabase" class="message">
    <span style='color: red'>Artikkelen er endret i databasen.</span>
    <b-button variant="outline-primary"
              size="sm"
              class="m-1 py-0 px-1"
              @click="reloadEntry">
      Hent på ny
    </b-button>
  </div>
  <div v-if="message" class="message">
    <span style='color: green'>Artikkelen er konsistent.</span>
  </div>
  <div v-if="askPublish" class="message">
    <span style='color: red'>Vil du publisere denne artikkelen?</span>
    <span v-if="askPublish">
      <input class="button"
             type="button"
             @click="setStatus(true)"
             value="Publiser"/>
      <input class="button"
             type="button"
             @click="resetStatus()"
             value="Angre"/>
    </span>
  </div>
  <div v-if="askCheckRefs" class="message">
    <template v-if="!referencingArticlesCache">
      <span style='color: red'>
        Sjekk først om det finnes referanser til denne artikkelen.
      </span>
      <span v-if="askCheckRefs">
        <input class="button"
               type="button"
               @click="resetStatus()"
             value="OK"/>
      </span>
    </template>
    <template v-else>
      <template v-if="referencingArticlesCache.filter(a=>a.latest).length && !referencingArticlesCache.filter(a=>a.status!=9 && a.status!=11).length">
        <span style='color: green'>
          Artikkelen har bare utgåtte referanser.
        </span>
        <input class="button"
               type="button"
               @click="setStatus(true)"
               value="Sett til Utgått/Slettet"/>
      </template>
      <template v-else-if="referencingArticlesCache.filter(a=>a.latest).length">
        <span style='color: red'>
          Artikkelen har fortsatt referanser.
        </span>
        <input class="button"
               type="button"
               @click="resetStatus()"
               value="OK"/>
      </template>
      <template v-else>
        <span style='color: red' v-if="referencingArticlesCache.filter(a=>!a.latest).length">
          Artikkelen har referanser i publiserte artikler.
        </span>
        <span v-if="askCheckRefs">
          <input class="button"
                 type="button"
                 @click="resetStatus()"
                 value="OK"/>
          <input class="button"
                 type="button"
                 @click="setStatus(true)"
                 value="Sett til Utgått/Slettet"/>
        </span>
      </template>
    </template>
  </div>
  <div v-if="deleted" class="message">
    <span style='color: green'>Artikkelen er slettet.</span>
  </div>
  <div v-if="cantSave" class="message">
    <span style='color: red'>Du kan ikke lagre artikkelen.</span>
  </div>
  <div v-if="warnings && warnings.length"
       class="message">
    <div>Artikkelen er ikke konsistent:</div>
    <div v-for="(warning, index) in warnings"
         :key="index"
         class="node-list"
         style="color: red"
         @click="highlightWarningNode(warning)">
      <span>{{warning.type}}: </span>
      <span>{{warning.warning}}</span>
    </div>
  </div>
  <div v-if="sub">
    <b-button v-if="focus && !top.locked && node.owner != personId"
              variant="outline-primary"
              size="sm"
              class="m-1 py-0 px-1"
              @click="setOwner">
      Sett redaktør
    </b-button>
    <span v-if="referencingArticles || (focus && (!referencingArticlesCache || referencingArticlesCache.length))">
      <b-button variant="outline-primary"
                size="sm"
                class="m-1 py-0 px-1"
                @click="showReferencingArticles()">
        {{referencingArticles ? 'Skjul Ref':'Ref'}}
        <b-badge v-if="referencingArticlesCache">
          {{referencingArticlesCache.length}}
        </b-badge>
      </b-button>
    </span>    
  </div>
  <span @click.stop="setActive" v-show="!hide">
    <div class="node">
      <lemma-group :entry="node" :node="node.lemmas" :top="top"/>
    </div>
    <hakeparentes-group v-if="node.hp" :entry="node" :node="node.hp" :nodes="node" :top="top"/>
    <definition-list v-for="n in node.definitions"
                     :key="n.id"
                     :entry="node"
                     :parent="node"
                     :nodes="node.definitions"
                     :node="n" :top="top"/>
  </span>
  <div class="menu-line" v-if="!hide && focus && hasEditStatus && this.node.etype != 'entry'">
    <span class="flex-left"/>
    <span class="flex" v-if="focus" @click="addSibling">+</span>
  </div>
  </div>
</template>

<script>

import $ from 'jquery'

import Vue from 'vue'
// import { Drag, Drop } from 'vue-drag-drop'

import { BootstrapVue, BootstrapVueIcons } from 'bootstrap-vue'

Vue.use(BootstrapVue)
Vue.use(BootstrapVueIcons)

import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

// Vue.component('drag', Drag)
// Vue.component('drop', Drop)

import lemmaGroup from './lemmaGroup.vue'
import hakeparentesGroup from './hakeparentesGroup.vue'

import entryLink from './entryLink.vue'

import definitionList from './definitionList.vue'
import subIntro from './subIntro.vue'


import { app } from '@/main.js'

import { mapStores } from 'pinia'

import { lexCommon, loadJSON, callAPI, sessionId, defaultMessage, setPendingEditMode, toRoman, setActive,
         showErrorMessage, dismissErrorMessage, doSubEntries,
         hasEditStatus, isEditor, checkEntry, storeEntriesURL, setTemplateIds, newId, getNewId,
         unsetEditMode, entryComps, undoStackPush, // definisjonTabellId,
         canAcceptDrop, cloneDefinitionNode, hasWriteUnownedStatus,
         // getDefinitionIds,
         setPopupComp, isAdmin, sortStatus,
         center, personId, entryURL, dictId, xrefString, lexLispBase, // , checkTimer
         useMOStore, useKeyStore,
         editStateList, editStateListNO
       } from '@/components/mixins/ordbokUtils.js'

const categoryList = { bm: ['terminologi', 'ømtålig', 'foreldet/dialekt', 'grammatikk'],
                       nn: ['terminologi', 'ømtolig', 'forelda/dialekt', 'grammatikk'] }

var warningId = null

export default {
    name: 'dict-entry',
    props: ['node','entry','nodes','entryTemplates',
            'entryCompID',
            'intro','top','sub',
            // 'dictionary'
           ],
    mixins: [lexCommon],
    components: { lemmaGroup, hakeparentesGroup, definitionList, entryLink, subIntro },
    data: function () {
        return { edit: false,
                 focus: false,
                 hide: false,
                 over: false,
                 busy: false,
                 minimized: false,
                 app,
                 canGetFocus: true,
                 stored: false,
                 changed: (this.top.undoStack.length > 1), // could be a lower version
                 unchanged: false,
                 changedInDatabase: false,
                 warnings: null,
                 message: defaultMessage,
                 warning: null,
                 deleted: null,
                 askDelete: false,
                 askPublish: false,
                 askCheckRefs: false,
                 askFrontPage: false,
                 xcanUndo: (this.top.undoStack.length > 1), // @@@
                 cantSave: false,
                 referencingArticles: null,
                 referencingArticlesCache: null,
                 statusHistory: [],
                 historyBusy: false,
                 version: this.node.version,
                 comments: null,
                 templateName: null,
                 status: null,
                 changeToStatus: "-",
                 editStateList: this.top.dictionary == 'no' ? editStateListNO : editStateList,
                 categoryList,
                 selectCat: false,
                 cat: "-",
                 newComment: null,
                 showNewComment: false,
                 askDeleteComment: null,
                 editComment: null,
                 canDeleteAllComments: true,
                 timerId: null,
                 frontPageArticle: this.node.frontpage,
                 dict_names: { "bm": 'Bokmålsordboka',
                               "nn": 'Nynorskordboka',
                               "no": 'Norsk Ordbok' }
               }
    },
    created: function () {
        if (app && !app.activeComp) {
            if (!this.top.focusId) {
                // focus entry
                app.activeComp = this
                this.focus = true
            } else if (this.node.etype == 'sub-entry' &&
                       this.top.focusId == this.node.id)
            { // focus sub-entry
                for (let c = this; c; c = c.$parent) {
                    c.hide = false
                }
                app.activeComp = this
                this.focus = true
            }
        }
        /*if (checkTimer[this.entryCompID]) {
          clearInterval(checkTimer[this.entryCompID])
          }*/
        this.timerId = setInterval(this.checkChanged, 500000)
        this.changedInDatabase = false
        this.cantSave = false
    },
    updated: function () {
        // console.log('updated')
        setPendingEditMode(this) // ??
        if (this.node?.etype == 'entry') { // don’t do this for sub-entries!
            this.top.vue = this
        }
        // this.changedInDatabase = false
    },
    mounted: function () { // ??
        // console.log('mounted')
        setPendingEditMode(this)
        if (this.node?.etype == 'entry') { // don’t do this for sub-entries!
            this.top.vue = this
            // this.showReferencingArticles(true)
        }
    },
    destroyed: function () {
        // console.log('destroyed')
        if (this.timerId) { clearInterval(this.timerId) }
    },
    computed: {
        ...mapStores(useMOStore, useKeyStore),
        jwt: function () {
            return useStateStore().jwt
        },
        ycanUndo: function () {
            return (this.top.undoStack.length > 1)
        },
        isAdmin: function () {
            return isAdmin()
        },
        personId: function () {
            return personId()
        },
        entryStatus: function () { // fix for no!
            return this.keyStore.statusList[this.top.dictionary]
            ?.find(s => s.code == this.node.status.status)
            ?.name
        },
        shortContent: function () {
            if (this.node.lemmas?.length) {
                return this.node.lemmas[0].lemma + ' ' + toRoman(this.node.lemmas[0].hgno)
            } else {
                return ""
            }
        },
        statusIsLocked: function () {
            let statusCode = this.node.status.status
            let statusList = this.keyStore.statusList[this.top.dictionary]
            let status = statusList?.find(s=>s.code==statusCode)
            return status?.locked
        },
        cantSave1: function () {
            return !this.hasEditStatus || this.changedInDatabase
        },
        defaultMessage: function () {
            return defaultMessage
        },
        nextStatusList: function () { // fix for no!
            let from_status = this.node.status.status
            let roles = this.jwt?.roles['api.ordbok.uib.no']
            let statusList = this.keyStore.statusList[this.top.dictionary]
            let perm = null
            let dict = this.top.dictionary.toUpperCase()
            let normalize = function (r) {
                let index = r.indexOf('.')
                if (index > 0) {
                    let d = r.substring(1+index)
                    if (d == dict) {
                        return r.substring(0,index)
                    } else {
                        return null
                    }
                } else {
                    return r
                }
            }
            if (statusList && this.app.permissions[this.top.dictionary]) {
                // console.log(this.app.permissions[this.top.dictionary])
                perm = this.app.permissions[this.top.dictionary]
                    .filter(p => p.from_status == from_status
                            && p.to_status != from_status
                            && roles.filter(r => p.roles.includes(normalize(r))).length
                            // have to be owner or admin to be able to publish
                            && (p.to_status != 8 || this.node.owner == this.personId || isAdmin()))
                    .map(p => statusList.find(s => s.code == p.to_status) )
                    .sort((s1,s2) => sortStatus(this.top.dictionary, s1.code, s2.code)) // < s2.code ? -1 : 1)
            }
            if (!perm) { perm = [] } // no
            return perm
        },
        versions: function () { // versions in descending order
            return [...Array(this.node.version).keys()].map(i=>this.node.version-i)
        },
        ordbokLink: function () {
            return 'https://ordbokene.no/'+ dictId(this.top.dictionary)
                + '/' + this.node.id // + '?nocache=true'
        },
        hasEditStatus: function () {
            return hasEditStatus(this.top.dictionary,
                                 this.top.vue?.node.status.status) // was: this.node.status.status
        },
        hasWriteUnownedStatus: function () {
            return hasWriteUnownedStatus(this.top.dictionary)
        },
        isEditor: function () {
            return isEditor(this.top.dictionary)
        }
    },
    methods: {
        canUndo: function () {
            return (this.top.undoStack.length > 1)
        },
        checkChanged: function() {
            if (this.node.id > 1) {
                let url = '/dict/' + dictId(this.top.dictionary) +
                    '/article/' + this.node.id + '/changed'
                callAPI(url)
                    .then(r => {
                        let changeDate = this.node.changeDate
                        let lastChangeDate = r.changed
                        if (lastChangeDate > changeDate) {
                            this.top.vue.changedInDatabase = true
                            this.comments = null
                            // console.log('changed!')
                        } else {
                            // this.top.vue.changedInDatabase = false
                            this.cantSave = false
                        }
                    })
                    .catch (showErrorMessage)
                // console.log(this.timerId)
            }
        },
        undoStackPop: function() {
            dismissErrorMessage()
            if (this.top.undoStack.length > 1) {
                this.top.undoStack.pop()
                this.top.entry = JSON.parse(this.top.undoStack[this.top.undoStack.length-1])
                if (this.top.undoStack.length > 1) {
                    null // @@@@ this.top.vue.canUndo = true
                } else {
                    null
                    // this.top.vue.canUndo = false
                    this.changed = false
                    this.top.vue.changed = false
                }
                this.version = this.top.entry.version // why doesn’t this.node.version work?
                setActive(this.top.vue,true)
                this.checkEntry()
            }
        },
        checkEntry: function (createLemma) {
            // if createLemma == true no warning is generated for new subentries without Ordbank entry
            let warnings = checkEntry(this.top, createLemma)
            if (warnings?.length) {
                this.warnings = warnings
                this.message = defaultMessage
                // console.log(warnings)
            } else {
                this.warnings = []
                this.message = "Artikkelen er konsistent"
            }
            // return warnings
        },
        storeEntry: function (check) {
            dismissErrorMessage()
            // let warnings = null
            if (check) {
                checkEntry(this.top)
            }
            if (!this.hasEditStatus || this.changedInDatabase) {
                this.cantSave = true
            } else if (!this.warnings?.length) { // TODO: check for ownership / admin
                // let id = this.top.entry.id
                let entryString = JSON.stringify(this.top.entry)
                if (entryString !== this.top.JSONstring) {
                    let params = new URLSearchParams
                    params.set("entry", entryString)
                    params.set("session-id", sessionId())
                    params.set("dictionary", this.top.dictionary)
                    params.set("nr", this.top.nr)
                    loadJSON(storeEntriesURL,
                             { method: "POST",
                               headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                               body: params })
                        .then (response => {
                            if (response.success==true) {
                                this.showEntryJSON(response.article_id,null)
                                this.changed = false
                                this.top.vue.changed = false
                                this.stored = true
                                // console.log('changed:', this.changed, this.top?.vue?.changed,
                                //             'stored:', this.stored, this.top?.vue?.stored)
                                this.cantSave = false
                                this.warnings = null
                                this.message = defaultMessage
                                // this.top.vue.canUndo = false
                                entryComps[this.entryCompID].entryChanged = false
                                this.changedInDatabase = false
                                this.referencingArticlesCache = null
                                if (!entryComps) unsetEditMode() // disabled
                            } else {
                                showErrorMessage(response.error)
                            }})
                        .catch (showErrorMessage)
                } else {
                    this.unchanged = true
                }
            }
        },
        reloadEntry: function () {
            dismissErrorMessage()
            this.top.vue.showEntryJSON(this.top.entry.id, null)
            this.changed = false
            this.top.vue.changed = false
            this.stored = false
            this.cantSave = false
            this.warnings = null
            this.message = defaultMessage
            // @@@ this.top.vue.canUndo = false
            // entryComps[this.entryCompID].entryChanged = false
            this.changedInDatabase = false
        },
        showEntryJSON: function (id, version) {
            // this.top.vue.canUndo = true
            this.comments = null
            loadJSON(entryURL + '?session-id='
                     + sessionId()
                     + '&nr=' + this.top.nr
                     + '&mode=edit'
                     + '&id=' + id
                     + '&version=' + version
                     + '&dictionary=' + this.top.dictionary)
                .then (response => {
                    console.log(response)
                    if (version) {
                        this.top.entry = response.entries[0].entry
                        this.top.entry.changed = true
                        //this.version = this.top.entry.version
                        undoStackPush(this)
                        // console.log('canUndo: ' + this.top.vue.canUndo + ' ' + this.canUndo)
                    } else {
                        this.top.entry = response.entries[0].entry
                        this.version = this.top.entry.version
                        this.top.undoStack = [JSON.stringify(this.top.entry)]
                        this.top.JSONstring = JSON.stringify(this.top.entry)
                    }
                    this.unchanged = false
                })
                .catch (showErrorMessage)
        },
        getVersion: function () {
            this.showEntryJSON(this.node.id, this.version)
        },
        saveAsTemplate: function () {
            // console.log(this.templateName)
            // console.log(this.dictionary)
            if (this.templateName && this.templateName.trim() != "") {
                console.log(setTemplateIds(this.top.entry))
                let entryString = JSON.stringify(setTemplateIds(this.top.entry))
                this.$http.post(lexLispBase + '/js/store-template',
                                {"session-id": sessionId(),
                                 "name": this.templateName.trim(),
                                 "template": entryString,
                                 "dictionary": this.top.dictionary},
                                { "emulateJSON":true })
                    .then (() => {
                        this.getEntryTemplates(this.top.dictionary)
                    })
                    .catch (showErrorMessage)
            }
        },
        // update template list
        getEntryTemplates: function () {
            loadJSON(lexLispBase + '/js/templates-json'
                     + '?session-id=' + sessionId() 
                     + '&dictionary=' + this.top.dictionary)
                .then (response => { 
                    this.entryTemplates.templates = response.templates
                })
                .catch (showErrorMessage)
        },
        addLemmaTop: function () { // inserts an empty lemma at the top
            this.node.lemmas.splice(0,0,{"id":getNewId()})
            undoStackPush(this)
        },
        undoStackPushTop: function () {
            undoStackPush(this, true)
        },
        addNode: function (type) {
            let definition, hp
            switch (type) {
            case "definition":
                definition = { "id": getNewId(),
                               "type": "definition",
                               "defType": "nulltyding",
                               "meanings": [],
                               "examples": [],
                               "definitions":
                               [ { id: getNewId(),
                                   type: 'definition',
                                   defType: 'normaltyding',
                                   fullDefnr: null,
                                   meanings: [ { id: getNewId(),
                                                 type: 'meaning',
                                                 usage: [],
                                                 text: '',
                                                 xrefs: [],
                                                 place: [],
                                                 lit: [] } ],
                                   examples: [],
                                   definitions: [],
                                   subEntries: [],
                                   compounds: [] } ],
                               subEntries: [],
                               compounds: [] }
                app.editId = newId()
                this.node.definitions = [definition]
                app.addedComp = 'meaning-group'
                undoStackPush(this)
                break
            case "hp":
                hp = {"id":getNewId(),
                      "changed": {},
                      "pronunciation": null,
                      "dialect": null,
                      "written_form": null,
                      "older_source": null,
                      "etymology": null}
                this.node.hp = hp
                app.addedComp = 'hakeparentes-group'
                undoStackPush(this)
                break
            }
        },
        addSibling: function () {
            let subEntry =
                { id: newId(),
                  type: "sub-entry",
                  intro: null,
                  subEntry: { id: getNewId(),
                              type: "entry",
                              etype: "sub-entry",
                              entryType: "SUB_ARTICLE",
                              status: { status: 0 },
                              owner: this.jwt?.sub.toString(), 
                              lemmas: [{ id: getNewId(),
                                        type: "lemma",
                                        lemma: '',
                                        hgno: 0 }],
                              definitions: [] } }
            this.nodes.splice(this.nodes.indexOf(this.sub)+1,0,subEntry)
            this.undoStackPushTop()
            app.addedComp = 'lemma-group'
        },
        deleteNode: function() {
            // has to be worked on!?
            this.nodes.splice(this.nodes.indexOf(this.sub),1)
            this.sub.subEntry.deleted = true
            this.undoStackPushTop()
        },
        handleDragStart: function (data,event) {
            // console.log(this.node)
            event.dataTransfer.setData("text/plain"," [" + newId() + "/" + xrefString(this) + "] ")
            document.dragData = { // where is this used?
                dict: this.top.dictionary,
                id: getNewId(),
                article_id: this.node.id,
                type: 'entry',
                entry: this.entry,
                node: this.node
            }
        },
        handleDrop: function (data) {
            if (canAcceptDrop(this, data)) {
                this.over = false
                let dropIndex = this.nodes.indexOf(data.sub)
                if (data.top.entry != this.top.entry) {
                    // cannot copy: artikkel_id is primary key in underartikkel! (still valid?)
                } else if (dropIndex == -1 && data.type == 'meaning-list') {
                    if (!this.node.definitions.length) {
                        let meanings = cloneDefinitionNode(data.node)
                        this.node.definitions =
                            [{id: getNewId(),
                              type: "definition",
                              defType:"nulltyding",
                              meanings: [],
                              examples: [],
                              definitions:
                              [{id: getNewId(),
                                type: "definition",
                                defType: 'normaltyding',
                                fullDefnr:'x',
                                meanings: meanings,
                                examples: [],
                                definitions: [],
                                subEntries: [],
                                compounds: []}],
                              subEntries:[],
                              compounds:[]}]
                    }
                } else if (dropIndex == -1) {
                    data.nodes.splice(dropIndex,1) // remove dragged node
                    let index = this.nodes.indexOf(this.sub)
                    if (index==dropIndex-1) {
                        this.nodes.splice(index,0,data.sub) // insert dragged node before target
                    } else {
                        this.nodes.splice(index+1,0,data.sub) // insert dragged node past target
                    }
                } else {
                    this.nodes.splice(dropIndex,1) // remove dragged node
                    let index = this.nodes.indexOf(this.sub)
                    if (index==dropIndex-1) {
                        this.nodes.splice(index,0,data.sub) // insert dragged node before target
                    } else {
                        this.nodes.splice(index+1,0,data.sub) // insert dragged node past target
                    }
                }
                this.undoStackPushTop()
            }
        },
        acceptDrop: function (data) {
            if (canAcceptDrop(this, data)
                && (data.node.etype=='sub-entry'
                    || data.type=='meaning-list')) {
                this.over = true
            }
        },
        showReferencingArticles: function (dontShow) {
            if (this.referencingArticles) {
                this.referencingArticles = null
            } else if (!this.referencingArticlesCache) {
                callAPI('/dict/' + dictId(this.top.dictionary) + '/article',
                        "GET",
                        null,
                        null,
                        null,
                        { query: 'is active and references ' + this.node.id,
                          // query: 'is latest and references ' + this.node.id,
                          expand_lemmas: false,
                          version_filter: 'latest',
                          limit: 100,
                          basic: true
                        })
                    .then (r => { // check that this is the result of the most recent query
                        // remove self references
                        console.log(this.node.id, r.map(a=>a.article_id))
                        r = r.filter(a => a.article_id != this.node.id)
                        if (!dontShow) {
                            this.referencingArticles = r
                        }
                        this.referencingArticlesCache = r
                    })
                    .catch (showErrorMessage)
            } else if (!dontShow) {
                this.referencingArticles = this.referencingArticlesCache
            }
            if (!this.sub) { setPopupComp(this) }
        },
        setActive: function () {
            setActive(this)
        },
        userAlias: function (personId) { // oracle-id -> alias
            return this.keyStore.users.get(personId)
        },
        UIDtoName: function (userId, truncate) { // Ordbruker id -> name
            let userObj = this.keyStore.users.get(parseInt(userId))
            let user = userObj ? userObj.name : userId
            if (truncate && user.length > 22) {
                user = user.substring(0,18) + '…'
            }
            return user
        },
        setOwner: function () {
            let user = this.jwt?.sub
            // set owner for this entry and all sub-entries (!) (see put_owner_sub() in article.py)
            // should fail if (sub-)entry is owned by somebody else, and has status ‘Revidering’?
            callAPI('/dict/' + dictId(this.top.dictionary) + '/article/' + this.node.id + '/owner',
                    'PUT',
                    user.toString())
                .then (r => { this.node.changeDate = r.changed // need this b/o checkChanged()
                              this.node.owner = user.toString()
                              doSubEntries(this.node, e => {
                                  e.changeDate = r.changed
                                  e.owner = this.node.owner
                              })
                              this.patchStack()
                            })
                .catch (showErrorMessage)
        },
        // not used; we do not physically delete an entry, but set its status to 11 (slettet), which hides
        // it for the users and editors
        // so this is not used:
        deleteEntry: function () {
            callAPI('/dict/' + dictId(this.top.dictionary) + '/article/' + this.node.id,
                    'DELETE')
                .then (() => this.deleted = true)
                .catch (showErrorMessage)
        },
        setType: function () {    
            loadJSON(lexLispBase + '/js/set-type?session-id='
                     + sessionId()
                     + '&dictionary=' + this.top.dictionary
                     + '&artikkel-id=' + this.node.id
                     + '&type=' + this.node.entryType)
                .catch (showErrorMessage)
        },
        patchStack: function () { // more places where this should be used?
            let str = JSON.stringify(this.top.entry)
            // don’t push anew, but patch the stack top
            this.top.undoStack[this.top.undoStack.length-1] = str
        },
        setStatus: function (force) {
            if (this.node.status.status == 8 && !force && !isAdmin()) {
                this.askPublish = true
            } else if ((this.node.status.status == 9 || this.node.status.status == 11) && !force &&
                       (!this.referencingArticlesCache || this.referencingArticlesCache.length)) {
                this.askCheckRefs = true
            } else {
                this.askPublish = false
                this.askCheckRefs = false
                let url = '/dict/' + dictId(this.top.dictionary) + '/article/' + this.node.id + '/status'
                callAPI(url, 'PUT', this.node.status.status)
                    .then (r => { this.node.changeDate = r.changed
                                  // update subnodes to avoid outdated message
                                  doSubEntries(this.node, e => {
                                      e.changeDate = r.changed
                                      e.status.status = this.node.status.status
                                  })
                                  this.patchStack()
                                }
                          )
                    .catch (showErrorMessage)
            }
        },
        resetStatus: function () {
            this.askPublish = false
            this.askCheckRefs = false
            let url = '/dict/' + dictId(this.top.dictionary) + '/article/' + this.node.id + '/status'
            callAPI(url)
                .then(r => this.node.status.status = r)
                .catch (showErrorMessage)
        },
        showStatusHistory: function () {
            if (this.statusHistory.length) {
                this.statusHistory = []
            } else {
                this.historyBusy = true
                this.comments = null
                this.showNewComment = false
                callAPI('/dict/' + dictId(this.top.dictionary) + '/article/' + this.node.id
                        +'?version_filter=any&expand_refs=false&expand_lemmas=false')
                    .then (r => {
                        r[0]?.versions?.forEach(v => {
                            let seenDate = ''
                            v.status.forEach(s => {
                                // console.log(s)
                                if (seenDate != s.timestamp) {
                                    seenDate = s.timestamp
                                    this.statusHistory.push(
                                        { version: v.version,
                                          status: this.keyStore.statusList[this.top.dictionary]
                                          ?.find(st => st.code == s.status_code)
                                          ?.name,
                                          personId: this.UIDtoName(v.author),
                                          user: this.UIDtoName(s.user),
                                          date: s.timestamp?.substr(0,19)
                                        })
                                }
                            })
                        })
                        // console.log(this.statusHistory)
                    })
                    .then (() =>
                        callAPI('/dict/' + dictId(this.top.dictionary) +
                                '/article/' + this.node.id + '/legacy')
                            .then (r => {
                                // console.log(r)
                                r.forEach(row =>
                                    this.statusHistory.push({
                                        version: 0,
                                        status: this.keyStore.statusList[this.top.dictionary]
                                        ?.find(s => s.code == row.status)
                                        ?.name,
                                        personId: this.UIDtoName(row.author,true), // + ' ' + row.author,
                                        date: row.date.substr(0,19)
                                    }))
                                this.statusHistory = this.statusHistory.sort((h1, h2) => h1.date > h2.date ? -1 : 1)
                                this.historyBusy = false
                            })
                    )
                    .catch (showErrorMessage)
            }
        },
        setEditState: function () {
            //console.log('redstat: ' +  this.node.edit_state)
            if (this.node.properties) {
                this.node.properties.edit_state = this.node.edit_state
                callAPI('/dict/' + dictId(this.top.dictionary) + '/article/' + this.node.id + '/properties',
                        'PUT', JSON.stringify(this.node.properties))
                    .then (r => this.node.changeDate = r.changed)
                    .catch (showErrorMessage)
            }
        },
        setBatchNr: function () { // just send the properties…
            if (this.node.properties) {
                callAPI('/dict/' + dictId(this.top.dictionary) + '/article/' + this.node.id + '/properties',
                        'PUT', JSON.stringify(this.node.properties))
                    .then (r => this.node.changeDate = r.changed)
                    .catch (showErrorMessage)
            }
        },
        toggleCategory: function () {
            if (!this.node.properties.categories) {
                this.node.properties.categories = [this.cat]
            } else if (this.node.properties.categories.find(c => c == this.cat)) {
                this.node.properties.categories.splice(this.node.properties.categories.indexOf(this.cat),1)
            } else {
                this.node.properties.categories.push(this.cat)
            }
            callAPI('/dict/' + dictId(this.top.dictionary) + '/article/' + this.node.id + '/properties',
                    'PUT', JSON.stringify(this.node.properties))
                .then(r => {
                    this.node.changeDate = r.changed
                    this.cat = "-"
                    this.selectCat = false })
                .catch (showErrorMessage)
        },
        showComments: function () {
            if (!this.changedInDatabase) {
                if (this.comments) { // toggle
                    this.comments = null
                    this.showNewComment = false
                } else {
                    this.statusHistory = []
                    this.comments = this.node.properties.comments || []
                }
            }
        },
        addComment: function () {
            if (this.node.properties && this.newComment?.length) {
                if (!this.node.properties.comments) {
                    this.node.properties.comments = []
                }
                let now = new Date()
                if (this.editComment != null) {
                    this.node.properties.comments[this.editComment].text = this.newComment
                    this.editComment = null
                } else {
                    this.node.properties.comments.push({ user: this.jwt?.sub,
                                                         text: this.newComment,
                                                         date: now.toISOString() })
                }
                this.newComment = null
                this.showNewComment = false
                callAPI('/dict/' + dictId(this.top.dictionary) +
                        '/article/' + this.node.id + '/properties',
                        'PUT', JSON.stringify(this.node.properties))
                    .then (r => this.node.changeDate = r.changed)
                    .catch (showErrorMessage)
            }
        },
        deleteComment: function (index) {
            if (this.askDeleteComment == index) {
                this.askDeleteComment = null
                this.node.properties.comments.splice(index,1)
                this.comments = this.node.properties.comments || []
                callAPI('/dict/' + dictId(this.top.dictionary) +
                        '/article/' + this.node.id +
                        '/properties',
                        'PUT', JSON.stringify(this.node.properties))
                    .then (r => this.node.changeDate = r.changed)
                    .catch (showErrorMessage)            
            } else {
                this.askDeleteComment = index
            }
        },
        canDelete: function () { // cannot delete if there are references in other entries
            // FIXME: remove self references!
            // console.log(this.referencingArticlesCache)
            if ((this.referencingArticlesCache && this.referencingArticlesCache.length)
                || this.askDelete) {
                return false
            } else { // ‘Sletta’ is no more a next status 
                return true
            }
        },
        highlightWarningNode: function (warning) {
            if (warningId) {
                $("#" + warningId).removeClass('warning')
            }
            warningId = warning.type + warning.id 
            $("#" + warningId).addClass('warning')
            center($("#" + warningId)[0])
        },
        downloadPDF: function () {
            let url = lexLispBase + '/js/ordbok-entries-api.pdf'
                + '?dictionary=' + this.top.dictionary
                + '&ids=' + this.node.id
                + '&jwt=' +localStorage.jwt
            window.open(url,'pdf')
        },
        setFrontPageArticle: function () {
            if (!this.askFrontPage) {
                this.askFrontPage = true
            } else {
                this.askFrontPage = false
                callAPI('/dict/' + dictId(this.top.dictionary) +
                        '/article/' + this.node.id +
                        '/frontpage',
                        'PUT', true // this.frontPageArticle
                       )
                    .then(() => this.frontPageArticle = true)
                    .catch (showErrorMessage)
            }
        },
        showSorters: function () {
            callAPI('/dict/no/article/' + this.node.id + '/sorters')
                .then(r => {
                    // console.log(r)
                    this.moStore.sorter_art_id = this.node.id
                    this.moStore.sorter_list = r
                    this.moStore.sorter_id = r.length ? r[0].sorter_id : null
                    this.lexStore.settings.row6 = true
                })
                .catch (showErrorMessage)
        }
    }
}

</script>

<style>

div.comments-box {
    border: 1px solid black;
    background: #eee;
    margin: 1em
}

</style>
