<template>
<div class="scroll"
     style="height: calc(100vh - 10em); overflow-y: scroll; overflow-x: hidden; xborder: 1px solid green">
  <!--div class="entries" style="height: 64em; overflow-y: scroll; position: relative"-->
  <template v-if="!searchHidden">
    <div class="search">
      <b-form inline>
        <span>Ordbok: </span>
        <b-form-select size="sm"
                       class="mr-2"
                       v-model="dictionary"
                       :options="dictionaries"
                       xchange="searchEntries"
                       />
      </b-form>
    </div>
    <div class="search">
      <input type="checkbox" v-model="N" xchange="searchEntries"/>
      <span title="Normalartikkel"> N </span>
      <input type="checkbox" v-model="F" xchange="searchEntries"/>
      <span title="Forleddsartikkel"> F </span>
      <input type="checkbox" v-model="E" xchange="searchEntries"/>
      <span title="Etterleddsartikkel"> E </span>
      <input type="checkbox" v-model="U" xchange="searchEntries"/>
      <span title="Underartikkel"> U </span>
    </div>
    <table class="search">
      <tr>
        <td>
          Lemma:
        </td>
        <td>
          <input v-model="lemma"
                 xinput="searchEntries"
                 @keydown.enter="searchEntries"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"/>
        </td>
      </tr>
      <tr>
        <td>
          Førsteledd:
        </td>
        <td>
          <input v-model="head"
                 @keydown.enter="searchEntries"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"/>
        </td>
      </tr>
      <tr>
        <td>
          Sisteledd:
        </td>
        <td>
          <input v-model="tail"
                 @keydown.enter="searchEntries"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"/>
        </td>
      </tr>
      <tr v-if="dictionary=='no'">
        <td>
          Homograf:
        </td>
        <td>
          <input v-model="homo"
                 xinput="searchEntries"
                 @keydown.enter="searchEntries"
                 autocomplete="off"
                 style="width:4em"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"/>
        </td>
      </tr>
      <tr>
        <td>
          Ordklasse:
        </td>
        <td>
          <b-form-select size="sm"
                         class="mr-2"
                         v-model="pos"
                         :options="wordClassList[dictionary]"
                         xchange="searchEntries"/>
          
        </td>
      </tr>
      <tr>
        <td>
          Fra:
        </td>
        <td>
          <input v-model="from"
                 xinput="searchEntries"
                 @keydown.enter="searchEntries"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"/>
        </td>
      </tr>
      <tr>
        <td>
          Til:
        </td>
        <td>
          <input v-model="to"
                 xinput="searchEntries"
                 @keydown.enter="searchEntries"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"/>
        </td>
      </tr>
      <tr>
        <td>
          Strekk:
        </td>
        <td>
          <input v-model="range"
                 xinput="searchEntries"
                 @keydown.enter="searchEntries"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"/>
        </td>
      </tr>
      <tr>
        <td>
          Definisjon:
        </td>
        <td>
          <input v-model="definition"
                 xinput="searchEntries"
                 @keydown.enter="searchEntries"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"/>
        </td>
      </tr>
      <tr>
        <td>
          Eksempel:
        </td>
        <td>
          <input v-model="example"
                 xinput="searchEntries"
                 @keydown.enter="searchEntries"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"/>
        </td>
      </tr>
      <tr>
        <td>
          Forklaring:
        </td>
        <td>
          <input v-model="explanation"
                 xinput="searchEntries"
                 @keydown.enter="searchEntries"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"/>
        </td>
      </tr>
      <tr>
        <td>
          Innl. SMS:
        </td>
        <td>
          <input v-model="innSMS"
                 xinput="searchEntries"
                 @keydown.enter="searchEntries"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"/>
        </td>
      </tr>
      <tr>
        <td>
          Etymologi:
        </td>
        <td>
          <input v-model="etym"
                 xinput="searchEntries"
                 @keydown.enter="searchEntries"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"/>
        </td>
      </tr>
      <tr>
        <td>
          Uttale:
        </td>
        <td>
          <input v-model="pron"
                 xinput="searchEntries"
                 @keydown.enter="searchEntries"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"
                 autocapitalize="off"/>
        </td>
      </tr>
      <tr>
        <td>
          Status:
        </td>
        <td>
          <b-form-select size="sm"
                         class="mr-2"
                         v-model="entryStatus"
                         xxoptions="app.statusList[dictionary]"
                         :options="statusList()"
                         value-field="code"
                         text-field="name"
                         xchange="searchEntries">
            <template #first>
              <b-form-select-option value="">-</b-form-select-option>
            </template>
          </b-form-select>
        </td>
      </tr>
      <tr>
        <td>
          Utgangsp.:
        </td>
        <td>
          <b-form-select size="sm"
                         class="mr-2"
                         v-model="editState"
                         :options="editStateList"
                         xchange="searchEntries">
            <template #first>
              <b-form-select-option value="">-</b-form-select-option>
            </template>
          </b-form-select>
        </td>
      </tr>
      <tr>
        <td>
          Kategori:
        </td>
        <td>
          <b-form-select size="sm"
                         class="mr-2"
                         v-model="category"
                         :options="categoryList[dictionary]"
                         xchange="searchEntries">
            <template #first>
              <b-form-select-option value="">-</b-form-select-option>
            </template>
          </b-form-select>
        </td>
      </tr>
      <tr>
        <td>
          Substatus:
        </td>
        <td>
          <b-form-select size="sm"
                         class="mr-2"
                         v-model="subState"
                         :options="['SLETT?','UREV']"
                         xchange="searchEntries">
            <template #first>
              <b-form-select-option value="">-</b-form-select-option>
            </template>
          </b-form-select>
        </td>
      </tr>
      <tr>
        <td>
          Bolk-nr:
        </td>
        <td>
          <input v-model.trim.number="batchNr"
                 xinput="searchEntries"
                 @keydown.enter="searchEntries"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"/>
        </td>
      </tr>
      <tr>
        <td>
          Kommentar:
        </td>
        <td>
          <input v-model="comment"
                 xinput="searchEntries"
                 @keydown.enter="searchEntries"
                 autocomplete="off"
                 autocorrect="off"
                 spellcheck="false"/>
        </td>
      </tr>
      <tr>
        <td>
          Eier:
        </td>
        <td>
          <b-form-select size="sm"
                         class="mr-2"
                         v-model="entryOwner"
                         :options="keyStore.owners[dictionary]"
                         xchange="searchEntries">
            <template #first>
              <b-form-select-option value="">-</b-form-select-option>
            </template>
          </b-form-select>
        </td>
      </tr>
    </table>
    <div class="search nobr">
      <input type="checkbox" v-model="own" xchange="searchEntries"/>
      egne
      <input type="checkbox" v-model="others" xchange="searchEntries"/>
      fremmede
    </div>
    <div class="search nobr">
      <input type="checkbox" v-model="mainForm" xchange="searchEntries"/>
      bare hovedform
    </div>
    <div class="search nobr">
      <b-button size="sm"
                variant="outline-secondary"
                class="m-1 py-0 px-1 flex"
                @click="searchEntries">
        Søk
      </b-button>
      <b-button size="sm"
                variant="outline-secondary"
                class="m-1 py-0 px-1 flex"
                @click="reset()">
        Nullstill
      </b-button>
      <b-button size="sm"
                variant="outline-secondary"
                class="m-1 py-0 px-1 flex"
                @click="searchHidden=true">
        Skjul
      </b-button>
      
    </div>
  </template>
  <div class="search" v-if="searchHidden">
    <b-button size="sm"
              variant="outline-secondary"
              class="m-1 py-0 px-1 flex"
              @click="searchHidden=false">
      Vis søkeruter
    </b-button>
  </div>
  <hr/>
  <div v-if="busy">Vent…</div>
  <div class="search" v-else>
    {{entryList ? entryList.length : 0}} treff <span style="font-size: smaller; color: gray">(maks. 1000)</span>
  </div>
  <template v-if="hasEditStatus() && !sorter">
    <div>Vis:
      <input type="checkbox" v-model="lexStore.settings.showOwner"/> eier
      <input type="checkbox" v-model="lexStore.settings.showStatus"/> status
    </div>
    <div class="search">
      <b-button size="sm"
                variant="outline-secondary"
                class="m-1 py-0 px-1 flex"
                @click="setEditor()">
        Ta eierskap
      </b-button>
    </div>
    <div class="search">
      <b-form inline>
        <b-button size="sm"
                  variant="outline-secondary"
                  class="m-1 py-0 px-1 flex"
                  @click="setBatchNr()"
                  title="Skriv et bolk-nummer i feltet til høyre, så klikk for å sette dette bolk-nummeret på alle valgte artikler som ikke har et bolknummer fra før.">
          Sett bolk-nr:
        </b-button>
        <b-form-input v-model.number="newBatchNr"
                      size="sm"
                      autocomplete="off"
                      style="width: 3em"/>
      </b-form>
    </div>
    <div class="search" v-if="dictionary!='no'">
      <b-form inline>
        Sett status:
        <b-form-select size="sm"
                       class="mr-2"
                       v-model="changeToStatus"
                       :options="statusList()"
                       value-field="code"
                       text-field="name"
                       @change="setStatus(false)">
          <template #first>
            <b-form-select-option value="-">-</b-form-select-option>
          </template>
        </b-form-select>
      </b-form>
      <input v-if="dictionary=='no'" class="button" type="button"
             @click="changeToStatus='Rediger';setStatus(false)"
             value="Rediger"/>
    </div>
    <!--div class="search" v-if="dictionary!='no'">
        <b-form inline>
          Sett utgp.:
          <b-form-select size="sm"
                         class="mr-2"
                         v-model="newEditState"
                         :options="editStateList"
                         @change="setEditState(false)">
            <template #first>
              <b-form-select-option value="-">-</b-form-select-option>
            </template>
          </b-form-select>
        </b-form>
        </div-->
        <div class="search">
          <b-button v-if="!PDFuuid"
                    size="sm"
                    variant="outline-secondary"
                    class="m-1 py-0 px-1 flex"
                    @click="orderPDF()">
            Bestill PDF
          </b-button>
          <span v-if="PDFuuid && !PDFready">
            PDF genereres… ({{elapsed}} sec)
          </span>
          <b-button v-if="PDFready"
                    size="sm"
                    variant="primary"
                    class="m-1 py-0 px-1 flex"
                    @click="downloadPDFuuid()">
            Last ned PDF
          </b-button>
        </div>
        <div v-if="askPub" class="message">
          <span style='color: red'>Vil du publisere disse artiklene?</span>
          <span v-if="askPub">
            <br/>
            <input class="button" type="button"
                   @click="askPub=null;setStatus(true);changeToStatus='-'"
                   value="Publiser"/>
            <input class="button" type="button"
                   @click="askPub=null;changeToStatus='-'"
                   value="Angre"/>
          </span>
        </div>
        <div v-if="askDel" class="message">
          <span style='color: red'>Vil du sette disse artiklene på Utgått?</span>
          <span v-if="askDel">
            <br/>
            <input class="button" type="button"
                   @click="askDel=null;setStatus(true);changeToStatus='-'"
                   value="Utgått"/>
            <input class="button" type="button"
                   @click="askDel=null;changeToStatus='-'"
                   value="Angre"/>
          </span>
        </div>
        <div v-if="askRemove" class="message">
          <span style='color: red'>Vil du slette disse artiklene?</span>
          <span v-if="askRemove">
            <br/>
            <input class="button" type="button"
                   @click="askRemove=null;setStatus(true);changeToStatus='-'"
                   value="Slettet"/>
            <input class="button" type="button"
                   @click="askRemove=null;changeToStatus='-'"
                   value="Angre"/>
          </span>
        </div>
      </template>
      <hr/>
      <div class="search-results scroll" v-show="!busy">
        <!--div class="search-results-inner"-->
          <entry-link v-for="(e, index) in entryList"
                      :node="e"
                      :first="index==0"
                      :key="index"
                      :dictionary='dictionary'
                      :compNr="id-2"
                      :showStatus="lexStore.settings.showStatus"
                      :showOwner="lexStore.settings.showOwner"
                      :sorter="sorter"/>
        <!--/div-->
      </div>
  </div>
</template>

<script>

// import $ from 'jquery'

import { app } from '@/main.js'

import { mapStores } from 'pinia'

import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

import entryLink from './entryLink.vue'

import { norskOrdbok, showErrorMessage, dismissErrorMessage, useLexStore, useKeyStore,
         callAPI, dictId, personId, hasEditStatus, lexLispBase, collator, loadJSON, sortStatus,
         editStateList, editStateListNO
       } from '@/components/mixins/ordbokUtils.js'

const categoryList = { bm: ['terminologi', 'ømtålig', 'foreldet/dialekt', 'grammatikk'],
                       nn: ['terminologi', 'ømtolig', 'forelda/dialekt', 'grammatikk'] }

const wordClassList = { bm: [{value:"",text:"-"},
                             {value:"NOUN",text:"s."},
                             {value:"VERB",text:"v."},
                             {value:"ADJ",text:"adj."},
                             {value:"ADV",text:"adv."},
                             {value:"PRON",text:"pron"},
                             {value:"DET",text:"det"},
                             {value:"ADP",text:"prep."},
                             {value:"CCONJ",text:"konj."},
                             {value:"SCONJ",text:"sub."},
                             {value:"INTJ",text:"intj."},
                             {value:"ABBR",text:"fork."},
                             {value:"PFX",text:"prefiks" },
                             {value:"COMPPFX",text:"forledd"},
                             {value:"EXPR",text:"uttr."}
                            ],
                        nn: [{value:"",text:"-"},
                             {value:"NOUN",text:"s."},
                             {value:"VERB",text:"v."},
                             {value:"ADJ",text:"adj."},
                             {value:"ADV",text:"adv."},
                             {value:"PRON",text:"pron"},
                             {value:"DET",text:"det"},
                             {value:"ADP",text:"prep."},
                             {value:"CCONJ",text:"konj."},
                             {value:"SCONJ",text:"sub."},
                             {value:"INTJ",text:"intj."},
                             {value:"ABBR",text:"fork."},
                             {value:"PFX",text:"prefiks"},
                             {value:"COMPPFX",text:"føreledd"},
                             {value:"EXPR",text:"uttr." }
                            ],
                        no: [{value:"",text:"-"},
                             {value:"NOUN",text:"s."},
                             {value:"VERB",text:"v."},
                             {value:"ADJ",text:"adj."},
                             {value:"ADV",text:"adv."},
                             {value:"PRON",text:"pron"},
                             {value:"DET",text:"det"},
                             {value:"ADP",text:"prep."},
                             {value:"CCONJ",text:"konj."},
                             {value:"SCONJ",text:"sub."},
                             {value:"INTJ",text:"intj."},
                             {value:"ABBR",text:"fork."},
                             {value:"PFX",text:"prefiks"},
                             {value:"COMPPFX",text:"føreledd"},
                             {value:"EXPR",text:"uttr." }
                            ] }

export default {
    name: 'entry-search',
    props: ['id','dict','sorter'],
    components: { entryLink },
    data: function () {
        return {
            app,
            lemma: "",
            prevLemma: "",
            head: "",
            prevHead: "",
            tail: "",
            prevTail: "",
            from: "",
            prevFrom: "",
            to: "",
            prevTo: "",
            range: "",
            prevRange: "",
            definition: "",
            subdefinition: "",
            example: "",
            explanation: "",
            innSMS: "",
            pos: "",
            homo: "",
            etym: "",
            pron: "",
            entryStatus: "",
            entryOwner: "",
            editState: "",
            subState: "",
            category: "",
            batchNr: "",
            comment: "",
            prevDefinition: "",
            prevSubdefinition: "",
            prevExample: "",
            prevExplanation: "",
            prevInnSMS: "",
            prevHomo: "",
            prevEtym: "",
            prevPron: "",
            prevPos: "",
            prevEntryStatus: "",
            prevEntryOwner: "",
            prevEditState: "",
            prevSubState: "",
            prevCategory: "",
            prevBatchNr: "",
            prevComment: "",
            dictionary: "bm", // this.dict,
            norskOrdbok,
            dictionaries: norskOrdbok ?
                [ { value: "bm", text: 'Bokmålsordboka' },
                  { value: "nn", text: 'Nynorskordboka' },
                  { value: "no", text: 'Norsk Ordbok' }
                ] :
            [ { value: "bm", text: 'Bokmålsordboka' },
              { value: "nn", text: 'Nynorskordboka' }
            ],
            normalOnly: true,
            N: true,
            F: true,
            E: true,
            U: false,
            own: true,
            others: true,
            mainForm: true,
            // showStatus: true,
            // showOwner: true,
            entryList: [],
            entryIds: [],
            hidden: false, // was: true
            searchHidden: false,
            categoryList,
            personIds: [],
            // personIdsOptions: [],
            changeToStatus: "-",
            newEditState: "-",
            newSubState: '-',
            askPub: null,
            askDel: null,
            askRemove: null,
            newBatchNr: null,
            query: null,
            queryId: 0,
            busy: false,
            wordClassList,
            PDFuuid: null,
            PDFready: false,
            elapsed: 0
        }
    },
    computed: {
        ...mapStores(useStateStore, useLexStore, useKeyStore),
        editStateList: function () {
            return this.dictionary == 'no' ? editStateListNO : editStateList
        }
    },
    methods: {
        hideEntrySearchRow: function () {
            let key = "row" + this.id
            this.lexStore.settings[key] = false
        },
        setEditor: function () {
            let user = this.stateStore.jwt?.sub
            callAPI('/dict/' + dictId(this.dictionary) + '/article/owner',
                    'PUT',
                    JSON.stringify({ owner: user,
                                     art_ids: this.entryList.map(node => node.article_id),
                                     include_sub_arts: true
                                   }))
                .then (() => this.entryList.forEach(node => node.owner = user.toString()))
                .catch (showErrorMessage)
        },
        ownerList: function () {
        },
        searchEntries: function (force,status,setBatchNr,type) {
            if (!setBatchNr) { this.newBatchNr = null }
            if (!status) { status = '' }
            if (!type) { type = '' }
            if (force
                || this.lemma !== this.prevLemma
                || this.tail !== this.prevTail
                || this.head !== this.prevHead
                || this.definition !== this.prevDefinition
                || this.subdefinition !== this.prevSubdefinition
                || this.example !== this.prevExample
                || this.explanation !== this.prevExplanation
                || this.innSMS !== this.prevInnSMS
                || this.homo !== this.prevHomo
                || this.etym !== this.prevEtym
                || this.pron !== this.prevPron
                || this.pos !== this.prevPos
                || this.entryStatus !== this.prevEntryStatus
                || this.entryOwner !== this.prevEntryOwner
                || this.editState !== this.prevEditState
                || this.subState !== this.prevSubState
                || this.category !== this.prevCategory
                || this.batchNr !== this.prevBatchNr
                || this.comment !== this.comment
                || this.from !== this.prevFrom
                || this.to !== this.prevTo
                || this.range !== this.prevRange) {
                this.prevLemma = this.lemma
                this.prevHead = this.head
                this.prevTail = this.tail
                this.prevDefinition = this.definition
                this.prevExample = this.example
                this.prevExplanation = this.explanation
                this.prevInnSMS = this.innSMS
                this.prevHomo = this.homo
                this.prevEtym = this.etym
                this.prevPron = this.pron
                this.prevPos = this.pos
                this.prevEntryStatus = this.entryStatus
                this.prevEntryOwner = this.entryOwner 
                this.prevEditState = this.editState
                this.prevSubState = this.subState
                this.prevCategory = this.category
                this.prevBatchNr = this.batchNr
                this.prevComment = this.comment
                this.prevFrom = this.from
                this.prevTo = this.to
                this.prevRange = this.range
                this.query = this.buildQuery()
                this.runQuery()
            }
        },
        runQuery: function () {
            dismissErrorMessage()
            if (this.query) {
                let queryId = ++this.queryId
                this.busy = true
                // console.log(this.query)
                callAPI('/dict/' + dictId(this.dictionary) + '/article',
                        "GET",
                        null,
                        null,
                        null,
                        { query: this.query,
                          version_filter: 'latest',
                          basic: true,
                          limit: 10000
                        })
                    .then (r => { // check that this is the result of the most recent query
                        if (queryId == this.queryId) {
                            this.entryList = r.sort((a,b) => collator.compare(a.lemma, b.lemma))
                            // console.log(r)
                            this.busy = false
                        }
                    })
                    .catch (showErrorMessage)
            }
        },
        parseRange: function () {
            let exp = null
            let lemmaAtt = this.mainForm ? 'main_lemma' : 'lemma'
            let ranges = this.range.match(/[^+]+/g) // split at ‘+’
            ranges.map(r => {
                if (exp) { exp += ' or ' } else { exp = '' }
                r = r.trim()
                let match = r.match(/(.+) - (.+)/)
                if (match) {
                    let from = match[1].trim()
                    let to = match[2].trim()
                    exp += lemmaAtt + ' between "' + from + '" and "' + to + '"'
                } else
                    exp += lemmaAtt + ' = "' + r + '"' 
            })
            return "(" + exp + ")"
        },
        buildQuery: function () {
            let query = 'is latest'
            let lemmaAtt = this.mainForm ? 'main_lemma' : 'lemma'
            let buildRegex = function (str) { // TODO: handle escaped %
                if (str.indexOf('%') >= 0) {
                    if (str.indexOf('%') === 0) {
                        str = str.substring(1)
                    } else {
                        str = '^' + str
                    }
                    if (str.lastIndexOf('%') == str.length-1) {
                        str = str.substring(0,str.length-1)
                    } else {
                        str = str + '$'
                    }
                    return ' like "' + str.replace(/%/g, '.*') + '"'
                } else {
                    return ' = "' + str + '"'
                }
            }
            if (this.lemma.length) {
                query += ' and ' + lemmaAtt + buildRegex(this.lemma)
            }
            if (this.head.length) {
                query += ' and ' + 'head' + buildRegex(this.head)
            }
            if (this.tail.length) {
                query += ' and ' + 'tail' + buildRegex(this.tail)
            }
            if (this.from.length && this.to.length) {
                query += ' and ' + lemmaAtt + ' between "' + this.from + '" and "' + this.to + '"'
            }
            if (this.range.length) {
                query += ' and ' + this.parseRange()
            }
            if (this.definition.length) {
                query += ' and ' + 'definition.explanation' + buildRegex(this.definition)
            }
            if (this.example.length) {
                query += ' and ' + 'definition.example.quote' + buildRegex(this.example)
            }
            if (this.explanation.length) {
                query += ' and ' + 'definition.example.explanation' + buildRegex(this.explanation)
            }
            if (this.innSMS.length) { // doesnt work yet
                query += ' and ' + 'definition.compound_list' + buildRegex(this.innSMS)
            }
            // pronunciation missing
            if (this.pron) {
                query += ' and pronunciation' + buildRegex(this.pron)
            }
            // subdefinition missing
            if (this.etym) {
                let regexp = buildRegex(this.etym)
                query += ' and ' +
                    '(etymology_reference' + regexp + ' or ' +
                    'etymology_lit' + regexp + ' or ' +
                    'etymology_language' + regexp + ')'
            }
            if (this.pos) {
                query += ' and ' + 'word_class = "' + this.pos + '"'
            }
            if (this.batchNr) {
                query += ' and ' + 'properties.batch = ' + this.batchNr
            }
            if (this.comment) {
                query += ' and ' + 'comment ' + buildRegex(this.comment)
            }
            if (this.editState) {
                query += ' and ' + 'properties.edit_state = "' + this.editState + '"'
            }
            if (this.subState) {
                query += ' and ' + 'sub_state = "' + this.subState + '"'
            }
            if (this.entryStatus || this.entryStatus === 0) {
                query += ' and ' + 'status = ' + this.entryStatus
            }
            if (this.category) {
                query += ' and ' + 'properties.categories like "' + this.category + '"'
            }
            if (this.entryOwner) {
                query += ' and ' + 'owner = "' + this.entryOwner + '"'
            }
            if (this.others && !this.own) {
                query += ' and ' + 'owner != "' + personId() + '"'
            }
            if (!this.others && this.own) {
                query += ' and ' + 'owner = "' + personId() + '"'
            }
            if (!(this.N && this.F && this.E && this.U)) {
                query += ' and type in ('
                if (this.N) {
                    query += '"NORMAL"'
                }
                if (this.F) {
                    if (this.N) { query += ', '}
                    query += '"PREFIX"'
                }
                if (this.E) {
                    if (this.N || this.F) { query += ', '}
                    query += '"SUFFIX"'
                }
                if (this.U) {
                    if (this.N || this.F || this.E) { query += ', '}
                    query += '"SUB_ARTICLE"'
                }
                query += ')'
            }
            if (query.length == 9) { // no conditions?
                query = null
            }
            // console.log(query)
            return query
        },
        pollPDF: function () {
            loadJSON(lexLispBase + '/js/pdf-state' 
                     + '?uuid=' + this.PDFuuid)
                .then (r => {
                    if (r.state == 'done') {
                        this.PDFready = true
                    } else if (r.state == 'not-found') {
                        this.PDFready = false
                        this.PDFuuid = null
                    } else {
                        this.PDFready = false
                        this.elapsed = r.elapsed
                        setTimeout(this.pollPDF, 1000)
                    }
                })
        },
        orderPDF: function () {
            let params = new URLSearchParams
            let idList = []
            for (let i = 0; i < this.entryList.length; i++) {
                idList.push(this.entryList[i].article_id)
            }
            params.set("id-list", idList)
            params.set("dictionary", this.dictionary)
            loadJSON(lexLispBase + '/js/order-ordbok-entries-pdf', 
                     { method: "POST",
                       headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                       body: params }
                    )
                .then (r => {
                    this.PDFuuid = r.uuid
                    this.pollPDF()
                })
                .catch (showErrorMessage)
        },
        downloadPDFuuid: function () {
            let url = lexLispBase + '/js/ordbok-entries-uuid.pdf'
                + '?uuid=' + this.PDFuuid
            this.PDFuuid = null
            // console.log(url)
            this.PDFready = false
            window.open(url,'pdf')
        },
        downloadPDF: function () {
            let idList = ''
            for (let i = 0; i < this.entryList.length; i++) {
                idList += '&ids=' + this.entryList[i].article_id
            }
            let url = lexLispBase + '/js/ordbok-entries-api.pdf'
                + '?dictionary=' + this.dictionary
                + idList
                + '&jwt=' +localStorage.jwt
            window.open(url,'pdf')
        },
        setBatchNr: function () {
            if ((this.newBatchNr || this.newBatchNr === 0) && this.newBatchNr >= 0) {
                callAPI('/dict/' + dictId(this.dictionary) + '/article/batch',
                        'PUT',
                        JSON.stringify({ batch: this.newBatchNr,
                                         art_ids: this.entryList.map(node => node.article_id)
                                       }))
                    .then (() => this.entryList.forEach(node => node.properties.batch = this.newBatchNr))
                    .catch (showErrorMessage)
            }
        },
        setEditState: function () {
            if (this.newEditState != "-") {
                callAPI('/dict/' + dictId(this.dictionary) + '/article/edit_state',
                        'PUT',
                        JSON.stringify({ edit_state: this.newEditState,
                                         art_ids: this.entryList.map(node => node.article_id)
                                       }))
                    .then (() => this.entryList.forEach(node => node.properties.batch = this.newEditState))
                    .catch (showErrorMessage)
            }
        },
        setStatus: function (force) {
            // console.log(this.changeToStatus)
            if (this.changeToStatus == 8 && !force) {
                this.askPub = true
            } else if (this.changeToStatus == 9 && !force) {
                this.askDel = true
            } else if (this.changeToStatus == 11 && !force) {
                this.askRemove = true
            } else if (this.changeToStatus == '-') {
                // don’t change
            } else { // obs: this may time out (without adverse effects), and we get 502
                callAPI('/dict/' + dictId(this.dictionary) + '/article/status',
                        'PUT',
                        JSON.stringify({ status: this.changeToStatus,
                                         art_ids: this.entryList.map(node => node.article_id),
                                         include_sub_arts: true
                                       }))
                    .then (() => {
                        // have to reload
                        this.runQuery()
                        this.changeToStatus = '-'
                    })
                    .catch (showErrorMessage)
                
                
                // this.searchEntries(true,this.changeToStatus)
            }
        },
        hasEditStatus: function () {
            return hasEditStatus(this.dictionary)
        },
        reset: function () {
            this.lemma = ""
            this.from = ""
            this.to = ""
            this.range = ""
            this.definition = ""
            this.subdefinition = ""
            this.example = ""
            this.explanation = ""
            this.innSMS = ""
            this.pos = ""
            this.homo = ""
            this.etym = ""
            this.entryStatus = ""
            this.entryOwner = ""
            this.editState = ""
            this.subState = ""
            this.category = ""
            this.batchNr = ""
            this.normalOnly = true
            this.N = true
            this.F = true
            this.E = true
            this.U = false
            this.own = true
            this.others = true
            this.mainForm = true
            this.entryList = []
            this.entryIds = []
            this.queryId = 0
            this.busy = false
        },
        getPersonIds: function () {
            if (this.keyStore.users) {
                this.personIdsOptions = Array.from(this.keyStore.users,u=>u[1])
                    .sort((a,b)=>a.name<b.name?-1:1)
                    .map(u => { return { value: u.id, text: this.trunk16(u.name) } })
            }
        },
        statusList: function () {
            return this.keyStore.statusList[this.dictionary]?.filter(s => [0,// 1, 7,
                                                                           10].indexOf(s.code) == -1
                                                                    )
                .sort((s1,s2) => sortStatus(this.dictionary, s1.code, s2.code))
        },
        userAlias: function (personId) {
            return this.keyStore.userNames.get(personId)
        }
    }
}
</script>
