<template>
  <div>
    <dict-entry-display v-if="displayMode"
                        :key="'display'+e.id"
                        ref="entry"
                        :node="e.entry"
                        :entry="e.entry"
                        :nodes="nodes"
                        :top="e"
                        :entryCompID="entryCompID"
                        :dictionary="dictionary"/>
    <dict-entry v-else
                :key="'edit'+e.id"
                :node="e.entry"
                :entry="e.entry"
                :nodes="nodes"
                :top="e"
                :entryCompID="entryCompID"
                :entryTemplates="entryTemplates"
                :dictionary="dictionary"/>
  </div>
</template>

<script>

import { displayMode
       } from '@/components/mixins/ordbokUtils.js'

import dictEntry from './dictEntry.vue'
import dictEntryDisplay from './dictEntryDisplay.vue'

export default {
    name: 'entry-wrapper',
    props: ['node','nodes','entryTemplates','entryCompID',
            'e','dictionary','display'],
    components: { dictEntry, dictEntryDisplay },
    data: function () {
        return { displayMode: this.display || displayMode }
    }
}

</script>
