<template>
<li style="text-indent: 0em; list-style: none"
    :class="[focus ? 'focus' : 'inactive']">
  <span class="link" @click.stop="focusShowEntry">
    <span style="color: gray" :title="node.article_type">{{node.article_Type}} </span>
    <span class="entry-link" :title='node.article_id' v-html="lemmaHTML"/>
    <span style="color: gray"> {{hgno}} </span>
    <span style="color: gray; font-style: italic">{{posToWordclass(node.word_class)}} </span>
    <span style="color: gray; font-size: smaller">[{{node.article_id}}]</span>
    <span v-if="showOwner" style="color: gray; font-size: smaller">
      {{ownerName}}
      <span v-if="showStatus">
        /
      </span>
    </span>
    <span v-if="showStatus" style="color: gray; font-size: smaller">
      {{statusCodeToName(node.status)}}
    </span>
    <span v-if="!node.latest"> (pub.)</span>
  </span>
</li>
</template>

<script>

import { mapStores } from 'pinia'

import { lexCommon, entryComps, toRoman, setActiveLemmaRow, posToWordclass, markdownToHTML, useKeyStore
       } from '@/components/mixins/ordbokUtils.js'



export default {
    name: 'entry-link',
    props: ['node','dictionary','compNr','showStatus','showOwner','sorter'],
    mixins: [lexCommon],
    data: function () {
        return {
            focus: null
        }
    },
    computed: {
        ...mapStores(useKeyStore),
        hgno: function () {
            return toRoman(this.node.hgno)
        },
        ownerName: function () {
            let userObj = this.keyStore.users.get(parseInt(this.node.owner))
            return userObj ? userObj.name : this.node.owner
        },
        lemmaHTML: function () {
            return markdownToHTML(this.node.markdown_lemma || this.node.lemma)
        }
    },
    methods: {
        statusCodeToName: function (code) {
            let statusList = this.keyStore.statusList[this.dictionary]
            return statusList.find(s => s.code == code)?.name
        },
        focusShowEntry: function () {
            setActiveLemmaRow(this) // calls showEntry()
            // event.cancelBubble = true
        },
        showEntry: function () {
            let row1 = this.lexStore.settings.row1
            // let row1 = this.$store.state.lex.UISettings.row1
            let comp = row1 ? entryComps[this.compNr] : entryComps[0]
            // comp.word = this.node.id
            if (comp) {
                comp.dictionary = this.dictionary
                // focus only if displayed in first column,
                // show containing entry for subentries
                if (this.sorter) {
                    comp.showSorterJSON(null,
                                        this.node.id)
                } else {
                    comp.showEntriesJSON(this.compNr == 0,
                                         true,
                                         null,
                                         this.node.article_id,
                                         true)
            }
            }
            // event.cancelBubble = true
        },
        posToWordclass
    }
}
</script>
