<template>
<span class="comma">
  <span class="place" v-if="litSource" @click.stop="litSource=null" v-html="litSource"/>
  <span class='xref small' @click.stop="showLitSource">{{node.code}}</span>
  <span class='hgno' v-if="node.spec" v-html="specResolved"/>
</span>
</template>


<script>

import { resolveText, showLitSource
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'etymology-source-list',
    props: ['node','top','id'],
    data: function () { return { litSource: null } },
    computed: {
        specResolved: function () {
            return ' ' + resolveText(this.top.dictionary,this.node.spec,[])
        }
    },
    methods: {
        showLitSource: function () {
            showLitSource(this)
        }
    }
}

</script>
