<template>
<div :class="'node-list ' + [focus ? 'focus' : 'inactive']">
  <div class="menu-line">
    <span class="tri" @click.stop="toggleHide" v-if="hide">&#x25B6;</span>
    <span class="tri" @click.stop="toggleHide" v-else>&#x25BC;</span>
    <span class="id"  @click.stop="setActive">etymologi</span>
    <template v-if="!hide && focus && hasEditStatus()">
      <span class="flex-left"/>
      <span class="flex" v-if="top.dictionary=='no' && !node.hpEtymologyLang"
            @click.stop="addNode('etymology_lang')">+&nbsp;Et(y)m språk</span>
      <span class="flex" v-if="top.dictionary=='no' && !node.hpEtymologyLit"
            @click.stop="addNode('etymology_lit')">+&nbsp;Etym l(i)tt.</span>
      <span class="flex" v-if="!node.hpEtymologyRef"
            @click.stop="addNode('etymology_ref')">+&nbsp;Etym til(v).</span>
      <span class="flex" @click="deleteNode()">slett</span>
    </template>
  </div>
  <div class="node" v-if="!hide">
    <bracket-group v-if="top.dictionary=='no' && node.hpEtymologyLang"
                   key="etymology_lang"
                   :hp="nodes"
                   :entry="entry"
                   :top="top"
                   :node="node.hpEtymologyLang"
                   type="etymology_lang"/>
    <bracket-group v-if="top.dictionary=='no' && node.hpEtymologyLit"
                   key="etymology_lit"
                   :hp="nodes"
                   :entry="entry"
                   :top="top"
                   :node="node.hpEtymologyLit"
                   type="etymology_lit"/>
    <bracket-group v-if="node.hpEtymologyRef"
                   key="etymology_ref"
                   :hp="nodes"
                   :entry="entry"
                   :top="top"
                   :node="node.hpEtymologyRef"
                   type="etymology_ref"/>
  </div>
</div>
</template>

<script>

import bracketGroup from './bracketGroup.vue'

import { app } from '@/main.js'

import { getNewId, newId, undoStackPush, setActive, setPrevActive, hasEditStatus, unsetEditMode
       } from '@/components/mixins/ordbokUtils.js'


export default {
    name: 'etymology-group',
    props: ['entry','top','node','nodes'],
    components: { bracketGroup },
    data: function () { return { focus: false,
                                 hide: false,
                                 canEdit: false,
                                 canGetFocus: true } },
    methods: {
        setActive: function () {
            setActive(this)
        },
        addNode: function (type) {
            switch (type) {
            case "etymology_lit":
                app.editId = newId()
                this.node.hpEtymologyLit = [{id: getNewId(),
                                             type_: type,
                                             srcHide: false,
                                             sources: []}]
                app.addedComp = 'bracket-group'
                this.nodes.changed['etymology_lit'] = true
                break
            case "etymology_lang":
                app.editId = newId()
                this.node.hpEtymologyLang = [{id: getNewId(),
                                              type_: type,
                                              srcHide: false,
                                              sources: []}]
                app.addedComp = 'bracket-group'
                this.nodes.changed['etymology_lang'] = true
                break
            case "etymology_ref":
                app.editId = newId()
                this.node.hpEtymologyRef = [{id: getNewId(),
                                             type_: type,
                                             srcHide: false,
                                             sources:[]}]
                app.addedComp = 'bracket-group'
                this.nodes.changed['etymology_ref'] = true
                break
            }
        },
        deleteNode: function () {
            setPrevActive()
            this.nodes.etymology= null
            this.nodes.changed['etymology'] = true
            undoStackPush(this)
        },
        hasEditStatus: function () {
            return hasEditStatus(this.top.dictionary)
        },
        toggleHide: function () {
            this.hide=!this.hide
            if (this.hide) {
                unsetEditMode()
            }
        }
    }
}

</script>
