<template>
<span class="node">
  <bracket-group-display v-if="node.hpEtymologyLang"
                         key="etymology_lang"
                         :entry="entry"
                         :top="top"
                         :node="node.hpEtymologyLang"
                         type="etymology_lang"/>
  <span v-if="node.hpEtymologyLang && (node.hpEtymologyLit || node.hpEtymologyRef)">; </span>
  <bracket-group-display v-if="node.hpEtymologyLit"
                         key="etymology_lit"
                         :entry="entry"
                         :top="top"
                         :node="node.hpEtymologyLit"
                         type="etymology_lit"/>
  <span v-if="node.hpEtymologyLit && node.hpEtymologyRef">; </span>
  <bracket-group-display v-if="node.hpEtymologyRef"
                         key="etymology_ref"
                         :entry="entry"
                         :top="top"
                         :node="node.hpEtymologyRef"
                         type="etymology_ref"/>
</span>
</template>

<script>

import bracketGroupDisplay from './bracketGroupDisplay'

export default {
    name: 'etymology-group-display',
    props: ['entry','top','node','type'],
    components: { bracketGroupDisplay }
}

</script>
