<template>
<span class="example dot"
      :id="'example' + node.id">
  <span class="example-usage comma" v-for="u in node.usage" :key="u.usage">
    {{u.usage}}
    <!--span v-if="key!==node.usage.length-1">, </span-->
  </span>
  <span v-html="citationResolved"/>
  <span class="explanation" v-html="explanationResolved"/>
  <span v-if="nonInlineRefs.length && citationResolved">, </span>
  <meaning-xref-list v-for="(xref, index) in nonInlineRefs.filter(xref => xref.inline==0)"
                     :key="xref.id"
                     :node="xref"
                     :top="top"
                     :last="index==nonInlineRefs.length-1"
                     :last2="index==nonInlineRefs.length-2"
                     :xlast="index==node.xrefs.length-1"
                     :xlast2="index==node.xrefs.length-2"/>
  <meaning-source-list-display
    v-if="(node.lit && node.lit.length) || (node.place && node.place.length)"
    :node="node"
    :top="top"/>
  <span v-if="node.tydingstekst" v-html="meaningResolved"/>
</span>
</template>

<script>

import meaningXrefList from './meaningXrefList.vue'
import meaningSourceListDisplay from './meaningSourceListDisplay.vue'

import { resolveText } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'example-list-display',
    props: ['node','top'],
    components: { meaningXrefList, meaningSourceListDisplay },
    computed: {
        explanationResolved: function () {
            let text = resolveText(this.top.dictionary,this.node.explanation, this.node.xrefs)
            return text ? ' ' + text : ' '
        },
        citationResolved: function () {
            return resolveText(this.top.dictionary,this.node.citation, this.node.xrefs)
        },
        meaningResolved: function () {
            return resolveText(this.top.dictionary,this.node.tydingstekst, this.node.xrefs)
        },
        nonInlineRefs: function () {
            // console.log(this.node.xrefs.filter(x => x.inline == 0))
            return this.node.xrefs?.filter(x => x.inline == 0) || []
        }
    }
}

</script>
