<template>
<span class="example dot"
      :id="'example' + node.id">
  <span class="example-usage comma"
        v-for="(u,i) in node.usage"
        :key="i">
    {{u.value}}
  </span>
  <span v-html="citationResolved"/>
  <span class="explanation" v-html="explanationResolved"/>
  <span class="explanation" v-if="node.source">
    (??Litterær kjelde: {{node.source}})
  </span>
  <span v-if="nonInlineRefs.length && citationResolved">, </span>
  <meaning-xref-list v-for="(xref, index) in nonInlineRefs"
                     :key="xref.id"
                     :node="xref"
                     :top="top"
                     :last="index==nonInlineRefs.length-1"
                     :last2="index==nonInlineRefs.length-2"
                     :xlast="index==node.xrefs.length-1"
                     :xlast2="index==node.xrefs.length-2"/>
  <meaning-source-list
    v-if="node.lit?.length || node.place?.length || node.alt_place"
    :node="node"
    :top="top"/>
  <span v-if="node.tydingstekst" style="font-style: normal">
    <span v-html="meaningResolved"/>
  </span>
</span>
</template>

<script>

import meaningXrefList from './meaningXrefList.vue'
import meaningSourceList from './meaningSourceList.vue'

import { resolveText } from '@/components/mixins/ordbokUtils.js'

// edit: see meaningListEdit.vue

export default {
    name: 'example-list',
    props: ['node','top'],
    components: { meaningXrefList, meaningSourceList },
    data: function () { return { focus: false, hide: false } },
    computed: {
        explanationResolved: function () {
            let text = resolveText(this.top.dictionary,this.node.explanation, this.node.xrefs)
            return text ? ' ' + text : ' '
        },
        citationResolved: function () {
            return resolveText(this.top.dictionary,this.node.citation, this.node.xrefs)
        },
        meaningResolved: function () {
            return resolveText(this.top.dictionary,this.node.tydingstekst, this.node.xrefs)
        },
        nonInlineRefs: function () {
            return this.node.xrefs?.filter(x => x.inline == 0) || []
    }
  }
}

</script>
