<template>
<span class="display space">
  <example-list-display v-for="(ex, index) in node"
                        :key="index"
                        :node="ex"
                        :top="top"/>
</span>
</template>

<script>

import exampleListDisplay from './exampleListDisplay.vue'

export default {
    name: 'example-group-display',
    props: ['node','nodes','entry','top'],
    components: { exampleListDisplay }
}

</script>
