<template>
<div :class="'node-list ' + [focus ? 'focus' : 'inactive']">
  <span class="example-list"
        @click.stop="toggleEditMode">
    <div class="menu-line">
      <drag class="drag"
            :transfer-data="{type: 'example-list', entry, node, nodes, dictionary: top.dictionary, top}">
        <drop class="drop" :class="{ over }"
              @dragover="over = true"
              @dragleave="over = false"
              @drop="handleDrop">
          <span class="tri" @click.stop="toggleHide" v-if="hide">&#x25B6;</span>
          <span class="tri" @click.stop="toggleHide" v-else>&#x25BC;</span>
          <span class="id" @click.stop="setActive">eksempler</span>
        </drop>
      </drag>
      <span class="flex-left"/>
      <span class="flex"
            v-if="!hide && focus && hasEditStatus()"
            @click="addNode">+&nbsp;(e)ksempel</span>
      <span v-if="!hide && focus && hasEditStatus()"
            class="flex" @click="deleteNode()">slett</span>
    </div>
    <div class="node" v-if="!hide && !edit">
      <example-list v-for="(ex, index) in node"
                    :key="index"
                    :node="ex"
                    :top="top"/>
    </div>
    <div v-show="!hide && edit">
      <table v-if="edit" class="edit" :key="keyStore.key">
        <meaning-list-edit v-for="ex in node"
                           :key="ex.id"
                           type="example"
                           :node="ex"
                           :top="top"
                           :entry="entry"
                           :nodes="node"/>
      </table>
    </div>
  </span>
</div>
</template>

<script>

import { app } from '@/main.js'

import { lexCommon, newId, getNewId, setPendingEditMode, setActive, setPrevActive,
         hasEditStatus, focusEditNode,
         undoStackPush, canAcceptDrop, setEditMode, unsetEditMode
       } from '@/components/mixins/ordbokUtils.js'

import exampleList from './exampleList.vue'
import meaningListEdit from './meaningListEdit.vue'

export default {
    name: 'example-group',
    props: ['node','nodes','entry','top'],
    mixins: [lexCommon],
    components: { exampleList, meaningListEdit },
    data: function () { return { edit: false, focus: false,
                                 hide: false, over: false,
                                 canGetFocus: true,
                                 canEdit: true } },
    mounted: function () {
        setPendingEditMode(this)
    },
    updated: function () {
        focusEditNode(this)
    },
    methods: {
        setActive: function () {
            setActive(this)
        },
        toggleEditMode: function () {
            setEditMode(this)
        },
        addExampleTop: function () { // inserts an empty example at the top
            this.node.splice(0,0,{id: getNewId()})
            undoStackPush(this)
        },
        editModeOff: function () {
            app.activeComp == null
            this.edit = !this.edit
            undoStackPush(this)
        },
        addNode: function () {
            let example = { id: getNewId(),
                            type: "example",
                            citation: "",
                            explanation: null,
                            source: null,
                            xrefs: [],
                            usage: [],
                            lit: [],
                            place: [],
                            attest: [],
                            srcHide: true,
                            placeHide: true,
                            attHide: true }
            this.node.splice(0,0,example)
            app.editId = newId()+1
            app.addedComp = 'example'
            this.edit = true
            // undoStackPush(this)
        },
        deleteNode: function () {
            setPrevActive()
            this.nodes.examples = []
            event.cancelBubble = true
            undoStackPush(this)
        },
        hasEditStatus: function () {
            return hasEditStatus(this.top.dictionary)
        },
        handleDrop: function (data) {
            if (canAcceptDrop(this, data)) {
                this.over = false
                if (data.entry == this.top.entry) {
                    if (data.node.type == 'example') {
                        let dragIndex = data.nodes.indexOf(data.node)
                        this.nodes.examples.splice(0,0,data.node)
                        data.nodes.splice(dragIndex,1)
                        undoStackPush(this)
                        // setEditMode(this)
                    } else if (data.type == 'example-list') {
                        // merge examples
                        this.nodes.examples = this.nodes.examples.concat(data.node)
                        data.nodes.examples = []
                        undoStackPush(this)
                    }
                } else { // copy
                }
            }
        },
        acceptDrop: function (data) {
            console.log('data')
            console.log(data.node)
            if (canAcceptDrop(this, data) && data.node.etype=='sub-entry') {
                this.over = true
            }
        },
        toggleHide: function () {
            this.hide=!this.hide
            if (this.hide) {
                unsetEditMode()
            }
        }
    }
}
</script>
