<template>
<span class="node">
  (<pronunciation-group-display v-if="node.pronunciation"
                         :entry="entry" :node="node.pronunciation" :top="top"/>
  <span v-if="node.pronunciation && node.older_source">; </span>
  <span v-if="node.older_source">Eldre kjelder: </span>
  <older-source-group-display v-if="node.older_source"
                              :entry="entry" :node="node.older_source" :nodes="node" :top="top"/>
  <span v-if="(node.pronunciation || node.older_source) && node.dialect">; </span>
  <span v-if="node.dialect">Målføre: </span>
  <dialect-group-display v-if="node.dialect"
                         :entry="entry" :node="node.dialect" :nodes="node" :top="top"/>
  <span v-if="(node.pronunciation || node.older_source || node.dialect) && node.written_form">; </span>
  <span v-if="node.written_form">Alternative skriftformer: </span>
  <written-form-group-display v-if="node.written_form"
                            :entry="entry" :node="node.written_form" :nodes="node" :top="top"/>
  <span v-if="(node.pronunciation || node.older_source || node.dialect || node.written_form) && node.etymology">; </span>
  <span v-if="node.etymology">Etymologi: </span>
  <etymology-group-display v-if="node.etymology"
                           :entry="entry"
                           :node="node.etymology"
                           :nodes="node"
                           :top="top"/>)
</span>
</template>

<script>

import pronunciationGroupDisplay from './pronunciationGroupDisplay'
import olderSourceGroupDisplay from './olderSourceGroupDisplay'
import dialectGroupDisplay from './dialectGroupDisplay'
import writtenFormGroupDisplay from './writtenFormGroupDisplay'
import etymologyGroupDisplay from './etymologyGroupDisplay'

export default {
    name: 'hakeparentes-group-display',
    props: ['entry','node','nodes','last','top'],
    components: { pronunciationGroupDisplay,
                  olderSourceGroupDisplay,
                  dialectGroupDisplay,
                  writtenFormGroupDisplay,
                  etymologyGroupDisplay }
}

</script>
