<template>
<div :class="'node-list ' + [focus ? 'focus' : 'inactive']">
  <div class="menu-line">
    <span class="tri" @click="hide=!hide" v-if="hide">&#x25B6;</span>
    <span class="tri" @click="hide=!hide" v-else>&#x25BC;</span>
    <span class="id"  @click.stop="setActive">hakeparentes</span>
    <template v-if="!hide && focus && hasEditStatus()">
      <span class="flex-left"/>
      <span class="flex" v-if="top.dictionary=='no' && !node.etymology"
            @click.stop="addNode('etymology_lang')">+&nbsp;Et(y)m språk</span>
      <span class="flex" v-if="top.dictionary=='no' && !node.etymology"
            @click.stop="addNode('etymology_lit')">+&nbsp;Etym l(i)tt.</span>
      <span class="flex" v-if="top.dictionary=='no' && !node.etymology"
            @click.stop="addNode('etymology_ref')">+&nbsp;E(t)ym tilv.</span>
      <span class="flex" v-if="top.dictionary!='no' && !node.etymology"
            @click.stop="addNode('etymology_ref')">+&nbsp;E(t)ym</span>
      <span class="flex" v-if="!node.pronunciation"
            @click.stop="addNode('pronunciation')">+&nbsp;(U)ttale</span>
      <span class="flex" v-if="top.dictionary=='no' && !node.older_source"
            @click.stop="addNode('older_source')">+&nbsp;(E)ldre kj.</span>
      <span class="flex" v-if="top.dictionary=='no' && !node.dialect"
            @click.stop="addNode('dialect')">+&nbsp;(M)ålf.</span>
      <span class="flex" v-if="top.dictionary=='no' && !node.written_form"
            @click.stop="addNode('written_form')">+&nbsp;Skri(f)tf.</span>
      <span class="flex" @click="deleteNode()">slett</span>
    </template>
  </div>
  <div class="node" v-show="!hide">
    <pronunciation-group v-if="node.pronunciation"
                         :entry="entry" :node="node.pronunciation" :nodes="node" :top="top"/>
    <older-source-group v-if="node.older_source"
                        :entry="entry" :node="node.older_source" :nodes="node" :top="top"/>
    <written-form-group v-if="node.written_form"
                        :entry="entry"
                        :node="node.written_form"
                        :nodes="node"
                        :top="top"/>
    <dialect-group v-if="node.dialect"
                   :entry="entry" :node="node.dialect" :nodes="node" :top="top"/>
    <etymology-group v-if="node.etymology"
                     :entry="entry" :node="node.etymology" :nodes="node" :top="top"/>
  </div>
  </div>
</template>

<script>

import pronunciationGroup from './pronunciationGroup.vue'
import olderSourceGroup from './olderSourceGroup.vue'
import writtenFormGroup from './writtenFormGroup.vue'
import dialectGroup from './dialectGroup.vue'
import etymologyGroup from './etymologyGroup.vue'

import { app } from '@/main.js'
import { lexCommon, setPendingEditMode, setActive, setPrevActive, hasEditStatus, newId, getNewId,
         undoStackPush, norskOrdbok
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'hakeparentes-group',
    props: ['entry','node','nodes','last','top'],
    mixins: [lexCommon],
    components: { pronunciationGroup, olderSourceGroup, writtenFormGroup,
                  dialectGroup, etymologyGroup },
    data: function () {
        return {
            focus: false,
            hide: false,
            canGetFocus: true,
            norskOrdbok
        }
    },
    mounted: function () {
        setPendingEditMode(this)
    },
    methods: {
        setActive: function () {
            setActive(this)
        },
        addNode: function (type) {
            let form = null
            switch (type) {
            case "pronunciation":
                app.editId = newId()
                this.node.pronunciation =
                    { id: "pronunciation"+this.entry.id,
                      hpPronunciation: [ { type_: type,
                                           id: getNewId(),
                                           pronunciation: "" } ]
                    }
                break
            case "written_form":
                app.editId = newId()
                form = { type_: "written_form_form",
                         id: getNewId(),
                         form: null,
                         sources: [{ id: getNewId(),
                                     type_: "written_form_source",
                                     attest: [] }],
                         attest: [] }
                this.node.written_form =
                    { id: "written_form"+this.entry.id,
                      hpWrittenForm: [ { id: getNewId(),
                                         type_: type,
                                         forms: [ form ] } ] }
                break
            case "dialect":
                app.editId = newId()
                this.node.dialect =
                    { id: "dialect"+this.entry.id,
                      hpDialect: [ { id: getNewId(),
                                     type_: type,
                                     subcats: [ { id: getNewId(),
                                                  type_: "dialect_subcat",
                                                  forms: [ { id: getNewId(),
                                                             type_: "dialect_form",
                                                             sources: [ { id: getNewId(),
                                                                          type_: "dialect_source",
                                                                          show: 1,
                                                                          auto: 0
                                                                        } ],
                                                             attest: [] }]
                                                } ]
                                   } ]
                    }
                break
            case "older_source":
                app.editId = newId()
                this.node.older_source =
                    { id: "older_source"+this.entry.id,
                      hpOlderSource: [{ id: getNewId(),
                                        type_: type,
                                        attest: [],
                                        sources: [] }] }
                break
            case "etymology_lang":
                app.editId = newId()
                this.node.etymology =
                    { id: "etymology"+this.entry.id,
                      hpEtymologyLit: null,
                      hpEtymologyLang: [{id: getNewId(),
                                         type_: type,
                                         sources: [],
                                         srcHide: false }],
                      hpEtymologyRef: null }
                break
            case "etymology_lit":
                app.editId = newId()
                this.node.etymology =
                    { id: "etymology"+this.entry.id,
                      hpEtymologyLit: [ { id: getNewId(),
                                          type_: type,
                                          sources:[],
                                          srcHide: false
                                        }],
                      hpEtymologyLang:null,
                      hpEtymologyRef:null }
                break;
            case "etymology_ref":
                app.editId = newId()
                this.node.etymology =
                    { id: "etymology"+this.entry.id,
                      hpEtymologyLit: null,
                      hpEtymologyLang: null,
                      hpEtymologyRef: [{ id: getNewId(),
                                         type_: type,
                                         sources: [],
                                         srcHide: false }] }
                break
            default:
                return null
            }
            app.addedComp = 'bracket-group'
            this.keyStore.key++
            this.node.changed[type] = true
            return true
        },
        deleteNode: function() {
            setPrevActive()
            this.nodes.hp = null
            undoStackPush(this)
        },
        hasEditStatus: function () {
            return hasEditStatus(this.top.dictionary)
        }
    }
}
</script>
