<template>
<div :class="[focus ? 'focus' : 'inactive']" style="padding: 0" :id="'lemma' + this.id">
  <template v-if="node.lemma">
    <span v-if="node.added_norm" style="font-size: 14pt">[</span>
    <router-link :to="lexBase+'/ordbank/lemma/'+id">
      <span v-if="node.lemma" class='lemma' v-html="lemmaHTML"/>
    </router-link>
    <span class='hgno' v-if="node.hgno"> {{hgno}}</span>
    <span v-if="node.ordklasse && node.ordklasse.length"
          class="ordklasse"
          @click.stop="++tableKey; showInflection()"
          > {{node.ordklasse}} <span v-if="node.subclass">{{node.subclass}}</span>
    </span>
    <span v-if="node.inflection_class">
      ({{node.inflection_class}})
    </span>
    <span v-if="node.inflection?.length">
      [<span style="font-weight: bold">{{node.inflection[0][0]}} </span>
      <span>
        <span v-for="(morph_list,i) in node.inflection.filter(m => m && m.length && node.inflection.indexOf(m))"
              :key="i" class="comma">
          <span v-for="(morph,j) in morph_list.filter((m,idx) => morph_list.indexOf(m) === idx)"
                :key="j">
            <span v-if="j" style="font-style: italic">
              eller
            </span>{{morph}}</span>
        </span>
      </span>]
    </span>
    <span v-if="node.added_norm" style="font-size: 14pt">]</span>
    <span v-if="node.mo_article_id">· MO:
      <span @click.stop="showMOArticle" class="link">
        {{node.mo_article_id}}
      </span>
    </span>
    <inflection-table-wrapper :lemmaList="lemmaList"
                              :showTable="showTable"
                              :inline="true"
                              :key="tableKey"/>
  </template>
  <template v-else>
    <span>–</span>
  </template>
  
  <!--div class="paradigme" v-if="paradigmer" @click.stop="paradigmer=null">
      <paradigm-list v-for="p in paradigmer"
                     :paradigme="p"
                     :key="p.key"/>
   </div-->
     <lemma-list-mo v-for="(mo) in node.lemmaMO"
                    :key="mo.id" :nodes="node" :node="mo"
                    :top="top" :id="mo.id"/>
</div>
</template>

<script>

// TODO: route only on shift-click
// see https://stackoverflow.com/questions/44815465/how-to-stop-router-link-from-sending-the-user-to-another-page

import { mapStores } from 'pinia'
import lemmaListMo from './lemmaListMo.vue'

import inflectionTableWrapper from '@/components/ordbank/inflectionTableWrapper.vue'

import { lexBase, lexCommon, toRoman, showErrorMessage, callAPI, markdownToHTML, useOrdbankStore
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'lemma-list',
    props: ['node','top','id'],
    components: { lemmaListMo, // paradigmList,
                  inflectionTableWrapper },
    mixins: [lexCommon],
    data: function () {
        return { lexBase,
                 focus: false,
                 hide: false,
                 paradigmer: null,
                 showTable: false,
                 tableKey: 0,
                 lemmaList: []
               }
    },
    computed: {
        ...mapStores(useOrdbankStore),
        hgno: function () {
            return toRoman(this.node.hgno)
        },
        lemmaHTML: function () {
            if (this.node.initial_lexeme?.length) { // && !this.node.neg_junction) {
                return markdownToHTML(this.node.initial_lexeme +
                                      (this.node.junction || '') +
                                      (this.node.junction == '-' ? '' : '·') +
                                      this.node.final_lexeme)
            } else {
                return markdownToHTML(this.node.lemma)
            }
        }
    },
    methods: {
        showInflection: function () {
            if (this.showTable) {
                this.showTable = false
            } else {
                callAPI("/lemmas/" + this.node.id + "?inflect=true",
                        null, null, 'ordbank')
                    .then(r=> { this.lemmaList = [r]
                                // console.log(this.lemmaList)
                                this.showTable = !this.showTable
                          })
                .catch(showErrorMessage)
            }
        },
        showMOArticle: function () {
            this.ordbankStore.MOArticleId['no'] = this.node.mo_article_id
            if (this.ordbankStore.getMOArticle) {
                this.ordbankStore.getMOArticle['no']()
            }
        }
    }
}
</script>
