<template>
<tr class="lemma-edit" :class="[focus ? 'focus' : 'inactive']" :id="'lemma' + this.id">
  <td v-if="!isSub" class="drag">
    <drag class="drag"
          :transfer-data="{node, nodes, entry: top.entry, dictionary: top.dictionary}">
      <drop class="drop" :class="{ over }"
            @dragover="acceptReorderDrop"
            @dragleave="over = false"
            @drop="handleReorderDrop">
        <span class="id reorder">&#xe165;</span>
      </drop>
    </drag>
  </td>
  <td class="rightalign">
    {{node.id}}</td>
  <td>
    <input v-if="isSub || !node.id || node.id < 0"
           class="lemma-edit first"
           type="text"
           v-model="node.lemma"
           :id="node.id"
           autocomplete="off"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           @input="checkLemma"
           @click.stop/>
    <span v-if="!isSub && node.id > 0" style="font-weight: bold" v-html="node.lemma"/>
    <b-button v-if="(!node.id || node.id < 0 || lemmaChanged) && node.lemma.indexOf(' ') >= 0 && !lemmaOrdbankList.length && !createLemmaBusy"
              variant="outline-primary"
              size="sm"
              class="ml-2"
              @click="createOrdbankLemma">
      lag oppslaget i Ordbanken
    </b-button>
    <b-alert :show="createLemmaBusy">vent…</b-alert>
    <div v-if="showLemmaList && (lemmaArticleList.length || lemmaOrdbankList.length)"
         class="check-lemma">
      <ul class="check-lemma-list">
        <li v-if="lemmaOrdbankList.length"
            class="head1">
          Ordbank:
          <ul class="check-lemma-list">
            <li style="text-indent: 0"
                v-for="(e, index) in lemmaOrdbankList"
                :key="index">
              <span class="link black"
                    style="color: black"
                    @click.stop="setLemma(e)">
                <span :title='e.id'>
                  {{ e.lemma }}
                </span>
                <span style="color: gray" v-if="e.word_class"> {{e.word_class}}</span>
                <span style="color: gray"> {{e.id}}</span>
              </span>
            </li>
          </ul>
        </li>
        <li v-if="lemmaArticleList.length"
            class="head1">
          Ordbok:
          <ul class="check-lemma-list">
            <li style="text-indent: 0"
                v-for="(e, index) in lemmaArticleList"
                @click.stop
                :key="index">
              <span style="color: gray"
                    :title='e.id'>
                {{ e.lemma }}
                <span style="color: gray" v-if="e.hgno">{{toRoman(e.hgno)}} </span>
                <span style="color: gray"> {{e.id}}</span>
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </td>
  <td v-if="entry.etype=='entry'">
    <input class="lemma-edit"
           type="number"
           style="width: 4em"
           v-model.number="node.hgno"
           @input="markChanged"
           @click.stop number/>
  </td>
  <td v-else>
    {{node.ordklasse}}
  </td>
  <td v-if="top.dictionary=='no'">
    {{node.mo_article_id}}
  </td>
  <td v-if="!isSub" class="button">
    <input class="button" type="button" @click.stop="deleteLemma" value="-"/>
  </td>
  <td v-if="!isSub && top.dictionary!='no'" class="button">
    <input class="button plus" type="button" @click.stop="addLemma" value="+"/>
  </td>
</tr>
</template>

<script>

import { app } from '@/main.js'

// import { debounce } from "debounce"

import {
    dictId, dictLanguage, callAPI, lexCommon, newId, getNewId, markChanged, toRoman,
    showErrorMessage, undoStackPush, reorderDrop, setPopupComp
} from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'lemma-list-edit',
    props: ['nodes','node','entry','top','id'],
    mixins: [lexCommon],
    components: { // entryLink
    },
    data: function () {
        return { 
            focus: false,
            hide: false,
            over: false,
            showLemmaList: false,
            lemma: null,
            lemmaArticleList: [],
            lemmaOrdbankList: [],
            isSub: this.entry.etype=='sub-entry',
            queryId: 0,
            // ordbankLemmaCreated: false,
            createLemmaBusy: false,
            lemmaChanged: false
        }
    },
    created: function () {
        console.log('created')
    },
    methods: { 
        addLemma: function () { // inserts an empty lemma after this.lemma
            app.editId = newId()
            this.nodes.splice(this.nodes.indexOf(this.node)+1,
                              0,
                              {"id": getNewId(),
                               "type": "lemma",
                               "lemma": "",
                               "hgno": 0,
                               "ordklasse": null})
            undoStackPush(this)
        },
        deleteLemma: function () { // deletes this.lemma
            this.nodes.splice(this.nodes.indexOf(this.node),1)
            undoStackPush(this)
        },
        createOrdbankLemma: function () {
            this.createLemmaBusy = true
            let queryId = ++this.queryId
            let url = this.top.dictionary == 'bm' ?
                "/paradigms/nob/EXPR_BM_ORDBOK" :
                "/paradigms/nno/EXPR_NN_ORDBOK"
            let paradigm_id
            let from = new Date().toISOString().substring(0,10)
            callAPI(url,null,null,'ordbank')
                .then ( r => { r = r[0]
                               paradigm_id = r.id
                               let lemma = { type: 1,
                                             lemma: this.node.lemma.trim(),
                                             extended_vocab: true,
                                             // final_lexeme: this.node.lemma,
                                             language: dictLanguage(this.top.dictionary),
                                             id: -1,
                                             paradigm_info: [ { paradigm_id,
                                                                from, 
                                                                standardisation: "REGISTERED"
                                                              } ],
                                             word_class: "EXPR",
                                             type_designation: "expr" }
                               callAPI("/lemmas",
                                       "POST",
                                       JSON.stringify(lemma),
                                       'ordbank',true)
                               .then (r => {
                                   if (queryId == this.queryId) {
                                       if (r.location) {
                                           let new_id = r.location.substring(1+ r.location.lastIndexOf('/')) 
                                           callAPI("/lemmas/" + new_id, null, null, 'ordbank')
                                               .then (r => {
                                                   // this.ordbankLemmaCreated = true
                                                   this.createLemmaBusy = false
                                                   this.node.id = r.id })
                                       }
                                   }
                               })
                             })
                .catch (showErrorMessage)
        },
        markChanged: function () {
            markChanged(this)
        },
        checkLemma: function () {
            setPopupComp(this)
            this.lemmaChanged=true
            this.showLemmaList = true
            // console.log(this.isSub)
            let queryId = ++this.queryId
            let lemmaPath = '/lemmas' // why component data?
                + '?query=' + encodeURIComponent(this.node.lemma.replace(/ /g, "+"))
                + '&stubs=false' // we need word_class
                + '&language=' + dictLanguage(this.top.dictionary)
                + (this.isSub ? '&extended_vocabulary_only=true' : '')
                + (this.top.dictionary == 'no' ? '&extended_vocabulary=true' : '')
                + '&max_hits=10'
            // check in Ordbank
            callAPI(lemmaPath, null, null,'ordbank')
                .then (r => {
                    if (queryId == this.queryId) {
                        this.lemmaOrdbankList = r
                    }
                })
                .catch (showErrorMessage)
            // check in dictionary
            let path = '/dict/' + dictId(this.top.dictionary) + '/article'
            callAPI(path, null, null, null, null,
                    { query: 'main_lemma like "^' + this.node.lemma + '$" and is latest',
                      expand_lemmas: 'basic'
                    })
                .then (r => {
                    if (queryId == this.queryId) {
                        this.lemmaArticleList = r.map(a => {
                            return { id: a.article_id,
                                     lemma: a.versions[0].lemmas[0].lemma, // ??? was: word_form,
                                     lemma_id: a.versions[0].lemmas[0].id,
                                     hgno: a.versions[0].lemmas[0].hgno }
                        })
                        // console.log(this.lemmaArticleList)
                    }
                })
                .catch (showErrorMessage)
            markChanged(this)
            this.checkEntry()
        },
        checkEntry: function () {
            this.top.vue.checkEntry(this.createOrdbankLemma) // fixme
        },
        setLemma: function (e) {
            // console.log(e)
            this.node.id = e.id
            this.node.lemma = e.lemma
            this.node.ordklasse = e.word_class
            undoStackPush(this)
        },
        handleReorderDrop: function (data) {
            reorderDrop(this,data)
        },
        acceptReorderDrop: function () {
            this.over = true
        },
        toRoman: function (n) {
            return toRoman(n)
        }
    }
}
</script>

<style>

ul.check-lemma-list
{
    list-style-type: none;
    padding-left: 0.5em
}

li.check-lemma-list
{
    cursor: pointer
}

.black
{
    color: black
}

</style>
