<template>
<div :class="[focus ? 'focus' : 'inactive']" style="padding: 0" :id="'lemma-mo' + this.id">
  MO: <span class='xref' @click="showMORefEntry">{{node.refTitle}}</span>
</div>
</template>

<script>

import { showMORefEntry } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'lemma-list',
    props: ['node','last','top','id'],
    data: function () {
        return { focus: false,
                 hide: false
               }
    },
    methods: {
        showMORefEntry: function () {
            showMORefEntry(this.node.refTabellId, this.node.refObjekt)
        }
    }
}
</script>
