<template>
<span class="node comma"
      style="padding: 0"
      :id="'lemma' + this.id">
  <span v-if="node.lemma"
        :class="isSub ? 'sublemma' : 'lemma'"
        v-html="lemmaString"/>
  <span v-else >–</span>
  <span class='hgno' v-if="node.hgno">
    {{hgno}}</span>
  <span v-if="node.ordklasse && node.ordklasse.length"
        class="ordklasse"
        @click.stop="++tableKey; showTable=!showTable"
        > {{node.ordklasse}}
  </span>
  <span v-if="node.inflection?.length">
    [<span style="font-weight: bold">{{node.inflection[0][0]}} </span>
    <span>
      <span v-for="(morph_list,i) in node.inflection.filter(m => m && m.length && node.inflection.indexOf(m))"
            :key="i" class="comma">
        <span v-for="(morph,j) in morph_list.filter((m,idx) => morph_list.indexOf(m) === idx)"
              :key="j">
          <span v-if="j" style="font-style: italic">
            eller
          </span>{{morph}}</span>
      </span>
    </span>]
  </span>
  <inflection-table-wrapper :lemma="[node]"
                            :showTable="showTable"
                            :inline="true"
                            :key="tableKey"/>
</span>
</template>

<script>

import inflectionTableWrapper from '@/components/ordbank/inflectionTableWrapper.vue'

import { lexCommon, toRoman, markdownToHTML } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'lemma-list-display',
    props: ['node','last','top','entry','id'],
    data: function () {
        return { 
            isSub: this.entry.etype=='sub-entry',
            showTable: false,
            tableKey: 0
        }
    },
    components: { inflectionTableWrapper },
    mixins: [lexCommon],
    computed: {
        hgno: function () {
            return toRoman(this.node.hgno)
        },
        lemmaString: function () {
            if (this.node.initial_lexeme?.length && !this.node.neg_junction) {
                return markdownToHTML(this.node.initial_lexeme +
                                      (this.node.junction || '') +
                                      '·' + this.node.final_lexeme)
            } else {
                return markdownToHTML(this.node.lemma)
            }
        }
    },
    methods: {
        formatOrdklasse: function(ok) {
            if (ok === this.node.ordklasse?.[this.node.ordklasse.length-1]) {
                return ok
            } else {
                return ok + ', '
            }
        }
    }
}
</script>
