<template>
<div :class="'node-list ' + [focus ? 'focus' : 'inactive']"
     :id="'lemma-group' + this.entry.id">
  <div :id="'lemmas' + this.entry.id">
    <span class="lemma-list" @click.stop="toggleEditMode">
      <span v-if="!edit">
        <lemma-list v-for="lem in node"
                    :top="top"
                    :key="lem.id"
                    :node="lem"
                    :id="lem.id"/>
        <span class="ordklasse"
              v-if="node && node[1]"
              @click.stop="++tableKey; showInflection()"
              > vis alle
        </span>
        <inflection-table-wrapper :lemmaList="lemmaList"
                                  :showTable="showTable"
                                  :inline="true"
                                  :key="tableKey"/>
      </span>
      <span v-if="entry.sorter && entry.sorter.length">
        Sorterer:
        <span class="link"
              v-for="(sorter, index) in entry.sorter"
              :entryId="entry.id"
              :sorter="sorter"
              :key="index">
          <span @click.stop="showSorter(sorter,entryId)">{{sorter.name}}</span>
          <span class="comma">, </span>
        </span>
        
        <!--sorter-link v-for="(sorter, index) in entry.sorter"
            :last="index==entry.sorter.length-1"
            :entryId="entry.id"
            :sorter="sorter" :key="sorter.id"/-->
      </span>
    </span>
    <drop v-if="edit"
          :class="{ over }"
          @dragover="acceptLemmaDrop"
          @dragleave="over = false"
          @drop="handleLemmaDrop">
      <table v-if="edit" class="lemma-list-edit">
        <tr class="edit">
          <td v-if="!isSub"/>
          <td class="lemma-edit header">Id</td>
          <td class="lemma-edit header">Lemma</td>
          <td v-if="entry.etype=='entry'" class="lemma-edit header">Homograf</td>
          <!--td v-if="entry.etype=='entry'" class="lemma-edit header">Ordklasse</td-->
          <td v-if="top.dictionary=='no'" class="lemma-edit header">
            MO
          </td>
          <td v-if="!isSub" class="button">
            <input class="button" type="button" @click.stop="addLemmaTop" value="+"/>
          </td>
        </tr>
        <lemma-list-edit v-for="(lem) in node.filter(n=>!n.added_norm)"
                         :key="lem.id"
                         :nodes="node"
                         :node="lem"
                         :entry="entry"
                         :top="top"
                         :id="lem.id">
        </lemma-list-edit>
    </table>
    </drop>
    <div v-show="edit">
      <span class="header" v-if="!isSub"> Type:</span>
      <select v-if="!isSub"
                v-model="entry.entryType"
                @change="markChanged"
                @click.stop>
       <option v-for="type in entryTypes" :key="type" :value="type">{{ type }}</option>
      </select>
        </div>
     </div>
    </div>
</template>

<script>

import { app } from '@/main.js'

import inflectionTableWrapper from '@/components/ordbank/inflectionTableWrapper.vue'

import { lexCommon, setPendingEditMode, getNewId, undoStackPush, setEditMode, markChanged, closePopup,
         entryComps, showErrorMessage, callAPI
       } from '@/components/mixins/ordbokUtils.js'

import lemmaList from './lemmaList.vue'
import lemmaListEdit from './lemmaListEdit.vue'

export default {
    name: 'lemma-group',
    props: ['entry','top','node'],
    components: { lemmaList, lemmaListEdit, inflectionTableWrapper },
    mixins: [lexCommon],
    data: function () {
        return { edit: false,
                 focus: false,
                 hide: false,
                 canGetFocus: true,
                 canEdit: true,
                 over: false,
                 isSub: this.entry.etype=='sub-entry',
                 a2h: ['a','b','c','d','e','f','g','h'],
                 entryTypes: ['NORMAL',
                              'PREFIX',
                              'SUFFIX',
                              'SUB_ARTICLE',
                              'XX'],
                 showTable: false,
                 tableKey: 0,
                 lemmaList: []
               }
    },
    mounted: function () {
        setPendingEditMode(this)
    },
    methods: {
        markChanged: function () {
            markChanged(this)
        },
        toggleEditMode: function () {
            setEditMode(this)
        },
        addLemmaTop: function () { // inserts an empty lemma at the top
            this.node.splice(0,0,{"id":getNewId(),"type":"lemma","lemma":'',
                                  "hgno":0,"ordklasse":[]})
            undoStackPush(this)
        },
        editModeOff: function () {
            app.activeComp == null
            this.edit = !this.edit
            undoStackPush(this)
        },
        closePopup: function () {
            closePopup()
        },
        showSorter: function (sorter, entryId) {
            let comp = entryComps[1]
            console.log(sorter)
            comp.showSorterJSON(sorter.id, entryId)
        },
        showInflection: function () {
            if (this.showTable) {
                this.showTable = false
            } else {
                let lem_ids = this.node.map(lem => lem.id).reduce((x,y)=> x + '+' + y)
                callAPI("/lemmas?query=" + lem_ids
                        + "&inflect=true&stubs=false", // why stubs here, inflect elsewhere??
                        null, null, 'ordbank')
                    .then(r => { this.lemmaList = r
                                 this.showTable = !this.showTable
                               })
                    .catch(showErrorMessage)
            }
        },
        acceptLemmaDrop: function () {
            this.over = true
        },
        handleLemmaDrop: function (data) {
            // console.log('data', data.lemma.id)
            // console.log('node', this.node[0].id)
            data.lemma.mo_article_id = data.mo_article_id
            if (this.node[0]?.lemma == '') {
                this.node.splice(0, 1, data.lemma)
            } else if (!this.node.find(l=>l.id==data.lemma.id) && 
                       (!this.node.length ||
                        this.node.find(l=>l.mo_article_id==data.lemma.mo_article_id))) {
                this.node.push(data.lemma)
            }
        }
    }
}

</script>
