<template>
<span class="lemma-list">
  <lemma-list-display v-for="(lem, index) in node"
                      :key="lem.id"
                      :node="lem"
                      :entry="entry"
                      :last="index==node.length-1"
                      :id="lem.id"/>
</span>
</template>

<script>

import lemmaListDisplay from './lemmaListDisplay.vue'

export default {
    name: 'lemma-group-display',
    props: ['entry','top','node'],
    components: { lemmaListDisplay }
}

</script>
