<template>
<fragment>
<tr class="source">
  <td class="drag">
    <drag class="drag"
          :transfer-data="{ node, nodes, entry, dictionary: top.dictionary, top }">
      <drop class="drop"
            :class="{ rOver }"
            @dragover="acceptReorderDrop"
            @dragleave="rOver = false"
            @drop="handleReorderDrop">
        <span class="id reorder">&#xe165;</span>
      </drop>
    </drag>
  </td>
  <td v-if="intro" class="edit" :id="'intro' + node.id">
    <autocomplete-input :node="node"
                        :entry="entry"
                        :top="top"
                        accessor="intro"
                        :id="node.id"
                        inputClass="example-edit"
                        inputType="text"/>
  </td>
  <lit-ref-edit :node="node" :type="type" />
  <td class="edit" :id="'spec' + node.id">
    <autocomplete-input :node="node"
                        :entry="entry"
                        :top="top"
                        accessor="spec"
                        :id="node.id"
                        inputClass="example-edit"
                        inputType="text"/>
  </td>
  <td>
    <drop class="drop"
          @dragover="acceptDrop"
          @dragleave="over = false"
          @drop="handleDrop">
      <input class="button ml-3 small"
             :class="{ over }"
             type="button"
             title="slipp belegg; klikk for å vise/skjule"
             @click="attHide=!attHide"
             :value="attInputString"/>
    </drop>
  </td>
  
  <td class="button nobr">
    <input class="button"
           type="button"
           @click.stop="deleteLit"
           value="-"/>
    <input class="button plus keyfocus"
           type="button"
           @click.stop="addLit"
           @keydown.enter.prevent="addLit"
           value="+"/>
  </td>
</tr>
<tr v-show="node.attest?.length && !attHide">
  <td/>
  <td colspan="5">
    <attest-list-edit
      v-for="(attest, index) in node.attest"
      :key="index"
      :node="attest"
      :nodes="node.attest"
      :top="top"/>
  </td>
</tr>
</fragment>
</template>

<script>

import { Fragment } from 'vue-fragment'

import { app } from '@/main.js'
import autocompleteInput from './autocompleteInput.vue'
import litRefEdit from './litRefEdit.vue'
import attestListEdit from './attestListEdit'

import { lexCommon, undoStackPush, reorderDrop, getNewId, newId, canAcceptDrop,
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'lit-list-edit',
    props: ['node','nodes','top','entry','type','intro'],
    mixins: [lexCommon],
    components: { Fragment, autocompleteInput, litRefEdit, attestListEdit },
    data: function () {
        return {
            app,
            // litSource: null,
            rOver: false,
            over: false,
            focus: false,
            attHide: true,
            showLitList: [false], // need to wrap this in an array
            litList: [] }
    },
    computed: {
        attInputString: function () {
            return '✼ ' +
                (this.node.attest?.length ?
                 (' (' +
                  this.node.attest?.length +
                  ')') : '') +
            (this.node.attest?.length && this.attHide ? ' …' : '')
        }
    },
    methods: {
        addLit: function () {
            app.editId = newId()
            this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                              { "type":"meaning_lit",
                                "id": getNewId(),
                                "bibl_id": null,
                                "spec": null,
                                "intro": null,
                                "code": null,
                                "attest": [] } )
            this.keyStore.key++
            // this.hp.changed['lit-list'] = true
            undoStackPush(this)
        },
        deleteLit: function () {
            this.nodes.splice(this.nodes.indexOf(this.node),1)
            undoStackPush(this)
        },
        handleReorderDrop: function (data) {
            reorderDrop(this, data)
        },
        acceptReorderDrop: function () {
            this.rOver = true
        },
        handleDrop: function (data) {
            this.over = false
            this.attHide = false
            app.editId = newId()
            // console.log(data)
            if (data.mode == 'mo-articles') { // list of articles dragged from sorter
                data.items.forEach(item =>
                    this.node.attest.splice(this.node.attest.indexOf(this.node)+1,0,
                                            { id: getNewId(),
                                              type_: 'attestation',
                                              ref_title: item.title,
                                              ref_id: item.art_id,
                                              ref_target: item.dict_id
                                            } ))
                // this.hp.changed[''] = true
                undoStackPush(this)
            }
        },
        acceptDrop: function (data) {
            if (canAcceptDrop(this, data) &&
                (data.type == 'setel' ||
                 data.mode == 'mo-articles')) {
                this.over = true
            }
        }
    }
}

</script>
