<template>
<div style="text-indent: 0em"
     @mousedown="insertLit"
     @click.stop
     class="xref-link">
  <span class="xref-link-span" @click.stop="insertLit">
    <span style="color: gray">{{lit.code}} |</span>
    <span class="entry-link">{{lit.title}}</span>
    <!--span style="color: gray; font-size: 6pt">{{getPlacePlace}}</span-->
  </span>
</div>
</template>

<script>

import { app } from '@/main.js'

import { undoStackPush } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'lit-list-select',
    props: ['showLitList','lit','node','hp','type'],
    methods: {
        insertLit: function () {
            this.node.code = this.lit.code
            this.node.bibl_id = this.lit.bibl_id
            this.showLitList[0] = false
            if (this.hp) { this.hp.changed[this.type] = true }
            undoStackPush(this)
            app.chooseXref = null
            event.cancelBubble = true
        }
    },
    computed: {
        
    }, // @mousedown triggers before @blur! But we also need @click for C-Ret
}

</script>
