<template>
<span class="source comma">
  <span class="place" v-if="litSource" @click.stop="litSource=null" v-html="litSource"/>
  <span v-html="introResolved"/>
  <span class="xref" @click.stop="showLitSource" v-html="node.code"/>
  <span v-html="specResolved"/>
</span>
</template>


<script>

import { resolveText, showLitSource
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'lit-list',
    data: function () { return { litSource: null } },
    props: ['node','top'],
    computed: {
        introResolved: function () {
            return this.node.intro ? resolveText(this.top.dictionary,this.node.intro,[]) + " " : ""
        },
        specResolved: function () {
            return this.node.spec ? " " + resolveText(this.top.dictionary,this.node.spec,[]) : ""
        }
    },
    methods: {
        showLitSource: function () {
            showLitSource(this)
        }
    }
}

</script>
