<template>
<td class="xref">
  <template v-if="type=='meaning'">
    <b-form-select size="sm"
                   class="mr-2 keyfocus"
                   v-model="node.code"
                   value-field="code"
                   text-field="code"
                   :options="meaningLit"
                   @input="undoStackPush"/>
  </template>
  <template v-else>
    <input class="xref"
           type="text"
           name="notASearchField"
           v-model="node.code"
           :id="node.id"
           @input="getLit"
           @focus="showLitListFirst"
           @blur="showLitList=[false];litList=[]"
           autocomplete="off"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           @click.stop/>
    <div v-if="showLitList[0] && litList.length"
         class="lit-list-select"
         :class="type">
      <div v-if="litList.length"
           @blur="showLitList=[false]"
           class="place-list-select">
        <lit-list-select v-for="lit in litList"
                         :showLitList="showLitList"
                         :lit="lit"
                         :hp="hp"
                         :type="type"
                         :node="node"
                         :key="lit.id"/>
      </div>
    </div>
  </template>
</td>
</template>

<script>

import $ from 'jquery'

import { app } from '@/main.js'

import litListSelect from './litListSelect'

import { callAPI, showErrorMessage, undoStackPush,
         setPendingEditMode, focusEditNode
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'lit-ref-edit',
    props: ['node','nodes','top','entry','type','hp'],
    components: { litListSelect },
    data: function () {
        return { 
            over: false,
            focus: false,
            showLitList: [false], // need to wrap this in an array
            litList: [],
            queryId: 0
        }
    },
    mounted: function () {
        setPendingEditMode(this)
    },
    updated: function () {
        focusEditNode(this)
    },
    computed: {
        meaningLit: function () {
            if (this.litList.length) {
                return this.litList
            } else {
                this.getMeaningLit()
                return this.litList
            }
        }
    },
    methods: {
        undoStackPush: function () {
            undoStackPush(this)
        },
        getMeaningLit: function () {
            callAPI("/bibl?meaning_only=true", null, null, 'ordbank')
                .then(r => {
                    this.litList = r
                })
                .catch (showErrorMessage)
        },
        getLit: function () {
            let prefix = this.node.code.trim()
            if (prefix.length) { // return max 10 suggestions (not impl.)
                let like = encodeURIComponent(prefix + '%')
                let etym_only = this.type == 'dialect' || this.type == 'etymology' ? true : false
                let older_source_only = this.type == 'older_source' ? true : false
                let meaning_only = this.type == 'meaning' ? true : false
                let dialect_only = this.type == 'dialect' ? true : false
                let queryId = ++this.queryId
                callAPI("/bibl?code=" + like
                        + "&author="+ like
                        + "&title=" + like
                        + "&etym_only=" + etym_only
                        + "&older_source_only=" + older_source_only
                        + "&dialect_only=" + dialect_only
                        + "&meaning_only=" + meaning_only,
                        null, null, 'ordbank')
                    .then(r => {
                        if (queryId == this.queryId) {
                            this.litList = r
                            this.$nextTick(() => {
                                app.chooseXref = $('.xref-link-span')[0]
                                if (app.chooseXref) { // rename!
                                    app.chooseXref.parentNode.style.background='lightgray'
                                }
                            })
                        }
                    })
                    .catch (showErrorMessage)
            }
        },
        showLitListFirst: function () {
            app.activeNode = $(this.$el).find(":input")[0]
            this.showLitList = [true]
            this.$nextTick(() => {
                app.chooseXref = $('div.xref-link')[0]
                if (app.chooseXref) {
                    app.chooseXref.style.background='lightgray'
                }
            })
        }
    }
}
</script>
