<template>
<tr>
  <td class="id drag">
    <drag class="drag" :transfer-data="{node, nodes, entry, dictionary: top.dictionary}">
      <drop class="drop"
            :class="{ over }"
            @dragover="acceptReorderDrop"
            @dragleave="over = false"
            @drop="handleReorderDrop">
        <span class="id reorder">&#xe165;</span>
      </drop>
    </drag>
  </td>
  <td class="intro">
    <autocomplete-input
      :node="node"
      :entry="entry"
      :top="top"
      accessor="intro"
      inputClass="intro first"
      :id="'intro'+node.id"
      inputType="text"/>
  </td>
  <td class="xref">
    <span v-if="node.article_id"
          v-html="node.title"/>
    <input v-else
           class="xref"
           type="text"
           :id="node.id"
           v-model="node.title"
           @input="getLemma"
           @focus="showLemmaListFirst"
           @blur="showLemmaList=[false]"
           autocomplete="off"
           autocorrect="off"
           spellcheck="false"
           autocapitalize="off"
           @click.stop/>
    <div v-if="showLemmaList[0] && lemmaArticleList.length"
         class="check-lemma">
      <ul @blur="showLemmaList=[false]"
          class="check-lemma-list">
        <template v-if="top.dictionary=='no'">
          <xref-link-n-o v-for="(e, index) in lemmaArticleList"
                         :showLemmaList="showLemmaList"
                         :e="e"
                         :art="e"
                         :node="node"
                         :level="0"
                         :key="index"/>
        </template>
        <template v-else>
          <xref-link v-for="(e, index) in lemmaArticleList"
                     :showLemmaList="showLemmaList"
                     :e="e"
                     :node="node"
                     :key="index"
                     :dictionary="top.dictionary"/>
        </template>
      </ul>
    </div>
  </td>
  <td class="coda">
    <autocomplete-input
      :node="node"
      :entry="entry"
      :top="top"
      accessor="coda"
      inputClass="coda"
      :id="'coda'+node.id"
      inputType="text"/>
  </td>
  <td class="button">
    <input class="button" type="button" @click="deleteXref" value="-"/>
  </td>
  <td class="drop-button">
    <drop class="drop"
          :class="{ over }"
          @dragover="over = true"
          @dragleave="over = false"
          @drop="handleDrop">
      <input class="drop-button keyfocus"
             type="button"
             @click="addXref"
             value=""/>
    </drop>
  </td>
</tr>
</template>

<script>

import $ from 'jquery'

import autocompleteInput from './autocompleteInput.vue'
import xrefLink from './xrefLink'
import xrefLinkNO from './xrefLinkNO'

import { app } from '@/main.js'
import { newId, getNewId, undoStackPush, canAcceptDrop, formatXrefTitle, reorderDrop,
         markChanged, showErrorMessage, setPendingEditMode, focusEditNode,
         callAPI, dictId, lexCommon
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'meaning-xref-list-edit',
    components: { autocompleteInput,
                  xrefLink, xrefLinkNO },
    props: ['nodes','node','entry','top',
            'mode', // null or 'example'
            'parent'  // used to delete inline xref from text
           ],
    mixins: [lexCommon],
    data: function () {
        return { over: false,
                 showLemmaList: [false], // need to wrap this in an array
                 lemmaArticleList: [],
                 queryId: 0,
                 path: null
               }
    },
    mounted: function () {
        setPendingEditMode(this)
    },
    updated: function () {
        focusEditNode(this)
    },
    methods: {
        addXref: function () { // inserts an empty xref after this.xref
            app.editId = newId()
            // console.log('ex:', this.example)
            this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                              { id: getNewId(),
                                inline: this.example ? 1 : 0 })
            this.keyStore.key++
            undoStackPush(this)
        },
        deleteXref: function () { // deletes this.xref. TODO: recurse
            // this.deleteInlineXref()
            this.nodes.splice(this.nodes.indexOf(this.node),1)
            undoStackPush(this)
        },
        // delete the <iref> element associated to the xref
        deleteInlineXref: function (force) {
            if ((force || this.node.inline) && this.parent) {
                let id = this.node.id
                let text = this.parent.text // todo: dispatch on mode
                if (text) {
                    let iref = "<iref id='" + id + "'/>"
                    // console.log(iref)
                    let start = text.indexOf(iref)
                    if (start > -1) {
                        let start1 = start
                        if (start > 0 && text[start-1] == ' ') {
                            start1--
                        }
                        this.parent.text = text.substring(0,start1)
                            + text.substring(start+iref.length)
                    } else { // delete <iref> with content
                        let iref = "<iref id='" + id + "'>"
                        let start = text.indexOf(iref)
                        if (start > -1) {
                            let end = start + iref.length
                            let closeStart = text.indexOf('</iref>',end)
                            if (closeStart > -1) {
                                let closeEnd = closeStart + 7
                                this.parent.text = text.substring(0,start)
                                    + text.substring(start+iref.length,closeStart)
                                    + text.substring(closeEnd)
                            }
                        }
                    }
                }
            }
            if (force) { undoStackPush(this) }
        },
        handleDrop: function (data) {
            if (canAcceptDrop(this, data)) {
                this.over = false
                let form = formatXrefTitle(data)
                if (data.node.type=="definition") {
                    this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                                      { id: getNewId(),
                                        article_id: data.entry.id,
                                        definition_id: data.node.id,
                                        title: form,
                                        inline: 0,
                                        form
                                      })
                } else {
                    this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                                      { id: getNewId(),
                                        article_id: data.node.id,
                                        title: form,
                                        inline: 0,
                                        form
                                      })
                }
                undoStackPush(this)
            }
        },
        acceptDrop: function (data) {
            if (canAcceptDrop(this, data) && data.node.etype=='sub-entry') {
                this.over = true
            }
        },
        handleDragStart: function (data,event) {
            event.dataTransfer.setData("text/plain", " [" + this.node.id + "] ")
            event.dataTransfer.effectAllowed = "copy"
        },
        handleReorderDrop: function (data) { // @@@@@@@
            reorderDrop(this,data)
        },
        acceptReorderDrop: function () {
            this.over = true
        },
        markChanged: function () {
            markChanged(this)
            return true
        },
        // see also: autocompleteInput, compoundXrefListEdit
        getLemma: function () {
            let queryId = ++this.queryId
            callAPI('/dict/' + dictId(this.top.dictionary) + '/article',
                    'GET',
                    null,
                    null,
                    null,
                    { query: 'main_lemma = "' + this.node.title + '" and is latest',
                      expand_lemmas: true,
                      expand_refs: true,
                      complete: true
                    })
                .then (r => {
                    if (queryId == this.queryId) { // has to be the current lemma
                        this.lemmaArticleList = r.map(a => {
                            // console.log('defs:', a.versions[0].body.definitions)
                            return {
                                id: a.article_id,
                                type: "entry",
                                word_class: a.versions[0].lemmas[0].word_class,
                                entryType: "NORMAL",
                                lemma: a.versions[0].lemmas[0].lemma,
                                hgno: a.versions[0].lemmas[0].hgno,
                                definitions: this.top.dictionary == 'no' ?
                                    a.versions[0].body.definitions :
                                    a.versions[0].body.definitions[0]?.elements
                                    .filter(d => d.type_=='definition') }
                        })
                        this.$nextTick(() => {
                            // app.chooseXref = $('li.xref-link')[0]
                            app.chooseXref = $('.xref-link-span')[0]
                            // console.log('.xref:', app.chooseXref)
                            if (app.chooseXref) {
                                app.chooseXref.parentNode.style.background='lightgray'
                            }
                        })
                    }
                })
                .catch (showErrorMessage)
            markChanged(this)
        },
        showLemmaListFirst: function() {
            this.showLemmaList = [true]
            this.$nextTick(() => {
                app.chooseXref = $('.xref-link-span')[0]
                // console.log('app.chooseXref:', app.chooseXref)
                if (app.chooseXref) {
                    app.chooseXref.parentNode.style.background='lightgray'
                }
            })
        }
    }
}
</script>
