<template>
<tbody class="example-edit">
  <tr class="edit">
    <td class="drag">
      <drag class="drag"
            :transfer-data="{ node, nodes, entry, dictionary: top.dictionary, top }">
        <drop class="drop"
              :class="{ rOver }"
              @dragover="acceptReorderDrop"
              @dragleave="rOver = false"
              @drop="handleReorderDrop">
          <span class="id reorder">&#xe165;</span>
        </drop>
      </drag>
    </td>
    <td style="width: 100%">
      <table v-if="type=='meaning'" class="edit">
        <tr class="edit">
          <th class="intro">Bruk</th>
          <th class="intro">Definisjon</th>
          <th v-if="top.dictionary=='no'" class="intro">Alt. heimf.</th>
        </tr>
        <tr class="edit">
          <td class="button" v-if="!node.usage?.length">
            <input class="button keyfocus"
                   type="button"
                   @click.stop="addUsageTop"
                   @keydown.enter.prevent="addUsageTop"
                   value="+"/>
          </td>
          <td class="edit" v-if="node.usage?.length">
            <table>
              <meaning-usage-edit v-for="(u, index) in node.usage"
                                  :key="index"
                                  :node="u"
                                  :entry="entry"
                                  :nodes="node.usage"
                                  :top="top"/>
            </table>
          </td>
          <td class="edit"
              style="width:100%"
              :id="'meaning' + node.id">
            <autocomplete-input :node="node"
                                :top="top"
                                :rows="2"
                                :entry="entry"
                                accessor="text"
                                inputClass="definisjon first"
                                :id="node.id"
                                inputType="textarea"/>
          </td>
          <td v-if="top.dictionary=='no'">
            <select v-model="node.alt_place"
                    class="keyfocus"
                    @click.stop
                    @change="undoStackPush">
              <option v-for="ap in ['','Vanl','heller vanl','Ålm.']"
                      :key="ap"
                      :value="ap">
                {{ap}}
              </option>
            </select>
          
          </td>
        </tr>
      </table>
      <table v-if="type=='example'" class="edit">
        <tr class="example-edit" v-if="top.dictionary=='no' || nodes.indexOf(node)==0">
          <th class="intro">Bruk</th>
          <th class="intro">Eksempel</th>
          <th class="intro">Forklaring</th>
        </tr>
        <tr class="edit">
          <td class="button" v-if="!node.usage || !node.usage.length">
            <input class="button"
                   type="button"
                   @click="addUsageTop"
                   value="+"/>
          </td>
          <td class="edit" v-if="node.usage && node.usage.length">
            <table>
              <meaning-usage-edit v-for="(u, index) in node.usage"
                                  :key="index"
                                  :node="u"
                                  :entry="entry"
                                  :nodes="node.usage"
                                  :top="top"/>
            </table>
          </td>
          <td class="edit" :id="'example' + node.id">
            <autocomplete-input :node="node"
                                :entry="entry"
                                :top="top"
                                accessor="citation"
                                :id="node.id"
                                inputClass="example-edit first"
                                inputType="textarea"/>
          </td>
          <td class="explanation-edit">
            <autocomplete-input :node="node"
                                :entry="entry"
                                :top="top"
                                accessor="explanation"
                                :id="node.id"
                                inputClass="explanation-edit"
                                inputType="textarea"/>
          </td>
        </tr>
        <tr v-if="top.dictionary=='no'" class="edit">
          <th/>
          <th class="edit">Redaksjonell forklaring</th>
          <th/>
        </tr>
        <tr v-if="top.dictionary=='no'" class="edit">
          <td/>
          <td colspan="1">
            <autocomplete-input :node="node"
                                :entry="entry"
                                :top="top"
                                accessor="tydingstekst"
                                :id="node.id"
                                inputClass="explanation-edit"
                                inputType="textarea"/>
          </td>
          <td colspan="1" style="padding:1em">
            <nobr v-if="node.alternativHeimfesting">
              <span style="font-size:smaller; font-style: italic">Alt. heimf:</span>
              <span v-html="node.alternativHeimfesting"/>
            </nobr>
            <nobr v-if="node.kode">
              <span style="font-size:smaller; font-style: italic">Kilde:</span>
              <span v-html="node.kode"/>
              <!--lit-ref-edit :node="node"/-->
            </nobr>
            <span v-if="node.alternativHeimfesting || node.kode">
              <input class="button" type="button" @click.stop="deleteAH" value="-"/>
            </span>
          </td>
        </tr>
      </table>
      
      <div v-if="top.dictionary=='no'"
           style="border: 1px solid gray; border-radius: 4px; padding: 5px; margin-left: 5px">
      <drop class="drop menu-line"
            :class="{ xOver }"
            @dragover="acceptXDrop"
            @dragleave="xOver = false"
            @drop="handleDrop">
        <span class="mr-2">Ikke-inline-referanse</span>
        <span class="flex-left"/>
        <input class="drop-button keyfocus"
               type="button"
               @click.stop="addXrefTop"
               @keydown.enter.prevent="addXrefTop"
               value=""/>
      </drop>

      <table v-if="nonInlineXrefs"
             class="edit"
             :key="keyStore.key">
        <tr class="edit">
          <th/>
          <!--th class="id">Id</th-->
          <th class="intro">Innleiing</th>
          <th class="intro">Tilvisningstekst</th>
          <th class="coda">Avslutning</th>
          <td/>
          <td/>
        </tr>
        <meaning-xref-list-edit v-for="(xref, index) in node.xrefs.filter(x=>x.inline==0)"
                                :parent="node"
                                :key="index"
                                :node="xref"
                                :nodes="node.xrefs"
                                :entry="entry"
                                :top="top"/>
      </table>
      </div>
      <template v-if="top.dictionary=='no'">
        <div class="menu-line">
          <input class="button small keyfocus"
                 :style="node.srcHide?'':'font-weight: bold'"
                 :id="'src-input'+node.id"
                 type="button"
                 title="klikk for å vise/skjule"
                 @click="toggleSrcHide"
                 @keydown.enter.prevent="toggleSrcHide"
                 :value="srcInputString"/>
          
          <input class="button small keyfocus"
                 :style="node.placeHide?'':'font-weight: bold'"
                 :id="'place-input'+node.id"
                 type="button"
                 title="klikk for å vise/skjule"
                 @click="togglePlaceHide"
                 @keydown.enter.prevent="togglePlaceHide"
                 :value="placeInputString"/>

          <drop class="drop"
                :class="{ over }"
                @dragover="acceptDrop"
                @dragleave="over = false"
                @drop="handleDrop">
            <input class="button small keyfocus"
                   :style="node.attHide?'':'font-weight: bold'"
                   :id="'att-input'+node.id"
                   type="button"
                   title="klikk for å vise/skjule"
                   @click="toggleAttHide"
                   @keydown.enter.prevent="toggleAttHide"
                   :value="attInputString"/>
          </drop>
        </div>
        <table v-if="node.place?.length && !node.placeHide" style="width: 100%">
          <tr class="edit">
            <th class="intro">Navn</th>
            <th class="intro">Spesifisering</th>
            <th class="intro">Litt. kode</th>
            <th class="intro">Vis</th>
          </tr>
          <place-list-edit v-for="(place, index) in node.place"
                           :key="index"
                           :top="top"
                           :nodes="node.place"
                           :entry="entry"
                           :node="place"/>
        </table>
        <template v-if="!node.srcHide">
          <table v-if="node.lit?.length">
            <tr class="edit">
              <th/>
              <th class="intro">Innleiing</th>
              <th class="intro">Litt. kode</th>
              <th class="intro">Spesifisering</th>
              <th>
                <input class="button keyfocus mx-2"
                       type="button"
                       @click.stop="addLitTop"
                       @keydown.enter.prevent="addLitTop"
                       v-if="!node.srcHide"
                       value="+"/>
              </th>
            </tr>
            <lit-list-edit v-for="(lit, index) in node.lit"
                           :key="index"
                           :top="top"
                           :entry="entry"
                           :nodes="node.lit"
                           type="meaning-lit"
                           :intro="true"
                           :node="lit"/>
          </table>
        </template>
        <!--drop class="drop"
                :class="{ over }"
                @dragover="acceptDrop"
                @dragleave="over = false"
              @drop="handleDrop">
          <div class="menu-line">
            <span class="tri" @click.stop="toggleSrcHide" v-if="lexStore.settings.srcHide">&#x25B6;</span>
            <span class="tri" @click.stop="toggleSrcHide" v-else>&#x25BC;</span>
            <span class="id">belegg</span>
            <span v-if="node.attest?.length && lexStore.settings.srcHide">&nbsp;…</span>
            <input class="button ml-3 small"
                   xclass="{ over }"
                   type="button"
                   title="slipp belegg"
                   value="✼"/>
            <span class="flex-left"/>
          </div-->
          <div v-if="node.attest?.length && !node.attHide"
               class="m-2">
            <attest-list-edit
              v-for="(attest, index) in node.attest"
              :key="index"
              :node="attest"
              :nodes="node.attest"
              :top="top"
              :entry="entry"
              :id="attest.id"/>
          </div>
        <!--/drop-->
      </template>
    </td>
    <td class="button">
      <div class="vertical-plus-minus-flex">
        <input class="button"
               type="button"
               @click.stop="deleteMeaning"
               value="-"/>
        <input class="button plus keyfocus"
               type="button"
               @click.stop="addMeaning"
               @keydown.enter.prevent="addMeaning"
               value="+"/>
      </div>
    </td>
  </tr>
</tbody>
</template>


<script>
// common for meaning and example

import Vue from 'vue'
import { Drag, Drop } from 'vue-drag-drop'

Vue.component('drag', Drag)
Vue.component('drop', Drop)

// import $ from 'jquery'

import autocompleteInput from './autocompleteInput.vue'
import meaningXrefListEdit from './meaningXrefListEdit'
import litListEdit from './litListEdit'
import placeListEdit from './placeListEdit'
import attestListEdit from './attestListEdit'
import meaningUsageEdit from './meaningUsageEdit'

import { app } from '@/main.js'
import { resolveText, lexCommon, newId, getNewId, undoStackPush,
         canAcceptDrop, formatXrefTitle, reorderDrop,
         setPendingEditMode, focusEditNode
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'meaning-list-edit',
    props: ['node','nodes','entry','top','type'], // type is "meaning" or "example"
    components: { meaningXrefListEdit,
                  meaningUsageEdit, autocompleteInput,
                  litListEdit, placeListEdit, attestListEdit },
    mixins: [lexCommon],
    data: function () {
        return { over: false, 
                 xOver: false,
                 rOver: false,
                 app
               }
    },
    mounted: function () {
        setPendingEditMode(this)
    },
    updated: function () {
        focusEditNode(this)
    },
    computed: {
        textResolved: function () {
            return resolveText(this.top.dictionary,this.node.text, this.node.xrefs)
        },
        nonInlineXrefs: function () {
            let nix = this.node.xrefs?.filter(x => x.inline == 0)
            return nix?.length ? nix : null
        },
        srcInputString: function () {
            return 'litt. kilder' +
                (this.node.lit?.length ?
                 (' (' + this.node.lit?.length + ')') : '') +
                (this.node.lit?.length && this.node.srcHide ? ' …' : '')
        },
        placeInputString: function () {
            return 'heimfestingar' +
                (this.node.place?.length ?
                 (' (' + this.node.place?.length + ')') : '') +
                (this.node.place?.length && this.node.placeHide ? ' …' : '')
        },
        attInputString: function () {
            return '✼ belegg' +
                (this.node.attest?.length ?
                 (' (' + this.node.attest?.length + ')') : '') +
                (this.node.attest?.length && this.node.attHide ? ' …' : '')
        }

    },
    methods: {
        undoStackPush: function () {
            undoStackPush(this)
        },
        addMeaning: function () { // inserts an empty meaning after this.meaning
            app.editId = newId()
            this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                              { id: getNewId(),
                                type: this.type,
                                usage: [],
                                xrefs: [],
                                lit: [],
                                place: [],
                                attest: [],
                                srcHide: true,
                                placeHide: true,
                                attHide: true })
            this.keyStore.key++
            undoStackPush(this)
        },
        deleteMeaning: function () { // deletes this.meaning
            this.nodes.splice(this.nodes.indexOf(this.node),1)
            undoStackPush(this)
        },
        addUsageTop: function () {
            app.editId = newId()
            this.node.usage = [{ usage: null,
                                 id: getNewId() }]
            undoStackPush(this)
        },
        addXrefTop: function () { // inserts an empty xref at the top
            app.editId = newId()
            this.node.xrefs.splice(0,0,{ id: getNewId(),
                                         type: "meaning-iref",
                                         inline: 0,
                                         // place: [],
                                         // lit: []
                                       })
            this.keyStore.key++
            undoStackPush(this)
        },
        addPlaceTop: function () {
            if (!this.node.place) {
                this.node.place = []
            }
            app.editId = newId()
            this.node.place.splice(0,0,{ type_: "meaning_place",
                                         id: getNewId(),
                                         place_id: null,
                                         spec: null,
                                         auto: false,
                                         bibl_id: null,
                                         _code: null,
                                         place: { type_: "place",
                                                  _nonamn: null },
                                         attest: [] })
            this.keyStore.key++
            undoStackPush(this)
        },
        addLitTop: function () {
            app.editId = newId()
            this.node.lit.splice(0,0,{ type_:"meaning_lit",
                                       id: getNewId(),
                                       bibl_id: null,
                                       spec: null,
                                       intro: null,
                                       kode: null,
                                       attest: [] })
            this.keyStore.key++
            undoStackPush(this)
        },
        addAttestTop: function () {
            // …
        },
        deleteAH: function () {
            this.node.alternativHeimfesting = null
            this.node.kode = null
            undoStackPush(this)
        },
        handleDrop: function (data) {
            data = this.crossWindowDragData(data)
            // todo: reset lexState.dragData
            if (canAcceptDrop(this, data)) {
                this.over = false
                this.xOver = false
                if (data.node) {
                    let form = formatXrefTitle(data)
                    if (data.node.type=="definition") {
                        this.node.xrefs.splice(0,0,
                                               { id: '-' + data.node.id,
                                                 article_id: data.entry.id,
                                                 definition_id: data.node.id,
                                                 title: form,
                                                 form,
                                                 inline: 0
                                               })
                    } else {
                        this.node.xrefs.splice(0,0,
                                               { id: data.node.id,
                                                 article_id: data.node.id,
                                                 title: form,
                                                 form,
                                                 inline: 0
                                               })
                    }
                } else if (data.mode == 'mo-articles') { // list of articles
                    data.items.forEach(item => {
                        if (!this.node.attest) this.node.attest = []
                        this.node.attest.splice(this.node.attest.indexOf(this.node)+1,0,
                                                { id: getNewId(),
                                                  type_: 'attestation',
                                                  ref_title: item.title,
                                                  ref_id: item.art_id,
                                                  ref_target: item.dict_id
                                                } )
                    })
                } else if (data.dict_id) {
                    this.node.attest.splice(this.node.attest.indexOf(this.node)+1,0,
                                            { id:getNewId(),
                                              type_: 'attestation',
                                              ref_title: data.title,
                                              ref_id: data.art_id,
                                              ref_target: data.dict_id
                                            } )
                }
                undoStackPush(this)
            }
        },
        crossWindowDragData: function (data) {
            if (data) {
                return data
            } else {
                let lexState = JSON.parse(localStorage.getItem(process.env.BASE_URL + 'Lex'))
                return lexState.dragData
            }
        },
        acceptDrop: function (data) {
            data = this.crossWindowDragData(data)
            if (//canAcceptDrop(this, data) &&
                (data.node?.etype=='sub-entry' ||
                 data.dict_id == 'setel' ||
                 data.mode == 'mo-articles')) {
                this.over = true
            }
        },
        acceptXDrop: function (data) {
            if (canAcceptDrop(this, data) &&
                data.node) {
                this.xOver = true
            }
        },
        handleReorderDrop: function (data) {
            reorderDrop(this, data)
        },
        acceptReorderDrop: function () {
            this.rOver = true
        },
        toggleSrcHide: function () {
            this.node.srcHide=!this.node.srcHide
            this.node.placeHide = true
            this.node.attHide = true
            if (!this.node.srcHide) this.keyStore.node = this.node
            if (!this.node.lit?.length) {
                this.addLitTop()
            }
        },
        togglePlaceHide: function () {
            this.node.placeHide=!this.node.placeHide
            this.node.srcHide = true
            this.node.attHide = true
            if (!this.node.placeHide) {
                this.keyStore.node = this.node
            }
            if (!this.node.place?.length) {
                this.addPlaceTop()
            }
        },
        toggleAttHide: function () {
            this.node.attHide=!this.node.attHide
            this.node.srcHide = true
            this.node.placeHide = true
            if (!this.node.attHide) this.keyStore.node = this.node
        }
    }
}
</script>
