<template>
<div class="meaning semi"
     :class="[focus ? 'focus' : 'inactive']"
     :id="'meaning' + node.id">
  <span class="usage comma"
        v-for="(u, key) in node.usage"
        :key="key">
    {{u.value}}</span>
  <span v-html="textResolved"
        @click="handleXrefClick"/>
  <meaning-source-list
    v-if="node.lit?.length || node.place?.length || node.alt_place"
    :node="node"
    :top="top"/>
  <span v-if="nonInlineRefs[0] && node.text?.length">; </span>
  <span v-if="nonInlineRefs[0]">
    <meaning-xref-list v-for="(xref, index) in nonInlineRefs"
                       :key="index"
                       :node="xref"
                       :top="top"
                       :last="index==nonInlineRefs.length-1"
                       :last2="index==nonInlineRefs.length-2"/>
  </span>
</div>
</template>

<script>

import { resolveText, showRefEntry
       } from '@/components/mixins/ordbokUtils.js'

import meaningSourceList from './meaningSourceList.vue'
import meaningXrefList from './meaningXrefList.vue'

export default {
    name: 'meaning-list',
    props: ['node','top'],
    components: { meaningXrefList, meaningSourceList },
    data: function () { return { focus: false } },
    computed: {
        textResolved: function () {
            if (this.node.text) {
                return ' ' + resolveText(this.top.dictionary,this.node.text, this.node.xrefs)
            } else {
                return null
            }
        },
        nonInlineRefs: function () {
            return this.node.xrefs?.filter(x => x.inline == 0) || []
        }
    },
    methods: {
        handleXrefClick: function (e) {
            if (e.target.matches('.xref, .xref *')) {
                let val = e.target.getAttribute('xref')
                if (val) {
                    showRefEntry(...val.split(','))
                }
            }
        }
    } // node.xrefs.find(x => x.inline == 0)
}

</script>
