<template>
<span class="meaning semi"
      :id="'meaning' + node.id">
  <span class="usage comma"
        v-for="(u, index) in node.usage"
        :key="index">
    {{u.value}}</span>
  <span @click.stop="handleXrefClick"
        v-html="textResolved"/>
  <meaning-source-list
    v-if="(node.lit && node.lit.length) || (node.place && node.place.length) || node.alt_place"
    :node="node"
    :top="top"/>
  <span v-if="nonInlineRefs[0] && node.text && node.text.length">; </span>
  <span v-if="nonInlineRefs[0]">
    <meaning-xref-list v-for="(xref, index) in nonInlineRefs.filter(x => x.inline==0)"
                       :key="xref.id"
                       :node="xref"
                       :top="top"
                       :last="index==nonInlineRefs.length-1"
                       :last2="index==nonInlineRefs.length-2"/>
  </span>
</span>
</template>

<script>

import { resolveText, showRefEntry
       } from '@/components/mixins/ordbokUtils.js'

import meaningXrefList from './meaningXrefList.vue'
import meaningSourceList from './meaningSourceList.vue'

export default {
    name: 'meaning-list-display',
    props: ['node','l','top','entry'],
    components: { meaningXrefList, meaningSourceList },
    data: function () { return { focus: false, hide: false } },
    computed: {
        textResolved: function () {
            if (this.node.text) {
                return ' ' + resolveText(this.top.dictionary,this.node.text, this.node.xrefs)
            } else {
                return null
            }
        },
        nonInlineRefs: function () {
            return this.node.xrefs?.filter(x => x.inline == 0) || []
        }
    },
    methods: {
        handleXrefClick: function (e) {
            if (e.target.matches('.xref, .xref *')) {
                let val = e.target.getAttribute('xref')
                if (val) {
                    showRefEntry(...val.split(','))
                }
            }
        }
    }
}

</script>
