<template>
<span class="source"
      v-if="node.place?.filter(p => p.show).length || node.alt_place?.length || node.lit?.length">
  (<span v-if="node.alt_place?.length && !node.place?.filter(p => p.show).length">
    {{node.alt_place}}
    <span v-if="node.place?.filter(p => p.show).length">, </span>
  </span>
  <span v-if="node.lit?.length && node.alt_place?.length">; </span>
  <span>
    <lit-list v-for="(lit, index) in node.lit"
              :key="'lit'+index"
              :top="top"
              :node="lit"/>
  <span v-if="node.lit?.length && node.place?.filter(p => p.show).length">; </span>
  </span>
  <span v-if="node.place">
    <place-list v-for="(place, index) in node.place.filter(p => p.show)"
               :key="'place'+index"
               :top="top"
               :node="place"/>
  </span>)
</span>
</template>

<script>

import litList from './litList.vue'
import placeList from './placeList.vue'

export default {
    name: 'meaning-source-list',
    props: ['node','top'],
    components: { litList, placeList }
}

</script>
