OBSOLETE

<template>
<span class="source">
  (<span v-if="node.place?.length > 1">Heimfestingar: </span>
  <span v-else-if="node.place?.length == 1">Heimfesting: </span>
  <span>
    <place-list v-for="(place, index) in node.place"
                :key="'place-' + index"
                :top="top"
                :node="place"/>
  </span>
  <span v-if="node.alt_place">{{node.alt_place}}<span v-if="node.place?.length">, </span>
  </span>
  <span v-if="(node.place?.length && node.lit?.length) || node.alt_place">; </span>
  <!--span v-if="node.lit && node.lit.length > 1">Litterære kjelder: </span-->
  <!--span v-else-if="node.lit && node.lit.length == 1">Litterær kjelde: </span-->
  <span>
    <lit-list v-for="(lit, index) in node.lit"
              :key="'lit-' + index"
              :top="top"
              :node="lit"/>)
  </span>
</span>
</template>

<script>

import litList from './litList.vue'
import placeList from './placeList.vue'

export default {
    name: 'meaning-source-list-display',
    props: ['node','top'],
    components: { litList, placeList }
}

</script>
