<template>
<div class="node-list"
     :class="[focus ? 'focus' : 'inactive']">
  <span class="meaning-list"
        @click.stop="toggleEditMode"
        >
    <div class="menu-line"> 
      <drag class="drag"
            :transfer-data="{type: 'meaning-list', entry, node, nodes, dictionary: top.dictionary, top}">
        <drop class="drop"
              :class="{ over }"
              @dragover="over = true"
              @dragleave="over = false"
              @drop="handleDrop">
          <span class="tri" @click.stop="toggleHide" v-if="hide">&#x25B6;</span>
          <span class="tri" @click.stop="toggleHide" v-else>&#x25BC;</span>
          <span class="id" @click.stop="setActive">tydinger</span>
        </drop>
      </drag>
      <span class="flex-left"/>
      <span class="flex"
            v-if="!hide && focus && hasEditStatus()"
            @click="addNode">+&nbsp;ty(d)ing</span>
      <span v-if="!hide && focus && hasEditStatus()"
            class="flex"
            @click="deleteNode()">slett</span>
    </div>
    <div class="node" v-if="!hide && !edit">
      <meaning-list v-for="(mean, index) in node"
                    :key="index"
                    :node="mean"
                    :top="top"/>
    </div>
    <div v-if="edit && !hide">
      <table :key="keyStore.key">
        <meaning-list-edit v-for="mean in node"
                           type="meaning"
                           :key="mean.id"
                           :node="mean"
                           :nodes="node"
                           :entry="entry"
                           :top="top"/>
      </table>
    </div>
  </span>
</div>
</template>

<script>

import { app } from '@/main.js'

import { lexCommon, setPendingEditMode, setActive, setPrevActive, 
         hasEditStatus, newId, getNewId, focusEditNode,
         undoStackPush, canAcceptDrop, setEditMode, unsetEditMode
       } from '@/components/mixins/ordbokUtils.js'

import meaningList from './meaningList.vue'
import meaningListEdit from './meaningListEdit.vue'

export default {
    name: 'meaning-group',
    props: ['node','nodes','entry','top'],
    mixins: [lexCommon],
    components: { meaningList, meaningListEdit },
    data: function () {
        return { edit: false,
                 focus: false,
                 hide: false,
                 canGetFocus: true,
                 canEdit: true,
                 over: false }
    },
    mounted: function () {
        setPendingEditMode(this)
    },
    updated: function () {
        focusEditNode(this)
    },
    methods: {
        setActive: function () {
            setActive(this)
        },
        toggleEditMode: function () {
            setEditMode(this)
        },
        editModeOff: function () {
            app.activeComp == null
            this.edit = !this.edit
            undoStackPush(this)
        },
        // not used
        addMeaningTop: function () { // inserts an empty meaning at the top
            this.node.splice(0,0,{"id":getNewId()})
            undoStackPush(this)
        },
        addNode: function () {
            let meaning = { id: getNewId(),
                            type: 'meaning', // change to type_!
                            usage: [],
                            xrefs: [],
                            lit: [],
                            place: [],
                            attest: [],
                            srcHide: true,
                            placeHide: true,
                            attHide: true
                          }
            this.node.splice(0,0,meaning)
            app.editId = newId()+1
            app.addedComp = 'example'
            this.edit = true
            undoStackPush(this)
        },
        deleteNode: function() {
            setPrevActive()
            this.nodes.meanings = []
            event.cancelBubble = true
            undoStackPush(this)
        },
        hasEditStatus: function () {
            return hasEditStatus(this.top.dictionary)
        },
        handleDrop: function (data) {
            this.over = false
            if (canAcceptDrop(this, data)) {
                if (data.entry == this.top.entry) {
                    if (data.node.type == 'meaning') {
                        let dragIndex = data.nodes.indexOf(data.node)
                        if (this.nodes.meanings.length == 1 && !this.nodes.meanings[0].text) {
                            this.nodes.meanings = [data.node] // replace empty meaning node
                        } else {
                            this.nodes.meanings.splice(0,0,data.node)
                        }
                        data.nodes.splice(dragIndex,1)
                        undoStackPush(this)
                        // setEditMode(this)
                    } else if (data.type == 'meaning-list') {
                        // merge meanings
                        this.nodes.meanings = this.nodes.meanings.concat(data.node)
                        data.nodes.meanings = []
                        undoStackPush(this)
                    }
                }
            }
        },
        acceptDropxxx: function (data) {
            if (canAcceptDrop(this, data) && data.node.etype=='sub-entry') {
                this.over = true
            }
        },
        toggleHide: function () {
            this.hide=!this.hide
            if (this.hide) {
                unsetEditMode()
            }
        }
    }
}

</script>
