<template>
<span class="meaning-list">
  <meaning-list-display v-for="(mean, index) in node"
                        :key="index"
                        :node="mean"
                        :top="top"/>
</span>
</template>

<script>

import meaningListDisplay from './meaningListDisplay.vue'

export default {
    name: 'meaning-group-display',
    props: ['node','nodes','entry','top'],
    components: { meaningListDisplay }
}

</script>
