<template>
<span>
  <span v-html="introResolved"/>
  <span class="xref"
        v-html="node.title"
        @click="showRefEntry"/>
  <span v-if="node.coda?.length">
    {{node.coda}}
  </span>
  <span v-if="last == false && last2 == false">, </span>
  <span v-if="last2 == true"> og </span>
</span>
</template>

<script>

import { resolveText, showRefEntry
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'meaning-xref-list',
    props: ['node','top','last','last2'],
    computed: {
        introResolved: function () {
            if (this.node.intro) {
                return resolveText(this.top.dictionary, this.node.intro, []) + ' '
            } else {
                return ''
            }
        }
    },
    methods: {
        showRefEntry: function () {
            showRefEntry(this.top.dictionary,this.node.definition_id, this.node.article_id,true)
        }
    }
}

</script>
