<template>
<tr>
  <td>
    <select class="usage keyfocus"
            style="max-width: 5em"
            v-model="node.value"
            :id="node.id"
            @input="changeUsage">
      <option v-for="(usage, index) in app.usages[app.dictionary[0]]"
              :key="index"
              :value="usage">
        {{usage}}
      </option>
    </select>
  </td>
  <td class="button">
    <input class="button" type="button" @click="deleteUsage" value="-"/>
  </td>
  <td class="button">
    <input class="button keyfocus"
           type="button"
           @click="addUsage"
           value="+"/>
  </td>
</tr>
</template>

<script>

import { app } from '@/main.js'
import { undoStackPush, newId, getNewId, setPendingEditMode, focusEditNode
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'meaning-usage-edit',
    props: ['nodes','node','top','entry'],
    data: function () {
        return { app }
    },
    mounted: function () {
        setPendingEditMode(this)
    },
    updated: function () {
        focusEditNode(this)
    },
    methods: {
        addUsage: function () {
            app.editId = newId()
            this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                              { usage: null,
                                id: getNewId() })
            undoStackPush(this)
        },
        changeUsage: function () {
            undoStackPush(this)
        },
        deleteUsage: function () {
            this.nodes.splice(this.nodes.indexOf(this.node),1)
            undoStackPush(this)
        }
    }
}

</script>
