<template>
<div>
  <!--span>{{node.artikkelType}}</span-->
  <div v-if="node.oppslagsformer" class='node-list'>
    <span class='lemma comma'
          v-for="(o, index) in node.oppslagsformer"
          :key="index">
      {{o.oppslagsform}}
    </span>
  </div>
  <div v-if="node.setelListe && node.setelListe.length" class='node-list'>
    <div class="title">Seddelarkiv</div>
    <mo-setel v-for="(s, index) in node.setelListe"
              :node="s"
              :key="s.id" :last="index==node.setelListe.length-1"
              :id="s.id"
              :show_setel="node.setelListe.length == 1"/>
  </div>
  <div v-if="node.hotellListe && node.hotellListe.length" class='node-list'>
    <div class="title">Ordbokshotell</div>
    <mo-hotell v-for="(s, index) in node.hotellListe"
               :node="s"
               :key="s.id" :last="index==node.hotellListe.length-1"
               :id="s.id"
               :show_setel="node.hotellListe.length == 1"/>
  </div>
  <div v-if="node.grunnmanusListe && node.grunnmanusListe.length" class='node-list'>
    <div class="title">Grunnmanus</div>
    <mo-grunnmanus v-for="(s, index) in node.grunnmanusListe"
                   :node="s"
                   :key="s.id" :last="index==node.grunnmanusListe.length-1"
                   :id="s.id"
                   :show_setel="node.grunnmanusListe.length == 1"/>
  </div>
  <div v-if="node.blGrunnmanusListe && node.blGrunnmanusListe.length" class='node-list'>
    <div class="title">Blyant-Grunnmanus</div>
    <mo-grunnmanus v-for="(s, index) in node.blGrunnmanusListe"
                   :node="s"
                   :key="s.id" :last="index==node.blGrunnmanusListe.length-1"
                   :id="s.id"
                   :show_setel="node.blGrunnmanusListe.length == 1"/>
  </div>    
  <div v-if="node.skardListe && node.skardListe.length" class='node-list'>
    <div class="title">Skard</div>
    <mo-grunnmanus v-for="(s, index) in node.skardListe"
                   :node="s"
                   :key="s.id" :last="index==node.skardListe.length-1"
                   :id="s.id"
                   :show_setel="node.skardListe.length == 1"/>
  </div>    
  <div v-if="node.torpListe && node.torpListe.length" class='node-list'>
    <div class="title">Torp</div>
    <mo-grunnmanus v-for="(s, index) in node.torpListe"
                   :node="s"
                   :key="s.id" :last="index==node.torpListe.length-1"
                   :id="s.id"
                   :show_setel="node.torpListe.length == 1"/>
  </div>    
  <div v-if="entry.type=='ordbok'" class='node-list'>
    <div class="title" v-if="entry.dictionary=='bm'">Bokmålsordboka</div>
    <div class="title" v-else-if="entry.dictionary=='nn'">Nynorskordboka</div>
    <entry-wrapper
      :key="entry.id"
      :node="entry.entry"
      :entry="entry.entry"
      :nodes="entryList"
      :e="entry"
      :display="true"
      :entryCompID="1"
      :dictionary="entry.dictionary"/>
  </div>    
</div>
</template>

<script>

import moSetel from './moSetel.vue'
import moHotell from './moHotell.vue'
import moGrunnmanus from './moGrunnmanus.vue'
import entryWrapper from './entryWrapper.vue'

export default {
    name: 'mo-entry',
    props: ['node','entry','entryList'],
    components: { moSetel, moHotell, moGrunnmanus, entryWrapper },
    data: function () {
        return { page: 0 }
    }
}

</script>
