<template>
<div :class="['setel', show ? 'focus' : 'inactive']" @click="showSetel">
  <span v-show="show" class='small'>{{id}}</span>
  <span class='mo-ordform'>{{node.ordform}}</span>
  <span v-show="show" v-html="node.xml"></span>
</div>
</template>

<script>

import { showSetel
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'mo-hotell',
    props: ['node','nodes','id','last','show_setel'],
    data: function () {
        return { show: this.show_setel }
    },
    methods: {
        showSetel: function () {
            showSetel(this)
        }
    }
  }
  
</script>
