<template>
<div :class="['setel', show ? 'focus' : 'inactive']" @click="showSetel">
  <drag class="drag" :transfer-data="{type: 'setel', refObjekt: id, refTabellId: 436, refTitle: title}">
    <span v-show="show" class='small'>{{id}}</span>
  </drag>
  <span v-for="(o, index) in node.ordListe" :key="index">
    <span class='mo-ordform'>{{o.ordform}}</span>
    <span class="grammatikk">{{o.grammatikk}}</span><span v-if='!last'>, </span>
  </span>
  <div style="margin: 1em" v-if="node.kontekstLang && show">
    <para-list v-for="para in node.kontekstLang" :key="para" :line="para"/>
  </div>
  <div style="margin: 1em; color: gray" v-if="node.kommentarLang && show">
    <para-list v-for="para in node.kommentarLang" :key="para" :line="para"/>
  </div>
  <div style="margin: 1em" v-if="node.registrant && show">[reg: {{node.registrant.personnamn}}]
    <span>{{node.informant}}</span>
  </div><!-- fixme: is a list!-->
  <div style="margin: 1em" v-if="node.bibliografi.length && show">[bibl: {{node.bibliografi[0].forfatterTittel}}]
    <span>{{node.kommentar}}</span>
  </div><!-- fixme: is a list!-->
  <div style="margin: 1em" v-if="node.stad.length && show">[sted: {{node.stad[0].stadnamnkode}}]
    <span>{{node.kommentar}}</span>
  </div>
  <div v-if="show && node.hasFacsimile">
    <img width="510" :src="facsimilePath"/>
  </div>
</div>
</template>

<script>

import { showSetel, lexLispBase
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'mo-setel',
    props: ['node','nodes','id','last','show_setel'],
    data: function () {
        return { show: this.show_setel }
    },
    computed: {
        title: function () {
            function concat (str, o) { return str=='' ? o.ordform : str + ',' + o.ordform }
            return this.node.ordListe.reduce(concat,'')
        },
        facsimilePath: function () {
            return lexLispBase + '/setel-facsimile.jpg?setel-id=' + this.node.id + '&archive=' + this.node.archive
        }
    },
    methods: {
        showSetel: function () {
            showSetel(this)
        }
    }
}
</script>
