<template>
<b-container class="container m-3" fluid id="container">
  <b-row>
    <b-col md="auto">
      <b-alert variant="info" show size="sm">
        {{matchSize&lt;0?0:matchSize}} {{matchSize==1?'rad':'rader'}}
      </b-alert>
    </b-col>
    <b-col>
      <b-pagination v-if="matchSize>perPage"
                    size="sm"
                    v-model="currentPage"
                    first-text="Første"
                    prev-text="Forrige"
                    next-text="Neste"
                    last-text="Siste"
                    :total-rows="matchSize"
                    :per-page="perPage"
                    aria-controls="table"/>
    </b-col>
    <b-col>
      <b-button v-if="matchSize>0 && hasEditStatus"
                size="sm" variant="primary" @click="addRow"
                >Ny rad</b-button>
    </b-col>
  </b-row>
  <b-row>
    <b-alert variant="danger" size="sm" :id="alert">{{alert}}</b-alert>
  </b-row>
  <b-row>
    <b-alert variant="danger" size="sm" :show="staleDataId">
      Rad {{staleDataId}} har blitt endret eller slettet i en annen sesjon.
      Du må laste inn tabellen på nytt før du kan redigere denne raden.
      <b-button size="sm" @click="refresh">Last inn</b-button>
    </b-alert>
  </b-row>
  <b-row>
    <b-table striped hover irresponsive
             id="table"
             ref="table"
             thead-class="head"
             headVariant="light"
             @sort-changed="sortingChanged"
             :fields="fields"
             :items="rowsProvider"
             :per-page="perPage"
             :current-page="currentPage"
             :busy="busy">
      <template v-slot:head()="data">
        <div>
          {{data.label}}<br/>
          <b-form-input v-model="filter[data.field.key]"
                        type="search" size="sm"
                        autocomplete="off"
                        autocorrect="off"
                        autocapitalize="off"
                        @keydown.enter="filterRows()"
                        placeholder="filter"/>
        </div>
      </template>
      <template v-slot:head(id)="data">
        {{data.label}}
      </template>
      <template v-slot:head(delete)="data">
        {{data.label}}
      </template>
      <template v-slot:cell(id)="data">
        {{data.value}}
      </template>
      <template v-slot:cell(delete)="data">
        <div v-if="hasEditStatus">
          <b-button size="sm"
                    v-show="askDelete!=data.item.id"
                    @click="askDelete = data.item.id">Slett</b-button>
          <b-alert size="sm" :show="askDelete==data.item.id"><div>Er du sikker?</div>
            <nobr><b-button size="sm" @click="deleteRow(data)">Ja, slett</b-button>
              <b-button size="sm" @click="askDelete=null">Angre</b-button></nobr>
          </b-alert>
        </div>
      </template>
      <template v-slot:cell()="data">
        <div v-if="foc && !hasFocus(data)"
             class="attribute-value"
             @click="setFocus(data)">
          {{data.value.length ? data.value : '-'}}
        </div>
        <b-form-textarea v-if="foc && hasFocus(data)"
                         size="sm" rows="3" max-rows="8" class="textarea"
                         autocomplete="off"
                         autocorrect="off"
                         spellcheck="false"
                         autocapitalize="off"
                         @change="storeChanged(data)"
                         lazy
                         v-model="data.item[data.field.key]"/>
      </template>
    </b-table>
  </b-row>
  
</b-container>
</template>

<script>

// const sessionId = $('#session-id').val()

import { callAPI, // loadJSON,
         lexLispBase, showErrorMessage, sessionId, hasReadStatus, hasEditStatus
       } from '@/components/mixins/ordbokUtils.js'


const fields = [{key: "id", label: "ID", tdClass: "id", sortable: true},
                {key: "existingBM",
                 label: "Eksisterende i BM",
                 tdClass: "lemma", sortable: true},
                {key: "existingNN", label: "Eksisterende i NN", tdClass: "lemma", sortable: true},
                {key: "newLemma", label: "Nye lemma", tdClass: "lemma", sortable: true},
                {key: "nameDate", label: "Lagt inn av", tdClass: "text", sortable: true},
                {key: "comment", label: "Redaktørkommentar", tdClass: "longtext", sortable: true},
                {key: "response", label: "Respons fra språkrådet", tdClass: "longtext", sortable: true},
                {key: "fixedNameDate", label: "Rettet opp av", tdClass: "text", sortable: true},
                {key: "inserted", label: "Lagt inn i redaksjons-mål", tdClass: "text", sortable: true},
                {key: "delete", label: "", tdClass: "text"}]

var focusCell = null

export default {
    name: 'normalization-table',
    props: ['node','entries','id'],
    data: function () {
        return { edit: false, focus: false, hide: false, canGetFocus: false,
                 busy: false,
                 foc: true,
                 askDelete: null,
                 staleDataId: null,
                 rows: null,
                 currentPage: 1,
                 matchSize: -1,
                 perPage: 20,
                 fields,
                 filter: {},
                 sortBy: 'id',
                 sortDesc: true,
                 alert: null // does not work?
               }},
    computed: {
        hasReadStatus: function () {
            return hasReadStatus('norm') || hasReadStatus('bm') || hasReadStatus('nn')
        },
        hasEditStatus: function () {
            return hasEditStatus('norm') || hasEditStatus('bm') || hasEditStatus('nn')
        }
    },
    methods: {
        rowsProvider: function () {
            let promise = callAPI('https://clarino.uib.no' + lexLispBase + '/normalization',
                                  null,
                                  null,
                                  'absolute',
                                  null,
                                  { 'command': 'get-normalization-rows',
                                    jwt: localStorage.jwt,
                                    'session-id': sessionId(),
                                    'start': (this.currentPage - 1) * this.perPage,
                                    'end': this.currentPage * this.perPage - 1,
                                    'sort-key': this.sortBy,
                                    'sort-desc': this.sortDesc,
                                    json: JSON.stringify(this.filter)})
                .catch (showErrorMessage)
            return promise.then (r => {
                this.foc = null // trick to force rerendering of cells
                focusCell = null
                this.$nextTick(() => { this.$nextTick(() => { this.foc = true }) })
                this.matchSize = r.matchSize
                return r.rows || []
            })
        },
        refresh: function () {
            this.$refs.table.refresh()
            this.staleDataId = null
        },
        setFocus: function (data) {
            if (this.hasEditStatus) {
                this.foc = null // trick to force rerendering of cells
                focusCell = data.index + ":" + data.field.key
                this.$nextTick(() => { this.foc = true })
            }
        },
        hasFocus: function (data) {
            return focusCell == data.index + ":" + data.field.key
        },
        addRow: function () {
            this.currentPage = 1
            this.sortBy = 'id'
            this.sortDesc = true
            callAPI('https://clarino.uib.no' + lexLispBase + '/normalization',
                    null,
                    null,
                    'absolute',
                    null,
                    { command: 'add-normalization-row',
                      jwt: localStorage.jwt,
                      'session-id': sessionId(),
                    })
                .then (r=> { console.log(r) // catch error here!
                             this.refresh() })
                .catch (showErrorMessage)
        },
        storeChanged: function (data) {
            callAPI('https://clarino.uib.no' + lexLispBase + '/normalization',
                    null,
                    null,
                    'absolute',
                    null,
                    { command: 'store-normalization-row',
                      jwt: localStorage.jwt,
                      'session-id': sessionId(),
                      json: JSON.stringify(data.item)})

                .then(r => { if (r.error == "stale data") {
                                 this.staleDataId = data.item.id
                             }
                           })
                .catch (showErrorMessage)
        },
        deleteRow: function (data) {
            callAPI('https://clarino.uib.no' + lexLispBase + '/normalization',
                    null,
                    null,
                    'absolute',
                    null,
                    { command: 'delete-normalization-row',
                      jwt: localStorage.jwt,
                      'session-id': sessionId(),
                      id: data.item.id})
                .then(() => this.refresh())
                .catch (showErrorMessage)
        },
        filterRows: function () {
            this.$refs.table.refresh()
        },
        sortingChanged: function (ctx) {
            this.sortBy = ctx.sortBy
            this.sortDesc = ctx.sortDesc
            this.refresh()
        }
    }
}
            
</script>
