<template>
<b-container style="border: 1px solid gray; border-radius: 6px; margin-top: 0em; width: 100%">
  <h2 style="margin-top: 0.3em">Sorterer
    <span v-if="moStore.sorter_art_id"
          style="font-size: 10pt">for NO-artikkel {{moStore.sorter_art_id}} fc: {{moStore.focusCell}}, f: {{moStore.foc}}</span>
    <span v-else style="font-size: 10pt">
      (klikk ‘vis sorterer’ i NO-artikkelen)
    </span>
  </h2>
  <b-row v-if="moStore.sorter_art_id">
    <b-col>
      <b-container>
        <b-row>
          <b-col style="min-width: 30em">
            <b-form @submit.stop.prevent inline>
              <template v-if="moStore.sorter_list.length">
                <label class="label m-2" for="sorter-select">Navn: </label>
                <b-form-select size="sm"
                               id="sorter-select"
                               class="mr-2"
                               v-model="moStore.sorter_id"
                               :options="moStore.sorter_list"
                               value-field="sorter_id"
                               text-field="sorter_name"
                               @change="getSorter"
                               @input="getSorter"
                               />
              </template>
              <template v-else>
                <span>
                  (ingen sorterer funnet)
                </span>
              </template>
              <b-button class="m-1 py-0 px-1"
                        @click="showOperations=!showOperations"
                        size="sm"
                        variant="outline-secondary">
                <span v-if="showOperations">
                  <b-icon-chevron-down class="mr2"/> Operasjoner
                </span>
                <span v-else>
                  <b-icon-chevron-up class="mr2"/> Operasjoner …
                </span>
              </b-button>
            </b-form>
          </b-col>
        </b-row>
        <b-row v-show="showOperations">
          <b-col style="border: 1px solid black; padding: 1em; border-radius: 5px">
            
            <b-form @submit.stop.prevent inline>
              <label for="new-sorter" class="pr-3">Ny sorterer:</label>
              <b-form-input size="sm"
                            id="new-sorter"
                            style="width: 12em"
                            class="mr-2"
                            v-model.trim="new_sorter"
                            type="search"
                            autocomplete="off"
                            autocorrect="off"
                            autocapitalize="off"
                            @keydown.enter="newSorter"/>
              <b-button @click="newSorter"
                        class="m-1 py-0 px-1"
                        variant="outline-secondary"
                        size="sm">
                OK
              </b-button>
            </b-form>
            <b-form inline @submit.stop.prevent v-if="moStore.sorter_id">
              <label for="new-column" class="pr-3">Ny kolonne:</label>
              <b-form-input size="sm"
                            id="new-column"
                            style="width: 12em"
                            class="mr-2"
                            v-model.trim="new_column"
                            type="search"
                            autocomplete="off"
                            autocorrect="off"
                            autocapitalize="off"
                            @keydown.enter="newSorterColumn"/>
              <b-button @click="newSorterColumn"
                        class="m-1 py-0 px-1"
                        variant="outline-secondary"
                        size="sm">
                OK
              </b-button>
            </b-form>
            <b-form inline v-if="sorter_columns.length">
              <label for="delete-column" class="pr-3">Slett kolonne:</label>
              <b-form-select size="sm"
                             class="mr-2"
                             id="delete-column"
                             v-model="delete_column"
                             :options="[{label: '-', id: 0},...sorter_columns]"
                             value-field="id"
                             text-field="label"/>
              <b-button v-if="delete_column!=0"
                        @click="deleteSorterColumn"
                        class="m-1 py-0 px-1"
                        variant="outline-secondary"
                        size="sm">
                Slett
              </b-button>
            </b-form>
            <b-form @submit.stop.prevent inline v-if="moStore.sorter_id">
              <b-button @click="fetchFromMO"
                        class="m-1 py-0 px-1"
                        variant="outline-secondary"
                        :disabled="moBusy"
                        size="sm">
                <span v-if="moBusy">
                  Henter fra Metaordboken …
                </span>
                <span v-else>
                  Hent fra Metaordboken
                </span>
              </b-button>
            </b-form>
            <b-form inline v-if="moStore.sorter_id">
              <b-button v-if="!askDelete"
                        @click="askDelete=true"
                        class="m-1 py-0 px-1"
                        variant="outline-secondary"
                        size="sm">
                <b-icon-trash/>
                Slett sorterer
              </b-button>
              <template v-else>
                <b-button @click="deleteSorter"
                          class="m-1 py-0 px-1"
                          variant="outline-secondary"
                          size="sm">
                  <b-icon-trash/>
                  Ja, slett sortereren!
                </b-button>
                <b-button @click="askDelete=false"
                          class="m-1 py-0 px-1"
                          variant="outline-secondary"
                          size="sm">
                  Ups, nei!
                </b-button>
              </template>
            </b-form>
          </b-col>
        </b-row>
        <b-row v-if="total_rows">
          <b-col cols="auto">
            <b-badge class="m-2">
              {{total_rows&lt;0?0:total_rows}} {{total_rows==1?'rad':'rader'}}
            </b-badge>
          </b-col>
          <b-col cols="auto">
            <b-pagination v-if="total_rows>moStore.sorterPerPage"
                          size="sm"
                          v-model="currentPage"
                          first-text="Første"
                          prev-text="Forrige"
                          next-text="Neste"
                          last-text="Siste"
                          :total-rows="total_rows"
                          :per-page="moStore.sorterPerPage"
                          aria-controls="table"/>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <!--small>
                Ved å klikke på en rad kan du velge den, alle andre velges bort. Med Shift + klikk kan du velge en rekke med rader, og Cmd + klikk inverterer valget av den klikkete raden. Valgte rader kan dras til en artikkel.
                </small-->
            <drag :transfer-data="getSelectedRows()"
                  :draggable="dragItemCount > 0"
                  tag="span"
                  class="drag">
              <template slot="image">
                <div>
                  <div style="font-size: 10pt; margin-left: 1em; padding: 0.5em; border: 1px solid gray; border-radius: 5px; background: white">
                    {{dragItemCount}} belegg
                  </div>
                </div>
              </template>
              <div style="height: calc(100vh - 20.5em); xwidth: 30em; overflow-y: scroll"
                   v-if="moStore.sorter_id">
                <b-table selectable sort-icon-left
                         select-mode="range"
                         ref="sorterTable"
                         :items="sorterItemsProvider"
                         :per-page="moStore.sorterPerPage"
                         :current-page="currentPage"
                         :fields="sorter_fields"
                         xxxrow-clicked="toggleArticle"
                         class="small"
                         @sort-changed="sortingChanged"
                         @row-selected="rowSelected"
                         @context-changed="contextChanged"
                         @refreshed="refreshed"
                         tbody-tr-class="sorter"
                         :tbody-tr-attr="tbodyTrAttr"
                         small caption-top>
                  <template #cell(delete)="data">
                    <b-icon-trash @click.stop="deleteSorterRow(data)"/>
                  </template>
                  <template #cell(dict_id)="data">
                    <span class="font-weight-bold" :id="data.value + '_' + data.item.art_id">
                      {{data.value}}
                    </span>
                  </template>
                  <template v-slot:cell(title)="data">
                    <span @click="toggleArticle(data.item)">
                      {{data.value}}
                    </span>
                  </template>
                  <template v-slot:cell()="data">
                    <div :id="'cell-' + data.index + '-' + data.field.key">
                      <div v-if="!hasFocus(data)"
                           class="attribute-value"
                           @click.stop="setFocus(data)">
                        {{data.value.length ? data.value : '-'}}
                      </div>
                      <b-form-input v-if="moStore.foc && hasFocus(data)"
                                    :id="'text-'+data.index + '-' + data.field.key"
                                    size="sm"
                                    autocomplete="off"
                                    autocorrect="off"
                                    spellcheck="false"
                                    autocapitalize="off"
                                    @change="storeText(data)"
                                    lazy
                                    v-model="data.item[data.field.key]"/>
                    </div>
                  </template>
                  <template v-if="showDetails" v-slot:row-details>
                    <mo-dict-article v-if="dart" :dart="dart"/>
                  </template>
                </b-table>
              </div>
            </drag>
            <!--span v-if="!total_rows" class="nobr">Sortereren er tom.</span-->
          </b-col>
        </b-row>
      </b-container>
    </b-col>
    <b-col>

        <mo-dict-article v-if="dart" :dart="dart" mode="passive"/>

    </b-col>
  </b-row>
</b-container>

</template>


<script>

import { mapStores } from 'pinia'

import { callAPI, useMOStore, lexCommon, showErrorMessage, hasEditStatus, unsetEditMode
       } from '@/components/mixins/ordbokUtils.js'

import moDictArticle from '../ordbank/moDictArticle.vue'

export default {
    name: 'no-sorter',
    components: { moDictArticle },
    mixins: [lexCommon],
    data: function () {
        return {
            column_ids: {},
            sorter_items: [],
            sorter_fields: [],
            sorter_columns: [],
            delete_column: 0,
            dart: null,
            details_row: null,
            new_column: null,
            new_sorter: null,
            total_rows: 0,
            currentPage: 1,
            moBusy: false,
            sortBy: null,
            sortDesc: false,
            askDelete: false,
            showOperations: false,
            showDetails: false,
            dragItemCount: 0,
            queryId: 0
        }
    },
    props: ['node','top'],
    computed: {
        ...mapStores(useMOStore),
        hasEditStatus: function () {
            return hasEditStatus('no')
        }
    },
    methods: { // data not used!
        getSelectedRows: function (data) {
            let items =
                this.sorter_items
                .map(r => {
                    return { dict_id: r.dict_id, art_id: r.art_id, title: r.title }
                })
                .filter((r,i) => this.$refs.sorterTable.isRowSelected(i))
            let dragData = null
            if (items.length) {
                this.dragItemCount = items.length
                dragData = { dictionary: 'no', mode: 'mo-articles', items }
            } else if (data) {
                this.dragItemCount = 1
                dragData = { dictionary: 'no', mode: 'mo-articles',
                             items: [ { dict_id: data.item.dict_id,
                                        art_id: data.item.art_id,
                                        title: data.item.title,
                                        dictionary: 'no' } ]
                           }
            }
            this.lexStore.dragData = dragData
            return dragData
        },
        getSorter: function () {
            this.refresh()
        },
        sorterItemsProvider: function () {
            this.dragItemCount = 0
            this.moStore.details_row = null
            this.moStore.focusCell = null
            // console.log('sort-by', this.sortBy, this.sortDesc)
            if (this.moStore.sorter_art_id && this.moStore.sorter_id) {
                let promise = callAPI('/dict/' + 'no' +
                                      '/article/' + this.moStore.sorter_art_id +
                                      '/sorter/' + this.moStore.sorter_id +
                                      '?offset=' + ((this.currentPage - 1)
                                                    * this.moStore.sorterPerPage) +
                                      '&limit=' + this.moStore.sorterPerPage +
                                      '&sort_key=' + (this.sortBy || '') +
                                      '&sort_reversed=' + (this.sortDesc ? 1 : 0))
                    .catch (showErrorMessage)
                return promise.then(r => {
                    if (r.columns) {
                        this.sorter_columns = r.columns
                        this.sorter_items = r.sorter_table
                        r.columns.forEach(c => this.column_ids[c.key] = c.id)
                        r.columns.forEach(c => { c['thClass'] = 'nobr'
                                                 c['tdClass'] = 'sorter-cell',
                                                 c['sortable'] = true })
                        this.sorter_fields = [ { key: 'dict_id',
                                                 label: 'ID',
                                                 tdClass: 'sorter-label',
                                                 sortable: true },
                                               { key: 'title',
                                                 label: 'Lemma',
                                                 tdClass: 'sorter-row-title',
                                                 sortable: true },
                                               ... r.columns ]
                        this.sorter_fields.push({ 'key': 'delete', 'label': 'Slett' })
                        this.total_rows = r.total_rows
                        return r.sorter_table
                    } else {
                        this.total_rows = 0
                        return []
                    }
                })
            } else {
                return []
            }
        },
        refresh: function () {
            this.$refs.sorterTable.refresh()
            this.moStore.foc = true // 
        },
        refreshed: function () {
            // don’t use jQuery because it adds event listeners multiple times
            this.$nextTick(() => {
                let trList = document.getElementsByClassName("sorter")
                Array.from(trList).forEach(elt => {
                    elt.addEventListener("focus", this.sorterRowFocused)
                })
            })
        },
        tbodyTrAttr: function (item, type) {
            if (type == 'row') {
                return { id: item.dict_id + '/' + item.art_id }
            } else {
                return {}
            }
        },
        toggleArticle: function (row) {
            if (row._showDetails) {
                row._showDetails = false
                this.moStore.details_row = null
            } else if (row) {
                if (this.moStore.details_row) {
                    this.moStore.details_row._showDetails = false
                }
                let path = "/dict/" + row.dict_id + '/' + row.art_id
                callAPI(path, null, null, 'ordbank')
                    .then( r => {
                        this.dart = r[0]
                        row._showDetails = true
                        this.moStore.details_row = row
                    })
                    .catch (showErrorMessage)
            }
        },
        showSorters: function (sorter_id) {
            console.log('showSorters:')
            callAPI('/dict/no/article/' + this.moStore.sorter_art_id + '/sorters')
                .then(r => {
                    this.moStore.sorter_list = r
                    this.moStore.sorter_id = sorter_id || (r.length ? r[0].sorter_id : null)
                })
                .catch (showErrorMessage)
        },
        sortingChanged: function (ctx) {
            console.log('ctx', ctx)
            this.sortBy = ctx.sortBy
            this.sortDesc = ctx.sortDesc
        },
        rowSelected: function (sel) {
            this.moStore.foc = true
            console.log('sel:', sel)
        },
        contextChanged: function (ctx) {
            console.log('ctx:', ctx)
        },
        sorterRowFocused: function () {
            let path = "/dict/" + document.activeElement.id
            let queryId = ++this.queryId
            callAPI(path, null, null, 'ordbank')
                .then( r => {
                    if (queryId == this.queryId) {
                        this.dart = r[0]
                        
                        /*
                          if (this.moStore.focusCell) {
                          this.moStore.foc = false
                          this.moStore.focusCell = null
                          this.$nextTick(() => {
                          this.moStore.foc = true
                          })
                          }
                        */
                    }
                })
                .catch (showErrorMessage)
        },
        newSorter: function () {
            callAPI('/dict/no/article/' + this.moStore.sorter_art_id +
                    '/sorter',
                    'PUT', JSON.stringify({ 'mode': 'new-sorter',
                                            'sorter_name': this.new_sorter }))
                .then(r => {
                    this.showSorters(r.sorter_id)
                    this.new_sorter == null
                })
                .catch (showErrorMessage)
        },
        deleteSorter: function () {
            if (this.moStore.sorter_art_id) {
                callAPI('/dict/no/article/' + this.moStore.sorter_art_id +
                        '/sorter/' + this.moStore.sorter_id,
                        'DELETE')
                    .then(() => { this.showSorters()
                                  this.refresh()
                                  this.showDetails = false
                                  this.askDelete = false
                                  this.moStore.sorter_id = null
                                  this.sorter_columns = []
                                })
                    .catch (showErrorMessage)
            }
        },
        newSorterColumn: function () {
            if (this.new_column) {
                callAPI('/dict/' + 'no' + '/article/' + this.moStore.sorter_art_id +
                        '/sorter/' + this.moStore.sorter_id,
                        'PUT', JSON.stringify({ 'mode': 'add-column',
                                                'column_name': this.new_column })
                       )
                    .then(() => {
                        this.refresh()
                        this.new_column = null
                        this.showOperations = false
                    })
                    .catch (showErrorMessage)
            }
        },
        deleteSorterColumn: function () {
            if (this.delete_column != '-') {
                callAPI('/dict/' + 'no' + '/article/' + this.moStore.sorter_art_id +
                        '/sorter/' + this.moStore.sorter_id,
                        'PATCH', JSON.stringify({ 'mode': 'delete-column',
                                                  'column_id': this.delete_column })
                       )
                    .then(() => this.refresh())
                    .catch (showErrorMessage)
            }
        },
        storeText: function (data) {
            // console.log('store:', data, data.field.key, data.item.ref_id)
            callAPI('/dict/' + 'no' + '/article/' + this.moStore.sorter_art_id +
                    '/sorter/' + this.moStore.sorter_id,
                    'PATCH', JSON.stringify({ 'mode': 'store-text',
                                              'column_id': this.column_ids[data.field.key],
                                              'ref_id': data.item.ref_id,
                                              'text': data.item[data.field.key]
                                            }))
                .catch (showErrorMessage)
        },
        deleteSorterRow: function (data) {
            callAPI('/dict/' + 'no' + '/article/' + this.moStore.sorter_art_id +
                    '/sorter/' + this.moStore.sorter_id,
                    'PATCH', JSON.stringify({ 'mode': 'delete-row',
                                              'ref_id': data.item.ref_id
                                            })
                   )
                .then(() => this.refresh())
                .catch (showErrorMessage)
        },
        fetchFromMO: function () {
            if (this.hasEditStatus) {
                this.moBusy = true
                callAPI('/dict/' + 'no' + '/article/' + this.moStore.sorter_art_id +
                        '/sorter/' + this.moStore.sorter_id,
                        'PATCH', JSON.stringify({ 'mode': 'fetch-from-mo' }))
                    .then(() => {
                        this.refresh()
                        this.moBusy = false
                        this.showOperations = false
                    })
                    .catch (showErrorMessage)
            }
        },
        setFocus: function (data) {
            console.log('setFocus')
            if (this.hasEditStatus) {
                unsetEditMode()
                this.moStore.foc = null // trick to force rerendering of cells
                this.moStore.focusCell = data.index + '-' + data.field.key
                this.moStore.sorterVue = this
                this.$nextTick(() => {
                    this.moStore.foc = true
                    this.$nextTick(() => {
                        let active = document.getElementById('text-'+data.index + '-' + data.field.key)
                        if (active) active.focus()
                    })
                })
            }
        },
        hasFocus: function (data) {
            return this.moStore.focusCell == data.index + '-' + data.field.key
        }
    }
}

</script>
