<template>
<div :class="'node-list ' + [focus ? 'focus' : 'inactive']">
     <div class="menu-line">
        <span class="tri" @click="hide=!hide" v-if="hide">&#x25B6;</span>
        <span class="tri" @click="hide=!hide" v-else>&#x25BC;</span>
    <span class="id" @click.stop="setActive">eldre kjelde</span>
    <template v-if="!hide && focus">
      <span class="flex-left"/>
      <span class="flex" v-if="!node.hpOlderSource"
            @click.stop="addNode()">+ Eldre kjelde</span>
      <span class="flex" @click="deleteNode()">slett</span>
    </template>
     </div>
     <div class="node" v-show="!hide">
       <bracket-group v-if="node.hpOlderSource"
                      key="older_source"
                      :hp="nodes"
                      :entry="entry"
                      :top="top"
                      :node="node.hpOlderSource"
                      type="older_source"/>
     </div>
  </div>
</template>

<script>

import { app } from '@/main.js'

import { getNewId, undoStackPush, setActive, setPrevActive
       } from '@/components/mixins/ordbokUtils.js'

import bracketGroup from './bracketGroup.vue'

export default {
    name: 'older-source-group',
    props: ['entry','top','node','nodes'],
    components: { bracketGroup },
    data: function () {
        return {
            focus: false,
            hide: false,
            canGetFocus: true
        }
    },
    methods: {
        setActive: function () { setActive(this) },
        addNode: function () {
            this.node.hpOlderSource = [{"id":getNewId(),
                                        "type_":"older_source",
                                        "older_source":""}];
            app.addedComp = 'bracket-group';
            this.nodes.changed['older_source'] = true
            undoStackPush(this)
        },
        deleteNode: function() {
            setPrevActive()
            // console.log(this.nodes)
            this.nodes.older_source = null
            this.nodes.changed['older_source'] = true
            undoStackPush(this)
        }
    }
}

</script>
