<template>
<bracket-group-display v-if="node.hpOlderSource"
                       key="older_source"
                       :entry="entry"
                       :top="top"
                       :node="node.hpOlderSource"
                       type="older_source"/>
</template>



<script>

import bracketGroupDisplay from './bracketGroupDisplay.vue'

export default {
    name: 'older-source-group-display',
    props: ['entry','top','node'],
    components: { bracketGroupDisplay }
}

</script>
