<template>
<div>
  <b-alert variant="danger" :show="alert" dismissible>{{alert}}</b-alert>
  <div v-if="!canView">
    <b-row>
      <b-col>
        <h1 class="m-3">
          Du må være innlogget for å kunne se denne siden.
        </h1>
      </b-col>
    </b-row>
  </div>
  <div v-else style="padding: 1em 1em 0em 1em;">
    <b-card no-body>
      <b-card-text>
        <b-row style="height: 2em">
          <b-col>
            <b-form inline>
              <span>Vis: </span>
              <b-form-checkbox v-model="lexStore.settings.row2"
                               class="ml-2 checkbox">
                artikkelsøk (1)
              </b-form-checkbox>
              <b-form-checkbox v-model="lexStore.settings.row3"
                               class="ml-2 checkbox">
                artikkelsøk (2)
              </b-form-checkbox>
              <b-form-checkbox v-model="lexStore.settings.row0"
                               class="ml-2 checkbox">
                artikler (1)
              </b-form-checkbox>
              <b-form-checkbox v-model="lexStore.settings.row1"
                               class="ml-2 checkbox">
                artikler (2)
              </b-form-checkbox>
              <b-form-checkbox v-if="norskOrdbok"
                               v-model="lexStore.settings.row4"
                               class="ml-2 checkbox">
                Metaordbok
              </b-form-checkbox>
              <b-form-checkbox v-if="norskOrdbok"
                               v-model="lexStore.settings.row5"
                               class="ml-2 checkbox">
                Ordbøker
              </b-form-checkbox>
              <b-form-checkbox v-if="norskOrdbok"
                               v-model="lexStore.settings.row6"
                               class="ml-2 checkbox">
                Sorterer
              </b-form-checkbox>
            </b-form>
          </b-col>
        </b-row>
        <splitpanes v-if="useSplitPanes"
                    class="default-theme"
                    :dbl-click-splitter="false"
                    :push-other-panes="false"
                    @resize="resizePanes($event)"
                    >
          <pane v-if="lexStore.settings.row2" xxsize="lexStore.settings.width2"
                min-size="18"
                max-size="19">
            <entry-search id="2"/>
          </pane>
          <pane v-if="lexStore.settings.row3" xxsize="lexStore.settings.width3"
                min-size="18"
                max-size="19">
            <entry-search id="3"/>
          </pane>
          <pane v-if="lexStore.settings.row0" xxsize="lexStore.settings.width0">
            <dict-entries id="0"/>
          </pane>
          <pane v-if="lexStore.settings.row1" xxsize="lexStore.settings.width1">
            <dict-entries id="1"/>
          </pane>
          <pane v-if="norskOrdbok && lexStore.settings.row4" xxsize="lexStore.settings.width4">
            <meta-ordbok-n-o id="4" mode="mo-no"/>
          </pane>
          <pane v-if="norskOrdbok && lexStore.settings.row5" xxsize="lexStore.settings.width5">
            <mo-dictionaries id="5" mode="passive"/>
          </pane>
          <pane v-if="norskOrdbok && lexStore.settings.row6" xxsize="lexStore.settings.width6">
            <no-sorter id="6"/>
          </pane>
          
        </splitpanes>
        <table v-if="!useSplitPanes">
          <tr>
            <td v-if="lexStore.settings.row2"
                style="border-right: solid 1px gray; padding: 0.0em">
              <entry-search id="2"/>
            </td>
            <td v-if="lexStore.settings.row3"
                style="border-right: solid 1px gray; padding: 0.0em">
              <entry-search id="3"/>
            </td>
            <td>
              <dict-entries id="0" v-if="lexStore.settings.row0"/>
            </td>
            <td>
              <dict-entries id="1" v-if="lexStore.settings.row1"/>
            </td>
            <td v-if="norskOrdbok">
              <meta-ordbok-n-o id="4" v-if="lexStore.settings.row4" mode="mo-no"/>
            </td>
            <td v-if="norskOrdbok">
              <mo-dictionaries id="5" v-if="lexStore.settings.row5" mode="passive"/>
            </td>
            <td v-if="norskOrdbok">
              <no-sorter id="6" v-if="lexStore.settings.row6"/>
            </td>
          </tr>
      </table>
    </b-card-text>
  </b-card>
  </div>
</div>
</template>

<script>

import { Splitpanes, Pane } from 'splitpanes'
import 'splitpanes/dist/splitpanes.css'

// import { app } from '@/main.js'
import { api } from '@/components/mixins/api.js'

import dictEntries from './dictEntries.vue'
import entrySearch from './entrySearch.vue'

// import moArticleNO from '../ordbank/moArticleNO.vue'
import metaOrdbokNO from '../ordbank/metaOrdbokNO.vue'
import moDictionaries from '../ordbank/moDictionaries.vue'
import noSorter from './noSorter.vue'

import { lexCommon, norskOrdbok, handleKeyDown // , cacheEndpoint
       } from '@/components/mixins/ordbokUtils.js'

import { globals } from '../korpuskel/src/components/mixins/globals.js'

export default {
    name: 'ordbok-search',
    mixins: [api, lexCommon, globals],
    components: { dictEntries, entrySearch, moDictionaries, metaOrdbokNO, // moArticleNO,
                  noSorter, Splitpanes, Pane },
    data: function () {
        return { edit: false,
                 focus: false,
                 hide: false,
                 canGetFocus: false,
                 busy: false,
                 useSplitPanes: false,
                 paneSize: 50,
                 tabs: { tabIndex: 0 },
                 // display: false,
                 alert: null,
                 word: '',
                 prevWord: null,
                 entryList: [],
                 sorter: [],
                 entryType: 'article',
                 entryId: null, // for sorter
                 entryChanged: false,
                 dictionary: 'bm',
                 norskOrdbok
               }
    },
    mounted: function () {
        window.addEventListener('keydown', handleKeyDown)
    },
    destroyed: function () {
        window.removeEventListener('keydown', handleKeyDown)
    },
    computed: {
        canView: function () {
            return this.sessionStore.jwt && true
        }
    },
    methods: {
        resizePanes: function (event) {
            
            console.log('event:', event)
        }
    }
}
</script>

<style>

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*
@font-face {
  font-family: Halflings;
  src: url('woff/glyphicons-halflings-regular.woff') format('woff');
}
*/
div.ordbok {
  max-width: 80em;
  min-width: 50em;
  margin: 0.5em;
  margin-top: 0;
  padding: 1em;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 10pt;
}

div.focus {
    /*  background: #ddeeff; */
    /* background: #c2d995; */
    /* background: #f0f6e5; */
    background: #f3f8ea; /* light green, Clarino color */
    padding: 0;
    padding-left: 4px;
    border: 1px solid black;
    border-radius: 8px;
}

div.inactive {
  padding-left: 4px;
}

div.entry {
  margin: 0.5em;
  padding: 0em;
  padding-bottom: 0.3em;
  font-size: 10pt;
  width: 50em;
  border: 1px solid black;
}

div.entry-display {
  margin: 0.5em;
  padding: 0.5em;
  font-size: 10pt;
  width: 50em;
  border: 1px solid black;
}

div.sub-entry {
  margin: 0.5em;
  padding: 0;
}

div.subentries-label {
  font-style: italic;
}

div.definition {
  font-size: 10pt;
  margin-left: 0.4em;
  margin-top: 0em;
  margin-bottom: 0em;
}

div.null-definition {
  margin-left: 0em;
}

div.definition-display {
  margin: 0.5em;
  font-size: 10pt;
  margin-left: 0.4em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  text-indent: -1.2em;
}

div.null-definition-display {
  margin-left: 0.4em;
}

div.null-definition-display1 {
  margin-left: 1em;
}

div.compound-display {
  text-indent: 0;
}

tr.edit-group {
  padding: 0.5em;
  border: 1px solid black;
}

div.list {
  margin-left: 0.4em;
}

div.subentry {
  margin-left: 1.3em;
}

div.title {
  margin: 0.5em;
}

div.busy {
  margin-left: 1.5em;
}

div.list:hover {
  cursor: pointer;
}

span.busy {
  color: red;
}

span.error {
  color: red;
}

span.hidden {
  display: none;
}

span.short-content {
  margin-left: 0.5em;
  font-size: smaller;
}

span.short-content-lemma {
  margin-left: 0.5em;
  font-size: larger;
}

span.entry {
  color: #004499;
}

a.entry {
  color: #004499;
}

a.lemma {
  font-weight: bold;
}

/* see kwicConcordance! */
span.label {
  font-style: italic;
}

span.ilabel {
  border: 1px solid gray;
  color: gray;
  font-size: smaller;
  cursor: pointer;
}

span.id {
  /* color: gray; */
  font-size: 10px;
  font-weight: normal;
  cursor: pointer;
}

span.id:hover {
  color: red;
}

span.tri {
  color: gray;
  margin-right: 0.4em;
  font-size: 6pt;
  cursor: pointer;
}

span.def-index {
  font-weight: bold;
  margin-left: 0;
  padding: 1px;
}

span.divider {
  font-style: normal;
  color: gray;
}

span.lemma {
  font-weight: bold;
  color: #004499;
  font-size: larger;
}

span.sublemma {
  font-weight: bold;
  color: #004499;
}

span.hgno {
}

span.underkat {
  font-weight: bold;
}

span.ordklasse {
    font-style: italic;
    cursor: pointer
}

span.usage {
  font-style: italic;
}

span.example-usage {
  font-style: normal;
  font-size: 8pt;
  color: black;
}

span.explanation {
  font-style: italic;
}

span.defnr {
  font-weight: bold;
}

span.title {
  color: blue;
  font-style: italic;
}

span.iref {
  color: blue;
  cursor: pointer;
}

span.edit-active {
  display: none;
}

span.edit {
  font-weight: bold;
}

span.xref {
  color: blue;
  cursor: pointer;
}

.small {
  font-size: smaller;
}

.x-small {
  font-size: x-small;
}

.grammatikk {
  font-size: smaller;
  color: gray;
}

span.xref:hover {
  text-decoration: underline;
}

span.source {
  text-indent: 0;
  color: black;
  font-style: normal;
  font-size: 8pt;
}

span.place {
  position: absolute;
  background: white;
  z-index: 2;
  font-size: 8pt;
  border: 1px solid gray;
  margin: 2em;
  padding: 0.3em;
  border-radius: 6px;
  width: 20em;
}

span.sorter {
  position: absolute;
  background: white;
  z-index: 2;
  border: 1px solid gray;
  padding: 0.3em;
  border-radius: 6px;
}

.header {
  font-style: italic;
  font-size: smaller;
  padding: 0.5em;
}

table > tr {
    vertical-align: top
}

table.bracket-list-edit {
  width: 100%;
}

table.edit {
  width: 100%;
}

th.editx {
    font-weight: normal;
    font-style: italic
}

table.test {
  border: solid 1px green;
}

tr.lemma-edit {
}

table.paradigme {
  border: 2px solid black;
  margin: 1em;
}

tr.paradigme {
  padding: 1em;
}

th.paradigme {
  font-weight: bold;
  padding: 4px;
}

td.paradigme-oppslag {
  font-weight: bold;
  padding: 4px;
}

td.paradigme-tag {
  font-style: italic;
  padding: 4px;
}

tbody.example-edit {
  border-top: 1px solid black;
}

td.edit {
  vertical-align: top;
}

th.sorter {
  padding: 4px;
  font-weight: bold;
  cursor: pointer;
}

td.sorter {
  border: 1px solid gray;
  padding: 4px;
  font-size: smaller;
  max-width: 20em;
}

td.sorter-label {
    cursor: pointer
}

td.sorter-row-title {
    max-width: 20em
}

td.sorter-cell {
  cursor: pointer;
}

td.focus {
  border: 1px solid black;
  background: #ddeeff;
}

textarea.example-edit {
  width: 100%;
}

textarea.explanation-edit {
  width: 100%;
}

textarea.definisjon {
  width: 100%;
}

div.autocomplete {
  position: absolute;
  background: white;
  z-index: 2;
  width: 30em;
  border: 1px solid gray;
  border-radius: 6px;
}

table.autocomplete {
  font-size: 8pt;
  margin: 2px;
}

div.node {
  margin-left: 0.8em;
}

div.search-results {
  overflow-y: auto;
  хmax-height: 38em;
  width: 15em;
  padding: 0;
}

div.check-lemma {
  position: absolute;
  z-index: 2;
  background: white;
  border: 1px solid gray;
  padding: 0.3em;
  margin-top: 0.5em;
  border-radius: 6px;
}

div.check-lemma-list {
  width: 15em;
  padding-left: 1em
}

ul.check-lemma-list {
  margin: 0
}

div.place-select {
  position: absolute;
  z-index: 2;
  background: white;
  border: 1px solid gray;
  padding: 0.3em;
  margin-top: 0.5em;
  border-radius: 6px;
}

div.place-list-select {
  width: 30em;
  padding: 0;
}

div.lit-list-select {
  position: absolute;
  z-index: 2;
  background: white;
  border: 1px solid gray;
  padding: 0.3em;
  margin-top: 0.5em;
  border-radius: 6px;
}

div.lit-list-select.dialect {
  margin-left: -16em;
}

div.xref-link {
  border-top: 1px solid gray;
}

ul.xref-link
{
    list-style-type: none;
    padding-left: 0.5em
}

ul.def-link
{
    list-style-type: none;
    padding-left: 1em
}

li.def-link
{
    cursor: pointer
}

div.xref-def-link {
  padding-left: 0.5em;
  border-top: 1px solid gray;
}

div.referencing {
  position: absolute;
  right: 3px;
  background: white;
  border: 1px solid gray;
  padding: 0.3em;
  border-radius: 6px;
}

div.referencing-list {
  overflow-y: auto;
  max-height: 20em;
  /* width: 15em; */
  padding: 0;
}

div.status-historie {
  position: absolute;
  z-index: 1;
  right: 3px;
  background: white;
  border: 1px solid gray;
  padding: 0.3em;
  border-radius: 6px;
}

div.status-historie-list {
  overflow-y: auto;
  max-height: 20em;
  max-width: 30em;
  padding: 0;
}

div.head {
  margin: 0.2em;
}

div.head1 {
  margin: 0.4em;
}

div.form {
  margin: 0.2em;
  margin-left: 0.8em;
  padding: 0.2em;
  border: 1px solid gray;
}

span.head {
  margin: 0.3em;
}

span.head1 {
  font-weight: bold;
}

span.click {
  cursor: pointer;
  float: right;
  border: 1px solid gray;
  padding: 2px;
  border-radius: 2px;
}

.bracket-pronunciation {
  width: 100%;
}

.bracket-intro {
  width: 100%;
}

.bracket-underkat {
  width: 40%;
}

.bracket-form {
  width: 80%;
}

td.bracket-language {
  width: 10%;
}

.bracket-spec {
  width: 100%;
}

.bracket-freetext {
  width: 55%;
}

.bracket-tittel {
  width: 100%;
}

.bracket-intro-lit {
  width: 100%;
}

.alternativt {
  width: 100%;
}

.rightalign {
  text-align: right;
}

td.id {
  font-size: smaller;
}

td.entries {
  vertical-align: top;
  width: 60em;
  border-left: 1px solid gray;
}

td.button {
  padding-left: 0.1em;
  padding-right: 0.1em;
  vertical-align: top;
  text-align: center;
  width: 2em;
}

input.button {
    margin: 0.1em;
}

td.delete-button {
  padding-left: 0.1em;
  padding-right: 0.1em;
  vertical-align: center;
  text-align: center;
  width: 2em;
}

.drag:hover {
  color: red;
}

.drop.over {
    border: 1px solid red;
    border-radius: 5px;
    background: lightgray;
}

.drop.xOver {
  border: 1px solid green;
  border-color: #aaa;
  background: lightgray;
}

td.drop {
  text-align: center;
  border: 1px solid gray;
  width: 1em;
  font-family: Halflings;
  cursor: pointer
}

input.over {
    border: 1px solid red;
    border-radius: 5px;
    background: lightgray;
}

input.drop-button {
  font-family: Halflings;
}

td.drop-button {
  text-align: center;
  width: 1em;
  font-family: Halflings;
  cursor: pointer
}

th.drag {
  text-align: center;
  border: 1px solid gray;
  width: 1em;
  font-family: Halflings;
  font-style: normal;
  width: 1em;
}

td.drag {
  text-align: center;
  border-right: 1px solid gray;
  width: 1em;
}

span.drag {
}

span.reorder {
  font-family: Halflings;
}

span.example {
  color: gray;
  font-style: italic;
}

span.explanation {
  color: gray;
  font-size: smaller;
  font-style: italic;
}

span.add-title {
  float: right;
  padding: 3px;
  margin-right: 0.5em;
  font-size: smaller;
}

span.add {
  float: right;
  padding: 3px;
  margin-right: 1em;
  font-size: smaller;
  cursor: pointer;
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
}

span.add:hover {
  color: black;
  background: red;
}

div.menu-line {
  display: flex;
  align-items: baseline;
  margin: 0.2em;
}

div.flex {
  display: flex;
  align-items: baseline;
  margin: 0.2em;
}

div.vertical-plus-minus-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

span.flex-left {
  margin-left: auto;
}
span.flex-top {
  margin-top: auto;
}

span.flex {
  padding: 3px;
  margin-left: 0.4em;
  margin-right: 0.4em;
  font-size: smaller;
  cursor: pointer;
  color: black;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
}

span.flex:hover {
  color: black;
  background: lightgray;
}

input.flex {
  margin: 0.4em;
}

span.locked {
  color: gray;
  font-size: smaller;
  cursor: pointer;
}

div.entry {
  position: relative;
}

div.sub-entry {
  position: relative;
}

div.example-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

div.example-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 100px 100px 100px;
}

span.entry-link {
    /* font-weight: bold; */
    color: black;
    cursor: pointer;
}

span.entry-link:hover {
  text-decoration: underline;
}

span.def-link {
  font-size: smaller;
}

span.def-link:hover {
  text-decoration: underline;
}

input.usage {
  width: 6em;
}

th.intro {
    /* width: 8em; */
    font-weight: normal;
}

th.coda {
  font-weight: normal;
  width: 8em;
}

th.inline {
  width: 2em;
}

td.inline {
  width: 1em;
  text-align: center;
}

th.id {
  width: 4em;
}

input.intro {
  width: 6em;
}

input.xref {
  width: 100%;
}

input.coda {
  width: 8em;
}

textarea.sms-intro {
  width: 100%;
}

sitatinnskot {
  font-style: italic;
}

ordform {
  font-style: italic;
}

/* was th, too general! */
th.old {
  border: 1px solid gray;
  font-weight: normal;
  font-style: italic;
  font-size: smaller;
}

td.citation {
  border: 1px solid gray;
  padding: 2px;
  width: 30em;
  cursor: pointer;
}

td.explanation {
  border: 1px solid gray;
  padding: 2px;
  width: 30em;
  cursor: pointer;
}

div.search {
  font-size: 10pt;
  padding-bottom: 0.4em
}

table.search {
  font-size: 10pt;
}

hr {
    margin: 4px
}

div.setel:hover {
  background: lightgray;
}

div.setel.focus {
  background: #ddeeff;
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
  border-radius: 8px;
}

div.setel.inactive {
  padding-left: 4px;
}

span.mo-ordform {
  color: #004499;
}

.warning {
  border: 2px solid red;
  border-radius: 6px;
}

.message {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid gray;
  border-radius: 5px;
}

etym {
  font-style: italic;
}

orth {
  font-weight: bold;
}

.straight {
    font-style: normal
 }

h1 {
    font-size: 18pt
}


.checkbox:hover {
    border: 1px solid gray;
    border-radius: 5px
}

div.card-body !important {
    padding: 0
}

.xxxsplitpanes__pane {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.6);
  font-size: 5em;
}

input:focus  {
    border: 2px solid blue
}

</style>
