<template>
<table class="paradigme">
  <tr>
    <th class="paradigme">Oppslag</th>
    <th class="paradigme">Trekk</th>
  </tr>
  <tr class="paradigme"
      v-for="ff in paradigme.fullformer"
      :key="ff.oppslag + '_' + ff.tag">
    <td class="paradigme-oppslag">{{ff.oppslag}}</td>
    <td class="paradigme-tag">{{ff.tag}}</td>
  </tr>
</table>
</template>

<script>
export default {
    name: 'paradigm-list',
    props: ['paradigme'],
    data: function () {
        return { focus: false,
                 hide: false,
                 paradigmer: null
               }
    }
}
</script>
