<template>
<fragment>
<tr class="source">
  <place-edit :node='node' accessor="_nonamn"/>
  <td class="edit" :id="'spec' + node.id">
    <autocomplete-input :node="node"
                        :entry="entry"
                        :top="top"
                        accessor="spec"
                        :id="node.id"
                        inputClass="example-edit"
                        inputType="text"/>
  </td>
  <lit-ref-edit :node="node"
                type="meaning"/>
  <td>
    <b-form-checkbox v-model="node.show" class="ml-2"/>
  </td>
  <td>
    <drop class="drop"
          @dragover="acceptDrop"
          @dragleave="over = false"
          @drop="handleDrop">
      <input class="button ml-3 small"
             :class="{ over }"
             type="button"
             title="slipp belegg; klikk for å vise/skjule"
             @click="attHide=!attHide"
             :value="attInputString"/>
    </drop>
  </td>
  <td class="button nobr">
    <input class="button" type="button" @click="deletePlace" value="-"/>
    <input class="button plus keyfocus"
           type="button"
           @click.stop="addPlace"
           @keydown.enter.prevent="addPlace"
           value="+"/>
  </td>
  
</tr>
<tr v-show="node.attest?.length && !attHide"
    xstyle="border-bottom: 1px solid gray; border-right: 1px solid gray; border-left: 1px solid gray">
  <td colspan="5" style="padding-left: 1em;border-bottom: 1px solid gray; border-right: 1px solid gray; border-left: 1px solid gray">
    <attest-list-edit
      v-for="(attest, index) in node.attest"
      :key="index"
      :node="attest"
      :nodes="node.attest"
      :top="top"/>
  </td>
</tr>
</fragment>
</template>

<script>

// name="notASearchField" below is a strange hack to prevent Safari from
// showing Address book autocomplete entries (!)

import $ from 'jquery'

import { Fragment } from 'vue-fragment'

import { app } from '@/main.js'

import autocompleteInput from './autocompleteInput.vue'
import placeEdit from './placeEdit.vue'
import litRefEdit from './litRefEdit.vue'
import attestListEdit from './attestListEdit'

import { lexCommon, undoStackPush,
         getNewId, newId, canAcceptDrop,
         resolveText
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'place-list-edit',
    props: ['node','nodes','top','entry'],
    components: { Fragment, autocompleteInput, placeEdit, litRefEdit, attestListEdit },
    mixins: [lexCommon],
    data: function () {
        return { 
            placePlace: null,
            over: false,
            focus: false,
            attHide: true,
            showPlaceList: [false], // need to wrap this in an array
            placeList: []
        }
    },
    computed: {
        specResolved: function () {
            return resolveText(this.top.dictionary,this.node.spec,[])
        },
        attInputString: function () {
            return '✼ ' +
                (this.node.attest?.length ?
                 (' (' +
                  this.node.attest?.length +
                  ')') : '') +
                (this.node.attest?.length && this.attHide ? ' …' : '')
        }
    },
    methods: {
        showPlaceListFirst: function () {
            app.activeNode = $(this.$el).find(":input")[0]
            this.showPlaceList = [true]
            this.$nextTick(() => {
                app.chooseXref = $('div.xref-link')[0]
                if (app.chooseXref) {
                    app.chooseXref.style.background='lightgray'
                }
            })
        },
        getPlace: function () {
            // find all place names starting with nonamn or fulltNamn
            let prefix = this.node.place._nonamn.trim()
            let i = 0
            if (prefix.length) {
                this.placeList = app.placeArray.filter(
                    s => i < 10 // show max 10 
                        && (s.nonamn.indexOf(prefix) == 0 ||
                            s.fulltNamn.indexOf(prefix) == 0)
                        && i++ < 10 )
            }
            this.$nextTick(() => {
                app.chooseXref = $('div.xref-link')[0]
                if (app.chooseXref) { // rename!
                    app.chooseXref.style.background='lightgray'
                }
            })
        },
        addPlace: function () {
            app.editId = newId()
            this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                              { type_: "meaning_place",
                                id: getNewId(),
                                place_id: null,
                                spec: null,
                                autogenerert: false,
                                show: true,
                                _code: null,
                                bibl_id: null,
                                formatertKode: null,
                                place: { type_: "place",
                                         _nonamn: "-"},
                                attest: [] })
            console.log('incKey')
            this.keyStore.key++
            undoStackPush(this)
        },
        deletePlace: function () {
            this.nodes.splice(this.nodes.indexOf(this.node),1)
            undoStackPush(this)
        },
        handleDrop: function (data) {
            this.over = false
            this.attHide = false
            app.editId = newId()
            // console.log(data)
            if (data.mode == 'mo-articles') { // list of articles dragged from sorter
                data.items.forEach(item =>
                    this.node.attest.splice(this.node.attest.indexOf(this.node)+1,0,
                                            { id: getNewId(),
                                              type_: 'attestation',
                                              ref_title: item.title,
                                              ref_id: item.art_id,
                                              ref_target: item.dict_id
                                            } ))
                // this.hp.changed[''] = true
                undoStackPush(this)
            }
        },
        acceptDrop: function (data) {
            if (canAcceptDrop(this, data) &&
                (data.type == 'setel' ||
                 data.mode == 'mo-articles')) {
                this.over = true
            }
        }
    }
}

</script>
