<template>
<div style="text-indent: 0em"
     class="xref-link"
     @mousedown="insertPlace"
     @click.stop>
  <span class="xref-link-span"
        @click.stop="insertPlace">
    <span >{{place.place_name}} · </span>
    <span class="entry-link">{{place.place_name_full}}</span>
    <span style="font-size: 8pt">{{getPlaceHierarchy}}</span>
  </span>
</div>
</template>

<script>

import { app } from '@/main.js'

import { cloneNode } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'place-list-select',
    props: ['showPlaceList','place','node','hp','hpType'],
    methods: {
        insertPlace: function () {
            this.node.place = cloneNode(this.place)
            console.log(this.node.place)
            this.node.place_id = this.place.place_id
            this.node.place_name = this.place.place_name
            console.log(this.node)
            this.showPlaceList[0] = false
            app.chooseXref = null
            if (this.hp) { this.hp.changed[this.hpType] = true }
            event.cancelBubble = true
        }
    },
    computed: {
        getPlacePlace: function () { // show the place hierarchy, old
            if (this.place.placePlace && this.place.placePlace.length > 1) {
                return '< ' + this.place.placePlace.slice(1).map(s => app.placeList.get(s).fulltNamn).join(' < ')
            } else {
                return null
            }
        },
        getPlaceHierarchy: function () { // show the place hierarchy
            let path = ''
            function walk (id) {
                let place = app.placeList[id]
                let pid = place.parent_place_id
                path += ' < ' + place.place_name_full
                if (pid) {
                    walk(pid)
                }
            }
            if (this.place.parent_place_id) {
                walk(this.place.parent_place_id)
                return path
            } else {
                return null
            }
        }
    } // @mousedown triggers before @blur! But we also need @click for C-Ret
}

</script>
