<template>
<td class="xref" :id="'place_name' + node.id">
  <input class="xref first"
         type="text"
         name="notASearchField"
         v-model="node.place_name"
         :id="node.id"
         @input="getPlace"
         @focus="showPlaceListFirst"
         @blur="showPlaceList=[false];placeList=[]"
         autocomplete="off"
         autocorrect="off"
         spellcheck="false"
         autocapitalize="off"
         @click.stop/>
  <div v-if="showPlaceList[0] && placeList.length"
       class="place-select">
    <div v-if="placeList.length"
         @blur="showPlaceList=[false]"
         class="place-list-select">
      <place-list-select v-for="place in placeList"
                         :showPlaceList="showPlaceList"
                         :place="place"
                         :hp="hp"
                         :hpType="hpType"
                         :node="node"
                         :key="place.id"/>
    </div>
  </div>
</td>
</template>

<script>

import $ from 'jquery'

import { app } from '@/main.js'

import placeListSelect from './placeListSelect.vue'

import { setPendingEditMode, focusEditNode
       } from '@/components/mixins/ordbokUtils.js'

// missing: undoStackPush etc.
export default {
    name: 'place-edit',
    props: ['node','accessor','hp','hpType'],
    components: { placeListSelect },
    data: function () { return { 
        placePlace: null,
        over: false,
        focus: false,
        showPlaceList: [false], // need to wrap this in an array
        placeList: [],
        app
    } },
    mounted: function () {
        setPendingEditMode(this)
    },
    updated: function () {
        focusEditNode(this)
    },
    methods: {
        showPlaceListFirst: function () {
            app.activeNode = $(this.$el).find(":input")[0]
            this.showPlaceList = [true]
            this.$nextTick(() => {
                app.chooseXref = $('.xref-link-span')[0]
                if (app.chooseXref) {
                     app.chooseXref.style.background='lightgray'
                }
            })
        },
        getPlace: function () {
            // find all place names starting with nonamn or fulltNamn
            let prefix = this.node.place_name.trim().toLowerCase()
            let i = 0
            console.log(prefix)
            if (prefix.length) {
                 this.placeList = app.placeArray.filter(
                    s => i < 10 // show max 10 
                        && (s.place_name.toLowerCase().indexOf(prefix) == 0 ||
                            s.place_name_full.toLowerCase().indexOf(prefix) == 0)
                        && i++ < 10 )
                console.log(this.placeList)
            }
            this.$nextTick(() => {
                app.chooseXref = $('.xref-link-span')[0]
                if (app.chooseXref) { // rename!
                    app.chooseXref.parentNode.style.background='lightgray'
                }
            })
        }
    }
}

</script>
