<template>
<span class="source comma">
  <span class="place" v-if="placePlace" @click.stop="placePlace=null" v-html="placePlace"/>
  <span class="place" v-if="litSource" @click.stop="litSource=null" v-html="litSource"/>
  <span v-if="node.spec">
    <span class="xref"
          v-html="node.place_name"
          @click.stop="showPlaceHierarchy"/>
    <span v-if="node.spec" v-html="specResolved+' '"/>
    <span v-if="node.code" class="xref"> {{node.code}}</span>
  </span>
  <span v-else>
    <span class="xref" v-html="node.place_name" @click.stop="showPlaceHierarchy"/>
    <span v-if="node.code" class="xref" @click.stop="showLitSource"> {{node.code}}</span>
  </span>
</span>
</template>

<script>

import { app } from '@/main.js'

import { resolveText, closePopup, setPopupComp, showLitSource } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'place-list',
    data: function () {
        return {
            placePlace: null,
            litSource: null
        }
    },
    props: ['node','top'],
    computed: {
        specResolved: function () {
            return this.node.spec ? " " + resolveText(this.top.dictionary,this.node.spec,[]) : ""
        }
    },
    methods: {
        showPlaceHierarchy: function () {
            closePopup()
            let place = app.placeList.get(this.node.place.place_id)
            console.log(place)
            console.log(app.placeList)
            this.placePlace = place._placePlace.map(s => app.placeList.get(s).fulltNamn).join(' < ')
            setPopupComp(this)
        },
        showLitSource: function () {
            showLitSource(this)
        }
    }
}

</script>
