<template>
  <div :class="'node-list ' + [focus ? 'focus' : 'inactive']">
     <div class="menu-line">
        <span class="tri" @click="hide=!hide" v-if="hide">&#x25B6;</span>
        <span class="tri" @click="hide=!hide" v-else>&#x25BC;</span>
    <span class="id" @click.stop="setActive">uttale</span>
    <template v-if="!hide && focus">
      <span class="flex-left"/>
      <span class="flex" v-if="!node.hpPronunciation"
            @click.stop="addNode()">+ (U)ttale lydskrift</span>
      <span class="flex" @click="deleteNode()">slett</span>
    </template>
     </div>
     <div class="node" v-show="!hide">
       <bracket-group v-if="node.hpPronunciation"
                      key="pronunciation"
                      :hp="nodes"
                      :entry="entry"
                      :top="top"
                      :node="node.hpPronunciation"
                      type="pronunciation"/>
     </div>
  </div>
</template>
  
<script>

import { app } from '@/main.js'

import bracketGroup from './bracketGroup'

import { setActive, setPrevActive, getNewId, undoStackPush
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'pronunciation-group',
    props: ['entry','top','node','nodes'],
    components: { bracketGroup },
    data: function () {
        return {
            focus: false,
            hide: false,
            canGetFocus: true
        }
    },
    methods: {
        setActive: function () { setActive(this) },
        addNode: function () { // where is this used?
            this.node.hpPronunciation = [ { id: getNewId(),
                                            type_: "pronunciation",
                                            pronunciation: "(legg til)" } ]
            app.addedComp = 'bracket-group'
            this.nodes.changed['pronunciation'] = true
            // console.log(this.nodes)
            undoStackPush(this)
        },
        deleteNode: function() {
            setPrevActive()
            this.nodes.pronunciation = null
            this.nodes.changed['pronunciation'] = true
            undoStackPush(this)
        }
    }
}

</script>
