<template>
<bracket-group-display v-if="node.hpPronunciation"
                       key="pronunciation"
                       :entry="entry"
                       :top="top"
                       :node="node.hpPronunciation"
                       type="pronunciation"/>
</template>

<script>

import bracketGroupDisplay from './bracketGroupDisplay.vue'

export default {
    name: 'pronunciation-group-display',
    props: ['entry','top','node'],
    components: { bracketGroupDisplay }
}

</script>
