<template>
<div :class="'node-list ' + [focus ? 'focus' : 'inactive']">
  <div class="menu-line">
    <drag class="drag"
          :transfer-data="{type: 'sub-entries', node, nodes, entry: top.entry, dictionary: top.dictionary}">
      <drop class="drop" :class="{ over }"
            @dragover="over = true"
            @dragleave="over = false"
            @drop="handleDrop">
        <span class="tri" @click.stop="toggleHide" v-if="hide">&#x25B6;</span>
        <span class="tri" @click.stop="toggleHide" v-else>&#x25BC;</span>
        <span class="id drag" @click.stop="setActive">artikkelgruppe</span>
      </drop>
    </drag>
    <span class="flex-left"/>
    <span v-if="!hide && focus && hasEditStatus()"
          class="flex" @click="addNode('sub-entry')">+&nbsp;(u)nderartikkel</span>
  </div>
  <dict-entry v-show="!hide"
              v-for="(entry, index) in nodes.filter(e=>e.subEntry)"
              :key="entry.id"
              :top="top"
              :node="entry.subEntry"
              :entry="entry.subEntry"
              :nodes="nodes"
              :sub="entry"
              :intro="nodes.intro"
              :index="index"/>
</div>
</template>

<script>

import { app } from '@/main.js'

import { setActive, unsetEditMode,
         hasEditStatus, newId, getNewId,
         undoStackPush, canAcceptDrop //, personId
       } from '@/components/mixins/ordbokUtils.js'

import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

export default {
    name: 'subentry-group',
    props: ['nodes', 'node','top','entry'],
    components: { dictEntry: () => import('./dictEntry.vue')},
    data: function () {
        return { edit: false, focus: false, hide: false, canGetFocus: true, over: false }
    },
    methods: {
        setActive: function () { setActive(this) },
        addNode: function (type) {
            let subEntry
            switch (type) {
            case "sub-entry":
                subEntry = { id: newId(),
                             type: "sub-entry",
                             intro: null,
                             subEntry:
                             { id: getNewId(),
                               type: "entry",
                               etype: "sub-entry",
                               entryType: "SUB_ARTICLE",
                               status: { status: this.top.entry.status.status },
                               owner: useStateStore().jwt?.sub.toString(), 
                               lemmas: [ { id: getNewId(),
                                           type: "lemma",
                                           lemma: '',
                                           // homograf: 0
                                         } ],
                               definitions: [] }
                           }
                if (this.nodes.length) {
                    this.nodes.splice(0,0,subEntry)
                    // console.log(JSON.stringify(this.nodes))
                } else {
                    this.nodes = [subEntry]
                }
                app.addedComp = 'lemma-group'
            }
        },
        hasEditStatus: function () {
            return hasEditStatus(this.top.dictionary)
        },
        handleDrop: function (data) {
            console.log('data ->', data)
            if (canAcceptDrop(this, data)) {
                if (data.top.entry == this.top.entry) { // same article: move
                    if (data.node.type == 'entry') {
                        // console.log(data.node.etype)
                        if (data.node.etype == 'sub-entry') {
                            console.log('moved')
                            let dragIndex = data.nodes.indexOf(data.sub)
                            // console.log('dragIndex: ' + dragIndex)
                            data.nodes.splice(dragIndex,1) // remove dragged node
                            this.nodes.splice(0,0,data.sub)
                            undoStackPush(this)
                        }
                    } else if (data.type == 'sub-entries') {
                        // console.log('sub')
                        let subs = this.nodes
                        // better use .concat()!
                        data.node.map(function (sub) {
                            // console.log(this)
                            subs.splice(0,0,sub)
                        })
                        console.log('moved1')
                        data.node.splice(0,data.node.length)
                        undoStackPush(this)
                    }
                } else { // copy sub-entry
                    if (data.node.type == 'entry') {
                        if (data.node.etype == 'sub-entry') {
                            // let dragIndex = data.nodes.indexOf(data.sub)
                            console.log("drop sub", data)
                            this.nodes.splice(0,0,data.sub)
                            undoStackPush(this)
                        } else if (data.node.etype == 'entry' &&
                                   data.node.entryType == 'SUB_ARTICLE') { // new test
                            console.log("drop entry:", data)
                            console.log("node", data.node)
                            let sub_entry = JSON.parse(JSON.stringify(data.node))
                            sub_entry.etype = 'sub-entry'
                            // let dragIndex = data.nodes.indexOf(data.sub)
                            let sub = { id: sub_entry.id, // getNewId(),
                                        type: "sub-entry",
                                        subEntry: sub_entry }
                            this.nodes.splice(0,0,sub)
                            undoStackPush(this)
                        }
                    }
                }
            }
            this.over = false
        },
        /*
        acceptDrop: function (data) { // not used??
            if (canAcceptDrop(this, data) &&
                (data.node.etype=='sub-entry' || data.node.etype=='entry')) {
                this.over = true
            }
        },*/
        toggleHide: function () {
            this.hide=!this.hide
            if (this.hide) {
                unsetEditMode()
            }
        }
    }
}

</script>
