<template>
<div class="subentry">
  <dict-entry-display v-for="(entry, index) in node"
                      :key="entry.id"
                      :top="top"
                      :node="entry.subEntry"
                      :entry="entry.subEntry"
                      :nodes="node"
                      :sub="entry"
                      :intro="node.intro"
                      :index="index"/>
     </div>
</template>

<script>

export default {
    name: 'subentry-group-display',
    props: ['node','top','entry'],
    components: { dictEntryDisplay: () => import('./dictEntryDisplay.vue')}
}

</script>
