<template>
<div :class="'node-list ' + [focus ? 'focus' : 'inactive']"
     :id="'sub-intro' + this.entry.id">
  <div v-if="!edit">
    <span class="head1"
          v-html="introResolved"/>
  </div>
  <div v-if="edit">
    <span class="ilabel">Intro:</span>
    <autocomplete-input
      v-if="edit"
      :node="node" :entry="entry" :top="top"
      :accessor="'intro'"
      :inputClass="'intro'"
      :id="node.id"
      :inputType="'text'"/>
  </div>
</div>
</template>

<script>

import autocompleteInput from './autocompleteInput.vue'

import { app } from '@/main.js'

import { resolveText, setPendingEditMode, setEditMode, markChanged, undoStackPush
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'sub-intro',
    props: ['entry','top','node'],
    components: { autocompleteInput },
    data: function () {
        return { edit: false,
                 focus: false,
                 hide: false,
                 canGetFocus: true,
                 canEdit: true }
    },
    computed: {
        introResolved: function () {
            // console.log(this.node.intro)
            if (this.node.intro) {
                return resolveText(this.top.dictionary,this.node.intro,[])
            } else {
                return ""
            }
        }
    },
    mounted: function () {
        setPendingEditMode(this)
    },
    methods: {
        markChanged: function () {
            markChanged(this)
        },
        toggleEditMode: function () {
            // console.log(this.sub.intro)
            setEditMode(this)
        },
        editModeOff: function () {
            app.activeComp == null
            this.edit = !this.edit
            undoStackPush(this)
        }
    }
}
</script>
