<template>
  <div :class="'node-list ' + [focus ? 'focus' : 'inactive']">
     <div class="menu-line">
        <span class="tri" @click="hide=!hide" v-if="hide">&#x25B6;</span>
        <span class="tri" @click="hide=!hide" v-else>&#x25BC;</span>
    <span class="id" @click.stop="setActive">skriftform</span>
    <template v-if="!hide && focus">
      <span class="flex-left"/>
      <span class="flex" v-if="!node.hpWrittenForm"
            @click.stop="addNode('written_form')">+ Skriftform</span>
      <span class="flex" @click="deleteNode()">slett</span>
    </template>
     </div>
     <div class="node" v-show="!hide">
       <bracket-group v-if="node.hpWrittenForm"
                      key="written_form"
                      :hp="nodes"
                      :entry="entry"
                      :top="top"
                      :node="node.hpWrittenForm"
                      type="written_form"/>
     </div>
  </div>
</template>

<script>

import { app } from '@/main.js'

import bracketGroup from './bracketGroup'

import { lexCommon, setActive, setPrevActive, getNewId, undoStackPush
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'written-form-group',
    props: ['entry','top','node','nodes'],
    components: { bracketGroup },
    mixins: [lexCommon],
    data: function () {
        return {
            focus: false,
            hide: false,
            canGetFocus: true
        }
    },
    methods: {
        setActive: function () { setActive(this) },
        addNode: function (type) {
            switch (type) {
            case "pronunciation":
                this.node.hpWrittenForm = [{"id":getNewId(),
                                           "type":type,
                                           "written_form":""}]
                app.addedComp = 'bracket-group'
                this.nodes.changed['written_form'] = true        
            }
        },
        deleteNode: function() {
            setPrevActive()
            // console.log(this.nodes)
            this.nodes.written_form = null
            this.nodes.changed['written_form'] = true        
            undoStackPush(this)
        }
    }
}

</script>
