<template>
<div class="form">
  <div class="flex">
    <nobr>
      <span class="label mr-2">Form:</span>
      <autocomplete-input :node="node"
                          :top="top"
                          :entry="entry"
                          accessor="written_form"
                          inputClass="bracket-form"
                          :id="node.id"
                          :hp="hp"
                          hpType="written_form"
                          inputType="text"/>
    </nobr>
    
    
    <input class="button ml-3 small"
           type="button"
           title="klikk for å vise/skjule"
           @click="toggleSrcHide"
           :value="srcInputString"/>
    <drop class="drop"
          :class="{ over }"
          @dragover="acceptDrop"
          @dragleave="over = false"
          @drop="handleDrop">
      <input class="button ml-3 small"
             type="button"
             title="slipp belegg; klikk for å vise/skjule"
             @click="toggleAttHide"
             :value="attInputString">
    </drop>
    
    
    <span class="flex-left"/>
    <span>
      <input class="button" type="button" @click.stop="deleteForm" value="-"/>
      <input class="button plus keyfocus"
             type="button"
             title="Lag ny kilde"
             @click.stop="addSibling"
             @keydown="keydownAddSibling"
             value="+"/>
    </span>
  </div>
  <template v-if="node.sources?.length">
    <!--div class="menu-line">
      <span class="tri" @click.stop="toggleSrcHide" v-if="srcHide">&#x25B6;</span>
      <span class="tri" @click.stop="toggleSrcHide" v-else>&#x25BC;</span>
      <span class="id">kilder</span>
      <span v-if="node.sources?.length && srcHide">&nbsp;…</span>
      <span class="flex-left"/>
    </div-->
    <table class='ml-3' v-if="!srcHide">
      <tr>
        <template v-if="node.sources.length">
          <th class="header">Litt. kode</th>
          <th class="header">Spes.</th>
          <th/>
        </template>
        <th class="button">
          <input class="button keyfocus"
                 type="button"
                 title="Legg til ny kilde på toppen"
                 @click.stop="addSourceTop"
                 @keydown="keydownAddSource"
                 value="+"/>
        </th>
      </tr>
      <written-form-source-list-edit
        v-for="(source, index) in node.sources"
        :hp="hp"
        :key="index"
        :nodes="node.sources"
        :node="source"
        :top="top"
        :entry="entry"
        :id="source.id"/>
    </table>
  </template>
  <!--div class="menu-line" v-if="node.attest?.length">
    <span class="tri" @click.stop="toggleAttHide" v-if="attHide">&#x25B6;</span>
    <span class="tri" @click.stop="toggleAttHide" v-else>&#x25BC;</span>
    <drop class="drop" :class="{ over }"
          @dragover="acceptDrop"
          @dragleave="over = false"
          @drop="handleDrop">
      <span class="id">belegg</span>
    </drop>
    <span v-if="node.attest?.length && attHide">&nbsp;…</span>
    <span class="flex-left"/>
  </div-->
    <table class='xtest ml-3'
           v-if="node.attest?.length && !attHide">
      <attest-list-edit
        v-for="(attest, index) in node.attest"
        :hp="hp"
        hpType="written_form"
        :key="index"
        :nodes="node.attest"
        :node="attest"
        :top="top"
        :entry="entry"
        :id="attest.id"/>
    </table>
</div>
</template>

<script>

import { app } from '@/main.js'

import autocompleteInput from './autocompleteInput.vue'
import attestListEdit from './attestListEdit.vue'
import writtenFormSourceListEdit from './writtenFormSourceListEdit.vue'

import { lexCommon, newId, getNewId, undoStackPush, canAcceptDrop, focusEditNode, setActive,
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'written-form-form-list-edit',
    props: ['node','nodes','top','entry','id','hp'],
    mixins: [lexCommon],
    components: { autocompleteInput, attestListEdit, writtenFormSourceListEdit },
    data: function () {
        return { over: false,
                 app,
                 srcHide: false,
                 attHide: false
               }
    },
    computed: {
        attInputString: function () {
            return '✼ belegg' +
                (this.node.attest?.length ?
                 (' (' +
                  this.node.attest?.length +
                  ')') : '') +
                (this.node.attest?.length && this.attHide ? ' …' : '')
        },
        srcInputString: function () {
            return 'kilder' +
                (this.node.sources?.length ?
                 (' (' + this.node.sources?.length + ')') : '') +
                (this.node.sources?.length && this.srcHide ? ' …' : '')
        }
    },
    methods: {
        setActive: function () {
            setActive(this)
        },
        lastSource: function () {
            let last = null
            this.node.sources.map(function (k) { if (k.vis) { last = k } })
            return last
        },
        keydownAddSibling: function () {
            if (event.which===13) this.addSibling()
        },
        addSibling: function () {
            app.editId = newId()
            this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                              { type_: "written_form_form",
                                id: getNewId(),
                                form: null,
                                sources: [{ id: getNewId(),
                                            type_: "written_form_source",
                                            attest: [] }],
                                attest: [] } )
            this.keyStore.key++
            this.hp.changed['written_form'] = true
            undoStackPush(this)
        },
        deleteForm: function () {
            this.nodes.splice(this.nodes.indexOf(this.node),1)
            this.hp.changed['written_form'] = true
            undoStackPush(this)
        },
        keydownAddSource: function () {
            if (event.which===13) this.addSourceTop()
        },
        addSourceTop: function () {
            app.editId = newId()
            this.node.sources.splice(0,0,{ id:getNewId(),
                                           type_: "written_form_source",
                                           attest: [] })
            this.keyStore.key++
            this.hp.changed['written_form'] = true
            undoStackPush(this)
        },
        toggleSrcHide: function () {
            this.srcHide =! this.srcHide
            // this.lexStore.settings.srcHide=!this.lexStore.settings.srcHide
            //if (this.lexStore.settings.srcHide) {
                // unsetEditMode()
            //}
        },
        toggleAttHide: function () {
            this.attHide=!this.attHide
            if (this.attHide) {
                // unsetEditMode()
            }
        },
        handleDrop: function (data) {
            this.over = false
            this.attHide = false
            if (data.type == 'setel') {
                this.node.attest.splice(this.node.attest.indexOf(this.node)+1,0,
                                        {id:getNewId(),
                                         type_: "written_form_attest",
                                         "refTabellId":data.refTabellId, // fixme
                                         "refObjekt":data.refObjekt,
                                         "refTittel":data.refTittel})
                this.hp.changed['written_form'] = true
                undoStackPush(this)
            } else if (data.mode == 'mo-articles') { // list of articles dragged from sorter
                data.items.forEach(item =>
                    this.node.attest.splice(this.node.attest.indexOf(this.node)+1,0,
                                            { id: getNewId(),
                                              type_: 'attestation',
                                              ref_title: item.title,
                                              ref_id: item.art_id,
                                              ref_target: item.dict_id
                                            } ))
                this.hp.changed['written_form'] = true
                undoStackPush(this)
            }
        },
        acceptDrop: function (data) {
            if (canAcceptDrop(this, data) &&
                ((data.node && data.node.etype=='sub-entry') ||
                 data.type == 'setel')) {
                this.over = true
            }
        }
    },
    updated: function () {
      focusEditNode(this)
    }
}
</script>
