<template>
<tbody>
  <tr>
    <lit-ref-edit :node="node"
                  type="written_form"
                  :hp="hp"/>
    <td>
      <autocomplete-input :node="node"
                          :top="top"
                          :entry="entry"
                          accessor="spec"
                          :stringify="true"
                          inputClass="bracket-intro"
                          :id="node.id"
                          :hp="hp"
                          hpType="written_form"
                          inputType="text"/>
    </td>
    <td class="button">
      <input class="button" type="button" @click.stop="deleteSource" value="-"/>
    </td>
    <td class="button">
      <input class="button keyfocus"
             type="button"
             @click.stop="addSource"
             @keydown="keydownAddSource"
             value="+"/>
    </td>
  </tr>
  <!--tr>
    <td colspan="4">
      <div class="menu-line">
        <span class="tri" @click.stop="toggleAttHide" v-if="attHide">&#x25B6;</span>
        <span class="tri" @click.stop="toggleAttHide" v-else>&#x25BC;</span>
        <drop class="drop" :class="{ over }"
              @dragover="acceptDrop"
              @dragleave="over = false"
              @drop="handleDrop">
          <span class="id">belegg</span>
        </drop>
        <span v-if="node.attest?.length && attHide">&nbsp;…</span>
        <span class="flex-left"/>
        <input class="button"
               type="button"
               @click="addAttestTop"
               v-show="!attHide"
               value="+"/>
      </div>
      <table class='test' v-if="!attHide">
        <attest-list-edit
          v-for="(attest, index) in node.attest"
          :key="index"
          :node="attest"
          :nodes="node.attest"
          :top="top"
          :entry="entry"
          :hp="hp"
          hpType="written_form"
          :id="attest.id"/>
    </table>    
  </td>
 </tr-->
</tbody>
</template>

<script>

import { app } from '@/main.js'

import autocompleteInput from './autocompleteInput.vue'
import litRefEdit from './litRefEdit.vue'
// import attestListEdit from './attestListEdit.vue'

import { lexCommon, newId, getNewId, undoStackPush, canAcceptDrop, focusEditNode, markChanged
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'written-form-source-list-edit',
    props: ['node','nodes','last','top','id','entry','hp'],
    mixins: [lexCommon],
    components: { autocompleteInput, litRefEdit, // attestListEdit
                },
    data: function () {
        return { over: false, app, attHide: true }
    },
    updated: function () { // needed?
        focusEditNode(this)
    },
    methods: {
        toggleAttHide: function () {
            this.attHide=!this.attHide
            if (this.attHide) {
                // unsetEditMode()
            }
        },
        addAttestTop: function () { // under construction
            app.editId = newId()
            this.node.attest.splice(0,0,{"id": getNewId(),
                                         "type_":"attest",
                                         "ref_id": null,
                                         "ref_target": null,
                                         "inline": 1})
            this.keyStore.key++
            this.hp.changed['written_form'] = true
            undoStackPush(this)
        },
        keydownAddSource: function () {
            if (event.which===13) this.addSource()
        },
        addSource: function () {
            app.editId = newId()
            this.nodes.splice(this.nodes.indexOf(this.node)+1,0,
                              {"id": getNewId(), "type_": "source" })
            this.keyStore.key++
            this.hp.changed['written_form'] = true
            undoStackPush(this)
        },
        deleteSource: function () {
            this.nodes.splice(this.nodes.indexOf(this.node),1)
            this.hp.changed['written_form'] = true
            undoStackPush(this)
        },
        markChanged: function () {
            markChanged(this)
        },
        handleDrop: function (data) {
            this.over = false
            if (data.type == 'setel') { // FIXME
                this.node.attest.splice(this.node.attest.indexOf(this.node)+1,0,
                                        {"id": getNewId(),
                                         "type_": "attestation",
                                         "refTabellId":data.refTabellId,
                                         "refObjekt":data.refObjekt,
                                         "refTittel":data.refTittel})
                this.hp.changed['written_form'] = true
                undoStackPush(this)
            } else if (data.mode == 'mo-articles') { // list of articles dragged from sorter
                data.items.forEach(item =>
                    this.node.attest.splice(this.node.attest.indexOf(this.node)+1,0,
                                            { id: getNewId(),
                                              type_: 'attestation',
                                              ref_title: item.title,
                                              ref_id: item.art_id,
                                              ref_target: item.dict_id
                                            } ))
                this.hp.changed['written_form'] = true
                undoStackPush(this)
            }
        },
        acceptDrop: function (data) {
            if (canAcceptDrop(this, data) &&
                ((data.node && data.node.etype=='sub-entry') ||
                 data.type == 'setel')) {
                this.over = true
            }
        }
    }
}
</script>
