<template>
<bracket-group-display v-if="node.hpWrittenForm"
                       key="written_form"
                       :entry="entry" :top="top"
                       :node="node.hpWrittenForm"
                       type="written_form"/>
</template>

<script>

import bracketGroupDisplay from './bracketGroupDisplay.vue'

export default {
    name: 'written-form-group-display',
    props: ['entry','top','node'],
    components: { bracketGroupDisplay }
}

</script>
