<template>
<span>
  <!--span class='homograf'>{{node.written_form}}</span-->
  <span class="font-italic"> {{node.written_form}}</span>
  <span v-if="node.sources.length">
    (<span v-for="(source, index) in node.sources" class="comma" :key="index">
      <span>
        <span class='xref'>{{source.code}}</span>
        <span class='homograf'
              v-if="source.spec"
              v-html="resolveText(top.dictionary,source.spec)"/>
    </span>
    </span>)
  </span>
</span>
</template>

<script>

import { resolveText
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'written-form-list',
    props: ['node','top','id'],
    data: function () {
        return { resolveText }
    },
    computed: {
    }
}
    
</script>
