<template>
<li style="text-indent: 0em"
    @mousedown="insertXref"
    @click.stop
    :class="[e.type=='entry' ? 'xref-link' : 'xref-def-link']">
  <span v-if="e.type=='entry'"
        class="xref-link-span"
        @click.stop="insertXref">
    <span style="color: gray" :title="e.entryType">{{entryType}} </span>
    <span class="entry-link">{{e.lemma}} </span>
    <span style="color: gray">{{hgno}} </span>
    <span v-if="e.word_class?.length"
          style="color: gray; font-style: italic">
      {{posToWordclass(e.word_class)}}
    </span>
  </span>
  <span v-else class="xref-link-span"
        @click.stop="insertXref">
    <span style="color: gray">{{e.fullDefnr}}</span>
    <span class="def-link"
          :title='e.id'
          v-html="definition"/>
  </span>
  <ul v-if="e.definitions"
      class="def-link">
    <li class="def-link"
        v-for="(def,index) in e.definitions"
        :key="index"
        @mousedown="insertDefXref(def,index)"
        @click.stop
        >
      <span class="xref-link-span"
            @click.stop="insertDefXref(def,index)">
        {{index+1}}. {{formatDefContent(def)}}
      </span>
    </li>
  </ul>
</li>
</template>

<script>

import $ from 'jquery'

import { app } from '@/main.js'
import { newId, getNewId, formatXrefTitle, xrefString, // formatXrefTittel2,
         toRoman, resolveText, posToWordclass,
         formatContent, setPrevDomActive, setNextDomActive
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'xref-link',
    props: ['e','node','dictionary','insertFn','setActive'],
    computed: {
        entryType: function () {
            return this.e.entryType.substr(0,1)
        },
        hgno: function () {
            return toRoman(this.e.hgno)
        },
        definition: function () {
            let def = resolveText(this.dictionary,this.e.tekst,this.e.xrefs)
            return def
        }
    }, // @mousedown triggers before @blur! But we also need @click for C-Ret
    methods: {
        formatDefContent: function (def) {
            return formatContent(this.dictionary, def.elements?.[0])
        },
        posToWordclass,
        insertXref: function () {
            let data = null
            if (this.e.type == "entry") {
                data = { type: 'entry',
                         node: { 'lemmas': [ { lemma: this.e.lemma,
                                               hgno: this.e.hgno } ] } }
            } else { // definition
                data = { type: 'definition',
                         entry: { lemmas: [ { lemma: this.e.lemma,
                                              hgno: this.e.hgno } ] },
                         node: { fullDefnr: this.e.fullDefnr }
                       }
            }
            if (this.insertFn) { // used in textarea
                if (!this.node.xrefs) {
                    this.node.xrefs = []
                }
                this.node.xrefs.splice(0,0,
                                       { id: newId(),
                                         article_id: this.e.id,
                                         form: formatXrefTitle(data)
                                       })
                this.insertFn("[" + getNewId() + "/" + xrefString(data) + "]")
            } else {
                this.node.article_id = this.e.id
                this.node.id = getNewId() // this.e.id
                // necessary because this.node.title might not have changed otherwise,
                // hence hiding of lemma list would not be triggered
                this.node.title = ""
                this.$nextTick(() => this.node.title = formatXrefTitle(data))
            }
            // console.log('set active:', this.setActive, $('#' + this.setActive))
            // needed for compounds and others; doesn’t work!
            if (this.setActive=='prev') {
                this.$nextTick(() =>  setPrevDomActive())
            } else if (this.setActive=='next') {
                this.$nextTick(() =>  setNextDomActive())
            } else if (this.setActive) { // this does work
                $('#' + this.setActive).focus()
                app.activeNode = $('#' + this.setActive)[0]
            }
            app.chooseXref = null
            event.cancelBubble = true
        },
        insertDefXref: function (def,index) {
            let data = null
            data = { type: 'definition',
                     entry: { lemmas: [ { lemma: this.e.lemma,
                                          hgno: this.e.hgno,
                                        } ] },
                     node: { fullDefnr: index+1 }
                   }
            if (this.insertFn) {
                if (!this.node.xrefs) {
                    this.node.xrefs = []
                }
                this.node.xrefs.splice(0,0,
                                       {id: newId(),
                                        article_id: this.e.id,
                                        definition_id: def.id,
                                        form: formatXrefTitle(data),
                                       })
                this.insertFn("[" + getNewId() + "/" + xrefString(data) + "]")
            } else {
                this.node.article_id = this.e.id
                this.node.definition_id = def.id // new 25.3.2024
                this.node.id = this.e.id
                // necessary because this.node.title might not have changed otherwise,
                // hence hiding of lemma list would not be triggered
                this.node.title = ""
                this.$nextTick(() => {
                    this.node.title = formatXrefTitle(data)
                })
            }
            // console.log(this.setActive, $('#' + this.setActive))
            app.chooseXref = null
            event.cancelBubble = true
        }
        
    }
}
</script>
