<template>
<li style="text-indent: 0em"
    @mousedown="insertXref"
    @click.stop
    :class="[e.type=='entry' ? 'xref-link' : 'xref-def-link']">
  <span v-if="e.type=='entry'"
        class="xref-link-span"
        @click.stop="insertXref">
    <span style="color: gray" :title="e.entryType">{{entryType}} </span>
    <span class="entry-link">{{e.lemma}} </span>
    <span style="color: gray">{{hgno}} </span>
    <span v-if="e.word_class?.length"
          style="color: gray; font-style: italic">
      {{posToWordclass(e.word_class)}}
    </span>
  </span>
  <span v-else class="xref-link-span"
        @click.stop="insertXref">
    {{formatIndex(i,level)}} {{formatDefContent(e)}}
  </span>
  <ul v-if="e.definitions && level==0 && e.definitions.length < 2 && e.definitions[0]?.elements"
      class="def-link">
    <xref-link-n-o v-for="(e,index) in e.definitions[0].elements"
                   :key="index"
                   :node="node"
                   :i="index"
                   :level="2+level"
                   :lemma="e.lemma"
                   :defPath="[null,index]"
                   :art="art"
                   :e="e"/>
  </ul>
  <ul v-else-if="e.definitions" class="def-link">
    <xref-link-n-o v-for="(e,index) in e.definitions"
                   :key="index"
                   :node="node"
                   :i="index"
                   :level="1+level"
                   :lemma="e.lemma"
                   :defPath="[index]"
                   :art="art"
                   :e="e"/>
  </ul>
  <ul v-else-if="e.elements && level < 3" class="def-link">
    <xref-link-n-o v-for="(e,index) in filteredDefs"
                   :key="index"
                   :node="node"
                   :i="index"
                   :level="1+level"
                   :defPath="[...defPath, index]"
                   :art="art"
                   :e="e"/>
  </ul>
</li>
</template>

<script>

import { app } from '@/main.js'
import { getNewId, formatXrefTitle,
         toRoman, resolveText, posToWordclass,
         formatContent, setPrevDomActive
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'xref-link-no',
    props: ['e','node','i', 'level', 'defPath', 'art'],
    components: { xrefLinkNO: () => import('./xrefLinkNO.vue')},
    computed: {
        entryType: function () {
            return this.e.entryType.substr(0,1)
        },
        hgno: function () {
            return toRoman(this.e.hgno)
        },
        definition: function () {
            let def = resolveText('no',this.e.tekst,this.e.xrefs)
            return def
        },
        filteredDefs: function () {
            return this.e.elements.filter(d => d.type_=='definition' &&
                                          !d.sub_definition &&
                                          (d.content ||
                                           d.elements?.filter(d => d.type_=='definition' || d.content).length
                                          ))
        }
    }, // @mousedown triggers before @blur! But we also need @click for C-Ret
    methods: {
        formatDefContent: function (def) {
            let cont = formatContent('no', def.elements?.[0])
            if (cont.length > 60) {
                return cont.substring(0,55) + ' …'
            } else {
                return cont
            }
        },
        posToWordclass,
        insertXref: function () {
            if (this.e.type=='entry') {
                
                let data = null
                if (this.e.type == "entry") {
                    data = { type: 'entry',
                             node: { 'lemmas': [ { lemma: this.e.lemma,
                                                   hgno: this.e.hgno } ] } }
                } else { // definition
                    data = { type: 'definition',
                             entry: { lemmas: [ { lemma: this.e.lemma,
                                                  hgno: this.e.hgno } ] },
                             node: { fullDefnr: this.e.fullDefnr }
                           }
                }
                this.node.article_id = this.e.id
                this.node.id = getNewId
                // necessary because this.node.title might not have changed otherwise,
                // hence hiding of lemma list would not be triggered
                this.node.title = ""
                this.$nextTick(() => {
                    this.node.title = formatXrefTitle(data)
                })
                app.chooseXref = null
                event.cancelBubble = true
            } else {
                let data = null
                data = { type: 'definition',
                         entry: { lemmas: [ { lemma: this.art.lemma,
                                              hgno: this.art.hgno,
                                            } ] },
                         node: { fullDefnr: this.defPath },
                         dictionary: 'no'
                       }
                setPrevDomActive()
                this.node.article_id = this.art.id
                this.node.definition_id = this.e.id
                this.node.id = this.art.id
                // necessary because this.node.title might not have changed otherwise,
                // hence hiding of lemma list would not be triggered
                this.node.title = ""
                this.$nextTick(() => {
                    this.node.title = formatXrefTitle(data)
                })
                app.chooseXref = null
                event.cancelBubble = true
            }
        },
        formatIndex: function (index, level) {
            if (level == 2) { // level 1.
                return (index+1) + "."
            } else if (level == 3) { // level a.
                return String.fromCharCode(index+97) + "."
            } else if (level == 1) { // level A.
                return String.fromCharCode(index+65) + "."
            }

        }
    }
}
</script>
