<template>
<div>
  <b-form inline>
    <input type="button"
           v-if="!inline"
           @click.stop="show=!show"
           :value="$t('Table')"/>
    <b-form-checkbox v-if="allowNonStandard"
                     class="mr-2 ml-3"
                     v-model="includeNonStandard">
      inkluder ikke-standard-former
    </b-form-checkbox>
  </b-form>
  <div v-if="show || showTable"
       class="infl-wordclass"
       :class="mq">
    <div class="lemma label-border-lemma">
      <span class="infl-lemma" v-html="formattedLemma"/>
      <span class="sub"> {{wordClass}}</span>
      <span class="sub" v-if="nounGender"> {{nounGender}}</span>
    </div>
    <div>
      <inflection-table :key="includeNonStandard"
                        :lemmaList="lemmaList"
                        :mq="mq"
                        :context="context"
                        :includeNonStandard="includeNonStandard"/>
    </div>
  </div>
</div>
</template>

<script>

import inflectionTable from './vue-inflection/src/components/inflectionTable.vue'

import { getStandardParadigms,
         markdownToHTML
} from './vue-inflection/src/components/mixins/ordbankUtils.js'


export default {
    name: 'inflectionTableWrapper',
    components: { inflectionTable },
    props: ['lemmaList','mq','inline','showTable','context','allowNonStandard'],
    data: function () {
        return { show: false,
                 includeNonStandard: false,
                 gender: null, // gender if NOUN and only one gender
               }
    },
    computed: {
        wordClass: function () {
            if (this.lemmaList) {
                if (this.isADJ_Adv) {
                    return this.$t('ADV')
                } else {
                    return this.$t(this.lemmaList[0].word_class)
                        || this.lemmaList[0].word_class
                }
            } else {
                return null
            }
        },
        formattedLemma: function () {
            let lemma = this.lemmaList[0]
            return markdownToHTML(lemma.markdown_lemma || lemma.lemma)
        },
        isADJ_Adv: function () {
            return this.lemmaList && this.lemmaList[0].paradigm_info[0].inflection_group == 'ADJ_adv'
        },
        isNoun: function () {
            let lemma = this.lemmaList[0]
            return lemma && (lemma.word_class=='NOUN' ||
                             lemma.paradigm_info.find(pi=>pi.inflection_group == 'NOUN_regular'))
        },
        nounGender: function () {
            this.getGender()
            return !this.gender || this.gender=='+' ? null : this.$t('tags.' + this.gender)
        }
    },
    methods: {
        getGender: function () {
            let paradigms = getStandardParadigms(this.lemmaList)
            paradigms.forEach(p => {
                if (this.isNoun) {
                    let gender = p.tags[1]
                    if (!this.gender) {
                        this.gender = gender
                    } else if (this.gender != gender) {
                        this.gender = '+' // more than one gender
                    }
                }
            })
            return this.gender
        }
    }
}

</script>

<style>

table.infl-table {
    margin: 1em;
    border-collapse: separate;
    border-radius: 10px !important;
    border-spacing: 0;
    -moz-border-radius:6px !important;
}

table.infl-table.xs {
    margin: 0em;
}

.infl-label {
    border: 1px solid lightgray;
    padding: .3em;
    padding-left: .5em;
    padding-right: .5em;
    text-align: center;
    vertical-align: top; 
    font-weight: normal;
    font-style: italic;
}

.infl-label.xs {
    border: 1px solid lightgray;
    padding: .3em;
    vertical-align: middle;
    text-align: left
}

div.infl-wrapper {
    overflow-y: hidden
}

div.infl-wordclass {
    border-collapse: separate;
    border-radius: 10px !important;
    border-spacing: 0;
    -moz-border-radius:6px !important;
    border: 1px solid lightgray;
    padding: .3em;
    padding-left: .5em;
    padding-right: .5em;
    text-align: center;
    vertical-align: top; 
    font-weight: normal;
    font-style: italic;
    display: inline-block;
    border: 2px solid gray;
}

div.infl-wordclass.xs {
    margin: 1em auto
}

td.infl-cell {
    border: 1px solid lightgray;
    padding: .3em;
    padding-left: .5em;
    padding-right: .5em;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    cursor: arrow
    }

td.infl-cell.xs {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-top: 0;
    border-right: 0;
    text-align: center;
    padding: .3em;
}

th.hilite {
    background: lightgray
}

td.hilite {
    background: lightgray
}

td.infl-group {
    border-top: 1px solid lightgray;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    background-color:  #f3f8ea; /* #faf1f0 */
    text-align: center;
    padding-left: 1em;
    font-style: italic
}

th.lemma {
    padding: .5em;
    padding-bottom: 0.5em;
    text-align: center
    }
span.infl-lemma {
    font-weight: bold;
    color: #07426e;
    /* color: #560027; */
    font-size: larger
}
span.word_class {
    font-size: smaller
}
span.word_form {
    font-weight: bold
}

.sub {
    font-style: italic;
    font-weight: normal
}

.label-border {
    border: 1px solid gray
}
.label-border-top {
    border-spacing: 0;
    background-color: #f3f8ea;
}
.label-border-top-right {
    border-top-right-radius: 10px !important;
    border-spacing: 0;
    background-color: #f3f8ea;
}

.label-border-top-left {
    border-top-left-radius: 10px !important;
    border-spacing: 0;
    background-color: #f3f8ea;
}
.label-border-top-left-right {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-spacing: 0;
    background-color: #f3f8ea;
}

.label-border-lemma {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-spacing: 0;
}

.label-border-bottom {
    background-color: #f3f8ea;
}

caption {
    caption-side: top;
    font-size: 8pt;
}

span.comma:empty {
    display: none;
}

span.comma:not(:first-child):before {
    content: ", ";
}

div.comma:not(:last-child):after {
    content: ", ";
}

</style>
