<template>
<b-list-group flushx 
              :class="(edit || askDelete) ? 'edit' : 'default'">
  <template v-if="showLemma">
    <b-list-group-item v-if="!edit" class="px-1 p-sm-2">
      <b-icon-chevron-down @click="show=false" />
      <span class="value"> {{$t('Homograph')}} {{index+1}} ({{lemma.language}})</span>
      <b-button v-if="canEdit && !askDelete"
                @click="editHomograph"
                variant="outline-secondary"
                size="sm"
                class="m-2"
                align="center">
        Rediger
      </b-button>
      <b-button v-if="canEdit && !askDelete && canDelete"
                @click="askDelete=true"
                variant="outline-secondary"
                size="sm"
                class="m-2"
                align="center">
        Slett
      </b-button>
      <span v-if="askDelete" class="dialog">
        Vil du slette homograf {{index+1}}?
        <b-button v-if="askDelete"
                  @click="askDelete=false"
                  variant="secondary"
                  size="sm"
                  class="m-2"
                  align="center">
          Angre
        </b-button>
        <b-button v-if="askDelete"
                  @click="deleteHomograph"
                  variant="danger"
                  size="sm"
                  class="m-2"
                  align="center">
          Slett
        </b-button>
      </span>
      <b-button v-if="canEdit && !editLog && lemma.log_count > 0"
                @click="showEditLog"
                variant="outline-secondary"
                size="sm"
                class="m-2"
                align="center">
        Vis loggen
        <b-badge>
          {{lemma.log_count}}
        </b-badge>
      </b-button>
      <b-button v-if="editLog"
                @click="editLog = null"
                variant="outline-secondary"
                size="sm"
                class="m-2"
                align="center">
        Skjul loggen
      </b-button>
      <div v-if="editLog && editLog.length">
        <label class="label">Edit Log:</label>
        <div style="border: 1px solid gray">
          <b-table :items="editLog" :fields="logFields" small caption-top>
            <template #cell(response)="data">
              {{ data.value.detail }}
            </template>
            <template #cell(editor)="data">
              <span @click.stop="showLogDetails(data.item,data.index)">
                <b-icon-chevron-down v-if="data.item._showDetails"/>
                <b-icon-chevron-up v-else/>
                {{ UIDtoName(data.value) }}
              </span>
            </template>
            <template #cell(input)="data">
              {{ data.value.body }}
            </template>
            <template v-slot:row-details="row">
              <small>
                {{ row.item.input.body }}
              </small>
            </template>
          </b-table>
        </div>
      </div>
    </b-list-group-item>
    <b-list-group-item v-if="edit && (lemma.mode=='new' || lemma.mode=='edit')">
      <span v-if="lemma.mode=='new'" class="value">Homograf {{index+1}} ({{lemma.language}}) (Ny)</span>
      <span v-if="lemma.mode=='edit'" class="value">Homograf {{index+1}} ({{lemma.language}}) (Edit)</span>
      <b-button v-if="canEdit && (changed || lemma.mode=='new') && !lemma.invalid"
                :disabled="storing"
                @click="storeHomograph"
                variant="outline-secondary"
                size="sm"
                class="m-2"
                align="center">
        Lagre
      </b-button>
      <b-button v-if="canEdit && (undoStack.length > 1)"
                @click="undoStackPop"
                variant="outline-secondary"
                size="sm"
                class="m-2"
                align="center">
        Angre
      </b-button>
      <b-button v-if="canEdit && (undoStack.length >= 1)"
                @click="undoStackPopAll"
                variant="outline-secondary"
                size="sm"
                class="m-2"
                align="center">
        Avbryt
      </b-button>
      <b-alert :show="storing">Lagring pågår…</b-alert>
    </b-list-group-item>
    <b-list-group-item v-if="!!alert">
      <b-alert variant="danger" :show="!!alert" undismissible>{{alert}}</b-alert>
    </b-list-group-item>
    <b-list-group-item class="px-0 p-sm-2">
      <b-list-group>
        <drop :class="{ over }"
              @dragover="acceptDrop"
              @dragleave="over = false"
              @drop="handleDrop">
          <b-list-group-item class="px-1 p-sm-2" :style="over?'border: 1px solid red':''">
            <drag v-if="!edit"
                  class="drag"
                  :transfer-data="{ type: 'homograph', lemma }"
                  xxxdragstart="handleDragStart">
              <small v-if="compact"
                     class="value"
                     @click="ordbankStore.ordbankLemmaQuery[mode]=lemma.id">
                {{lemma.id}}
              </small>
              <span class="value lemma" v-html="formattedLemma"/>
              <span v-if="lemma.lemma_a_inf && lemma.lemma != lemma.lemma_a_inf"> ({{lemma.lemma_a_inf}})</span>
              <span>
                <span class="value word_class"> {{lemma.word_class}}</span>
                <span v-if="lemma.inflection_class"> ({{lemma.inflection_class}})</span>
                <span v-if="lemma.split_inf"> (kløyvd infinitiv)</span>
                <small v-if="lemma.extended_vocab"> [utvidet]</small>
              </span>

              <template v-if="compact">
                <span class="label">, funksjon: </span>
                <span class="value">{{lemma.type_designation}}</span>
                <span v-if="lemma.source || lemma.orig_source" class="label">, kilde: </span>
                <template v-if="lemma.source && !noParadigms">
                  <span class="value">{{lemma.source}}</span>
                  <b-button v-if="canEditStrict && !edit"
                            @click="validateHomograph"
                            variant="outline-secondary"
                            size="sm"
                            class="m-2"
                            title="godkjenn homografen for bruk i Ordbøkene"
                            align="center">
                    Godkjenn
                  </b-button>
                </template>
                <span v-else class="value">{{lemma.orig_source}} (godkjent)</span>
              </template>
            </drag>
            <b-form v-if="edit" inline>
              <template v-if="lemma.source || lemma.type_designation=='expr'">
                <label class="label" for="lemma-input">Lemma: </label>
                <b-form-input size="sm"
                              id="lemma-input"
                              class="mr-2"
                              v-model="lemma.lemma"
                              type="search"
                              autocomplete="off"
                              autocorrect="off"
                              autocapitalize="off"
                              placeholder="lemma"
                              @input="changed_=true"
                              @change="undoStackPush"/>
              </template>
              <template v-else>
                <span class="value lemma" v-html="formattedLemma"/>
              </template>
              <label class="label mr-0 ml-3" for="word-class-input">Ordklasse: </label>
              <b-form-select size="sm"
                             id="word-class-input"
                             class="mr-2 ml-3"
                             v-model="lemma.word_class"
                             :options="wordClasses"
                             @change="fetchInflectAsLemmas"
                             />
              <b-form-checkbox class="mr-2 ml-3"
                               v-if="lemma.word_class=='VERB' && lemma.language=='nno'"
                               v-model="lemma.split_inf"
                               @input="changed_=true">
                kløyvd infinitiv
              </b-form-checkbox>
              |
              <b-form-checkbox class="mr-2 ml-3"
                               v-model="lemma.extended_vocab"
                               @input="changed_=true">
                utvidet vokabular/uttrykk
              </b-form-checkbox>
            </b-form>
          </b-list-group-item>
        </drop>
        <b-list-group-item v-if="lemma.id>0 && (!compact || edit)"
                           class="px-1 p-sm-2">
          <span class="label">ID: </span>
          <span class="value">{{lemma.id}}</span>
        </b-list-group-item>
        <b-list-group-item v-if="lemma.source && (!compact || edit)" class="px-1 p-sm-2">
          <span class="label">{{$t('Source')}}: </span>
          <span class="value">{{lemma.source}}</span>
          <b-button v-if="canEditStrict && !edit"
                    @click="validateHomograph"
                    variant="outline-secondary"
                    size="sm"
                    class="m-2"
                    title="godkjenn homografen for bruk i Ordbøkene"
                    align="center">
            Godkjenn
          </b-button>
        </b-list-group-item>
        <b-list-group-item v-else-if="lemma.orig_source && (!compact || edit)" class="px-1 p-sm-2">
          <span class="label">{{$t('Source')}}: </span>
          <span class="value">{{lemma.orig_source}} (godkjent)</span>
        </b-list-group-item>
        <b-list-group-item class="px-1 p-sm-2" v-if="lemma.id>0" :style="refOver?'border: 1px solid red':''">
          <template v-if="(lemma.properties?.dict_art_ids && lemma.properties.dict_art_ids.length) || canEditStrict">
            <drop :class="{ refOver }"
                  @dragover="acceptArtRefDrop"
                  @dragleave="refOver = false"
                  @drop="handleArtRefDrop">
              <span class="label">Artikler: </span>
              <span>
                <span v-for="(s, index) in lemma.properties.dict_art_ids || []"
                      :key="index" class="comma">
                  <span v-if="!jwt">{{s.dict_id}}/{{s.article_id}}</span>
                  <span v-else-if="s.dict_id=='BM'||s.dict_id=='NN'"
                        class="xref"
                        @mouseover="showEntryPreview(s.article_id, s.dict_id)"
                        @mouseout="hideEntryPreview"
                        @click="showEntry(s.article_id, s.dict_id)">
                    {{s.dict_id}}/{{s.article_id}}</span>
                  <drag v-else-if="s.dict_id=='NO'"
                        class="drag"
                        tag="span"
                        @dragstart="hideEntryPreview"
                        :transfer-data="{ type: 'article_ref', s, lemma, updateFn: searchLemma }">
                    <span class="xref"
                          @mouseover="showEntryPreview(s.article_id, s.dict_id)"
                          @mouseout="hideEntryPreview"
                          @click="showEntry(s.article_id, s.dict_id)">{{s.dict_id}}/{{s.article_id}}</span></drag>
                  <span v-else>{{s.dict_id}}/{{s.article_id}}</span>
                </span>
              </span>
            </drop>
          </template>
          <dict-entry-display v-if="dictEntry"
                              :node="dictEntry.entry"
                              :entry="dictEntry.entry"
                              :top="dictEntry"
                              :dictionary="dictEntry.dictionary"
                              />
          <span>
            <b-button v-if="canEditStrict && !hasSource && !lemma.source && !noParadigms"
                      @click="createArticle"
                      :disabled="storingArticle"
                      variant="outline-secondary"
                      size="sm"
                      class="m-2"
                      align="center">
              Lag artikkel
            </b-button>
            <b-alert :show="storingArticle">Lagring pågår…</b-alert>
          </span>
        </b-list-group-item>
        <b-list-group-item v-if="lemma.mo_article_ids?.length || canEditStrict"
                           class="px-1 p-sm-2"
                           :style="moOver?'border: 1px solid red':''">
          <drop :class="{ moOver }"
                @dragover="acceptMODrop"
                @dragleave="moOver = false"
                @drop="handleMODrop">
            <span class="label">Metaordbok: </span>
            <span>
              <span class="comma" v-for="(mo_id,i) in lemma.mo_article_ids" :key="i">
                <drag tag="span"
                      :transfer-data="{ mo_id, type: 'MO-id', lemma, updateFn: searchLemma }">
                  <router-link class="value" :to="lexBase+'/metaordbok/article/'+mo_id.mo_id">
                    {{mo_id.mo_id}}
                  </router-link>
                </drag>
              </span>
            </span>
          </drop>
        </b-list-group-item>
        <b-list-group-item class="px-1 p-sm-2" v-if="edit || lemma.markdown_lemma">
          <span v-if="edit">
            <b-form inline>
              <label class="label" for="markdown-input">Markdown: </label>
              <b-form-input size="sm"
                            id="markdown-input"
                            class="m-2"
                            v-model="lemma.markdown_lemma"
                            type="text"
                            autocomplete="off"
                            autocorrect="off"
                            autocapitalize="off"
                            @input="changed_=true"
                            @focus="undoStackPush"/>
            </b-form>
          </span>
          <span v-if="!edit">
            <span class="label">Markdown: </span>
            <span class="value">{{lemma.markdown_lemma}}</span>
          </span>
        </b-list-group-item>
        <b-list-group-item v-if="!compact || edit" class="px-1 p-sm-2">
          <span v-if="!edit">
            <span class="label">Funksjon: </span>
            <span class="value">{{lemma.type_designation}}</span>
          </span>
          <b-form v-if="edit" inline>
            <label class="label" for="lemma-type">Funksjon: </label>
            <b-form-select size="sm"
                           id="lemma-type"
                           class="mr-2 ml-3"
                           v-model="lemma.type"
                           :options="lemmaTypes"
                           @change="setTypeDesignation"
                           />
          </b-form>
        </b-list-group-item>
        <b-list-group-item v-if="(lemma.initial_lexeme && !noParadigms) || edit" class="px-1 p-sm-2">
          <span class="label">{{$t('Segmentation')}}: </span>
          <span class="value">{{prefix}}</span>
          <small class="text-muted"><sub>{{lemma.initial_lexeme_class}}</sub></small>
          <span class="value" v-if="lemma.junction">+{{lemma.junction}}</span>
          <span class="value" v-if="lemma.initial_lexeme">+{{lemma.final_lexeme}}</span>
          <b-list-group  flush v-if="edit">
            <b-list-group-item class="px-1 p-sm-2">
              <b-form inline>
                <label for="initial-lexeme">{{$t('Prefix')}}:</label>
                <b-form-input size="sm"
                              id="initial-lexeme"
                              class="m-2"
                              v-model="lemma.initial_lexeme"
                              type="text"
                              autocomplete="off"
                              autocorrect="off"
                              autocapitalize="off"
                              @update="checkSegmentationConsistency"
                              @focus="undoStackPush"
                              placeholder="prefix"/>
                <label for="init-word-class">{{$t('Part of Speech')}}:</label>
                <b-form-select size="sm"
                               id="init-word-class"
                               class="mr-2 ml-3"
                               v-model="lemma.initial_lexeme_class"
                               :options="wordClasses"
                               @change="undoStackPushCheck"
                               />
                <label for="junction">Fuge:</label>
                <b-form-select size="sm"
                               id="junction"
                               class="mr-2 ml-3"
                               v-model="lemma.junction"
                               :options="[null,'e','s','a','-']"
                               @change="undoStackPushCheck"
                               />
                <label for="neg-junction">Neg. fuge:</label>
                <b-form-input size="sm"
                              style="width: 2em"
                              id="neg-junction"
                              class="m-2"
                              v-model="lemma.neg_junction"
                              type="text"
                              autocomplete="off"
                              autocorrect="off"
                              autocapitalize="off"
                              @update="checkSegmentationConsistency"
                              @focus="undoStackPush"/>
                <label for="final-lexeme">Suffiks:</label>
                <b-form-input size="sm"
                              id="final-lexeme"
                              class="m-2"
                              v-model="lemma.final_lexeme"
                              type="text"
                              autocomplete="off"
                              autocorrect="off"
                              autocapitalize="off"
                              @update="checkSegmentationConsistency"
                              @focus="undoStackPush"
                              placeholder="suffix"/>
                
              </b-form>
            </b-list-group-item>
          </b-list-group>
        </b-list-group-item>
        <b-list-group-item v-if="lemma.mo_segmentation" class="px-1 p-sm-2">
          <span class="label">Metaordbok-segmentering: </span>
          <span v-for="(s,i) in lemma.mo_segmentation" :key="i">
            <span v-if="i">+</span>{{decodeURIComponent(s.seg)}}<small class="text-muted"><sub>{{s.pos}}</sub></small><span v-if="s.junct">+{{s.junct}}</span></span>
        </b-list-group-item>
        <b-list-group-item v-if="!edit && !noParadigms" class="px-1 p-sm-2">
          <span class="label">Normering: </span>
          <span class="value">
            <span v-for="(interval, index) in timeline"
                  :key="index"
                  :interval="interval"
                  class="comma">
              <span>{{standardisation[interval.standardisation]}} </span>
              <span v-if="interval.to">{{interval.from}} til {{interval.to}}</span>
              <span v-else>fra {{interval.from}}</span>
            </span>
          </span>
        </b-list-group-item>
        <b-list-group-item v-if="!edit && !compact" class="px-1 p-sm-2">
          <inflection-table-wrapper
            :lemmaList="[lemma]"
            :mq="$mq"
            :context="context"
            :allowNonStandard="true"
            :key="getKey()"/>
        </b-list-group-item>
        <b-list-group-item v-if="edit">
           <b-form @submit.stop.prevent inline>
            <label class="mr-sm-2" for="inflect-as-form">Bøyes som:</label>
            <b-form-input size="sm"
                          id="inflect-as-form"
                          class="mr-2"
                          v-model="ordbankStore.inflectsAs"
                          type="search"
                          autocomplete="off"
                          autocorrect="off"
                          autocapitalize="off"
                          @keydown.enter="fetchInflectAsLemmas"
                          placeholder="eksempelord"/>
            <b-button variant="primary" size="sm" @click="fetchInflectAsLemmas">Hent</b-button>
            <b-form-checkbox class="mr-2 ml-3"
                             v-model="includeExtendedVoc"
                             @input="changed_=true">
              inkluder utvidet vokabular
            </b-form-checkbox>
            <template v-if="exLemmas.length > 1">
              <label class="ml-4" for="homograph">Homograf:</label>
              <b-form-select size="sm"
                             id="homograph"
                             class="mr-2 ml-3"
                             v-model="lemmaNr"
                             :options="exLemmaNrList"
                             @change="setParadigmsFromExample"
                           />
            </template>
          </b-form>
        </b-list-group-item>
        <b-list-group-item v-if='exampleNotFound' class="px-1 p-sm-2">
          <b-alert size="sm" class="m-2" variant="info" :show='true'>
            Exemplet ble ikke funnet.
          </b-alert>
        </b-list-group-item>
        <span v-if="!noParadigms || edit">
          <paradigm-block v-for="(p,index) in paradigm_info"
                          :index="index"
                          :key="index + '_' + lemma.mode + '_' + undoStack.length"
                          :lemma="lemma"
                          :paradigm="p"
                          :compact="compact"
                          :hideNonStandard="hideNonStandard"
                          :includeSubcats="includeSubcats"/>
        </span>
        <b-list-group-item v-if="edit">
          <b-form inline>
            <label class="mr-sm-2" for="add-paradigm">{{$t('New paradigm')}}:</label>
            <b-form-input size="sm"
                          id="add-paradigm"
                          class="mr-2"
                          v-model="newParadigmId"
                          type="search"
                          autocomplete="off"
                          autocorrect="off"
                          autocapitalize="off"
                          @keydown.enter="addParadigm"
                          placeholder="paradigme-id"/>
            <label class="mr-sm-2" for="from-date">{{$t('from')}}:</label>
            <b-form-input type="date" class="mx-3"
                          id="from-date"
                          v-model="newParadigmFrom"
                          @change="recalcStandardisation"/>
            <label class="mr-sm-2" for="to-date">{{$t('to')}}:</label>
            <b-form-input type="date"
                          class="mx-3"
                          id="to-date"
                          v-model="newParadigmTo"
                          @change="recalcStandardisation"/>
            <b-button @click="setDefaultDates"
                      variant="outline-secondary"
                      size="sm"
                      class="m-2"
                      title="sett from = 1996-01-01, to = null"
                      align="center">
              Sett default
            </b-button>
            <b-button @click="addParadigm"
                      variant="outline-secondary"
                      size="sm"
                      class="m-2"
                      align="center">{{$t('Add')}}</b-button>
            ({{$t('Obs: word forms will only be shown after saving')}})
          </b-form>
        </b-list-group-item>
      </b-list-group>
    </b-list-group-item>
  </template>
  <template v-else>
    <drag class="drag"
          :transfer-data="{ type: 'homograph', lemma }"
          xxxdragstart="handleDragStart">
      <drop :class="{ over }"
            @dragover="acceptDrop"
            @dragleave="over = false"
            @drop="handleDrop">
        <b-list-group-item class="px-1 p-sm-2">
          <b-icon-chevron-up @click="show=true"/> <span class="value">Homograf {{index+1}} </span>
          <span class="value lemma">{{lemma.lemma}} </span>
          <span class="value word_class">{{lemma.word_class}}</span>
          <span v-if="lemma.inflection_class"> ({{lemma.inflection_class}})</span>
          <span v-if="lemma.split_inf"> (kløyvd infinitiv)</span>
          <span v-if="lemma.source" class="value small"> [{{lemma.source}}]</span>
        </b-list-group-item>
      </drop>
    </drag>
  </template>
</b-list-group>
</template>

<script>

// TODO: add possibility to add paradigms in edit mode; show prefix POS; POS for forledd

import Vue from 'vue'
import { BootstrapVue, BootstrapVueIcons } from 'bootstrap-vue'

Vue.use(BootstrapVue)
Vue.use(BootstrapVueIcons)

import { mapStores } from 'pinia'

import inflectionTableWrapper from './inflectionTableWrapper.vue'

import paradigmBlock from './paradigmBlock.vue'

import dictEntryDisplay from '../ordbok/dictEntryDisplay.vue'


import { entryComps, callAPI, editInfo,
         lexBase, getNewId, loadJSON, sessionId, entriesURL, storeEntriesURL, showErrorMessage,
         markdownToHTML, useLexStore, useKeyStore, useOrdbankStore
       } from '@/components/mixins/ordbokUtils.js'

import { api } from '@/components/mixins/api.js'

import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

const standardisation = { "STANDARD": "normert",
                          "SECONDARY": "klammeform",
                          "NON_STANDARD": "unormert",
                          "REGISTERED": "registrert" }

const wordClasses = [ { text: '-', value: null },
                      'NOUN',
                      'PROPN',
                      'VERB',
                      'ADJ',
                      'ADV',
                      'ADP',
                      'INTJ',
                      'DET',
                      'PRON',
                      'CCONJ',
                      'SCONJ',
                      'SYM',
                      'INFM',
                      'ABBR',
                      'PFX',
                      'EXPR',
                      'COMPPFX'
                    ]

const lemmaTypes = [{ value: 0, text: "lemma" },
                    { value: 1, text: "expr" },
                    { value: 2, text: "suffix" },
                    { value: 3, text: "prefix" },
                    { value: 4, text: "abbr" },
                    { value: 5, text: "symb" },
                    { value: 6, text: "title" },
                    { value: 7, text: "ref" },
                    { value: 8, text: "prob" },
                    { value: 9, text: "name" }
                   ]

export default {
    name: 'lemmaBlock',
    components: { paradigmBlock, inflectionTableWrapper, dictEntryDisplay },
    props: ['lemma','lemmaString', 'index','includeSubcats','inflectAs','hideNonStandard',
            'searchLemma','mode','deleteNewHomograph','context','compact','noParadigms'],
    mixins: [api],
    data: function () {
        return { alert: null,
                 show: true,
                 key: 0,
                 // inflectsAs: this.inflectAs,
                 paradigm_info: this.sortParadigmInfo(this.lemma.paradigm_info),
                 exLemmas: [],
                 lemmaNr: 1,
                 timeline: this.lemma.standardisation_timeline,
                 edit: (this.lemma.mode == 'new'), // is this homograph in edit mode?
                 canUndo: false,
                 storing: false,
                 storingArticle: false,
                 askDelete: false,
                 // askSave: false,
                 editInfo,
                 undoStack: [],
                 includeExtendedVoc: false,
                 exampleNotFound: false,
                 newParadigmId: null,
                 newParadigmFrom: null,
                 newParadigmTo: null,
                 wordClasses,
                 standardisation,
                 lemmaTypes,
                 changed_: false,
                 queryId: 0,
                 preview_art_id: null,
                 preview_dict_id: null,
                 editLog: null,
                 logFields: ['editor','submitted','response','status'],
                 detailsRow: null,
                 over: false,
                 refOver: false,
                 moOver: false,
                 dictEntry: null,
                 lexBase
                 // extendedVocab: this.lemma.extended_vocab
               }
    },
    created: function () {
        if (this.edit) {
            this.fetchInflectAsLemmas()
        }
    },
    mounted: function () {
        window.addEventListener('keydown', this.onKeyDown)
        
    },
    destroyed: function () {
        window.removeEventListener('keydown', this.onKeyDown)
    },
    computed: {
        ...mapStores(useOrdbankStore),
        jwt: function () {
            return useStateStore().jwt
        },
        showLemma: function () {
            return this.show && (this.editInfo.lemmaNr == null || this.editInfo.lemmaNr == this.index)
        },
        canEditStrict: function () {
            return this.jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR')
        },
        canEdit: function () {
            return this.jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR') ||
                (this.isNAOB && this.lemma.source == 'NAOB-manual')
        },
        canDelete: function () {
            return !this.lemma?.properties?.dict_art_ids?.find(s =>
                s.dict_id == 'BM' || s.dict_id=='NN' || s.dict_id=='NO') &&
                !this.lemma?.mo_article_ids?.length
        },
        isNAOB: function () {
            return this.jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR.NAOB')
        },
        changed: function () {
            return this.changed_ || this.undoStack.length > 1
        },
        valid: function () {
            return true 
        }, /*
             aInf: function () {
             return this.calculateAInf()
             }, */
        exLemmaNrList: function () {
            return [...Array(this.exLemmas.length).keys()].map(x=>x+1)
        },
        hasSource: function () {
            if (this.lemma.language == 'nob') {
                return this.lemma.properties?.dict_art_ids?.find(s =>
                    s.dict_id == 'BM' || s.dict_id=='BOB')
            } else {
                return this.lemma.properties?.dict_art_ids?.find(s =>
                    s.dict_id == 'NN' || s.dict_id == 'NOB')
            }
        },
        formattedLemma: function () {
            if (this.lemma.lemma) {
                return markdownToHTML(this.lemma.markdown_lemma || this.lemma.lemma)
            } else {
                return null
            }
        },
        prefix: function () {
            let pfx = this.lemma.initial_lexeme
            let nj = this.lemma.neg_junction
            if (nj) {
                return pfx.substr(0,pfx.length - nj.length) + '[' + nj + ']'
            } else {
                return pfx
            }
        }
    },
    methods: {
        getKey: function () { // workaround to refresh inflection table
            return Math.random(1000000)
        },
        sortParadigmInfo: function (PI) {
            return PI
        },
        setTypeDesignation: function () {
            this.undoStackPush()
            // this.changed = true
            this.$nextTick(() => this.lemma.type_designation = lemmaTypes[this.lemma.type].value)
        },
        setDefaultDates: function () {
            this.newParadigmFrom = '1996-01-01'
            this.newParadigmTo = null
        },
        checkConsistency: function () {
            // console.log('checkConsistency', this.lemma?.paradigm_info?.filter(p => !p.exclude))
            if (this.lemma.lemma.includes('^') || this.lemma.lemma.includes('_')) {
                this.alert = "Bruk feltet ‘Markdown’ for superskript og subskript. Lemmaformen skal ikke inneholde ^ eller _."
                this.lemma.invalid = true
                return false
            } else if (!this.lemma?.paradigm_info?.filter(p => !p.exclude).length) {
                this.alert = this.$t('Ingen paradigmer gitt')
                this.lemma.invalid = true
                return false
            } else {
                this.lemma.invalid = false
                return this.checkSegmentationConsistency()
            }
        },
        checkSegmentationConsistency: function () {
            if (!this.lemma.initial_lexeme?.length) {
                this.lemma.junction = null
                this.lemma.neg_junction = null
                this.lemma.initial_lexeme_class = null
            }
            if (this.lemmaString == '') {
                null
            } else if (this.lemma.initial_lexeme && !this.lemma.initial_lexeme_class) {
                this.alert = 'Ordklasse for prefiks mangler.'
                return null
            } else {
                let prefix = (this.lemma.initial_lexeme || '')
                let neg = (this.lemma.neg_junction || '')
                let prefixEndPos = prefix.length - neg.length
                let prefixEnd = prefix.substring(prefixEndPos)
                if (prefixEnd != neg) {
                    this.alert = 'Neg. fuge og prefiks matcher ikke.'
                    return null
                }
                prefix = prefix.substring(0,prefixEndPos)
                
                let segStr = prefix + (this.lemma.junction || '') + this.lemma.final_lexeme
                let lemmaStr = this.lemma.markdown_lemma || this.lemma.lemma
                if (this.lemma.initial_lexeme && segStr != lemmaStr) {
                    this.alert = this.$t('The segmentation is not compatible with the lemma form') +
                        ' ‘' + lemmaStr + '’.'
                    return null
                } else {
                    this.alert = null
                }
            }
            return true
        },
        editHomograph: function () {
            this.lemma.mode = 'edit'
            this.edit = true
            this.$parent.newLemma = this.lemma
            this.editInfo.lemmaNr = this.index
            this.undoStackPush()
        },
        deleteHomograph: function () {
            let url = this.apiURL + '/lemmas/' + this.lemma.id
            this.storing = true
            fetch(url,
                  { headers: { "x-api-key": "niFXe2gGKw7wkJQ4jfVIV8vzgKklKZ3W6cs5b0y8",
                               "Authorization": "Bearer " + localStorage.jwt },
                    method: "DELETE"
                  })
                .then(r => {
                    if (r.error) {
                        throw new Error(r.error + ", URL: " + url)
                    }
                    this.searchLemma()
                    this.edit = false
                    this.undoStack = []
                    this.changed_ = false
                    this.storing = false
                    return r
                })
        },
        storeHomograph: function () {
            if (this.canEdit && (this.changed || this.lemma.mode=='new') && !this.lemma.invalid) {
                let newH = (this.lemma.mode == 'new')
                let url = this.apiURL + '/lemmas' + (newH ? '' : '/' + this.lemma.id)
                this.storing = true
                // remove excluded paradigms
                this.lemma.paradigm_info = this.lemma.paradigm_info?.filter(paradigm => !paradigm.exclude)
                // composites must have lemma = ''
                if (this.lemma.initial_lexeme) {
                    this.lemma.lemma = ''
                }
                // console.log('calc-a-inf')
                this.lemma.lemma_a_inf = this.calculateAInf()
                // console.log('remove infl')
                this.lemma.paradigm_info.forEach(pi => { delete pi.inflection })
                delete this.lemma.log_count
                if (!this.lemma.paradigm_info.length) {
                    this.alert = 'Homografen har ikke noen paradigmer!'
                } else {
                    fetch(url,
                          { headers: { "x-api-key": "niFXe2gGKw7wkJQ4jfVIV8vzgKklKZ3W6cs5b0y8",
                                       "Authorization": "Bearer " + localStorage.jwt,
                                       "Content-Type": "application/json" },
                            method: newH ? "POST" : "PUT",
                            body: JSON.stringify(this.lemma)
                          })
                        .then(r => {
                            if (r.error) {
                                throw new Error(r.error + ", URL: " + url)
                            } else if (r.status == 500) {
                                this.storing = false
                                throw new Error("Could not store: status = " + r.status + ", URL: " + url)
                            }
                            this.searchLemma()
                            if (this.updateFn) this.updateFn() // update in other pane after drop
                            this.updateFn = null
                            this.edit = false
                            this.storing = false
                            this.changed_ = false
                            this.undoStack = []
                            if (!newH) { // update
                                let dict = this.lemma.language == 'nob' ? 'bm' : 'nn'
                                this.lemma.properties?.dict_art_ids?.forEach(s => {
                                    if (s.dict_id.toLowerCase() == dict) { // exclude NO
                                        callAPI("/dict/" + dict + "/article/" + s.article_id + "/invalidate",
                                                'PUT', null, 'ordbok')
                                            .catch (a => this.alert=a + "!")
                                    }
                                })
                        }
                        return r
                    })
                    .catch (a => this.alert = a)
            }
            }
        },
        addParadigm: function () { // todo: validate newParadigmId
            if (!this.newParadigmId) {
                this.alert = this.$t('Paradigm ID is missing')
            } else if (!this.newParadigmFrom) {
                this.alert = this.$t('‘from’ is missing')
            } else if (this.newParadigmId && this.newParadigmFrom) {
                if (!this.paradigm_info) {
                    this.paradigm_info = []
                }
                this.paradigm_info.push({ from: this.newParadigmFrom,
                                          to: this.newParadigmTo,
                                          standardisation: "STANDARD", // fix!
                                          paradigm_id: parseInt(this.newParadigmId),
                                          inflection: []
                                        })
                this.lemma.paradigm_info = this.paradigm_info
                this.alert = null
                this.undoStackPush()
                this.checkConsistency()
                this.newParadigmFrom = null
                this.newParadigmTo = null
                this.newParadigmId = null
            }
        },
        mergeParadigmInfo: function (p) {
            return { from: p.from,
                     to: p.to,
                     exclude: false,
                     paradigm_id: p.paradigm_id,
                     standardisation: p.standardisation,
                     tags: p.tags,
                     inflection:
                     p.inflection.map(
                         infl =>
                         {
                             let [prefix, start] = this.mergeWord(infl.word_form)
                             return { tags: infl.tags,
                                      word_form:
                                      infl.word_form ? prefix + infl.word_form.substring(start) : null
                                    }
                         })
                   }
        },
        calculateAInf: function () {
            let a_inf = this.lemma.lemma
            if (this.lemma.lemma.substr(-1) == 'e') {
                this.lemma.paradigm_info
                    .forEach(pi => pi.inflection
                             .forEach(infl => {
                                 if (infl.tags.find(t=>t=='Inf') && infl.word_form?.substr(-1) == 'a') {
                                     a_inf = infl.word_form
                                 }
                             })
                            )
            }
            return a_inf
        },
        mergeWord: function () {
            let example = this.ordbankStore.inflectsAs
            let lemma = this.lemma.lemma
            for (let i = lemma.length-1; i >= -1; i--) {
                let j = i + example.length - lemma.length
                if (j < 0 || i < 0 || lemma[i] != example[j]) {
                    return [ lemma.substring(0,i+1), j+1 ]
                }
            }
            return ['', 0]
        },
        undoStackPush: function () {
            let str = JSON.stringify(this.lemma)
            if (!this.undoStack.length || str !== this.undoStack[this.undoStack.length-1]) {
                this.undoStack.push(str)
                // this.changed = true
                this.canUndo = (this.undoStack.length > 1)
            }
        },
        undoStackPushCheck: function () {
            this.undoStackPush()
            this.checkConsistency()
        },
        undoStackPop: function () {
            // console.log('undoStackPop')
            if (this.undoStack.length > 1) {
                this.undoStack.pop()
                let popLemma = JSON.parse(this.undoStack[this.undoStack.length-1])
                Object.keys(this.lemma).forEach(key => delete this.lemma[key])
                Object.entries(popLemma).forEach(([key, value]) => this.lemma[key] = value)
                this.paradigm_info = this.lemma.paradigm_info
                this.calculateLemmaStandardisation()
                this.checkConsistency()
                // console.log('poppedLemma:', this.lemma)
            }
        },
        undoStackPopAll: function () {
            if (!this.undoStack.length) {
                null
            } else if (this.lemma.mode == 'new') {
                this.deleteNewHomograph()
                this.edit = false
                this.editInfo.lemmaNr = null
            } else {
                // console.log('undoStackPopAll')
                let popLemma = JSON.parse(this.undoStack[0])
                Object.keys(this.lemma).forEach(key => delete this.lemma[key])
                Object.entries(popLemma).forEach(([key, value]) => this.lemma[key] = value)
                this.paradigm_info = this.lemma.paradigm_info
                this.calculateLemmaStandardisation()
                this.checkConsistency()
                this.undoStack = []
                this.changed_ = false
                this.lemma.mode = null // ??
                this.edit = false
                this.$parent.newLemma = null
                this.editInfo.lemmaNr = null
                // console.log(this.lemma)
            }
        },
        fetchInflectAsLemmas: function () {
            if (!this.ordbankStore.inflectsAs?.trim().length) {
                this.paradigm_info = []
                this.lemma.paradigm_info = []
                this.undoStackPushCheck()
                this.exampleNotFound = false
            } else {
                let queryId = ++this.queryId
                callAPI("/lemmas?query=" + encodeURIComponent(this.ordbankStore.inflectsAs.replace(/ /g,'+'))
                        //+ "&include_dict_links=true"
                        + "&stubs=false"
                        + (this.includeExtendedVoc ? "&extended_vocabulary=true" : "")
                        + "&language=" + this.lemma.language,
                        null, null, 'ordbank')
                    .then( r => {
                        if (queryId == this.queryId) {
                            if (r.length) {
                                this.exLemmas = r.filter(infl => infl.word_class == this.lemma.word_class)
                                this.lemmaNr = 1
                                this.setParadigmsFromExample()
                                this.undoStackPushCheck()
                                this.exampleNotFound = false
                            } else {
                                this.exLemmas = []
                                this.paradigm_info = []
                                this.lemma.paradigm_info = []
                                this.undoStackPushCheck()
                                this.exampleNotFound = true
                            }
                            // console.log(this.changed)
                        }
                    })
                    .catch (a => this.alert=a + "!")
            }
        },
        setParadigmsFromExample: function () {
            let paradigm_info = this.exLemmas[this.lemmaNr-1]?.paradigm_info?.filter(p=>p.code?.[0]!='M')
            // obs: no .code in exLemmas
            let mo_paradigm_info = this.lemma.paradigm_info?.filter(p=>p.code?.[0]=='M') // dummy codes from MO
            console.log('p_i:', paradigm_info)
            this.lemma.paradigm_info = paradigm_info?.map(p => this.mergeParadigmInfo(p))
            this.lemma.subcat_tags = this.exLemmas[this.lemmaNr-1]?.subcat_tags
            //console.log('mo_paradigm_info:', mo_paradigm_info)
            //console.log('lemma:', this.lemma)
            if (mo_paradigm_info) {
                if (!this.lemma.paradigm_info) {
                    this.lemma.paradigm_info = []
                }
                mo_paradigm_info.forEach(p => this.lemma.paradigm_info.push(p))
            }
            this.paradigm_info = this.lemma.paradigm_info
            // console.log('calculate')
            this.calculateLemmaStandardisation()
            // console.log('calculated')
        },
        calculateLemmaStandardisation: function (push) {
            let max = new Date("9999-12-31") // some date far in the future
            let standard = []
            let secondary = []
            let non_standard = []
            let registered = []
            // first collect all partial intervals
            this.lemma.paradigm_info?.forEach(paradigm => {
                if (!this.edit || !paradigm.exclude) {
                    switch (paradigm.standardisation) {
                    case "STANDARD":
                        standard.push({
                            from: new Date(paradigm.from), 
                            to: paradigm.to ? new Date(paradigm.to) : max })
                        break
                    case "SECONDARY":
                        secondary.push({
                            from: new Date(paradigm.from), 
                            to: paradigm.to ? new Date(paradigm.to) : max })
                        break
                    case "NON_STANDARD":
                        non_standard.push({
                            from: new Date(paradigm.from), 
                            to: paradigm.to ? new Date(paradigm.to) : max })
                        break
                    case "REGISTERED":
                        registered.push({
                            from: new Date(paradigm.from), 
                            to: paradigm.to ? new Date(paradigm.to) : max })
                    }
                }
            })
            
            // sort the intervals, merge overlapping intervals
            function mergeIntervals (intervals) {
                let intv = intervals.sort((a,b) => a.from - b.from)
                intervals = []
                intv.forEach(i => {
                    if (intervals.length) {
                        let last = intervals[intervals.length-1]
                        if (last.to < i.from) { // no overlap
                            intervals.push(i)
                        } else if (last.to <= i.to) { // overlap
                            last.to = i.to // increase existing interval
                        } // else last.to > i.to: containment
                    } else {
                        intervals.push(i)
                    }
                })
                return intervals
            }
            
            standard = mergeIntervals(standard)
            secondary = mergeIntervals(secondary)
            non_standard = mergeIntervals(non_standard)
            registered = mergeIntervals(registered)
            
            // subtract standard from secondary, secondary from non_standard
            function subtractIntervals (intv1, intv2) { // subtract intv2 from intv1
                if (intv1) {
                    let intv = []
                    let intvSplit = []
                    
                    let subtractOnce = function (intv1) {
                        intv1.forEach(i1 => {
                            if (intv2) {
                                intv2.forEach(i2 => {
                                    if (!i1) { // i1 has been deleted
                                    } else if (i1.to <= i2.from) { // no overlap
                                    } else if (i2.to <= i1.from) { // no overlap
                                    } else if (i1.from >= i2.from && i1.to <= i2.to) { // containment
                                        i1 = null
                                    } else if (i1.from <= i2.from && i1.to < i2.to) { // left overlap
                                        i1.to = i2.from
                                    } else if (i1.from >= i2.from && i1.to > i2.to) { // right overlap
                                        i1.from = i2.to
                                    } else if (i1.from < i2.from && i2.to < i1.to) { // split in two
                                        // make new interval
                                        intvSplit.push({from: i2.to, to: i1.to, new: true})
                                        i1.to = i2.from
                                    } else {
                                        console.log("should not happen")
                                    }
                                })
                            }
                            if (i1) { intv.push(i1) }
                        })
                    }
                    
                    while (intv1.length) {
                        // have to recurse because intervals could be split in more than two
                        subtractOnce(intv1)
                        intv1 = intvSplit
                        intvSplit = []
                    }
                    return intv
                }
            }
            
            function formatDate(d) {
                if (d) {
                    let year = d.getFullYear()
                    let month = d.getMonth() + 1
                    let day = d.getDate() // sic!
                    return year + "-"
                        + (month < 10 ? "0" + month : month) + "-"
                        + (day < 10 ? "0" + day : day)
                }
            }
            /*
              function stringifyIntervals (intv) {
              return intv.map(i =>
              { return { from: formatDate(i.from),
              to: (i.to == max ? null : formatDate(i.to)) }
              })
              } */
            standard = subtractIntervals(standard,null)
            secondary = subtractIntervals(secondary,standard)
            non_standard = subtractIntervals(subtractIntervals(non_standard,secondary),standard)
            // nothing here for registered!
            
            this.timeline = []
            standard.map(std => this.timeline.push({from: formatDate(std.from),
                                                    to: (std.to == max ? null : formatDate(std.to)),
                                                    standardisation: "STANDARD"}))
            secondary.map(std => this.timeline.push({from: formatDate(std.from),
                                                     to: (std.to == max ? null : formatDate(std.to)),
                                                     standardisation: "SECONDARY"}))
            non_standard.map(std => this.timeline.push({from: formatDate(std.from),
                                                        to: (std.to == max ? null : formatDate(std.to)),
                                                        standardisation: "NON_STANDARD"}))
            registered.map(std => this.timeline.push({from: formatDate(std.from),
                                                      to: (std.to == max ? null : formatDate(std.to)),
                                                      standardisation: "REGISTERED"}))
            this.lemma.standardisation_timeline = this.timeline
            
            if (push) {
                this.undoStackPush()
            }
        },
        recalcStandardisation: function () {
            this.$nextTick(() => this.calculateLemmaStandardisation(true))
        },
        hideEntryPreview: function () {
            this.dictEntry = null
            this.preview_art_id = null
            this.preview_dict_id = null
        },
        showEntryPreview: function (article_id, dict_id) {
            this.preview_art_id = article_id
            this.preview_dict_id = dict_id
            let url = entriesURL + '?session-id='
                + sessionId()
                + '&mode=edit'
                + '&dictionary=' + dict_id
                + '&article-id=' + article_id
            loadJSON(url)
                .then (response => {
                    if (this.preview_art_id == article_id && this.preview_dict_id == dict_id) {
                        console.log(response)
                        if (response.error == 'Session has expired.') {
                            sessionId() // get new session
                            this.busy = false
                        } else {
                            if (response.entries) {
                                this.dictEntry = response.entries[0]
                                this.busy = false
                            }
                        }
                    }
                })
                .catch (showErrorMessage)
        },
        showEntry: function (article_id, dict_id) {
            let comp = entryComps[0]
            if (comp) {
                if (this.lemma.language == 'nob') {
                    comp.dictionary = 'bm'
                } else if (dict_id == 'NO') {
                    comp.dictionary = 'no'
                } else {
                    comp.dictionary = 'nn'
                }
                useLexStore().dictWord[0].word = article_id
                this.$router.push(lexBase+'/ordbok')
            }
        },
        createArticle: function () {
            this.storingArticle = true
            let dict = this.lemma.language == 'nob' ? 'bm' : 'nn'
            let article = { id: getNewId(),
                            type: "entry",
                            etype: "entry",
                            status: 0,
                            properties: {},
                            language: dict,
                            // artikkelRedaktor: personId(), // app.personId,
                            entryType: "NORMAL",
                            lemmas: [{ id: this.lemma.id,
                                       type: "lemma",
                                       lemma: this.lemma.lemma,
                                       hgno: 0 }],
                            hp: null,
                            definitions: [] }
            let entryString = JSON.stringify(article)
            let params = new URLSearchParams
            params.set("entry", entryString)
            params.set("session-id", sessionId())
            params.set("dictionary", dict)
            loadJSON(storeEntriesURL,
                     { method: "POST",
                       headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                       body: params })
                .then (response => {
                    if (response.success==true) {
                        this.searchLemma()
                        this.storingArticle = false
                    } else {
                        showErrorMessage(response.error)
                        this.storingArticle = false
                    }})
                .catch (showErrorMessage)
            
        },
        showEditLog: function () {
            callAPI("/lemmas/" + this.lemma.id + "/edit_log",
                    null, null, 'ordbank')
                .then (r => this.editLog = r)
                .catch (showErrorMessage)
        },
        UIDtoName: function (userId) { // Ordbruker id -> name
            let userObj = useKeyStore().users.get(parseInt(userId))
            return userObj ? userObj.name : userId
        },
        showLogDetails: function (row) {
            if (row._showDetails) {
                row._showDetails = false
            } else if (this.detailsRow) {
                this.detailsRow._showDetails = false
                this.detailsRow = null
            } else {
                this.detailsRow = row
                row._showDetails = true
            }
        },
        validateHomograph: function () {
            // this.storing = true
            let paradigms = this.lemma.paradigm_info.filter(pi=>pi.code[0]!='M')
            let pids = paradigms.map(pi=>pi.lemma_paradigm_id)
            callAPI("/lemmas/" +  this.lemma.id,
                    'PATCH',
                    JSON.stringify({ operation: "delete_paradigm_source",
                                     elements: pids }),
                    'ordbank')
                .then(() => {
                    this.lemma.extended_vocab = false
                    paradigms.map(p => p.source = null)
                    this.lemma.source = null
                    // workaround to set inflection_class
                    this.storeHomograph()
                })
                .catch (showErrorMessage)
            
        },
        onKeyDown: function (event) {
            if (event.ctrlKey) {
                switch (event.keyCode) {
                case 75: // K
                    this.show = false // !this.show
                    event.cancelBubble = true
                    event.returnValue = false
                    break
                case 79: // O
                    this.show = true // !this.show
                    event.cancelBubble = true
                    event.returnValue = false
                    break
                case 72: // H
                    this.fetchInflectAsLemmas()
                    event.cancelBubble = true
                    event.returnValue = false
                    break
                case 82: // R
                    this.editHomograph()
                    event.cancelBubble = true
                    event.returnValue = false
                    break
                case 83: // S
                    this.storeHomograph()
                    event.cancelBubble = true
                    event.returnValue = false
                }
            }
        },
        canAcceptDrop: function (data) {
            return this.canEditStrict &&
                data.lemma.language == this.lemma.language &&
                data.lemma.lemma == this.lemma.lemma &&
                data.lemma.word_class == this.lemma.word_class &&
                data.lemma.lemma_a_inf == this.lemma.lemma_a_inf &&
                data.lemma.id != this.lemma.id
        },
        acceptDrop: function (data) {
            this.over = data.type == 'homograph' &&
                this.canAcceptDrop(data)
        },
        handleDrop: function (data) {
            console.log('handleDrop')
            if (this.canAcceptDrop(data)) {
                this.over = false
                this.show = true
                
                // merge with dragged lemma entry
                
                this.editHomograph()
                data.lemma.paradigm_info
                    .forEach(pi => this.lemma.paradigm_info.push(pi))
                
                if (data.lemma.properties?.dict_art_ids) {
                    
                    if (!this.lemma.properties) {
                        this.lemma['properties'] = {}
                    }
                    if (!this.lemma.properties.dict_art_ids) {
                        this.lemma.properties.dict_art_ids = []
                    }
                }
                
                if (data.type == 'MO-id') { // copy only dragged MO id and associated NO links
                    
                    data.lemma.properties?.dict_art_ids.forEach(dict_art_id => {
                        if (!this.lemma.properties.dict_art_ids.find(d_a_id =>
                            d_a_id.dict_id == dict_art_id.dict_id &&
                                d_a_id.article_id == dict_art_id.article_id)) {
                            
                            
                            this.lemma.properties.dict_art_ids.push(dict_art_id)
                        }
                    })
                    
                    this.lemma.mo_article_ids.push({mo_id: data.mo_id.mo_id,
                                                    from_lemma_id: data.lemma.id})
                } else { // copy all of them
                    data.lemma.properties?.dict_art_ids.forEach(dict_art_id => {
                        if (!this.lemma.properties.dict_art_ids.find(d_a_id =>
                            d_a_id.dict_id == dict_art_id.dict_id &&
                                d_a_id.article_id == dict_art_id.article_id)) {
                            dict_art_id['old_lemma_id'] = data.lemma.id
                            this.lemma.properties.dict_art_ids.push(dict_art_id)
                        }
                    })
                    data.lemma.mo_article_ids
                        .forEach(mo => {
                            if (!this.lemma.mo_article_ids.find(m => m.id == mo.mo_id)) {
                                this.lemma.mo_article_ids.push({mo_id: mo.mo_id,
                                                                from_lemma_id: data.lemma.id})
                            }
                        })
                }
                this.changed_ = true
            }
        },
        acceptMODrop: function (data) {
            this.moOver = this.canAcceptMODrop(data)
        },
        canAcceptMODrop: function (data) {
            return this.canEditStrict &&
                data.type == 'MO-id' &&
                this.lemma.language == data.lemma.language &&
                this.lemma.id != data.lemma.id
        },
        handleMODrop: function (data) {
            if (this.canAcceptMODrop(data)) {
                this.editHomograph()
                if (!this.lemma.mo_article_ids) this.lemma.mo_article_ids = []
                this.lemma.mo_article_ids.push({mo_id: data.mo_id.mo_id, from_lemma_id: data.lemma.id})
                this.changed_ = true
                this.updateFn = data.updateFn
            }
        },
        acceptArtRefDrop: function (data) {
            this.refOver = this.canAcceptArtRefDrop(data)
        },
        canAcceptArtRefDrop: function (data) {
            return this.canEditStrict &&
                data.type == 'article_ref' &&
                this.lemma.language == data.lemma.language &&
                this.lemma.id != data.lemma.id
        },
        handleArtRefDrop: function (data) {
            if (this.canAcceptArtRefDrop(data)) {
                if (!this.lemma.properties.dict_art_ids) {
                    this.lemma.properties.dict_art_ids = []
                }
                if (!this.lemma.properties.dict_art_ids
                    .find(s => s.article_id == data.s.article_id && s.dict_id == data.s.dict_id)) {
                    this.editHomograph()
                    data.s['old_lemma_id'] = data.lemma.id
                    this.lemma.properties.dict_art_ids.push(data.s)
                    this.changed_ = true
                    this.updateFn = data.updateFn
                }
            }
        }
    }
}
</script>

<style>
div.edit {
    border: 2px solid red;
    border-radius: 4px
}

span.dialog {
    border: 2px solid gray;
    border-radius: 4px;
    padding: 1em;
    margin-left: 1em
}

label.label {
    font-style: italic
}

</style>
