<template>
<b-container class="m-0 px-3 pb-0 pt-3"
             style="height: calc(100vh - 14.4em); max-width: 50em; overflow-y: scroll; overflow-x: hidden; xborder: 1px solid green">
  <b-row>
    <b-col>
      <b-form @submit.stop.prevent inline>
        <label class="label" for="language-select">{{$t('Language')}}: </label>
        <b-form-select size="sm"
                       id="language-select"
                       class="mx-2"
                       v-model="ordbankStore.ordbankQuery.language"
                       :options="languages"
                       @change="sendLemmasQuery"
                       />
        <label class="label" for="lemma-query">{{$t('Search string')}}: </label>
        <b-form-input size="sm"
                      id="lemma-query"
                      class="mx-2"
                      style="width: 17em"
                      v-model.trim="ordbankStore.ordbankQuery.query"
                      type="search"
                      autocomplete="off"
                      autocorrect="off"
                      autocapitalize="off"
                      @keydown.enter="sendLemmasQuery"
                      placeholder="Lemma (bruk * som jokertegn)"/>
        <b-button variant="primary" size="sm" @click="sendLemmasQuery">{{$t('Search')}}</b-button>
        <b-form-checkbox size="sm"
                         class="ml-4"
                         v-model="ordbankStore.ordbankQuery.caseInsensitive"
                         @change="sendLemmasQuery">
          {{$t('case insensitive')}}
        </b-form-checkbox>
        <!--b-form-text class="m-sm-2">
          (Bruk * som jokertegn; sett # på slutten for utrunkert søk.)
        </b-form-text-->
      </b-form>
    </b-col>
  </b-row>
  <b-row>
    <b-col>
      <b-form @submit.stop.prevent inline>
        <label class="label m-sm-2" for="word-class">
          {{$t('Part of speech')}}:
        </label>
        <b-form-select size="sm"
                       id="word-class"
                       class="mr-2"
                       v-model="ordbankStore.ordbankQuery.wordClass"
                       :options="wordClassList"
                       @change="sendLemmasQuery"
                       />
        <label class="label m-sm-2" for="word-class">
          {{$t('Source')}}:
        </label>
        <b-form-select size="sm"
                       id="source"
                       class="mr-2"
                       v-model="ordbankStore.ordbankQuery.source"
                       :options="sourceList"
                       @change="sendLemmasQuery"
                       />
        <label class="label m-sm-2" for="paradigm-id">
          {{$t('Paradigm ID')}}:
        </label>
        <b-form-input size="sm"
                      id="paradigm-id"
                      class="mr-2"
                      style="width:6em"
                      v-model.trim="ordbankStore.ordbankQuery.paradigmId"
                      type="search"
                      autocomplete="off"
                      autocorrect="off"
                      autocapitalize="off"
                      @input="sendLemmasQuery"
                      @keydown.enter="sendLemmasQuery"/>
        <label class="label m-sm-2" for="paradigm-code">
          {{$t('Paradigm code')}}:
        </label>
        <b-form-input size="sm"
                      id="paradigm-code"
                      class="mr-2"
                      style="width:6em"
                      v-model.trim="ordbankStore.ordbankQuery.paradigmCode"
                      type="search"
                      autocomplete="off"
                      autocorrect="off"
                      autocapitalize="off"
                      @input="sendLemmasQuery"
                      @keydown.enter="sendLemmasQuery"/>
        <label class="label m-sm-2" for="standardisation">
          {{$t('Standardisation')}}:
        </label>
        <b-form-select size="sm"
                       id="standardisation"
                       class="mr-2"
                       v-model="ordbankStore.ordbankQuery.standardisation"
                       :options="standardisations"
                       @change="sendLemmasQuery"
                       />
        <b-form-checkbox size="sm"
                         class="ml-4"
                         v-model="ordbankStore.ordbankQuery.valid"
                         @change="sendLemmasQuery">
          {{$t('valid only')}}
        </b-form-checkbox>
        
      </b-form>
    </b-col>
  </b-row>
  <b-row v-if="busy">
    <b-col>
      <b-icon icon="three-dots" animation="cylon" font-scale="4"/>
    </b-col>
  </b-row>
  <b-row v-if="!busy">
    <b-col>
      <p class="pt-3">
        <span v-if="lemmaList.length==1">
          {{$t('One lemma')}}
        </span>
        <span v-else>
          {{lemmaList.length}} {{$t('lemmas')}}
        </span>
        {{$t('found')}}.
      </p>
    </b-col>
  </b-row>
  <b-row>
    <b-col>
      <b-list-group flush>
        <b-list-group-item v-for="(lemma,index) in lemmaList"
                           class="flex-column align-items-start p-1"
                           :key="index"
                           :lemma="lemma"
                           xxclick="setLemmaAndSearch(lemma)">
          <router-link :to="lexBase+'/ordbank/lemma/'+lemma.id">
            {{lemma.lemma}} 
          </router-link><small>{{lemma.word_class}}</small><small class="text-muted"> {{lemma.id}}
            </small>
          <small v-if="lemma.properties && lemma.properties.dict_ids">
            (<span v-for="(source,index) in [...new Set(lemma.properties.dict_ids)]"
                   :key="index"
                   class="comma">{{source}}</span>)
          </small>
        </b-list-group-item>
      </b-list-group>
    </b-col>
  </b-row>
</b-container>
</template>

<script>

import { lexBase, callAPI, showErrorMessage, dismissErrorMessage, useOrdbankStore
       } from '@/components/mixins/ordbokUtils.js'

import { mapStores } from 'pinia'

export default {
    name: 'lemma-search',
    props: [],
    // mixins: [api],
    data: function () {
        return { languages: [ {value: 'nob', text: 'Bokmål'},
                              {value: 'nno', text: 'Nynorsk'}
                            ],
                 // language: 'nob',
                 lemmaList: [],
                 // caseInsensitive: false,
                 // wordClass: '-',
                 wordClassList: ['-','NOUN','VERB','ADJ','ADV','PRON','DET','INTJ',
                                 'ABBR','COMPPFX','SYM','ADP','CCONJ','SCONJ',
                                 'INFM','ABBR','PFX','EXPR'],
                 // source: '-',
                 sourceList: [ '-',
                               'MO-not-found',
                               'MO-ambig',
                               'MO-cp-found',
                               'MO-cp-found-e',
                               'MO-cp-ambig',
                               'MO-cp-ambig-e',
                               'NAOB',
                               'NO',
                               'NO-not-found'
                             ],
                 standardisations: [ '-',
                                     'STANDARD',
                                     'NON_STANDARD',
                                     'SECONDARY',
                                     'REGISTERED',
                                     'UNCLEAR',
                                     'STAND/NON_S',
                                     'STAND/UNCLR',
                                     'STAND/SECON',
                                     'NON_S/UNCLR',
                                     'SECON/NON_S',
                                     'SECON/UNCLR'
                                   ],
                 standardisation: '-', 
                 // paradigmId: null,
                 // paradigmCode: null,
                 queryId: 0,
                 lexBase,
                 busy: false
               }
    },
    created: function () {
        this.sendLemmasQuery()
    },
    computed: {
        ...mapStores(useOrdbankStore)
    },
    methods: {
        sendLemmasQuery: function () {
            dismissErrorMessage()
            this.ordbankStore.ordbankLemmaLanguage['ob'] = this.ordbankStore.ordbankQuery.language
            this.lemmaList = []
            let queryString = this.ordbankStore.ordbankQuery.query
            if (queryString) {
                this.busy = true
                let queryId = ++this.queryId
                /* let regex = queryString[queryString.length-1] == '#' ?
                   queryString.substring(0,queryString.length-1) :
                   queryString + '%' */
                let regex = queryString
                callAPI("/lemmas?query=" + encodeURIComponent(regex.replace(/\*/g,"%").replace(/ /g, '+'))
                        + "&stubs=true"
                        + "&language=" + this.ordbankStore.ordbankQuery.language // this.queryLanguage
                        + "&case_insensitive=" + this.ordbankStore.ordbankQuery.caseInsensitive
                        + "&extended_vocabulary=true"
                        + (this.ordbankStore.ordbankQuery.wordClass == '-' ?
                           '' : "&word_class=" + this.ordbankStore.ordbankQuery.wordClass)
                        + (this.ordbankStore.ordbankQuery.source == '-' ?
                           '' : "&source=" + this.ordbankStore.ordbankQuery.source)
                        + (this.ordbankStore.ordbankQuery.paradigmId ?
                           "&paradigm_id=" + this.ordbankStore.ordbankQuery.paradigmId : '')
                        + (this.ordbankStore.ordbankQuery.paradigmCode ?
                           "&paradigm_code=" + this.ordbankStore.ordbankQuery.paradigmCode : '')
                        + (this.ordbankStore.ordbankQuery.standardisation == '-' ?
                           '' : "&standardisation=" + this.ordbankStore.ordbankQuery.standardisation)
                        + (this.ordbankStore.ordbankQuery.valid == true ? "&valid=true" : ''),
                        null, null, 'ordbank')
                    .then( r => {
                        if (queryId == this.queryId) {
                            // console.log(r)
                            this.lemmaList = r
                            this.busy = false
                        }
                    })
                    .catch (showErrorMessage)
            }
        }
    }
}
</script>
