<template>
<b-container class="m-0 px-1 pt-0" style="max-width: 50em">
  <h2>Metaordbok</h2>
  <b-row>
    <b-col>
      <b-tabs v-model="MOTabs.tabIndex" card>
        <b-tab title="Søk">
          <b-card-text>
            <!--b-container fluid="md"-->
            <div style="height: calc(100vh - 16.8em); overflow-y: scroll; overflow-x: hidden; position: relative">
              <mo-search mode="no"/>
            </div>
            <!--/b-container-->
          </b-card-text>
        </b-tab>
        <b-tab title="Artikkel">
          <b-card-text>
            <mo-article-n-o mode="no" :MOTabs="MOTabs"/>
          </b-card-text>
        </b-tab>
      </b-tabs>
    </b-col>
  </b-row>
</b-container>
</template>

<script>

import { lexBase } from '@/components/mixins/ordbokUtils.js'

import { mapStores } from 'pinia'

import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

import { useOrdbankStore, useMOStore
       } from '@/components/mixins/ordbokUtils.js'

// import ordbankLemma from './ordbankLemma.vue'
import moArticleNO from './moArticleNO.vue'
// import moDictArticle from './moDictArticle.vue'
// import moDictionaries from './moDictionaries.vue'
import moSearch from './moSearch.vue'

export default {
    name: 'meta-ordbank-n-o',
    components: { // ordbankLemma,
        moArticleNO, // moDictionaries, // moDictArticle,
                  moSearch },
    data: function () {
        return {
            MOTabs: { tabIndex: 0 },
            lexBase,
            dictBusy: false,
            // dictId: null,
            // dictNames,
            // dictIds,
            dictQueryString: null,
            caseInsensitive: false,
            // lemmaId: null,
        }
    },
    computed: {
        ...mapStores(useOrdbankStore, useMOStore, useStateStore),
        canEdit: function () {
            return useStateStore().jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR')
        }
    }
}
</script>
