<template>
<b-container class="m-0 px-1 pt-0">
  <b-row>
    <b-col>
      <h1 class="heading ml-4 mb-0 p-2 pt-4">Metaordbok</h1>
      <b-card no-body>
        <b-card-header header-tag="nav">
          <b-nav card-header tabs>
            <b-nav-item :to="lexBase+'/metaordbok/search'" active-class="active">
              {{$t('Search')}}
            </b-nav-item>
            <b-nav-item :to="lexBase+'/metaordbok/article'" active-class="active">
              {{$t('Article')}}
            </b-nav-item>
            <b-nav-item :to="lexBase+'/metaordbok/bibl'" active-class="active">
              {{$t('Bibliography')}}
            </b-nav-item>
            <b-nav-item :to="lexBase+'/metaordbok/places'" active-class="active">
              {{$t('Places')}}
            </b-nav-item>
            <b-nav-item :to="lexBase+'/metaordbok/registrants'" active-class="active">
              {{$t('Registrants')}}
            </b-nav-item>
          </b-nav>
        </b-card-header>
          <div style="height: calc(100vh - 14em); overflow-y: scroll; overflow-x: hidden">
            <router-view/>
          </div>
      </b-card>
    </b-col>
    <b-col>
      <b-tabs v-model="ordbankStore.MOTabIndex" card>
        <b-tab title="Samlinger">
          <b-card-text>
            <b-container fluid="md">
              <div style="height: calc(100vh - 11.2em); overflow-y: scroll; overflow-x: hidden; position: relative">
                <mo-dictionaries/>
              </div>
            </b-container>
          </b-card-text>
        </b-tab>
        <b-tab title="Ordbank">
          <b-card-text>
            <b-container fluid="md">
              <b-row>
                <b-col>
                  <h2>Ordbank</h2>
              <div style="height: calc(100vh - 14.4em); overflow-y: scroll; position: relative">
                <ordbank-lemma mode="mo"/>
                </div>
                </b-col>
              </b-row>
            </b-container>
          </b-card-text>
        </b-tab>
        <b-tab title="Metaordbok">
          <b-card-text>
            <b-container fluid="md">
              <b-row>
                <b-col>
                  <h2>Metaordbok</h2>
                  <b-tabs v-model="ordbankStore.MOSecTabIndex" card>
                    <b-tab title="Søk">
                      <div style="height: calc(100vh - 19em); overflow-y: scroll; position: relative; xborder: 1px solid green">
                        <mo-search mode="mo-sec"/>
                      </div>
                    </b-tab>
                    <b-tab title="Artikkel">
                      <div style="height: calc(100vh - 19em); overflow-y: scroll; position: relative; xborder: 1px solid green">
                        <mo-article mode="mo-sec"/>
                      </div>
                    </b-tab>
                  </b-tabs>
                </b-col>
              </b-row>
            </b-container>
          </b-card-text>
        </b-tab>
      </b-tabs>

    </b-col>
  </b-row>
</b-container>
</template>

<script>

import { lexBase } from '@/components/mixins/ordbokUtils.js'

import $ from 'jquery'

import { mapStores } from 'pinia'

import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

import { callAPI, showErrorMessage, dismissErrorMessage,
         useOrdbankStore, useMOStore
       } from '@/components/mixins/ordbokUtils.js'

import ordbankLemma from './ordbankLemma.vue'
import moArticle from './moArticle.vue'
// import moDictArticle from './moDictArticle.vue'
import moDictionaries from './moDictionaries.vue'
import moSearch from './moSearch.vue'

export default {
    name: 'ordbank-search',
    components: { ordbankLemma, moArticle, moDictionaries, // moDictArticle,
                  moSearch },
    data: function () {
        return {
            lexBase,
            dictBusy: false,
            // dictId: null,
            // dictNames,
            // dictIds,
            dictQueryString: null,
            caseInsensitive: false,
            // lemmaId: null,
        }
    },
    computed: {
        ...mapStores(useOrdbankStore, useMOStore, useStateStore),
        canEdit: function () {
            return useStateStore().jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR')
        }
    },
    methods: {
        searchDictionary: function () {
            dismissErrorMessage()
            if (this.ordbankStore.dictId) {
                this.dictBusy = true
                $('div.entries a').removeClass('chosen')
                let path = "/dict/" + this.ordbankStore.dictId
                if (isNaN(this.dictQueryString)) {
                    path = path + "?query=" + encodeURIComponent(this.dictQueryString.replace(/\*/,"%")) +
                        "&word_class=" + (this.wordClass || '')
                } else {
                    path = path + "/" + this.dictQueryString
                }
                callAPI(path, null, null, 'ordbank')
                    .then( r => { this.moStore.dictArtList = r
                                  this.dictBusy = false })
                    .catch (showErrorMessage)
            }
        },
        newDictEntry: function () { // TODO: dispatch on dict_id!
            let path = "/dict/" + this.ordbankStore.dictId
            callAPI(path, 'POST', 0, 'ordbank')
                .then(r => { console.log(r)
                             this.dictBusy = false
                             this.moStore.editItem = { 'dict_id': this.ordbankStore.dictId,
                                                       'bibl': [],
                                                       'words': [],
                                                       'art_id': r.article_id,
                                                       'context': '',
                                                       'context_tokens': [],
                                                       'path': null }
                           })
                .catch (showErrorMessage)
        }
    }
}
</script>
