<template>
  <b-container class="m-0 px-1 pt-0">
    <b-row>
      <b-col>
        <b-row>
          <b-col>
            <b-form @submit.stop.prevent inline>
              <label class="label m-2" :for="'article-id_' + mode">{{ $t('Article ID') }}:</label>
              <b-form-input size="sm"
                            :id="'article-id_' + mode"
                            class="mr-2"
                            v-model.number="ordbankStore.MOArticleId[mode]"
                            type="search"
                            autocomplete="off"
                            autocorrect="off"
                            autocapitalize="off"
                            xxinput="getMOArticle(null)"
                            @keydown.enter="getMOArticle(null)"
                            placeholder="Article ID" />
              <b-button variant="primary" size="sm" @click="getMOArticle(null)">
                {{ $t('Search') }}
              </b-button>
              <b-button v-if="canEdit"
                        variant="secondary"
                        size="sm"
                        class="ml-3"
                        @click="newMOArticle">
                {{ $t('New article') }}
              </b-button>
            </b-form>
          </b-col>
        </b-row>
        <b-row v-if="busy">
          <b-col>
            <b-icon icon="three-dots" animation="cylon" font-scale="4" />
          </b-col>
        </b-row>
        <b-row v-if="MOArticle.type && !busy">
          <b-container class="m-0 px-1 p-sm-4">
            <b-row class="pl-3 pb-3">
              <b-col>
                <small>
                  Typ: {{ MOArticle.type }},
                  opprettet av: {{ MOArticle.creator }},
                  dato: {{ MOArticle.create_date }}
                </small>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <drop class="lemmaDrop"
                      :class="{ over }"
                      @dragover="acceptLemmaDrop"
                      @dragleave="over = false"
                      @drop="handleLemmaDrop">
                  <b-col md="auto">
                    <h3 class="label m-sm-2" xxfor="article-lemmas">
                      Oppslag i Ordbanken:
                    </h3>
                    <b-list-group>
                      <b-list-group-item v-if="!MOArticle.lemmas || !MOArticle.lemmas.length"
                                         class="d-flex justify-content-between align-items-start p-2">
                        (Ingen)
                      </b-list-group-item>
                      <b-list-group-item v-for="(lemma, index) in MOArticle.lemmas"
                                         class="d-flex justify-content-between align-items-start p-2"
                                         id="article-lemmas"
                                         :key="index"
                                         :lemma="lemma">
                        <drag :transfer-data="{ lemma }" tag="span" class="drag">
                          <span>{{ lemma.lemma }}</span>
                          <small class="text-muted">
                            {{ lemma.word_class }}
                            <span v-for="tag in lemma.tags" :key="tag">
                              {{ tag }}
                            </span>
                            [{{ lemma.language }}]:
                          </small>
                          <span class="xref" @click="showOrdbankLemma(lemma.id)">
                            {{ lemma.id }}
                          </span>
                        </drag>
                        <b-icon-trash v-if="canEdit" class="link" @click="deleteLemmaLink(lemma.id)" />
                      </b-list-group-item>
                    </b-list-group>
                  </b-col>
                </drop>
              </b-col>
            </b-row>
          </b-container>
        </b-row>
        <b-row v-if="MOArticle.type && !busy"
               class="m-0">
          <drop class="artDrop" :class="{ artOver }"
                @dragover="acceptArtDrop"
                @dragleave="artOver = false"
                @drop="handleArtDrop">
            <b-container class="m-0 px-1 p-sm-4">
              <b-col md="auto">
                <h3 class="label m-sm-2" xfor="article-lemmas">
                  <span v-if="refSize == 1">{{ $t('One reference') }}:</span>
                  <span v-else-if="refSize == 0">{{ $t('No references') }}</span>
                  <span v-else>{{ refSize }} {{ $t('references') }}</span>
                  <span v-if="addRefCount" style="color: red"> (legger til {{addRefCount}})</span>:
                </h3>
                <div class="entries" style="xheight: 32em; xoverflow-y: scroll; position: relative">
                  <dl>
                    <div v-for="dict_id in mo_dicts" :key="dict_id">
                      <div v-if="MOArticle.references?.[dict_id]">
                        <mo-dict-article-refs :refs="MOArticle.references[dict_id]"
                                              :mo_article_id="ordbankStore.MOArticleId[mode]"
                                              :lemmas="MOArticle.lemmas"
                                              :dict_id="dict_id"
                                              :dict_name="dictNames[dict_id]" />
                      </div>
                    </div>
                  </dl>
                </div>
              </b-col>
            </b-container>
          </drop>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>

// import lemmaBlock from './lemmaBlock.vue'

import {
    lexBase, callAPI, showErrorMessage, dismissErrorMessage,
    useOrdbankStore, useMOStore, dictNames, wordClasses
} from '@/components/mixins/ordbokUtils.js'

import moDictArticleRefs from './moDictArticleRefs.vue'

import { mapStores } from 'pinia'
import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

import $ from 'jquery'

const mo_dicts = Object.keys(dictNames)

export default {
    name: 'mo-article',
    props: ['sec', 'mode'],
    components: { moDictArticleRefs },
    data: function () {
        return {
            languages: [{ value: 'nob', text: 'Bokmål' },
                        { value: 'nno', text: 'Nynorsk' }
                       ],
            MOArticle: {},
            queryId: 0,
            busy: false,
            dictBusy: false,
            addRefCount: 0,
            over: false,
            artOver: false,
            dictId: null,
            dictNames,
            dictQueryString: null,
            caseInsensitive: false,
            wordClass: null,
            wordClasses,
            lemmaId: null,
            internal: false,
            mo_dicts
        }
    },
    created: function () {
        this.moStore.getMOArticle[this.mode] = this.getMOArticle // make the method accessible from anywhere
        let moArticleId = this.$route.params.id
        if (moArticleId && this.mode == 'mo') {
            this.getMOArticle(parseInt(moArticleId))
        } else {
            this.getMOArticle()
        }
    },
    watch: {
        $route(to, from) {
            if (from.path != to.path) { // don’t reload if only hash changes!
                if (to.params.id && this.mode == 'mo') {
                    this.getMOArticle(parseInt(to.params.id), true)
                }
            }
        }
    },
    computed: {
        ...mapStores(useOrdbankStore, useStateStore, useMOStore),
        canEdit: function () {
            return useStateStore().jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR')
        },
        refSize: function () {
            let sum = 0
            let refs = this.MOArticle.references
            for (let r in refs) {
                sum = sum + refs[r].length
            }
            return sum
        }
    },
    methods: {
        showOrdbankLemma: function (id) {
            this.ordbankStore.ordbankLemmaId['mo'] = id
            this.ordbankStore.ordbankLemmaQuery['mo'] = id
            this.ordbankStore.MOTabIndex = 1
            this.ordbankStore.sendLemmaQuery()
        },
        getMOArticle: function (id, no_push) {
            if (id) {
                this.ordbankStore.MOArticleId[this.mode] = id
            } else {
                id = this.ordbankStore.MOArticleId[this.mode]
            }
            let queryId = ++this.queryId
            if (id && !isNaN(id)) {
                callAPI("/metarecords/" + id, null, null, 'ordbank')
                    .then(r => {
                        if (queryId == this.queryId) {
                            if (!no_push && this.mode == 'mo' && this.$route.params.id != id) {
                                this.$router.push({ path: lexBase + '/metaordbok/article/' + id  })
                            }
                            this.MOArticle = r
                            this.busy = false
                        }
                    })
                    .catch(showErrorMessage)
            }
        },
        newMOArticle: function () {
            callAPI("/metarecords",
                    'POST',
                    JSON.stringify({ operation: 'new_mo_entry' }),
                    'ordbank')
                .then(r => {
                    this.MOArticle = r
                    this.ordbankStore.MOArticleId[this.mode] = r.id
                    this.busy = false
                })
                .catch(showErrorMessage)
        },
        searchDictionary: function () {
            dismissErrorMessage()
            if (this.dictId) {
                this.dictBusy = true
                $('div.entries a').removeClass('chosen')
                let path = "/dict/" + this.dictId
                if (isNaN(this.dictQueryString)) {
                    path = path + "?query=" + encodeURIComponent(this.dictQueryString.replace(/\*/, "%")) +
                        "&word_class=" + (this.wordClass || '')
                } else {
                    path = path + "/" + this.dictQueryString
                }
                callAPI(path, null, null, 'ordbank')
                    .then(r => {
                        this.moStore.dictArtList = r
                        this.dictBusy = false
                    })
                    .catch(showErrorMessage)
            }
        },
        canAcceptLemmaDrop: function () {
            return true
        },
        acceptLemmaDrop: function () {
            this.over = true
        },
        handleLemmaDrop: function (data) {
            if (this.canAcceptLemmaDrop()) {
                this.over = false
                callAPI("/metarecords/" + this.ordbankStore.MOArticleId[this.mode],
                        'PATCH',
                        JSON.stringify({
                            operation: 'add_lemma_link',
                            elements: [data.lemma.id],
                            link_type: 'manuell'
                        }),
                        'ordbank')
                    .then(() => this.getMOArticle(this.ordbankStore.MOArticleId[this.mode])) // reload article
                    .catch(a => this.alert = a)
            }
        },
        deleteLemmaLink: function (lid) {
            callAPI("/metarecords/" + this.ordbankStore.MOArticleId[this.mode],
                    'PATCH',
                    JSON.stringify({
                        operation: 'delete_lemma_link',
                        elements: [lid],
                        link_type: 'deleted'
                    }),
                    'ordbank')
                .then(() => this.getMOArticle(this.ordbankStore.MOArticleId[this.mode])) // reload article
                .catch(a => this.alert = a)
        },
        canAcceptArtDrop: function (data) {
            console.log('CanAcceptArtDrop',data)
            return data &&
                (data.type == 'mo_dict_article' || data.type == 'mo_dict_article_id' ||
                 data.type == 'corpus_ref' || data.type == 'corpus_refs') &&
                data.mo_article_id != this.ordbankStore.MOArticleId[this.mode]
        },
        acceptArtDrop: function (data) {
            // console.log('acceptArtDrop',data)
            if (this.canAcceptArtDrop(data)) // (data && data.mo_article_id != this.ordbankStore.MOArticleId[this.mode])
            {
                this.artOver = true
            }
        },
        handleArtDrop: function (data) {
            console.log('handleArtDrop', data)
            if (!data) { // cross-window drag (cannot use pinia here to access the store!)
                let corpusState = JSON.parse(localStorage.getItem(process.env.BASE_URL + 'State'))
                console.log(process.env.BASE_URL, corpusState)
                data = corpusState.dragData
            }
            console.log('drop-data:', data)
            if (this.canAcceptArtDrop(data)) {
                let mo_article_id = this.ordbankStore.MOArticleId[this.mode]
                console.log('mo_article_id:', mo_article_id, 'data:', data)
                if (data.type == 'mo_dict_article') {
                    console.log('add ', data.dict_id, 'mo', data.mo_article_id, 'art', data.art_id)
                    callAPI("/metarecords/" + mo_article_id,
                            'PATCH',
                            JSON.stringify({
                                operation: 'add_ref_article',
                                dict_id: data.dict_id,
                                elements: [data.art_id],
                                link_type: 'manual'
                            }),
                            'ordbank')
                        .then(() => {
                            this.getMOArticle() // reload article
                            if (this.mode == 'mo') {
                                this.moStore.getMOArticle['mo-sec']() // mo-sec??
                            } else {
                                this.moStore.getMOArticle['mo']()
                            }
                            if (data.dart) { // update dragged article
                                data.dart.mo_art_ids.push(mo_article_id)
                            }
                        })
                        .catch(a => this.alert = a)
                } else if (data.type == 'corpus_ref') {
                    console.log('corpus-ref:', data)
                    callAPI("/metarecords/" + mo_article_id,
                            'PATCH',
                            JSON.stringify({
                                operation: 'add_corpus_ref',
                                dict_id: 'korpuskel',
                                document_id: data.document_id,
                                sentence_id: data.sentence_id,
                                text: data.text,
                                query: data.query,
                                word: data.word,
                                ref: data.ref,
                                elements: [0], // article_id is generated from sequence
                                link_type: 'manual'
                            }),
                            'ordbank')
                        .then(() => {
                            this.getMOArticle() // reload article
                            if (this.mode == 'mo') {
                                this.moStore.getMOArticle['mo-sec']() // mo-sec??
                            } else {
                                this.moStore.getMOArticle['mo']()
                            }
                        })
                        .catch(a => this.alert = a)
                } else if (data.type == 'corpus_refs') {
                    // do it the simple way: call PATCH for each context
                    this.addRefCount = data.contexts.length
                    this.addRefBusy = true
                    data.contexts.forEach(data =>
                        callAPI("/metarecords/" + mo_article_id,
                                'PATCH',
                                JSON.stringify({
                                    operation: 'add_corpus_ref',
                                    dict_id: 'korpuskel',
                                    document_id: data.document_id,
                                    sentence_id: data.sentence_id,
                                    text: data.text,
                                    query: data.query,
                                    word: data.word,
                                    ref: data.ref,
                                    elements: [0], // article_id is generated from sequence
                                    link_type: 'manual'
                                }),
                                'ordbank')
                            .then(() => {
                                this.addRefCount--
                                if (this.addRefCount == 0) {
                                    this.addRefBusy = false
                                    console.log('reload')
                                    this.getMOArticle() // reload article
                                    if (this.mode == 'mo') {
                                        this.moStore.getMOArticle['mo-sec']() // mo-sec??
                                    } else {
                                        this.moStore.getMOArticle['mo']()
                                    }
                                }
                            })
                            .catch(a => { this.addRefCount = 0
                                          this.alert = a }))
                } else {
                    callAPI("/metarecords/" + mo_article_id,
                            'PATCH',
                            JSON.stringify({
                                operation: 'move_ref_article',
                                elements: [parseInt(data.mo_article_id)], // from
                                dict_id: data.dict_id,
                                ref_art_ids: data.refs?.map(r => r.art_id),
                                link_type: 'manual'
                            }),
                            'ordbank')
                        .then(() => {
                            this.getMOArticle() // reload article
                            if (this.mode == 'mo') {
                                this.moStore.getMOArticle['mo-sec']() // mo-sec??
                            } else {
                                this.moStore.getMOArticle['mo']()
                            }
                        })
                        .catch(a => this.alert = a)
                }
                this.artOver = false
            }
        }
    }
}

</script>

<style>
a.chosen {
  border-bottom: 3px solid var(--green);
}

.lemmaDrag:hover,
.artDrag:hover {
  color: red;
}

.lemmaDrop.over {
  border: 2px solid green;
}

.artDrop.artOver {
  border: 2px solid green;
}

drag.drag:hover {
    border-bottom: 2px solid red
}

h3.label {
    font-size: 12pt;
    font-style: italic
}

</style>
