<template>
<div class="scroll"
     style="height: auto; overflow: hidden">
  <b-container class="m-0 px-1 pt-0 small"
               style="height: calc(100vh - 20.2em); overflow-y: scroll; overflow-x: hidden">
    <b-row>
      <b-col>
        <b-row>
          <b-col>
            <b-form @submit.stop.prevent inline>
              <label class="m-2" for="article-id">{{ $t('Article ID') }}:</label>
              <b-form-input size="sm"
                            :id="'article-id_' + mode"
                            ref="mo_article_id"
                            class="mr-2"
                            v-model="ordbankStore.MOArticleId[mode]"
                            type="search"
                            autocomplete="off"
                            autocorrect="off"
                            autocapitalize="off"
                            xxchange="getMOArticle(null,true)"
                            @input="getMOArticle(null,true)"
                            @keydown.enter="getMOArticle(null,true)"
                            placeholder="Article ID" />
              <b-button variant="primary" size="sm" @click="getMOArticle(null,true)">
                {{ $t('Search') }}
              </b-button>
            </b-form>
          </b-col>
        </b-row>
        <b-row v-if="busy">
          <b-col>
            <b-icon icon="three-dots" animation="cylon" font-scale="4" />
          </b-col>
        </b-row>
        <b-row v-if="MOArticle.type && !busy">
          <b-container class="m-0 px-1 p-sm-4">
            <b-row class="pl-3 pb-3">
              <b-col>
                <small>
                  Type: {{ MOArticle.type }},
                  creator: {{ MOArticle.creator }},
                  create date: {{ MOArticle.create_date }}
                </small>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <drop class="lemmaDrop"
                      :class="{ over }"
                      @dragover="acceptLemmaDrop"
                      @dragleave="over = false"
                      @drop="handleLemmaDrop">
                  <b-col md="auto">
                    <label class="label m-sm-2" for="article-lemmas">
                      Oppslag i Ordbanken (nno):
                    </label>
                    <b-list-group>
                      <b-list-group-item v-if="!MOArticle.lemmas || !MOArticle.lemmas.length"
                                         class="d-flex justify-content-between align-items-start p-2">
                        (Ingen)
                      </b-list-group-item>
                      <b-list-group-item v-for="(lemma, index) in MOArticle.lemmas.filter(l=>l.language=='nno')"
                                         class="d-flex justify-content-between align-items-start p-2"
                                         id="article-lemmas"
                                         :key="index"
                                         :lemma="lemma">
                        <drag :transfer-data="{ mo_article_id: ordbankStore.MOArticleId[mode], lemma }"
                              tag="span"
                              class="drag">
                          <span>{{ lemma.lemma }}</span>
                          <small class="text-muted">
                            {{ lemma.word_class }}
                            <span v-for="tag in lemma.tags" :key="tag">
                              {{ tag }}
                            </span>
                          </small>
                          <span class="xref" @click="showOrdbankLemma(lemma.id)">
                            {{ lemma.id }}
                          </span>
                        </drag>
                        <b-icon-trash v-if="canEdit" class="link" @click="deleteLemmaLink(lemma.id)" />
                      </b-list-group-item>
                    </b-list-group>
                  </b-col>
                </drop>
              </b-col>
            </b-row>
          </b-container>
        </b-row>
        <b-row v-if="MOArticle.type && !busy">
          <drop class="artDrop" :class="{ artOver }"
                @dragover="acceptArtDrop"
                @dragleave="artOver = false"
                @drop="handleArtDrop">
            <b-container class="m-0 px-1 p-sm-4">
              <b-col md="auto">
                <label class="label m-sm-2" for="article-lemmas">
                  <span v-if="refSize == 1">{{ $t('One reference') }}:</span>
                  <span v-else-if="refSize == 0">{{ $t('No references') }}</span>
                  <span v-else>{{ refSize }} {{ $t('references') }}:</span>
                </label>
                <div class="entries"
                     style="xoverflow-y: scroll; position: relative">
                  <dl>
                    <div v-for="(refs, dict_id) in MOArticle.references"
                         :key="dict_id">
                      <mo-dict-article-refs :refs="refs"
                                            :mode="mode"
                                            :mo_article_id="ordbankStore.MOArticleId[mode]"
                                            :lemmas="MOArticle.lemmas"
                                            :dict_id="dict_id"
                                            :dict_name="dictNames[dict_id]" />
                    </div>
                  </dl>
                </div>
              </b-col>
            </b-container>
          </drop>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</div>
</template>

<script>

// version for NO editing

import {
    callAPI, showErrorMessage, dismissErrorMessage,
    useOrdbankStore, useMOStore, dictNames, wordClasses
} from '@/components/mixins/ordbokUtils.js'

import moDictArticleRefs from './moDictArticleRefs.vue'

import { mapStores } from 'pinia'
import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

import $ from 'jquery'

export default {
    name: 'mo-article-no',
    props: ['sec', 'mode', 'MOTabs'],
    components: { moDictArticleRefs },
    data: function () {
        return {
            languages: [{ value: 'nob', text: 'Bokmål' },
                        { value: 'nno', text: 'Nynorsk' }
                       ],
            MOArticle: {},
            queryId: 0,
            busy: false,
            dictBusy: false,
            over: false,
            artOver: false,
            dictId: null,
            dictNames,
            dictQueryString: null,
            caseInsensitive: false,
            wordClass: null,
            wordClasses,
            lemmaId: null,
            internal: false
        }
    },
    created: function () {
        // this.$root.getMOArticle = this.getMOArticle
        // make the method accessible from anywhere
        if (!this.ordbankStore.getMOArticle) {
            this.ordbankStore.getMOArticle = {}
        }
        this.ordbankStore.getMOArticle[this.mode] = this.getMOArticle
    },
    computed: {
        ...mapStores(useOrdbankStore, useStateStore, useMOStore),
        canEdit: function () {
            return useStateStore().jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR')
        },
        refSize: function () {
            let sum = 0
            let refs = this.MOArticle.references
            for (let r in refs) {
                sum = sum + refs[r].length
            }
            return sum
        }
    },
    methods: {
        showOrdbankLemma: function (id) {
            this.ordbankStore.ordbankLemmaId['mo'] = id
            this.ordbankStore.ordbankLemmaQuery['mo'] = id
            this.ordbankStore.MOTabIndex = 1
            this.ordbankStore.sendLemmaQuery()
        },
        getMOArticle: function (id) {
            console.log('getMOArticle', id)
            if (id) {
                this.ordbankStore.MOArticleId[this.mode] = id
            } else {
                id = this.ordbankStore.MOArticleId[this.mode]
            }
            let queryId = ++this.queryId
            if (id && !isNaN(id)) {
                callAPI("/metarecords/" + id, null, null, 'ordbank')
                    .then(r => {
                        if (queryId == this.queryId) {
                            this.MOArticle = r
                            this.MOTabs.tabIndex = 1
                            console.log('tabIndex', this.MOTabs)
                            this.busy = false
                        }
                    })
                    .catch(showErrorMessage)
            }
        },
        searchDictionary: function () {
            dismissErrorMessage()
            if (this.dictId) {
                this.dictBusy = true
                $('div.entries a').removeClass('chosen')
                let path = "/dict/" + this.dictId
                if (isNaN(this.dictQueryString)) {
                    path = path + "?query=" + encodeURIComponent(this.dictQueryString.replace(/\*/, "%")) +
                        "&word_class=" + (this.wordClass || '')
                } else {
                    path = path + "/" + this.dictQueryString
                }
                callAPI(path, null, null, 'ordbank')
                    .then(r => {
                        this.moStore.dictArtList = r
                        this.dictBusy = false
                    })
                    .catch(showErrorMessage)
            }
        },
        canAcceptLemmaDrop: function () {
            return true
        },
        acceptLemmaDrop: function () {
            this.over = true
        },
        handleLemmaDrop: function (data) {
            if (this.canAcceptLemmaDrop()) {
                this.over = false
                callAPI("/metarecords/" + this.ordbankStore.MOArticleId[this.mode],
                        'PATCH',
                        JSON.stringify({
                            operation: 'add_lemma_link',
                            elements: [data.lemma_id],
                            link_type: 'manuell'
                        }),
                        'ordbank')
                    .then(() => this.getMOArticle(this.ordbankStore.MOArticleId[this.mode])) // reload article
                    .catch(a => this.alert = a)
            }
        },
        deleteLemmaLink: function (lid) {
            callAPI("/metarecords/" + this.ordbankStore.MOArticleId[this.mode],
                    'PATCH',
                    JSON.stringify({
                        operation: 'delete_lemma_link',
                        elements: [lid],
                        link_type: 'deleted'
                    }),
                    'ordbank')
                .then(() => this.getMOArticle(this.ordbankStore.MOArticleId[this.mode])) // reload article
                .catch(a => this.alert = a)
        },
        canAcceptArtDrop: function () {
            return true
        },
        acceptArtDrop: function (data) {
            if (data.mo_article_id != this.ordbankStore.MOArticleId[this.mode]) {
                this.artOver = true
            }
        },
        handleArtDrop: function (data) {
            if (this.canAcceptArtDrop()) {
                // console.log(this.mo_article_id, data)
                let mo_article_id = this.ordbankStore.MOArticleId[this.mode]
                console.log('move ', data.dict_id, '/', data.refs[0].art_id,
                            'from', data.mo_article_id,
                            'to', mo_article_id)
                
                callAPI("/metarecords/" + mo_article_id,
                        'PATCH',
                        JSON.stringify({
                            operation: 'move_ref_article',
                            elements: [parseInt(data.mo_article_id)], // from
                            dict_id: data.dict_id,
                            ref_art_ids: data.refs.map(r => r.art_id),
                            link_type: 'manual'
                        }),
                        'ordbank')
                    .then(() => {
                        this.getMOArticle() // reload article
                        if (this.mode == 'mo') {
                            this.ordbankStore.getMOArticle['mo-sec']()
                        } else {
                            this.ordbankStore.getMOArticle['mo']()
                        }
                    })
                    .catch(a => this.alert = a)
                
                this.artOver = false
            }
        }
    }
}

</script>

<style>
a.chosen {
  border-bottom: 3px solid var(--green);
}

.lemmaDrag:hover,
.artDrag:hover {
  color: red;
}

.lemmaDrop.over {
  border: 2px solid green;
}

.artDrop.artOver {
  border: 2px solid green;
}

drag.drag:hover {
    border-bottom: 2px solid red
}

</style>
