<template>
<b-container class="m-0 px-1 p-sm-4">
  <b-row>
    <b-col>
      <b-row>
        <b-col>
          <b-form @submit.stop.prevent inline>
            <label class="m-2" for="bibl-id">ID:</label>
            <b-form-input size="sm"
                          id="bibl-id"
                          style="width:6em"
                          class="mr-2"
                          v-model="biblId"
                          type="search"
                          autocomplete="off"
                          autocorrect="off"
                          autocapitalize="off"
                          @input="getBibItems(null)"
                          @keydown.enter="getBibItems(null)"
                          placeholder="Biblio-ID"/>
            or:
            <label class="m-2" for="author">{{$t('Author')}}:</label>
            <b-form-input size="sm"
                          id="author"
                          class="mr-2"
                          v-model="author"
                          type="search"
                          autocomplete="off"
                          autocorrect="off"
                          autocapitalize="off"
                          @input="getBibItems(null)"
                          @keydown.enter="getBibItems(null)"
                          placeholder="Forfatter"/>
            <label class="m-2" for="title">{{$t('Title')}}:</label>
            <b-form-input size="sm"
                          id="title"
                          class="mr-2"
                          v-model="title"
                          type="search"
                          autocomplete="off"
                          autocorrect="off"
                          autocapitalize="off"
                          @input="getBibItems(null)"
                          @keydown.enter="getBibItems(null)"
                          placeholder="Tittel"/>
            <label class="m-2" for="code">{{$t('Code')}}:</label>
            <b-form-input size="sm"
                          id="code"
                          class="mr-2"
                          style="width: 6em"
                          v-model="code"
                          type="search"
                          autocomplete="off"
                          autocorrect="off"
                          autocapitalize="off"
                          @input="getBibItems(null)"
                          @keydown.enter="getBibItems(null)"
                          placeholder="Kode"/>
            <b-button variant="primary"
                      size="sm"
                      @click="getBibItems(null)">
              {{$t('Search')}}
            </b-button>
          </b-form>
        </b-col>
      </b-row>
      <b-row>
        <b-col v-if="biblId || code || author || title" md="auto">
          <label class="label m-sm-2" for="article-lemmas">
            <span v-if="bibItems.length > 1">
              {{bibItems.length}} bibliografiske referanser:
            </span>
            <span v-else-if="bibItems.length == 1">
              Én bibliografisk referanse:
            </span>
            <span v-else>
              Ingen bibliografiske referanser funnet
            </span>
          </label>
          <b-list-group-item v-for="(bibl,index) in bibItems"
                             class="flex-column align-items-start p-1"
                             id="bib-items"
                             :key="index">
            <!--span class='label'>{{bibl.bibl_id}} </span-->
            <drag :transfer-data="{ bibl }" tag="span" class="drag">
              <span v-if="bibl.author" class="font-italic"> {{bibl.author}}: </span>
              <span>{{bibl.title}}</span>
              [<span class="font-weight-bold">{{bibl.code}}</span>, <router-link :to="lexBase+'/metaordbok/bibl/'+bibl.bibl_id">{{bibl.bibl_id}}</router-link>]
            </drag>
            <div class="m-3">
              <small>
                <b-table v-if="bibItems[0]?.fields.length"
                         small caption-top
                         :items="bibItems[0]?.fields"
                         :fields="bibFields">
                  <template #table-caption>NORMARC-felt</template>
                </b-table>
              </small>
            </div>
          </b-list-group-item>
        </b-col>
      </b-row>
    </b-col>
  </b-row>
</b-container>
</template>

<script>

// import lemmaBlock from './lemmaBlock.vue'


const bibFields = [
    { key: 'code', label: 'Kode', tdClass: "font-weight-bold" },
    { key: 'nr', label: 'Felt-nr' },
    { key: 'subfield_code', label: 'Delfelt-kode' },
    { key: 'subfield_group_nr', label: 'Delfelt-gruppe'},
    { key: 'text', label: 'Tekst' } ]

import { lexBase, callAPI, showErrorMessage, dismissErrorMessage
       } from '@/components/mixins/ordbokUtils.js'

import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

export default {
    name: 'mo-bibliography',
    props: [],
    // components: { lemmaBlock },
    data: function () {
        return { languages: [ {value: 'nob', text: 'Bokmål'},
                              {value: 'nno', text: 'Nynorsk'}
                            ],
                 bibItems: [],
                 bibFields,
                 biblId: null,
                 code: null,
                 author: null,
                 title: null,
                 queryId: 0,
                 lexBase,
                 dart: null,
               }
    },
    created: function () {
        // if (this.mode == 'mo-sec') {
        let id = this.$route.params.id
        if (id) this.getBibItems(id, true)
    },
    watch: {
        $route(to, from) {
            console.log(from.path, to.path)
            if (from.path != to.path) { // don’t reload if only hash changes!
                if (to.params.id) {
                    this.getBibItems(to.params.id, true)
                }
            }
        }
    },
    computed: {
        canEdit: function () {
            return useStateStore().jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR')
        }
    },
    methods: {
        getBibItems: function (id) {
            dismissErrorMessage()
            if (id) this.biblId = id
            if (this.biblId) {
                let queryId = ++this.queryId
                callAPI("/bibl/" + encodeURIComponent(this.biblId) + "?full=true",
                        null, null, 'ordbank')
                    .then(r => {
                        if (queryId == this.queryId) {
                            this.bibItems = r
                        }
                    })
                    .catch (showErrorMessage)
            } else if ((this.code && this.code != '#') ||
                       (this.author && this.author != '#') ||
                       (this.title && this.title != '#')) {
                let queryId = ++this.queryId
                let author = this.author
                if (!this.author || this.author == '#') {
                    author = ''
                } else if (author.charAt(author.length-1) == '#') {
                    author = author.substring(0, author.length-1)
                } else {
                    author = author + '%'
                }
                let title = this.title
                if (!this.title || this.title == '#') {
                    title = ''
                } else if (title.charAt(title.length-1) == '#') {
                    title = title.substring(0, title.length-1)
                } else {
                    title = title + '%'
                }
                let code = this.code
                if (!this.code || this.code == '#') {
                    code = ''
                } else if (code.charAt(code.length-1) == '#') {
                    code = code.substring(0, code.length-1)
                } else {
                    code = code + '%'
                }
                callAPI("/bibl?code=" + encodeURIComponent(code)
                        + "&author="+ encodeURIComponent(author)
                        + "&title=" + encodeURIComponent(title),
                        null, null, 'ordbank')
                    .then(r => {
                        if (queryId == this.queryId) {
                            this.bibItems = r
                        }
                    })
                    .catch (showErrorMessage)
            }
        }
    }
}
</script>
