<template>

<drag :transfer-data="{ type: 'mo_dict_article_id', dictionary: 'no', dict_id, refs: [ref_art], mo_article_id, title }"
      tag="span"
      class="drag">
  <span v-if="dict_id=='setel'">
    <b-link @click="getDictArticleSetel(ref_art)"
            :id="ref_art.dict_id+'-'+ref_art.art_id">
      {{ref_art.art_id}}</b-link>
    {{ref_art.word_form}}<small v-if="ref_art.hgno"> {{toRoman(ref_art.hgno)}}</small>
    <small v-if="ref_art.status"
           :style="ref_art.status=='ok'?'':'color: red'"
           > [{{ref_art.status}}]</small>
  </span>
  <span v-else-if="['bm','nn'].find(x=>x==dict_id)">
    <b-link @click="showDictEntry(dict_id, ref_art.art_id)"
            :id="ref_art.dict_id+'-'+ref_art.art_id">
      {{ref_art.art_id}}</b-link>
    <span v-if="ref_art.link_word" class="text-muted">: {{ref_art.link_word}}</span>
    <small v-if="ref_art.status"
           :style="ref_art.status=='ok'?'':'color: red'"
           > [{{ref_art.status}}]</small>
  </span>
  <span v-else-if="dict_id=='no'">
    <b-link @click="showDictEntry(dict_id, ref_art.art_id)"
            :id="ref_art.dict_id+'-'+ref_art.art_id">
      {{ref_art.art_id}}</b-link>
    <span v-if="ref_art.words">
      <span v-for="(w,i) in ref_art.words" :key="i" class="comma">
        {{w.word_form}}<small v-if="w.hgno"> {{toRoman(w.hgno)}}</small>
        <span class="text-muted"> {{w.word_class}}</span>
      </span>
    </span>
    <small v-if="ref_art.status"
           :style="ref_art.status=='ok'?'':'color: red'"
           > [{{ref_art.status}}]</small>
  </span>
  <span v-else-if="dict_id=='no_2016' || dict_id=='no_ah_2005'">
    <b-link @click="getDictArticle(ref_art)"
            xxclick="showDictEntry(dict_id, ref_art.art_id)"
            :id="ref_art.dict_id+'-'+ref_art.art_id">
      {{ref_art.art_id}}</b-link>
    <span v-if="ref_art.words">
      <span v-for="(w,i) in ref_art.words" :key="i" class="comma">
        {{w.word_form}}<small v-if="w.hgno"> {{toRoman(w.hgno)}}</small>
        <span class="text-muted"> {{w.word_class}}</span>
      </span>
    </span>
    <small v-if="ref_art.status"
           :style="ref_art.status=='ok'?'':'color: red'"
           > [{{ref_art.status}}]</small>
  </span>
  <span v-else-if="['hotell'].find(x=>x==dict_id)">
    <b-link @click="getDictArticle(ref_art)"
            :id="ref_art.dict_id+'-'+ref_art.art_id">
      {{ref_art.art_id}}</b-link>
    <span v-if="ref_art.words">
      <span v-for="(w,i) in filterWords(ref_art.words,5)"
            :key="i"
            class="comma">
        {{w.word_form}}
        <span class="text-muted"> {{w.word_class}}</span>
      </span>
    </span>
    <span v-if="ref_art.words" class="text-muted"> ({{ref_art.dict_name}})</span>
    <small v-if="ref_art.status"
           :style="ref_art.status=='ok'?'':'color: red'"
           > [{{ref_art.status}}]</small>
  </span>
  <span v-else-if="['setel_tob','grunnmanus','bl_grunnmanus','torp','skard','bmnyord_seddel'].find(x=>x==dict_id)">
    <b-link @click="getDictArticle(ref_art)"
            :id="ref_art.dict_id+'-'+ref_art.art_id">
      {{ref_art.art_id}}</b-link>
    <span v-if="ref_art.words">
      <span v-for="(w,i) in ref_art.words" :key="i" class="comma">
        {{w.word_form}}<small v-if="w.hgno"> {{toRoman(w.hgno)}}</small>
        <span class="text-muted"> {{w.word_class}}</span>
      </span>
    </span>
    <small v-if="ref_art.status"
           :style="ref_art.status=='ok'?'':'color: red'"
           > [{{ref_art.status}}]</small>
  </span>
  <span v-else-if="['mf_synopsis'].find(x=>x==dict_id)">
    <b-link @click="getDictArticle(ref_art)"
            :id="ref_art.dict_id+'-'+ref_art.art_id">
      {{ref_art.art_id}}</b-link>
    <span v-if="ref_art.words">
      <span v-for="(w,i) in ref_art.words" :key="i" class="comma">
        {{w.word_form}}
        <span class="text-muted"> {{w.word_class}}</span>
      </span>
    </span>
    <small v-if="ref_art.status"
           :style="ref_art.status=='ok'?'':'color: red'"
           > [{{ref_art.status}}]</small>
  </span>
  <span v-else>
    <b-link @click="getDictArticle(ref_art)"
            :id="ref_art.dict_id+'-'+ref_art.art_id">
      {{ref_art.art_id}}</b-link>
    <span v-if="ref_art.link_word" class="text-muted">: {{ref_art.link_word}}</span>
    <small v-if="ref_art.status"
           :style="ref_art.status=='ok'?'':'color: red'"
           > [{{ref_art.status}}]</small>
  </span>
</drag>

</template>

<script>

import { lexBase, callAPI, toRoman, showErrorMessage,
         entryComps, useOrdbankStore, useMOStore, useLexStore
       } from '@/components/mixins/ordbokUtils.js'

import $ from 'jquery'

import { mapStores } from 'pinia'

export default {
    name: 'mo-dict-article-ref',
    props: ['mo_article_id','ref_art', 'dict_id', 'lemmas', 'mode'],
    // mixins: [api],
    data: function () {
        return { languages: null,
                 toRoman,
                 lexBase,
                 tabIndex: 0
               }
    },
    computed: {
        ...mapStores(useOrdbankStore, useMOStore, useLexStore),
        title: function () {
            // console.log('title:', this.ref_art.words?.[0].word_form)
            // console.log(this.ref_art.words?.[0])
            // doesnt work
            return this.ref_art.words?.word_form?.[0].word_form // toRoman(w.hgno)
        }
    },
    methods: {
        filterWords: function (words, max) {
            if (words.length == 1) {
                return words
            } else {
                let filtered = words.filter(w =>
                    this.lemmas.find(l => l.lemma.toLowerCase() == w.word_form.toLowerCase()))
                if (filtered.length) {
                    return filtered
                } else if (max && max < words.length - 2) {
                    words = words.slice(0,max)
                    words.push({word_form: '…'})
                    console.log(words)
                    return words
                } else {
                    return words
                }
            }
        },
        getDictArticle: function (ref,filter) {
            console.log('getDictArticle')
            this.ordbankStore.MOTabIndex = 0
            // this.busy = true
            $('div.entries a').removeClass('chosen')
            $('#' + this.ref_art.dict_id + '-' + this.ref_art.art_id).addClass('chosen')
            let wid = null
            let path = "/dict/" + this.ref_art.dict_id + '/' + this.ref_art.art_id
            if (filter) {
                let fwords = this.filterWords(this.ref_art.words)
                if (fwords[0].length) {
                    wid = fwords.word_id
                }
            }
            if (wid) {
                path = path + "/" + wid
            }
            if (this.mode=='no') {
                this.lexStore.settings.row5 = true
            }
            this.ordbankStore.dictId = this.ref_art.dict_id
            callAPI(path, null, null, 'ordbank')
                .then(r => {
                    this.ordbankStore.MODictAdvancedSearch = false
                    this.moStore.singleMode = null
                    this.moStore.dictArtList = r
                    this.$nextTick(() => this.moStore.searchDone = true)
                })
                .catch(showErrorMessage)
        },
        getDictArticleSetel: function (word) {
            this.ordbankStore.MOTabIndex = 0
            this.moStore.editItem = null
            $('div.entries a').removeClass('chosen')
            $('#' + word.dict_id + '-' + word.art_id).addClass('chosen')
            if (this.mode=='no') {
                console.log(this.lexStore.settings)
                this.lexStore.settings.row5 = true
            }
            let path = "/dict/" + word.dict_id + "/" + word.art_id + "/" + word.word_id
            this.ordbankStore.dictId = word.dict_id
            callAPI(path, null, null, 'ordbank')
                .then(r => {
                    this.ordbankStore.MODictAdvancedSearch = false
                    this.moStore.singleMode = null
                    this.moStore.dictArtList = r
                    this.$nextTick(() => this.moStore.searchDone = true)
                })
                .catch (showErrorMessage)
        },
        showDictEntry: function (dict_id, article_id) {
            let comp = entryComps[0]
            if (comp) {
                comp.dictionary = dict_id
                // this.$store.dispatch('changeWord', { word: article_id, id: 0 })
                useLexStore().dictWord[0].word = article_id
                this.$router.push(lexBase+'/ordbok')
                if (this.mode=='no') {
                    this.lexStore.settings.row5 = true
                }
            }
        }
    }
    
}


</script>
