<template>
<b-row style="padding-top: 0.5em; padding-bottom: 0.5em; xmax-width: 40em"><!--small>dart: {{dart}}</small-->
  <b-col v-if="!dart">
    nix
  </b-col>
  <b-col v-else-if="['torp','skard','grunnmanus','bl_grunnmanus'].find(d=>d==dart.dict_id)">
    <b-list-group>
      <b-list-group-item class="item-top">
        <span class="label mr-1">ID:</span>
        <drag :transfer-data="{ type: 'mo_dict_article', dict_id: dart.dict_id, art_id: dart.art_id }"
              tag="span"
              class="drag">
          <span class="font-weight-bold">{{dart.art_id}}</span>
        </drag>,
        <span class="label">Metaordbok: </span>
        <span>
          <span v-for="mo in dart.mo_art_ids" class="comma" :key="mo">
            <router-link :to="lexBase+'/metaordbok/article/'+mo">{{mo}}</router-link>
          </span>
        </span>
      </b-list-group-item>
      <b-list-group-item v-if="dart.sub_dict_id" class="item-middle">
        <span class="label">Ordbok:</span> {{dart.dict_author}}: {{dart.dict_title}}
      </b-list-group-item>
      <b-list-group-item class="item-middle">
        <span class="label">Ordform:</span> <span><span class="comma" v-for="(n,i) in dart.wordform" :key="i">{{n}}</span>
        </span>
      </b-list-group-item>
      <b-list-group-item class="item-middle">
        <span class="label">Norm:</span> <span><span class="comma" v-for="(n,i) in dart.norm" :key="i">{{n}}</span>
        </span>
      </b-list-group-item>
      <b-list-group-item class="item-bottom">
        <div :class="dart.dict_id" v-html="dart.xml"/>
      </b-list-group-item>
    </b-list-group>
  </b-col>
  <b-col v-else-if="['hotell'].find(d=>d==dart.dict_id)">
    <b-list-group>
      <b-list-group-item class="item-top">
        <span class="label mr-1">ID:</span>
        <drag :transfer-data="{ type: 'mo_dict_article', dict_id: dart.dict_id, art_id: dart.art_id }"
              tag="span"
              class="drag">
          <span class="font-weight-bold">{{dart.art_id}}</span>
        </drag>,
        <span class="label">Metaordbok: </span>
        <span>
          <span v-for="mo in dart.mo_art_ids" class="comma" :key="mo">
            <router-link :to="lexBase+'/metaordbok/article/'+mo">{{mo}}</router-link>
          </span>
        </span>
      </b-list-group-item>
      <b-list-group-item v-if="dart.sub_dict_id" class="item-middle">
        <span class="label">Ordbok:</span> {{dart.dict_author}}: {{dart.dict_title}}
      </b-list-group-item>
      <b-list-group-item v-if="dart.dialect" class="item-middle">
        <span class="label">Dialekt:</span> {{dart.dialect}}
      </b-list-group-item>
      <b-list-group-item class="item-middle">
        <span class="label">Ordform:</span> <span><span class="comma" v-for="(n,i) in dart.wordform" :key="i">{{n}}</span>
        </span>
      </b-list-group-item>
      <b-list-group-item class="item-middle">
        <span class="label">Norm:</span> <span><span class="comma" v-for="(n,i) in dart.norm" :key="i">{{n}}</span>
        </span>
      </b-list-group-item>
      <b-list-group-item class="item-bottom">
        <div v-html="dart.xml"/>
      </b-list-group-item>
    </b-list-group>
  </b-col>
  <b-col v-else-if="['setel','setel_tob'].find(d=>d==dart.dict_id)">
    <mo-seddel :dart="dart" :mode="mode" :index="index"/>
  </b-col>
  <b-col v-else-if="['bmnyord_seddel'].find(d=>d==dart.dict_id)">
    <b-list-group>
      <b-list-group-item class="item-top">
        <span class="label mr-1">ID:</span>
        <drag :transfer-data="{ type: 'mo_dict_article', dict_id: dart.dict_id, art_id: dart.art_id }"
              tag="span"
              class="drag">
          <span class="font-weight-bold">{{dart.art_id}}</span>
        </drag>,
        <span class="label">Metaordbok: </span>
        <span>
          <span v-for="mo in dart.mo_art_ids" class="comma" :key="mo">
            <router-link :to="lexBase+'/metaordbok/article/'+mo">{{mo}}</router-link>
          </span>
        </span>
      </b-list-group-item>
      <b-list-group-item class="item-middle">
        <span class="label">Norm:</span> {{dart.norm}}
      </b-list-group-item>
      <b-list-group-item class="item-middle">
        <span class="label">Ordklasse:</span> {{dart.word_code}}
      </b-list-group-item>
      <b-list-group-item class="item-middle">
        <span class="label">Forleddskode:</span> {{dart.prefix_code}}
      </b-list-group-item>
      <b-list-group-item class="item-middle">
        <span class="label">Ordform i teksten:</span> {{dart.wordform}}
      </b-list-group-item>
      <b-list-group-item class="item-middle">
        <span class="label">Kilde:</span> {{dart.author}}: {{dart.title}} [{{dart.publ_nr}}/{{dart.year}} p. {{dart.page}}]
      </b-list-group-item>
      <b-list-group-item v-if="dart.text" class="item-bottom">
        <span class="label">Tekst:</span>
        {{dart.text.substring(0, dart.start)}}<span class="font-weight-bold" style="color: red">{{dart.text.substring(dart.start, dart.end+1)}}</span>{{dart.text.substring(dart.end+1)}}
      </b-list-group-item>
    </b-list-group>
  </b-col>
  <b-col v-else-if="['korpus'].find(d=>d==dart.dict_id)">
    <b-list-group>
      <b-list-group-item class="item-top">
        <span class="label mr-1">ID:</span>
        <drag :transfer-data="{ type: 'mo_dict_article', dict_id: dart.dict_id, art_id: dart.art_id }"
              tag="span"
              class="drag">
          <span class="font-weight-bold">{{dart.art_id}}</span>
        </drag>,
        <span class="label">Metaordbok: </span>
        <span>
          <span v-for="mo in dart.mo_art_ids" class="comma" :key="mo">
            <router-link :to="lexBase+'/metaordbok/article/'+mo">{{mo}}</router-link>
          </span>
        </span>
      </b-list-group-item>
      <b-list-group-item class="item-middle">
        <span class="label">Ord:</span> {{dart.word}}
      </b-list-group-item>
      <b-list-group-item class="item-middle">
        <span class="label">Tekst:</span> {{dart.text}}
      </b-list-group-item>
      <b-list-group-item class="item-bottom">
        <span class="label">Ref:</span> {{dart.ref}}
      </b-list-group-item>
    </b-list-group>
  </b-col>
  <b-col v-else-if="dart.dict_id=='no_2016' || dart.dict_id=='no_ah_2005'">
    <b-list-group>
      <b-list-group-item class="item-top">
        <span class="label mr-1">ID:</span>
        <drag :transfer-data="{ type: 'mo_dict_article', dict_id: dart.dict_id, art_id: dart.art_id }"
              tag="span"
              class="drag">
          <span class="font-weight-bold">{{dart.art_id}}</span>
        </drag>,
        <span class="label">Metaordbok: </span>
        <span>
          <span v-for="mo in dart.mo_art_ids" class="comma" :key="mo">
            <router-link :to="lexBase+'/metaordbok/article/'+mo">{{mo}}</router-link>
          </span>
        </span>
      </b-list-group-item>
      <b-list-group-item class="item-middle">
        <span class="label">Ord:</span> {{dart.word}}
      </b-list-group-item>
      <b-list-group-item class="item-middle" :class="dart.dict_id">
        <span v-html="dart.text"/>
      </b-list-group-item>
      <b-list-group-item class="item-bottom">
        <span v-if="dart.ref" class="label">Ref:</span> {{dart.ref}}
      </b-list-group-item>
    </b-list-group>
  </b-col>
  <b-col v-else-if="dart.dict_id='mf_synopsis'">
    <mo-synopsis :dart="dart"/>
  </b-col>
  <b-col v-else-if="dart.dict_id=='naob'">
    <b-list-group>
      <b-list-group-item class="item-top">
        <span class="label">ID:</span> <span class="font-weight-bold">{{dart.art_id}}</span>
        <span class="label" v-if="dart.lemma_ids">, Ordbank: </span>
        <span>
          <span v-for="lid in dart.lemma_ids" class="comma" :key="lid">
            <router-link :to="lexBase+'/ordbank/lemma/'+lid">
              {{lid}}
            </router-link>
          </span>
        </span>
      </b-list-group-item>
      <b-list-group-item class="item-bottom">
        <div v-html="dart.xml"/>
      </b-list-group-item>
    </b-list-group>
  </b-col>
</b-row>
</template>

<script>

import { lexBase } from '@/components/mixins/ordbokUtils.js'

import moSeddel from './moSeddel.vue'
import moSynopsis from './moSynopsis.vue'

export default {
    name: 'mo-dict-article',
    props: ['dart', 'mode', 'index'], // index in moStore.dictArtList
    components: { moSeddel, moSynopsis },
    data: function () {
        return { lexBase }
    }
}
</script>

<style>

.item-top {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background: #eee;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray
}

.item-middle {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-left: 1px solid gray;
    border-right: 1px solid gray
}

.item-bottom {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray
}

geo {
    display: none
}

gramgrp:before, gramgrp:after {
    content: " ";
}

gen:before, gen:after {
    content: " ";
}

form[xml\:lang]:before {
    font-style: italic;
    content: ' ' attr(xml\:lang)  ':';
}

form {
    display: inline
}

def:before, orth:before, orth:after, rs:after {
    content: " ";
}


hi[rend='italic'] {
    font-style: italic;
}

/* doesn’t work for torp
lb:after {
    content: "\A";
    white-space: pre-wrap
}
*/

/* styles for no_2016 */

span.oppslag,
span.oppslagsord,
span.tydingdefnr {
    font-weight: bold
}

span.oppsgramordklasse,
span.hpmaalfoereform,
span.ordform,
span.sitattekst {
    font-style: italic
}

span.sitatinnskot {
    font-style: normal
}

span.tilvisingautotekstinline,
span.smstilvising {
    color: #39688b;
    text-decoration: underline
}

span.bruksmarkering {
    font-size: smaller
}

span.hpmaalfoereformgruppeinnleiing {
    font-weight: normal
}

span.hpeldrekjeldekode,
span.hpmaalfoereheimfestingnonamn,
span.kjeldespesifisering,
span.kjeldekode {
    color: #39688b
}

span.keep-together {
    color: #39688b
}

.bl_grunnmanus merp {
    color: blue
}

.bl_grunnmanus bl {
    color: red
}

.bl_grunnmanus vekk {
    text-decoration: line-through
}

.grunnmanus oppf, .bl_grunnmanus oppf {
    font-weight: bold
}
.grunnmanus honr, .bl_grunnmanus honr {
    font-weight: bold
}

.grunnmanus grmr, .bl_grunnmanus grmr {
    font-style: italic
}

.grunnmanus tydn:before, .bl_grunnmanus tydn:before {
    content: '\A';
    white-space: pre
}

.bl_grunnmanus uttr {
    font-style: italic
}

/* doesnt work, see sopp */
.bl_grunnmanus etym, .grunnmanus etym {
    font-style: normal
}

.no_ah_2005 n {
    font-style: normal;
    font-weight: normal;
    color: black
}

.no_ah_2005 def1:before {
    content: '\A';
    white-space: pre
}

.no_ah_2005 defa:before {
    content: '\A';
    white-space: pre
}

.no_ah_2005 kil {
    font-size: small;
    color: #666
}


</style>
