<template>

<span>
  <dt>
    <b-icon-chevron-down v-if="show" @click="show=false" class="mr-2"/>
    <b-icon-chevron-up v-if="!show" @click="show=true" class="mr-2" />
    <drag :transfer-data="{ dict_id, refs, mo_article_id, dictionary: 'no' }"
          tag="span"
          class="drag">
      <span style="font-size: larger">{{dict_name}} </span>
      <small>({{refs.length}})</small>
    </drag>
  </dt>
  <dd v-if="show">
    <template v-if="dict_id=='setel'">
      <div v-for="(words,wc) in groupByWordClass(refs)" :key="wc">
        <span>{{wc}}:</span>
        <span>
          <span class="dot" v-for="(ref, i) in words" :key="i">
            <mo-dict-article-ref :mo_article_id="mo_article_id"
                                 :mode="mode"
                                 :ref_art="ref"
                                 :dict_id="dict_id"
                                 :lemmas="lemmas"/>
          </span>
        </span>
      </div>
    </template>
    <template v-else>
      <span class="dot" v-for="(ref, i) in refs" :key="i">
        <mo-dict-article-ref :mo_article_id="mo_article_id"
                             :mode="mode"
                             :ref_art="ref"
                             :dict_id="dict_id"
                             :lemmas="lemmas"/>
      </span>
    </template>
  </dd>
  </span>

</template>


<script>

import moDictArticleRef from './moDictArticleRef.vue'

import { toRoman
       } from '@/components/mixins/ordbokUtils.js'


export default {
    name: 'mo-dict-article-refs',
    props: ['refs', 'dict_id', 'dict_name',
            'mo_article_id', 'mode',
            'lemmas'],
    components: { moDictArticleRef },
    data: function () {
        return { languages: null,
                 toRoman,
                 over: false,
                 show: true
               }
        
    },
    methods: {
        filterWords: function (words) {
            if (words.length == 1) {
                return words
            } else {
                let filtered = words.filter(w =>
                    this.lemmas.find(l => l.lemma.toLowerCase() == w.word_form.toLowerCase()))
                return filtered.length ? filtered : words
            }
        },
        groupByWordClass: function (refs) {
            let wcWords = {}
            refs.forEach(
                r => this.filterWords(r.words).forEach(
                    w => {
                        if (!wcWords[w.word_class]) {
                            wcWords[w.word_class] = []
                        }
                        wcWords[w.word_class].push({ dict_id: 'setel',
                                                     art_id: r.art_id,
                                                     word_form: w.word_form,
                                                     hgno: w.hgno,
                                                     word_id: w.word_id,
                                                     status: r.status })
                    }))
            return wcWords
        }
    }
}

</script>

<style>

</style>
