<template>
<div class="entries" style="min-width: 30em">
  <template v-if="!moStore.editItem && !moStore.singleMode">
    <b-container>
      <b-row v-if="mode!='passive'">
        <b-col md="auto">
          <b-form @submit.stop.prevent inline>
            <label class="label m-2" for="dict-select">Samling: </label>
            <b-form-select size="sm"
                           id="dict-select"
                           class="mr-2"
                           v-model="ordbankStore.dictId"
                           :options="dictNames"
                           @input="moStore.dictArtList=[]"
                           />
            <b-form-checkbox size="sm"
                             class="ml-4"
                             @input="moStore.searchDone=false"
                             v-model="ordbankStore.MODictAdvancedSearch">
              {{$t('Advanced search')}}
            </b-form-checkbox>
          </b-form>
          <template v-if="!ordbankStore.MODictAdvancedSearch">
            <b-form @submit.stop.prevent inline>
              <label class="label m-2" for="wordform-query">{{$t('Search string')}}: </label>
              <b-form-input size="sm"
                            id="wordform-query"
                            class="mr-2"
                            v-model.trim="dictQueryString"
                            type="search"
                            autocomplete="off"
                            autocorrect="off"
                            autocapitalize="off"
                            xxinput="searchDictionary"
                            @keydown.enter="searchDictionary"
                            xxplaceholder="Søkestreng"/>
              <b-button variant="primary" size="sm" @click="searchDictionary">{{$t('Search')}}</b-button>
              <b-form-checkbox size="sm"
                               class="ml-4"
                               v-model="caseInsensitive"
                               @change="searchDictionary">
                {{$t('case insensitive')}}
              </b-form-checkbox>
              <!--b-form-text class="m-sm-2">
                  (Bruk * som jokertegn; sett # på slutten for utrunkert søk.)
                  </b-form-text-->
            </b-form>
          </template>
          <template v-else-if="moStore.searchDone">
            <b-button variant="primary"
                      size="sm"
                      class="mr-3"
                      @click="moStore.searchDone = false">
              Nytt søk
            </b-button>
            <small>
              <span v-for="(q,index) in filteredQuery.filter(q=>q.value)"
                    :key="index" class="dot"> 
                <span class="font-italic">{{q.name}}:</span> {{q.value}}
              </span>
            </small>
          </template>
          <template v-else>
            <b-container style="border: 1px solid gray; border-radius: 6px" class="p-2 m-3">
              <b-row v-for="(q,index) in filteredQuery" :key="index">
                <b-col md="auto">
                  <b-form @submit.stop.prevent inline>
                    <label class="label m-2" :for="q.name">{{q.name}}: </label>
                    <b-form-select v-if="q.key=='sub_dict_id'"
                                   size="sm"
                                   style="max-width: 20em"
                                   :id="q.name"
                                   class="mr-2"
                                   v-model="q.value"
                                   :options="subDictNames"
                                   value-field="sub_dict_id"
                                   text-field="title"
                                   xxinput="searchDictionary"
                                   />
                    <b-form-select v-else-if="q.key=='dialect_id'"
                                   size="sm"
                                   style="max-width: 20em"
                                   id="q.name"
                                   class="mr-2"
                                   v-model="q.value"
                                   :options="dialectNames"
                                   value-field="dialect_id"
                                   text-field="name"
                                   xxinput="searchDictionary"
                                   />
                    <b-form-input v-else
                                  size="sm"
                                  :id="q.name"
                                  class="mr-2"
                                  v-model.trim="q.value"
                                  type="search"
                                  @keydown.enter="searchDictionary"
                                  autocomplete="off"
                                  autocorrect="off"
                                  autocapitalize="off"/>
                  </b-form>
                </b-col>
              </b-row>
              <b-button variant="primary" size="sm" @click="searchDictionary">{{$t('Search')}}</b-button>
            </b-container>
          </template>
        </b-col>
      </b-row>
      <b-row v-if="dictBusy">
        <b-col>
          <b-icon icon="three-dots" animation="cylon" font-scale="4"/>
        </b-col>
      </b-row>
    </b-container>
  </template>
  <template v-else-if="moStore.editItem && moStore.singleMode">
    <h2>{{dictNames[ordbankStore.dictId]}} :: Rediger</h2>
    <mo-dict-article :dart="moStore.editItem"/>
  </template>
  <template v-else-if="moStore.singleMode">
    <h2>{{dictNames[ordbankStore.dictId]}}</h2>
    <mo-dict-article :dart="moStore.dictArtList[moStore.itemIndex]"/>
  </template>
  <template v-if="!dictBusy && !moStore.editItem && !moStore.singleMode && moStore.searchDone">
    <div style="height: calc(100vh - 17.2em); overflow-y: scroll; overflow-x: hidden; position: relative"
         class="m-2"
         :key="moStore.key">
      <b-form inline>
        <h2 style="margin-left: 0.5em">{{dictNames[ordbankStore.dictId]}}</h2>
        <b-button v-if="canEdit && mode!='passive' && !moStore.singleMode && !moStore.editItem && ordbankStore.dictId=='setel'"
                  variant="secondary"
                  class="m-3"
                  size="sm"
                  @click="newDictEntry">
          Lag ny seddel
        </b-button>
      </b-form>
      <template v-if="moStore.dictArtList.length > 0">
        <span v-if="moStore.dictArtList.length==1" class="label m-3">
          Én {{ordbankStore.dictId=='setel'?'seddel':'artikkel'}}:
        </span>
        <span v-else class="label m-3">
          <span v-if="moStore.dictArtList.length==100">Første </span>
          {{moStore.dictArtList.length}} {{ordbankStore.dictId=='setel'?'sedler':'artikler'}}:
        </span>
        <b-container>
          <mo-dict-article v-for="(dart, i) in moStore.dictArtList"
                           :dart="dart"
                           :index="i"
                           :key="i"
                           :mode="mode"/>
        </b-container>
      </template>
      <template v-else>
        <span class="label">Ingen artikler funnet.</span>
      </template>
    </div>
  </template>
</div>
</template>

<script>

import $ from 'jquery'

import { callAPI, showErrorMessage, dismissErrorMessage,
         useOrdbankStore, useMOStore, dictNames
       } from '@/components/mixins/ordbokUtils.js'

import moDictArticle from './moDictArticle.vue'

import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

import { mapStores } from 'pinia'

export default {
    name: 'mo-dictionaries',
    components: { moDictArticle },
    props: ['mode'],
    data: function () {
        return {
            dictBusy: false,
            dictNames,
            dictQueryString: null,
            query: [ { key: 'sub_dict_id',
                       value: null,
                       name: 'Ordbok',
                       dict_ids: ['hotell']
                     },
                     { key: 'query',
                       value: null,
                       name: 'Ordform'
                     },
                     { key: 'norm',
                       value: null,
                       name: 'Norm',
                       dict_ids: ['hotell', 'torp', 'skard', 'grunnmanus', 'bl_grunnmanus']
                     },
                     { key: 'dialect_id',
                       value: null,
                       name: 'Dialekt',
                       dict_ids: ['hotell']
                     },
                     { key: 'place_id',
                       value: null,
                       name: 'Sted',
                       dict_ids: ['setel']
                     },
                     { key: 'registrant_id',
                       value: null,
                       name: 'Innsamler-ID',
                       dict_ids: ['setel', 'setel_tob']
                     },
                     { key: 'author',
                       value: null,
                       name: 'Forfatter',
                       dict_ids: ['setel', 'setel_tob']
                     },
                     { key: 'comment',
                       value: null,
                       name: 'Kommentar',
                       dict_ids: ['setel', 'setel_tob']
                     },
                     { key: 'context',
                       value: null,
                       name: 'Kontext',
                       dict_ids: ['setel', 'setel_tob']
                     } ],
            caseInsensitive: false,
            wordClass: null,
            subDictNames: [],
            dialectNames: []
        }
    },
    created: function () {
        callAPI('/dict/hotell/sub_dict_names', null, null, 'ordbank')
            .then(r => this.subDictNames = [{title: '-'},...r])
            .catch(showErrorMessage)
        callAPI('/dict/hotell/dialect_names', null, null, 'ordbank')
            .then(r => this.dialectNames = [{name: '-'},...r])
            .catch(showErrorMessage)
    },
    computed: {
        ...mapStores(useOrdbankStore, useMOStore, useStateStore),
        canEdit: function () {
            return useStateStore().jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR')
        },
        filteredQuery: function () { // remove keys that are not relevant for this dict
            return this.query.filter(q => !q.dict_ids ||
                                     q.dict_ids.find(d=>d==this.ordbankStore.dictId))
        }
    },
    methods: {
        searchDictionary: function () {
            dismissErrorMessage()
            this.moStore.singleMode = null
            if (this.ordbankStore.dictId) {
                this.dictBusy = true
                $('div.entries a').removeClass('chosen')
                let path = "/dict/" + this.ordbankStore.dictId
                if (this.ordbankStore.MODictAdvancedSearch) {
                    let first = true
                    let hasVal = this.filteredQuery.find(q => q.value)
                    this.filteredQuery.forEach(q => {
                        console.log('q:', q.key, q.value)
                        let val = q.value
                        if (hasVal && !val && q.key == 'query') {
                            val = '%'
                        }
                        if (val && isNaN(val)) {
                            path = path + (first ? '?':'&') + q.key + "=" +
                                encodeURIComponent(val.replace(/\*/g,"%"))
                            first = false
                        } else if (val) {
                            path = path + (first ? '?':'&') + q.key + "=" + val
                            first = false
                        }
                    })
                } else if (isNaN(this.dictQueryString)) {
                    path = path + "?query=" +
                        encodeURIComponent(this.dictQueryString.replace(/\*/,"%")) +
                        "&word_class=" + (this.wordClass || '') // + "&page=" + this.page
                } else {
                    path = path + "/" + this.dictQueryString
                }
                console.log('path:', path)
                callAPI(path, null, null, 'ordbank')
                    .then( r => { console.log(r)
                                  this.moStore.dictArtList = r
                                  this.moStore.searchDone = true
                                  this.dictBusy = false
                                })
                    .catch (showErrorMessage)
            }
        },
        newDictEntry: function () { // TODO: dispatch on dict_id!
            let path = "/dict/" + this.ordbankStore.dictId
            callAPI(path, 'POST', 0, 'ordbank')
                .then(r => { // console.log(r)
                    this.dictBusy = false
                    this.moStore.itemIndex = 0
                    this.moStore.editItem = { dict_id: this.ordbankStore.dictId,
                                              registrant: {},
                                              informant: null,
                                              language: 'nno',
                                              year: null,
                                              bibl: [],
                                              place: [],
                                              words: [],
                                              art_id: r.article_id,
                                              context: null,
                                              context_tokens: [],
                                              comment: null,
                                              path: null,
                                              mimetype: null,
                                              new: true }
                    this.moStore.singleMode = true // this.moStore.editItem
                    this.moStore.dictArtList = [this.moStore.editItem]
                })
                .catch (showErrorMessage)
        }
    }
}
</script>
