<template>
<b-container class="m-0 px-1 p-sm-4">
  <b-row>
    <b-col>
      <b-row>
        <b-col>
          <b-form @submit.stop.prevent inline>
            <label class="m-2" for="place-id">ID or name:</label>
            <b-form-input size="sm"
                          id="place-id"
                          class="mr-2"
                          v-model="place"
                          type="search"
                          autocomplete="off"
                          autocorrect="off"
                          autocapitalize="off"
                          @input="getPlaceItems(null)"
                          xxkeydown.enter="getPlaceItems"
                          placeholder="PlaceID/name"/>
            or:
            <label class="m-2" for="place-type">{{$t('Type')}}:</label>
            <b-form-select size="sm"
                           id="place-type"
                           class="mx-2"
                           v-model="placeType"
                           :options="[{text: '-', value: null},...place_types]"
                           @change="getPlaceItems(null)"
                           />
            <b-form-input size="sm"
                          id="place_type"
                          class="mr-2"
                          v-model="placeType"
                          type="search"
                          autocomplete="off"
                          autocorrect="off"
                          autocapitalize="off"
                          @input="getPlaceItems(null)"
                          @keydown.enter="getPlaceItems(null)"
                          placeholder="Type"/>
            <b-button variant="primary"
                      size="sm"
                      @click="getPlaceItems(null)">
              {{$t('Search')}}
            </b-button>
          </b-form>
        </b-col>
      </b-row>
      <b-row>
        <b-col v-if="place || placeType" md="auto">
          <label class="label m-sm-2" for="place-items">
            <span v-if="Object.keys(placeItems).length > 1">
              {{Object.keys(placeItems).length}} steder funnet:
            </span>
            <span v-else-if="Object.keys(placeItems).length == 1">
              Ett sted funnet:
            </span>
            <span v-else>
              Intet sted funnet
            </span>
          </label>
          <b-list-group-item v-for="(item,index) in placeItems"
                             class="flex-column align-items-start p-1"
                             id="place-items"
                             :key="index">
            <place-item :item="item" :top="true"/>
          </b-list-group-item>
        </b-col>
      </b-row>
    </b-col>
  </b-row>
</b-container>
</template>

<script>

// import lemmaBlock from './lemmaBlock.vue'

import { lexBase, callAPI, showErrorMessage, dismissErrorMessage
       } from '@/components/mixins/ordbokUtils.js'

import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

import placeItem from './placeItem.vue'

const place_types = ["land",
                     "region",
                     "landsdel",
                     "del av landsdel",
                     "landskap",
                     "fylke",
                     "del av fylke",
                     "kommune",
                     "tvillingkommune"]

export default {
    name: 'mo-places',
    props: [],
    components: { placeItem },
    data: function () {
        return { placeItems: [],
                 placeId: null,
                 place: null,
                 placeName: null,
                 placeType: null,
                 place_types,
                 queryId: 0,
                 lexBase
               }
    },
    created: function () {
        // if (this.mode == 'mo-sec') {
        let id = this.$route.params.id
        if (id) this.getPlaceItems(id, true)
    },
    watch: {
        $route(to, from) {
            console.log(from.path, to.path)
            if (from.path != to.path) { // don’t reload if only hash changes!
                if (to.params.id) {
                    this.getPlaceItems(to.params.id, true)
                }
            }
        }
    },
    computed: {
        canEdit: function () {
            return useStateStore().jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR')
        }
    },
    methods: {
        getPlaceItems_: function () {
            if (this.place) this.$router.replace({ path: this.place })
        },
        getPlaceItems: function (id) {
            if (id) this.place = id
            dismissErrorMessage()
            // console.log('place', this.place, 'type', this.placeType)
            if (this.place && !isNaN(this.place)) {
                let queryId = ++this.queryId
                callAPI("/place/" + this.place, null, null, 'ordbank')
                    .then(r => {
                        if (queryId == this.queryId) {
                            this.placeItems = r
                        }
                    })
                    .catch (showErrorMessage)
            } else if (this.place || this.placeType) {
                let queryId = ++this.queryId
                let name = this.place
                if (!name) {
                    name = ''
                } else if (name.charAt(name.length-1) == '#') {
                    name = name.substring(0, name.length-1)
                } else {
                    name = name + '%'
                }
                let type = this.placeType || ''
                callAPI("/place?place_name=" + encodeURIComponent(name)
                        + "&place_type="+ encodeURIComponent(type),
                        null, null, 'ordbank')
                    .then(r => {
                        if (queryId == this.queryId) {
                            this.placeItems = r
                        }
                    })
                    .catch (showErrorMessage)
            }
        }
    }
}
</script>
