<template>
<b-container class="m-0 px-1 p-sm-4">
  <b-row>
    <b-col>
      <b-row>
        <b-col>
          <b-form @submit.stop.prevent inline>
            <label class="m-2" for="reg-id">ID:</label>
            <b-form-input size="sm"
                          id="reg-id"
                          class="mr-2"
                          v-model="registrant_id"
                          type="search"
                          autocomplete="off"
                          autocorrect="off"
                          autocapitalize="off"
                          @input="getRegistrantItems"
                          @keydown.enter="getRegistrantItems"
                          placeholder="Innsammler-ID"/>
            or:
            <label class="m-2" for="reg-name">{{$t('Name')}}:</label>
            <b-form-input size="sm"
                          id="reg-name"
                          class="mr-2"
                          v-model="registrant_name"
                          type="search"
                          autocomplete="off"
                          autocorrect="off"
                          autocapitalize="off"
                          @input="getRegistrantItems"
                          @keydown.enter="getRegistrantItems"
                          placeholder="Navn"/>
            <b-button variant="primary"
                      size="sm"
                      @click="getRegistrantItems">
              {{$t('Search')}}
            </b-button>
          </b-form>
        </b-col>
      </b-row>
      <b-row>
        <b-col md="auto">
          <label class="label m-sm-2" for="registrant-items">
            <span v-if="Object.keys(registrantItems).length > 1">
              {{Object.keys(registrantItems).length}} Registrant items:
            </span>
            <span v-else-if="Object.keys(registrantItems).length == 1">
              One Registrant item:
            </span>
            <span v-else>
              No Registrant item found
            </span>
          </label>
          <b-table v-if="registrantItems.length"
                   :items="registrantItems"
                   :fields="registrantFields"
                   small caption-top>
            <template v-slot:cell(reg_id)="data">
              <drag :transfer-data="{ registrant_id: data.value }" tag="span" class="drag">
                {{data.value}}
              </drag>
            </template>
            
          </b-table>
        </b-col>
      </b-row>
    </b-col>
  </b-row>
</b-container>
</template>

<script>

// import lemmaBlock from './lemmaBlock.vue'

import { lexBase, callAPI, showErrorMessage
       } from '@/components/mixins/ordbokUtils.js'

import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

export default {
    name: 'mo-registrants',
    props: [],
    data: function () {
        return { registrantItems: [],
                 registrant_id: null,
                 registrant: null,
                 registrant_name: null,
                 registrantFields: [
                     { key: 'reg_id', label: 'ID', tdClass: "font-weight-bold right" },
                     { key: 'person_name', label: 'Navn'}, 
                     // { key: 'address', label: 'Adresse' },
                     { key: 'profession', label: 'Yrke' },
                     /* { key: 'comment', label: 'Kommentar' },
                        { key: 'log_locked', label: 'låst' },
                        { key: 'log_user', label: 'bruker' },
                        { key: 'log_date', label: 'dato' } */ ],
                 queryId: 0,
                 lexBase
               }
    },
    created: function () {
        // if (this.mode == 'mo-sec') {
        let id = this.$route.params.id
        if (id) this.getRegistrantItems(id, true)
    },
    watch: {
        $route(to, from) {
            console.log(from.path, to.path)
            if (from.path != to.path) { // don’t reload if only hash changes!
                if (to.params.id) {
                    this.getRegistrantItems(to.params.id, true)
                }
            }
        }
    },
    computed: {
        canEdit: function () {
            return useStateStore().jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR')
        },
    },
    methods: {
        getRegistrantItems: function (id) {
            if (id) this.registrant_id = id
            if (this.registrant_id && !isNaN(this.registrant_id)) {
                let queryId = ++this.queryId
                callAPI("/registrant/" + this.registrant_id, null, null, 'ordbank')
                    .then(r => {
                        if (queryId == this.queryId) {
                            this.registrantItems = r
                        }
                    })
                    .catch (showErrorMessage)
            } else if (this.registrant_name?.trim()) {
                let queryId = ++this.queryId
                let name = this.registrant_name.trim()
                if (!name) {
                    name = ''
                } else if (name.charAt(name.length-1) == '#') {
                    name = name.substring(0, name.length-1)
                } else {
                    name = name + '%'
                }
                callAPI("/registrant?registrant_name=" + encodeURIComponent(name),
                        null, null, 'ordbank')
                    .then(r => {
                        if (queryId == this.queryId) {
                            this.registrantItems = r
                        }
                    })
                    .catch (showErrorMessage)
            }
        }
    }
}
</script>
