<template>
<b-container>
  <b-row>
    <b-col>
      <b-form @submit.stop.prevent inline>
        <label class="label" for="lemma-query">{{$t('Search string')}}: </label>
        <b-form-input size="sm"
                      id="lemma-query"
                      class="mx-2"
                      style="width: 20em"
                      v-model.trim="ordbankStore.MOLemmaQuery[mode]"
                      type="search"
                      autocomplete="off"
                      autocorrect="off"
                      autocapitalize="off"
                      xxinput="sendLemmasQuery"
                      @keydown.enter="sendLemmasQuery"
                      placeholder="Lemma (bruk * som jokertegn)"/>
        <b-button variant="primary" size="sm" @click="sendLemmasQuery">{{$t('Search')}}</b-button>
        <b-form-checkbox size="sm"
                         class="ml-4"
                         v-model="caseInsensitive"
                         @change="sendLemmasQuery">
          {{$t('case insensitive')}}
        </b-form-checkbox>
      </b-form>
    </b-col>
  </b-row>
  <b-row>
    <b-col>
      <b-form @submit.stop.prevent inline>
        <template v-if="mode!='no'">
          <label class="label" for="language">
            {{$t('Language')}}:
          </label>
          <b-form-select size="sm"
                         id="language"
                         class="mx-2"
                         v-model="ordbankStore.ordbankQuery.language"
                         :options="['-','nob','nno']"
                         @change="sendLemmasQuery"
                         />
        </template>
        <label class="label m-sm-2" for="word-class">
          Modus:
        </label>
        <b-form-select size="sm"
                       id="word-class"
                       class="mr-2"
                       v-model="searchMode"
                       :options="['lemma','article']"
                       @change="sendLemmasQuery"
                       />
        <label class="label m-sm-2" for="word-class">
          Status:
        </label>
        <b-form-select size="sm"
                       id="status"
                       class="mr-2"
                       v-model="ordbankStore.MOLemmaQueryStatus[mode]"
                       :options="['', 'ok', 'Ny', 'nykopla', 'ikkje sjekka']"
                       @change="sendLemmasQuery"
                       />
        |
        <b-button variant="secondary"
                  size="sm"
                  @click="synchronizeLemmasQuery">
            Synkroniser
        </b-button>
      </b-form>
    </b-col>
  </b-row>
  <b-row v-if="busy">
    <b-col>
      <b-icon icon="three-dots" animation="cylon" font-scale="4"/>
    </b-col>
  </b-row>
  <template v-if="searchMode=='article'">
    <b-row v-if="!busy">
      <b-col>
        <p class="pt-3">
          <span v-if="articleList.length==1">
            {{$t('One article')}}
          </span>
          <span v-else>
            {{articleList.length}} {{$t('articles')}}
          </span>
          {{$t('found')}}.
        </p>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-list-group flush>
          <b-list-group-item v-for="(article,index) in articleList"
                             class="flex-column align-items-start p-1"
                             :key="index"
                             :lemma="article">
            <span v-if="mode=='mo'">
              <router-link class="comma"
                           :key="index"
                           :to="lexBase+'/metaordbok/article/'+article.mo_article_id">
                {{article.mo_article_id}}
              </router-link>
            </span>
            <span v-else>
              <span class="link"
                    @click="showMOArticle(article.mo_article_id)">
                {{article.mo_article_id}}
              </span>
            </span>:
            <span>
              <span v-for="(lemma, i) in article.lemmas" :key="i" class="dot">
                {{lemma.lemma}}
                <small class="text-muted">
                  {{lemma.word_class}}
                  <span v-for="tag in lemma.tags" :key="tag">
                    {{tag}}
                  </span>
                  <span v-if="ordbankStore.ordbankQuery.language=='-'">[{{lemma.language}}]</span>
                </small>
              </span>
            </span>
          </b-list-group-item>
        </b-list-group>
      </b-col>
    </b-row>
  </template>
  <template v-else>
    <b-row v-if="!busy">
      <b-col>
        <p class="pt-3">
          <span v-if="lemmaList.length==1">
            {{$t('One lemma')}}
          </span>
          <span v-else>
            {{lemmaList.length}} {{$t('lemmas')}}
          </span>
          {{$t('found')}} {{$t('in')}} {{articleCount}}
          <span v-if="articleCount==1">{{$t('article')}}.</span>
          <span v-else>{{$t('articles')}}.</span>
        </p>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-list-group flush>
          <b-list-group-item v-for="(lemma,index) in lemmaList"
                             class="flex-column align-items-start p-1"
                             :key="index">
            {{lemma.lemma}} 
            <small class="text-muted">
              {{lemma.word_class}}
              <span v-for="tag in lemma.tags" :key="tag">
                {{tag}}
              </span>
              <span v-if="mode!='no'">
                [{{lemma.language}}]:
              </span>
            </small>
            <span v-if="mode=='mo'">
              <span v-for="mo in lemma.mo_articles"
                    class="comma"
                    :key="mo">
                <router-link :to="lexBase+'/metaordbok/article/'+mo">{{mo}}</router-link>
                <span v-if="lemma.status_list.filter(x=>x).length">
                  (<span v-for="(status, i) in lemma.status_list" :key="i" class="comma">{{status}}</span>)
                </span>
              </span>
            </span>
            <span v-else>
              <span v-for="mo in lemma.mo_articles"
                    :key="mo"
                    class="comma link"
                    @click="showMOArticle(mo)"
                    >{{mo}}</span>
              <span v-if="lemma.status_list.filter(x=>x).length">
                (<span class="small">
                  <span v-for="(status, i) in lemma.status_list" :key="i" class="comma">{{status}}</span>
                </span>)
              </span>
            </span>
          </b-list-group-item>
        </b-list-group>
      </b-col>
    </b-row>
  </template>
</b-container>
</template>

<script>

import { mapStores } from 'pinia'

import { lexBase, callAPI, showErrorMessage, dismissErrorMessage,
         useOrdbankStore
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'lemma-search',
    props: ['mode'],
    data: function () {
        return { languages: [ {value: 'nob', text: 'Bokmål'},
                              {value: 'nno', text: 'Nynorsk'}
                            ],
                 language: 'nob',
                 lemmaList: [],
                 articleList: [],
                 caseInsensitive: false,
                 wordClass: '-',
                 wordClassList: ['-','NOUN','VERB','ADJ','ADV','PRON','DET','INTJ',
                                 'ABBR','COMPPFX','SYM','ADP','CCONJ','SCONJ','INFM','ABBR','PFX'],
                 // status: 'ok',
                 queryId: 0,
                 lexBase,
                 searchMode: 'lemma',
                 busy: false
               }
    },
    created: function () {
        this.sendLemmasQuery()
    },
    computed: {
        ...mapStores(useOrdbankStore),
        articleCount: function () {
            let artIds = new Set()
            this.lemmaList?.forEach(l => l.mo_articles?.forEach(mo => artIds.add(mo)))
            return artIds.size
        }
    },
    methods: {
        sendLemmasQuery: function () {
            dismissErrorMessage()
            this.lemmaList = []
            if (this.ordbankStore.MOLemmaQuery[this.mode]) {
                this.busy = true
                let queryId = ++this.queryId
                let query = this.ordbankStore.MOLemmaQuery[this.mode]
                let status = this.ordbankStore.MOLemmaQueryStatus[this.mode] || ''
                // let regex = query[query.length-1] == '#' ? query.substring(0,query.length-1) : query + '%'
                let regex = query
                let lang = this.mode == 'no' ? 'nno' : this.ordbankStore.ordbankQuery.language
                callAPI("/lemmas?query="
                        + encodeURIComponent(regex.replace(/\*/g,"%").replace(/ /g, '+'))
                        + "&mo=" + this.searchMode
                        + (lang == '-' ? '' : "&language=" + lang)
                        + "&case_insensitive=" + this.caseInsensitive
                        + "&status=" + status
                        + "&extended_vocabulary=true"
                        + (this.wordClass == '-' ? '' : "&word_class=" + this.wordClass),
                        null, null, 'ordbank')
                    .then( r => {
                        if (queryId == this.queryId) {
                            this.searchMode=='article' ? this.articleList = r : this.lemmaList = r
                            this.busy = false
                        }
                    })
                    .catch (showErrorMessage)
            }
        },
        // synchronize between two search panes
        synchronizeLemmasQuery: function () {
            if (this.mode=='mo') {
                this.ordbankStore.MOLemmaQuery['mo'] = this.ordbankStore.MOLemmaQuery['mo-sec']
            } else {
                this.ordbankStore.MOLemmaQuery['mo-sec'] = this.ordbankStore.MOLemmaQuery['mo']
            }
            this.sendLemmasQuery()
        },
        showMOArticle: function (mo_id) {
            this.ordbankStore.MOArticleId[this.mode] = mo_id
            this.ordbankStore.getMOArticle[this.mode]()
            this.ordbankStore.MOSecTabIndex = 1
        }
    }
}
</script>
