<template>
<b-list-group>
  <b-list-group-item class="item-top">
    <span class="label mr-1">ID:</span>
    <drag :transfer-data="{ type: 'mo_dict_article', dict_id: dart.dict_id, art_id: dart.art_id, dictionary: 'no', title }"
          tag="span"
          class="drag">
      <span class="font-weight-bold">{{dart.art_id}}</span>
    </drag>,
    <span class="label">Metaordbok: </span>
    <span>
      <span v-for="mo in dart.mo_art_ids" class="comma" :key="mo">
        <router-link :to="lexBase+'/metaordbok/article/'+mo">{{mo}}</router-link>
      </span>
    </span>
    <template v-if="mode!='passive' && dart.dict_id=='setel'">
      <b-button v-if="canEdit && !moStore.editItem"
                @click="editSlip"
                variant="outline-secondary"
                size="sm"
                class="ml-2"
                align="center">
        Rediger
      </b-button>
      <b-button v-if="moStore.singleMode && !moStore.editItem"
                @click="moStore.singleMode = null"
                variant="outline-secondary"
                size="sm"
                class="ml-2"
                align="center">
        Tilbake til søk
      </b-button>
      <b-button v-if="canEdit && moStore.editItem == dart"
                @click="storeSlip"
                variant="outline-secondary"
                size="sm"
                class="ml-2"
                align="center">
        Lagre
      </b-button>
      <b-button v-if="canEdit && moStore.editItem == dart"
                @click="cancelEditSlip"
                variant="outline-secondary"
                size="sm"
                class="ml-2"
                align="center">
        Avbryt
      </b-button>
    </template>
  </b-list-group-item>
  <template v-if="(!moStore.editItem && dart) || (moStore.editItem && moStore.editItem != dart) || moStore.singleMode == dart">
    <b-list-group-item class="item-middle">
      <span class="label">Ord<small v-if="dart.words.length > 1"> ({{dart.words.length}})</small>:</span>
      <span>
        <span v-for="(w, i) in dart.words.filter(w => w.word_id == dart.word_id || !dart.word_id || show_all_words)"
              :key="i"
              class="dot">
          <span class="font-weight-bold"> {{w.word}} </span>
          <small v-if="w.word_variant && w.word_variant!=w.word"> ({{w.word_variant}}) </small>
          <span>
            <small v-for="(m,i) in w.word_morph" :key="i" class="dot">{{m.morph}}</small>
          </span>
        </span>
      </span>
      <small v-if="dart.language">({{dart.language}})</small>
      <b-button v-if="dart.words.length > 1 && dart.word_id"
                variant="outline-secondary"
                size="sm"
                @click="show_all_words=!show_all_words"
                class="ml-2 py-0"
                align="center">
        {{show_all_words ? 'Skjul':'Vis alle'}}
      </b-button>
      <b-button v-if="dart.words.length"
                variant="outline-secondary"
                size="sm"
                @click="show_word_details=!show_word_details"
                class="ml-2 py-0"
                align="center">
        {{show_word_details ? 'Skjul detaljer':'Vis detaljer'}}
      </b-button>
      <div v-if="show_word_details"
           style="border: 1px solid gray; border-radius: 4px"
           class="m-2 p-1">
        <small>
          <b-table :items="dart.words"
                   :fields="dart.dict_id=='setel_tob'?wordFields_tob:wordFields"
                   xtbody-tr-class="word-row"
                   small>
            <template v-slot:cell(morph_ids)="data">
              <div v-for="(m,i) in data.value"
                   :key="i"
                   class="nobr"
                   :title="id2morph(m)">
                {{truncate(id2morph(m))}}
              </div>
            </template>
          </b-table>
        </small>
      </div>
    </b-list-group-item>
    <b-list-group-item v-if="dart.registrant?.reg_id" class="item-middle">
      <span class="label">Innsamler: </span>
      {{dart.registrant.person_name}} <small>[<router-link :to="lexBase+'/metaordbok/registrants/'+dart.registrant.reg_id">{{dart.registrant.reg_id}}</router-link>]</small>
      <!--span v-if="dart.registrant.profession"> ({{dart.registrant.profession}})</span-->
    </b-list-group-item>
    
    <b-list-group-item v-if="dart.bibl?.length" class="item-middle">
      <span class="label">Kilde:</span>
      <span>
        <span v-for="(bibl, i) in dart.bibl" :key="i" class="dot">
          <span v-if="bibl.author"> {{bibl.author}}:</span> {{bibl.title}} <small v-if="bibl.bibl_id">[<router-link :to="lexBase+'/metaordbok/bibl/'+bibl.bibl_id">{{bibl.bibl_id}}</router-link>]</small>
          <span v-if="bibl.position" class="mr-2"> {{bibl.position}}</span>
          <small  v-if="bibl.comment" class="font-italic"> {{bibl.comment}}</small>
        </span>
      </span>
    </b-list-group-item>
    <b-list-group-item v-if="dart.informant" class="item-middle">
      <span class="label">Informant:</span> {{dart.informant}}
    </b-list-group-item>
    <b-list-group-item v-if="dart.year" class="item-middle">
      <span class="label">År:</span> {{dart.year}}
    </b-list-group-item>
    <b-list-group-item v-if="dart.place" class="item-middle">
      <span class="label">Sted:</span>
      <span>
        <span v-for="(p,i) in dart.place" :key="i" class="dot">
          {{p.place_name}} <small>[<router-link :to="lexBase+'/metaordbok/places/'+p.place_id">{{p.place_id}}</router-link>]</small>
        </span>
      </span>
    </b-list-group-item>
    <b-list-group-item v-if="dart.comment && moStore.showComments" class="item-middle">
      <span class="label">Kommentar:</span> <span class="text-break"
                                                  v-html="dart.comment.replace('\\n','<br/>')"/>
    </b-list-group-item>
    <b-list-group-item v-if="dart.context" class="item-middle">
      <span class="label">Kontekst: </span>
      <span v-if="dart.words[0]?.end" v-html="formatContext(dart)"/>
      <span v-else-if="dart.end">
        {{dart.context.substring(0, dart.start)}}<span class="font-weight-bold" style="color: red">{{dart.context.substring(dart.start, dart.end+1)}}</span>{{dart.context.substring(dart.end+1)}}
      </span>
      <span v-else>{{dart.context}}</span>
    </b-list-group-item>
    <b-list-group-item v-if="dart.path && dart.path != '/'"
                       class="item-middle">
      <span @click="toggleExplodeImage(dart.path)">
        <span v-if="!exploded">
          <v-lazy-image :src="pathToImageURL(dart.path)"
                        style="max-width: 35em"/>
        </span>
        <span v-else>
          <v-lazy-image :src="pathToImageURL(dart.path)"
                        style="max-width: 100%; max-height: 100%; position: fixed; left: 1em; top: 4em; z-index: 100"/>
        </span>
      </span>
      <!--b-img :src="pathToImageURL(dart.path)"
          fluid-grow
          alt="image"
          style="max-width: 35em"/-->
      <p class="text-break">
        <small class="text-muted text-monospace">{{pathToImageURL(dart.path)}}</small>
      </p>
    </b-list-group-item>
    <b-list-group-item class="item-bottom"/>
  </template>
  <template v-if="moStore.editItem == dart">
    <b-list-group-item v-if="moStore.editItem.registrant" class="d-flex item-middle">
      <drop class="lemmaDrop"
            :class="{ regOver }"
            @dragover="acceptRegDrop"
            @dragleave="regOver = false"
            @drop="handleRegDrop">
        <b-form @submit.stop.prevent inline>
          <label for="registrant" class="label">Innsamler-ID:</label>
          <span>
            <b-form-input id="registrant"
                          number
                          size="sm"
                          style="width:4em"
                          autocomplete="off"
                          autocorrect="off"
                          spellcheck="false"
                          autocapitalize="off"
                          v-model="moStore.editItem.registrant.reg_id"
                          @click="setActive('registrant')"
                          @input="setRegistrant"
                          class="mx-3 keyfocus"/>
            <span>
              {{moStore.editItem.registrant.person_name}}
            </span>
            <span v-if="moStore.editItem.registrant.profession" class="mx-1">
              ({{moStore.editItem.registrant.profession}})
            </span>
          </span>
        </b-form>
      </drop>
    </b-list-group-item>
    <b-list-group-item class="d-flex item-middle">
      <b-form @submit.stop.prevent inline>
        <label for="informant" class="label">Informant:</label>
        <b-form-input id="informant"
                      size="sm"
                      v-model="moStore.editItem.informant"
                      autocomplete="off"
                      autocorrect="off"
                      spellcheck="false"
                      autocapitalize="off"
                      @click="setActive('informant')"
                      class="mx-3 keyfocus"/>
      </b-form>
      <b-form @submit.stop.prevent inline>
        <label for="year" class="label">År:</label>
        <b-form-input id="year"
                      style="width:4em"
                      v-model="moStore.editItem.year"
                      autocomplete="off"
                      autocorrect="off"
                      spellcheck="false"
                      autocapitalize="off"
                      @click="setActive('year')"
                      class="mx-3 keyfocus"/>
      </b-form>
      <b-form @submit.stop.prevent inline>
        <label for="language" class="label">Språk:</label>
        <b-form-select size="sm"
                       id="language"
                       class="mr-2 ml-3 keyfocus"
                       v-model="moStore.editItem.language"
                       :options="[{value: 'nbo', text: 'Bokmål'},{value: 'nno', text: 'Nynorsk'}]"/>
      </b-form>
    </b-list-group-item>
    <b-list-group-item class="item-middle">
      <drop class="lemmaDrop"
            :class="{ biblOver }"
            @dragover="acceptBiblDrop"
            @dragleave="biblOver = false"
            @drop="handleBiblDrop">
        <label for="source" class="label">Kilde:</label>
        <b-list-group>
          <b-list-group-item  v-for="(bibl, i) in moStore.editItem.bibl" :key="i"
                              xclass="item-middle"
                              yclass="d-flex justify-content-between align-items-start p-2"
                              >
            <div class="d-flex justify-content-between align-items-start p-2">
              <span>
                <span v-if="bibl.author" class="font-italic"> {{bibl.author}}: </span>
                {{bibl.title}} <small v-if="bibl.bibl_id">[{{bibl.bibl_id}}]</small>
              </span>
              <b-icon-trash v-if="canEdit" @click="deleteBibl(bibl.bibl_id)"
                            class="link mt-1"/>
            </div>
            <div class="d-flex justify-content-between align-items-start p-2">
              <label for="bibl_position" class="label">Posisjon:</label>
              <b-form-input id="bibl_position"
                            size="sm"
                            xstyle="width:4em"
                            autocomplete="off"
                            autocorrect="off"
                            spellcheck="false"
                            autocapitalize="off"
                            v-model="bibl.position"
                            class="mx-3 keyfocus"/>
            </div>
            <div class="d-flex justify-content-between align-items-start p-2">
              <label for="bibl_comment" class="label">Kommentar:</label>
              <b-form-textarea id="bibl_comment"
                               size="sm"
                               autocomplete="off"
                               autocorrect="off"
                               spellcheck="false"
                               autocapitalize="off"
                               v-model="bibl.comment"
                               class="mx-3 keyfocus"/>
            </div>
          </b-list-group-item>
        </b-list-group>
      </drop>
    </b-list-group-item>
    <b-list-group-item class="item-middle">
      <drop class="lemmaDrop"
            :class="{ placeOver }"
            @dragover="acceptPlaceDrop"
            @dragleave="placeOver = false"
            @drop="handlePlaceDrop">
        <label for="source" class="label">Sted:</label>
        <b-list-group>
          <b-list-group-item  v-for="(p, i) in moStore.editItem.place" :key="i"
                              xclass="item-middle"
                              class="d-flex justify-content-between align-items-start p-2"
                              >
            <span>
              <span class="font-italic"> {{p.place_name}} </span>
              <small>[{{p.place_id}}]</small>
            </span>
            <b-icon-trash v-if="canEdit" @click="deletePlace(p.place_id)" class="link"/>
          </b-list-group-item>
        </b-list-group>
      </drop>
    </b-list-group-item>
    <b-list-group-item class="item-middle">
      <label for="comment" class="label">Kommentar:</label>
      <b-form-textarea id="comment"
                       v-model="moStore.editItem.comment"
                       @click="setActive('comment')"/>
    </b-list-group-item>
    <b-list-group-item class="item-middle">
      <span class="label">Kontekst:</span>
      <div v-show="!moStore.editItem.context_tokens?.length"
           id="context"
           class="p-3 m-1 keyfocus"
           style="border: 1px solid black; hight: 10em"
           contenteditable
           @click="setActive('context')"
           v-html="moStore.editItem.context?.replace(/\n/g,'<br/>')">
      </div>
      <div v-show="moStore.editItem.context_tokens?.length"
           id="context-tokens"
           class="p-3 m-1"
           style="border: 1px solid black; hight: 10em">
        <span v-for="(token, index) in moStore.editItem.context_tokens"
              :key="index"
              class="context-token"
              :class="token.selected?'selected':(token.registered?'registered':'')"
              @click="toggleToken(token)">
          <template v-if="token.type=='newline'">
            <br/>
          </template>
          <template v-else>
            {{token.string}}
          </template>
        </span>
      </div>
      <b-button @click="lockContext(false)"
                variant="outline-secondary"
                :disabled="moStore.editItem.context_tokens?.length ? true : false"
                size="sm"
                class="ml-2"
                align="center">
        Lås tekst
      </b-button>
      <b-button @click="unlockContext"
                variant="outline-secondary"
                xxdisabled="moStore.editItem.context_tokens?.length ? false : true"
                size="sm"
                class="ml-2"
                align="center">
        Lås opp
      </b-button>
      <b-button @click="selectWord"
                variant="outline-secondary"
                :disabled="moStore.editItem.context_tokens?.length ? false : true"
                size="sm"
                class="ml-2"
                align="center">
        Velg ord
      </b-button>
    </b-list-group-item>
    <b-list-group-item class="item-middle">
      <label for="words" class="label">Oppslag:</label>
      <small>
        <b-table :items="moStore.editItem.words"
                 :fields="wordFieldsEdit"
                 @row-clicked="onRowClicked"
                 tbody-tr-class="word-row"
                 selectable
                 select-mode="single"
                 small>
          <template v-slot:row-details="row">
            <div style="border: 1px solid gray; padding: 1em; border-radius: 6px">
              <div>
                <label for="variant-input">Variant:</label>
                <span class="font-weight-bold"> {{row.item.word_variant}} </span>
                (<span>start:</span> {{row.item.start}}
                <span>end:</span> {{row.item.end}})
              </div>
              <label for="word-select">Ord:</label>
              <b-form-input size="sm"
                            id="word-select"
                            v-model="row.item.word"
                            autocomplete="off"
                            autocorrect="off"
                            spellcheck="false"
                            autocapitalize="off"
                          />
              <label for="word-type-select">Ordtype:</label>
              <b-form-select size="sm"
                             id="word-type-select"
                             class="mr-2 keyfocus"
                             v-model="row.item.word_type"
                             :options="wordTypes"/>
              
              <label for="morph-select">Grammatikk:</label>
              <div v-for="(id,index) in row.item.morph_ids.length ? row.item.morph_ids : [0]"
                   :key="index">
                <b-form inline>
                  <b-form-select size="sm"
                                 id="morph-select"
                                 class="mr-2 keyfocus"
                                 xxmultiple
                                 v-model="row.item.morph_ids[index]"
                                 value-field="morph_id"
                                 text-field="morph"
                                 :options="app.slipMorphCodes"/>
                  <b-button v-if="row.item.morph_ids.length > 1"
                            @click="row.item.morph_ids.splice(index,1)"
                            variant="outline-secondary"
                            size="sm"
                            class="ml-1 pt-0"
                            align="center">
                    -
                  </b-button>
                  <b-button v-if="index==row.item.morph_ids.length-1"
                            @click="row.item.morph_ids.splice(index+1,0,0)"
                            variant="outline-secondary"
                            size="sm"
                            class="ml-2 pt-0 keyfocus plus"
                            align="center">
                    +
                  </b-button>
                </b-form>
              </div>
              <label for="definition-input">Definition:</label>
              <b-form-input size="sm"
                            id="definition-input"
                            v-model="row.item.definition"
                            autocomplete="off"
                            autocorrect="off"
                            spellcheck="false"
                            autocapitalize="off"
                            />
              <label for="etymology-input">Etymologi:</label>
              <b-form-input size="sm"
                            id="etymology-input"
                            v-model="row.item.etymology"
                            autocomplete="off"
                            autocorrect="off"
                            spellcheck="false"
                            autocapitalize="off"
                            />
              <label for="word-variant-input">Variant:</label>
              <b-form-input size="sm"
                            id="word-variant-input"
                            v-model="row.item.word_variant"
                            autocomplete="off"
                            autocorrect="off"
                            spellcheck="false"
                            autocapitalize="off"
                            />
            </div>
          </template>
          <template v-slot:cell(morph_ids)="data">
            <div v-for="(m,i) in data.value"
                  :key="i"
                  class="nobr"
                  :title="id2morph(m)">
              {{truncate(id2morph(m))}}
            </div>
          </template>
          <template v-slot:cell(word)="data">
            <div :id="'cell-' + data.index + '-' + data.field.key">
              <div class="attribute-value"
                   @click.stop="setFocus(data)">
                {{data.value}}
              </div>
            </div>
          </template>
          <template v-slot:cell(delete)="data">
            <b-icon-trash v-if="canEdit"
                          @click.stop="deleteWord(data.item.word_id)"
                          class="link"/>
          </template>
        </b-table> 
      </small>
    </b-list-group-item>
    <b-list-group-item class="item-middle">
      <p>
        <span class="label">Bilde:</span>
        <b-button v-if="!moStore.editItem.path"
                  @click="uploadImage"
                  variant="outline-secondary"
                  size="sm"
                  class="ml-2"
                  align="center">
          Last opp
        </b-button>
        <b-button v-if="hasImage"
                  @click="removeImage"
                  variant="outline-secondary"
                  size="sm"
                  class="ml-2"
                  align="center">
          Fjern bildet
        </b-button>
        <small v-if="!moStore.editItem.path && !hasImage"
               style="color:gray"> (Lim inn et bilde i boksen under)</small>
      </p>
      <div v-if="!moStore.editItem.path || newImage"
           id="image"
           class="p-3 m-1 img-container"
           @input="checkInput"
           :contenteditable="!hasImage">
      </div>
      <b-img v-if="moStore.editItem.path && !newImage"
             :src="pathToImageURL(moStore.editItem.path)"
             fluid-grow
             alt="image"
             style="max-width: 35em"/>
      <p v-if="moStore.editItem.path" class="text-break">
        <small class="text-muted text-monospace">
          {{pathToImageURL(moStore.editItem.path)}}
        </small>
      </p>
    </b-list-group-item>
    <b-list-group-item class="item-middle" v-if="1==2">
      <picture-input
        ref="pictureInput"
        xxchange="onChanged"
        xxremove="onRemoved"
        width="400"
        height="100"
        :crop="false"
        :removable="true"
        removeButtonClass="ui red button"
        accept="image/jpeg, image/png, image/gif"
        buttonClass="ui button primary"
        :customStrings="{
                        upload: '<h1>Upload it!</h1>',
                        drag: 'Slipp bildet her'}">
    </picture-input>
    </b-list-group-item>
    <b-list-group-item class="item-bottom"/>
  </template>
</b-list-group>
</template>

<script>

import { lexBase, callAPI, showErrorMessage } from '@/components/mixins/ordbokUtils.js'

const imageServerURL = "https://usd.uib.no/perl/search/visbilde.cgi?filnavn="

import { mapStores } from 'pinia'
// import PictureInput from 'vue-picture-input'
import PictureInput from './pictureInput.vue'

import VLazyImage from 'v-lazy-image/v2'

import { useStateStore
       } from '@/components/korpuskel/src/components/mixins/globals.js'

import { useOrdbankStore, useMOStore, loadJSON, storeImageURL, nextDOMNode, isInput,
         hasEditStatus, unsetEditMode // are those correct?
       } from '@/components/mixins/ordbokUtils.js'

import { app } from '@/main.js'

import $ from 'jquery'

let word_id = -1

const wordFields = [
    { key: 'word', label: 'Ord', tdClass: "font-weight-bold" },
    { key: 'word_type', label: 'Ordtype' },
    { key: 'morph_ids', label: 'Grammatikk' },
    { key: 'definition', label: 'Definisjon'},
    { key: 'etymology', label: 'Etymologi' },
    { key: 'word_variant', label: 'Variant' },
    { key: 'start', label: 'Start', tdClass: "right" },
    { key: 'end', label: 'Slutt', tdClass: "right" } ]

const wordFields_tob = [
    { key: 'word', label: 'Ord', tdClass: "font-weight-bold" },
    { key: 'morph_ids', label: 'Grammatikk' },
    { key: 'definition', label: 'Definisjon'} ]

const wordFieldsEdit = wordFields.concat([{ key: 'delete', label: 'Slett' }])


export default {
          name: 'mo-seddel',
          props: ['dart','mode','index'],
    components: { PictureInput, VLazyImage },
    data: function () {
        return { lexBase,
                 biblOver: false,
                 placeOver: false,
                 regOver: false,
                 queryId: 0,
                 show_all_words: false,
                 show_word_details: false,
                 imageServerURL,
                 wordFields,
                 wordFields_tob,
                 wordFieldsEdit,
                 wordTypes: ['avleiing', 'etterledd', 'føreledd', 'forkorting', 'frase', 'fuge',
                             'grunnord', 'ordsamband', 'prefiks', 'samansetjing', 'suffiks'],
                 // slipMorphCodes: [],
                 detailsRow: null,
                 activeNode: null,
                 hasImage: false,
                 newImage: false,
                 rowIndex: null,
                 exploded: false,
                 app
                 // hasImage: !!this.editItem.path
               }
    },
    mounted: function () {
        window.addEventListener('keydown', this.onKeyDown)
    },
    destroyed: function () {
        window.removeEventListener('keydown', this.onKeyDown)
    },
    computed: {
        ...mapStores(useOrdbankStore, useMOStore),
        hasEditStatus: function () {
            return hasEditStatus('no')
        },
        canEdit: function () {
            return useStateStore().jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR')
        },
        title: function () {
            return this.dart?.words?.map(w => w.word).reduce((a,b) => a == '' ? b : a + ', ' + b, '')
        }
    },
    methods: {
        setActive: function (id) {
            this.activeNode = $('#' + id)[0]
            this.activeNode.focus()
            this.rowIndex = null
        },
        setRegistrant: function () {
            let reg = this.moStore.editItem.registrant
            // console.log('setReg', reg.reg_id)
            if (!isNaN(reg.reg_id)) {
                // console.log('run')
                let queryId = ++this.queryId
                callAPI("/registrant/" + reg.reg_id, null, null, 'ordbank')
                    .then(r => {
                        if (queryId == this.queryId) {
                            // console.log('res:', r[0].person_name)
                            if (r[0]) {
                                this.moStore.editItem.registrant = r[0]
                                // reg.name = r[0].person_name
                                // reg.profession = r[0].profession
                            } else {
                                this.moStore.editItem.registrant = {}
                            }
                        }
                    })
                    .catch (showErrorMessage)
            }
        },
        onKeyDown: function () {
            if (event.keyCode == 27) { // esc
                this.closePopups()
                event.preventDefault()
            } else if (event.ctrlKey) {
                // console.log(event.keyCode)
                switch (event.keyCode) {
                case 39: // arrow-right
                    if (this.activeNode?.id == 'comment' &&
                        this.moStore.editItem.context_tokens?.length
                       ) {
                        // let row = this.moStore.editItem.words[0]
                        // this.onRowClicked(row, 0)
                        // console.log('row:', $('.word-row')[0])
                        $('.word-row')[0]?.focus()
                        this.rowIndex = 0
                        this.activeNode = $('.word-row')[0]
                        // $('.word-row')[0]?.setAttribute('aria-selected', true)
                    } else if (this.activeNode?.id == 'context') {
                        null
                         let row = this.moStore.editItem.words[0]
                         this.onRowClicked(row, 0)
                    } else if (this.activeNode?.id == 'word-variant-input') {
                        null
                    } else if ((this.rowIndex || this.rowIndex == 0) && !this.detailsRow) {
                        // console.log('next row')
                        if (this.rowIndex < $('.word-row').length-1) {
                            this.rowIndex++
                            $('.word-row')[this.rowIndex]?.focus()
                        }
                    } else if (this.activeNode) {
                        let next = nextDOMNode(this.activeNode,true,false,false,
                                               next => isInput(next))
                        if (next) {
                            this.activeNode = next
                            next.focus()
                        }
                    } else if (this.detailsRow) {
                        $('#word-select')[0]?.focus()
                    } else {
                        this.setActive('registrant')
                    }
                    event.preventDefault()
                    break
                case 37: // arrow-left
                case 38:
                    // console.log('active:', !!this.activeNode, this.activeNode.id, this.rowIndex)
                    if (this.activeNode) {
                        if (this.activeNode.id == 'word-select') {
                            if (this.detailsRow) this.detailsRow._showDetails = false
                            this.detailsRow = null
                            if (this.rowIndex) {
                                this.rowIndex--
                                $('.word-row')[this.rowIndex]?.focus()
                            } else {
                                this.setActive('comment')
                            }
                        } else if (this.rowIndex == 0 && !this.detailsRow) {
                            this.rowIndex = null
                            this.setActive('comment')
                        } else if (this.rowIndex && !this.detailsRow) {
                            this.rowIndex--
                            $('.word-row')[this.rowIndex]?.focus()
                        } else {
                            // console.log('hier:', this.activeNode)
                            let next = nextDOMNode(this.activeNode,false,false,true,
                                                   next => isInput(next))
                            if (next) {
                                this.activeNode = next
                                next.focus()
                            }
                        }
                    } else {
                        this.setActive('registrant')
                    }
                    event.preventDefault()
                    break
                case 40: // arrow-down
                    if (this.detailsRow && this.activeNode) {
                        let next = nextDOMNode(this.activeNode,true,false,false,
                                               next => isInput(next))
                        if (next) {
                            this.activeNode = next
                            next.focus()
                        }
                    } else if (this.rowIndex || this.rowIndex == 0) {
                        this.rowIndex++
                        $('.word-row')[this.rowIndex]?.focus()
                    } else {
                        $('.word-row')[0]?.focus()
                    }
                    event.preventDefault()
                    break
                case 32: // space
                    if (this.detailsRow) {
                        this.detailsRow._showDetails = false
                        this.detailsRow = null
                        $('.word-row')[this.rowIndex]?.focus()
                    }
                    break
                case 83: // S save
                    this.storeSlip()
                    event.preventDefault()
                }
            }
        },
        onRowClicked: function (row,index) { // is also triggered by space
            if (row) {
                if (row._showDetails) {
                    this.detailsRow = null
                    row._showDetails = false
                } else {
                    if (this.detailsRow) {
                        this.detailsRow._showDetails = false
                    }
                    this.detailsRow = row
                    row._showDetails = true
                    this.rowIndex = index
                    this.$nextTick(() => {
                        $("#word-select").focus()
                        this.activeNode = $("#word-select")[0]
                    })
                }
            }
        },
        id2morph: function (morph_id) {
            return this.app.slipMorphCodes.find(mc => mc.morph_id == morph_id)?.['morph'] || ''
        },
        truncate: function (str) {
            if (str.length < 20) {
                return str
            } else {
                return str.substring(0,17) + "…"
            }
        },
        formatContext: function (dart) {
            let result = ''
            let pos = 0
            let words = dart.words?.map(w => w).sort((w1,w2) => w1.start < w2.start ? -1 : 1)
            if (words) {
                words.forEach(w => {
                    result += dart.context.substring(pos, w.start) +
                        '<span style="color: red">' +
                        dart.context.substring(w.start, w.end+1) +
                        '</span>'
                    pos = w.end+1
                })
            }
            result += dart.context.substring(pos)
            return result
        },
        editSlip: function () {
            let clone = JSON.parse(JSON.stringify(this.dart))
            console.log('clone', clone, 'index:', this.index)
            this.moStore.editItem = clone // this.dart
            if (this.index) {
                this.moStore.itemIndex = this.index
            }
            this.moStore.singleMode = this.dart
            this.hasImage = !!clone.path
            // this.hasImage = !!this.moStore.editItem.path
            // console.log(this.hasImage, this.moStore.editItem)
            
            this.lockContext(true)
            
            // this.undoStackPush()
        },
        storeSlip: function () {
            console.log('store:', this.moStore.editItem, this.moStore.itemIndex)
            let path = "/dict/setel/" + this.moStore.editItem.art_id
            callAPI(path, 'POST', JSON.stringify(this.moStore.editItem), 'ordbank')
                .then(r => {
                    this.moStore.dictArtList.splice(this.moStore.itemIndex,1,r)
                    // this.moStore.itemIndex = null
                    if (this.moStore.dictArtList[this.moStore.itemIndex]) {
                        this.moStore.dictArtList[this.moStore.itemIndex].new = false
                    }
                    this.moStore.editItem = null
                    console.log('dart:', this.moStore.dictArtList[this.moStore.itemIndex])
                    this.moStore.key++
                })
                .catch (showErrorMessage)
            // this.moStore.singleMode = false
            // this.moStore.editItem = false
        },
        cancelEditSlip: function () {
            this.moStore.editItem = false
            this.moStore.singleMode = null
            this.detailsRow = null
            this.rowIndex = null
        },
        canAcceptRegDrop: function () {
            return true
        },
        acceptRegDrop: function () {
            this.regOver = true
        },
        handleRegDrop: function (data) { // drop registrant
            if (this.canAcceptRegDrop()) {
                console.log(data)
            }
        },
        canAcceptBiblDrop: function () {
            return true
        },
        acceptBiblDrop: function () {
            this.biblOver = true
        },
        handleBiblDrop: function (data) {
            if (this.canAcceptBiblDrop()) {
                this.moStore.editItem.bibl.push(data.bibl)
            }
        },
        deleteBibl: function (bibl_id) {
            this.moStore.editItem.bibl = this.moStore.editItem.bibl.filter(bibl => bibl.bibl_id != bibl_id)
        },
        
        canAcceptPlaceDrop: function () {
            return true
        },
        acceptPlaceDrop: function () {
            this.PlaceOver = true
        },
        handlePlaceDrop: function (data) {
            if (this.canAcceptPlaceDrop()) {
                this.moStore.editItem.place.push(data)
            }
        },
        deletePlace: function (place_id) {
            this.moStore.editItem.place = this.moStore.editItem.place.filter(p => p.place_id != place_id)
        },
        
        
        lockContext: function (init) {
            let contextElt = null
            let context = null
            console.log('init:', init)
            if (init) {
                context = this.moStore.editItem.context
            } else {
                contextElt = document.getElementById("context")
                context = contextElt.innerText
                console.log('context:', context)
                this.moStore.editItem.context = context
            }
            let indexPairs = []
            let regex = RegExp('\\S+', 'g')
            let matchArr
            while ((matchArr = regex.exec(context))) {
                indexPairs.push([matchArr.index, regex.lastIndex])
            }
            if (!init) {
                contextElt.innerText = ''
            }
            let tokens = []
            let prev_end = 0
            indexPairs.forEach(p => {
                for (let i = prev_end; context[i] == '\n'; i++) {
                    tokens.push({ start: i,
                                  end: i+1,
                                  string: '\n',
                                  type: 'newline' })
                }
                tokens.push({ start: p[0],
                              end: p[1],
                              string: context.substring(p[0], p[1]),
                              selected: false,
                              registered: false })
                prev_end = p[1] 
            })
            this.moStore.editItem.context_tokens = tokens
        },
        unlockContext: function () {
            let contextElt = document.getElementById("context")
            if (!this.moStore.editItem.context) {
                this.moStore.editItem.context = ''
            }
            contextElt.innerText = this.moStore.editItem.context
            this.moStore.editItem.context_tokens = []
            // console.log(this.moStore.editItem.context_tokens)
        },
        toggleToken: function (token) {
            token.selected = !token.selected
        },
        selectWord: function () {
            let start = null
            let end = null
            this.moStore.editItem.context_tokens.forEach (token => {
                if (token.selected) {
                    if (!start && start != 0) {
                        start = token.start
                    }
                    end = token.end
                    token.selected = false
                    token.registered = true
                }
            })
            this.moStore.editItem.context_tokens.forEach (token => {
                if ((start || start == 0) && end && start <= token.start && token.end <= end)
                    token.registered = true
            })
            if (end) {
                this.moStore.editItem.words.push({
                    start,
                    end,
                    word: this.moStore.editItem.context.substring(start, end),
                    word_id: word_id--,
                    definition: null,
                    etymology: null,
                    word_type: null,
                    word_variant: this.moStore.editItem.context.substring(start, end),
                    morph_ids: [],
                    _showDetails: false
                })
            }
            // this.moStore.editItem.context_tokens.forEach(token => token.selected = false)
        },
        deleteWord: function (word_id) {
            let words = this.moStore.editItem.words
            let index = words.findIndex(word => word.word_id == word_id)
            words.splice(index, 1)
            this.moStore.editItem.context_tokens.forEach(token => token.registered = false)
            words.forEach(w => {
                this.moStore.editItem.context_tokens.forEach (token => {
                    if ((w.start || w.start == 0) && w.end && w.start <= token.start && token.end <= w.end)
                        token.registered = true
                })
            })
        },
        checkInput: function (input) {
            if (input.inputType == 'insertFromPaste') {
                this.hasImage = true
            }
        },
        pathToImageURL: function (path) {
            // console.log('path', path)
            if (path.substring(0,4)=='lex/') {
                if (process.env.NODE_ENV == 'development') {
                    return 'https://clarino.uib.no/lex/dev/' + path.substring(4)
                } else {
                    return 'https://clarino.uib.no/' + path
                }
            } else if (path.substring(0,30) == '/edd/usdbfile/usd_leks_setlark') {
                // /edd/usdbfile/usd_leks_setlark/setelarkiv_nyscann/setelarkivJPG/015/341/setel361.jpg
                return 'https://clarino.uib.no/lex/seddel/' + path.substring(31)
            } else {
                // /edd/usd_leks_no_2/seteldata/setelarkivJPG/F3/71/jpeg/USD_LEKS_SETLARK_TOB3659045.jpg
                // return imageServerURL + path
                return 'https://clarino.uib.no/lex/seddel/' + path.substring(4)
            }
        },
        removeImage: function () {
            let imageElt = document.getElementById("image")
            imageElt.innerHTML = null
            this.hasImage = false
            this.newImage = false
            this.moStore.editItem.path = null
        },
        uploadImage: function () {
            this.unlockContext()
            let imageElt = document.getElementById("image")
            let image = imageElt.children[0]?.getAttribute('src')
            if (image) {
                this.newImage = true
                let params = new URLSearchParams
                params.set("image", image)
                params.set("id", this.moStore.editItem.art_id)
                loadJSON(storeImageURL,
                         { method: "POST",
                               headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                               body: params })
                        .then (r => {
                            this.moStore.editItem.path = r.path
                            this.moStore.editItem.context = r.text
                        })
            }
        },
        toggleExplodeImage: function (path) {
            this.exploded = !this.exploded
            console.log(path)
        },
        setFocus: function (data) {
            if (this.hasEditStatus) {
                unsetEditMode()
                // data.item._showDetails = !data.item._showDetails
                if (data.item._showDetails) {
                    data.item._showDetails = false
                    this.detailsRow = null
                } else {
                    if (this.detailsRow) {
                        this.detailsRow._showDetails = false
                    }
                    // console.log('data:', data)
                    data.item._showDetails = true
                    this.rowIndex = data.index
                    this.detailsRow = data.item
                }
            }
        },
        hasFocus: function (data) {
            // console.log('focusCell:', this.moStore.focusCell, data.index + '-' + data.field.key)
            return this.moStore.focusCell == data.index + '-' + data.field.key
        }

    }
}

</script>

<style>

span.context-token {
    cursor: pointer
}
span.context-token:hover {
    border-bottom: 2px solid gray
}

span.selected {
    color: red
}
span.registered {
    color: green
}

.img-container {
    border: 1px solid black
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

tr:focus  {
    padding: 10px;
    border: 2px solid blue
}


</style>
