<template>
<b-list-group>
  <b-list-group-item class="item-top">
    <span class="label mr-1">ID:</span>
    <drag :transfer-data="{ type: 'mo_dict_article', dict_id: dart.dict_id, art_id: dart.art_id }"
          tag="span"
          class="drag">
      <span class="font-weight-bold">{{dart.art_id}}</span>
    </drag>,
    <span class="label">Metaordbok: </span>
    <span>
      <span v-for="mo in dart.mo_art_ids" class="comma" :key="mo">
        <router-link :to="lexBase+'/metaordbok/article/'+mo">{{mo}}</router-link>
      </span>
    </span>
  </b-list-group-item>
  <b-list-group-item class="item-middle">
    <span class="font-weight-bold">{{dart.word}}</span> {{dart.word_class}}
  </b-list-group-item>
  <b-list-group-item class="item-middle">
    <b-form inline>
      <span class="mr-2">{{clip_count}} <span v-if="clip_count != dart.clip_count">
          (av {{dart.clip_count}})
        </span> klipp | </span>
      <label for="protocol-select">Protokoll:</label>
      <b-form-input size="sm"
                    class="mx-2"
                    style="width:8em"
                    id="protocol-select"
                    v-model="protocol"
                    autocomplete="off"
                    autocorrect="off"
                    spellcheck="false"
                    autocapitalize="off"
                    @keydown.enter="refresh"
                    />
      <label for="place-select">Herad:</label>
      <b-form-input size="sm"
                    class="mx-2"
                    style="width:8em"
                    id="place-select"
                    v-model="place"
                    autocomplete="off"
                    autocorrect="off"
                    spellcheck="false"
                    autocapitalize="off"
                    @keydown.enter="refresh"
                    />
      <b-button variant="secondary" size="sm" @click="refresh">Filtrer</b-button>
    </b-form>
  </b-list-group-item>
  <b-list-group-item class="item-bottom">
    <b-pagination size="sm"
                  v-model="currentPage"
                  first-text="Første"
                  prev-text="Forrige"
                  next-text="Neste"
                  :last-text="'Siste (av '+clip_count+' klipp)'"
                  :total-rows="clip_count"
                  :per-page="10"
                  aria-controls="table"/>
    <b-table :fields="clipFields"
             :per-page="10" small
             ref="clipsTable"
             :current-page="currentPage"
             :items="clipsProvider">
      <template v-slot:cell(path)="data">
        <v-lazy-image :src="imageServerURL + data.value"
                      style="max-width: 16em"/>
      </template>
    </b-table>
  </b-list-group-item>
</b-list-group>
</template>

<script>

import { lexBase, callAPI, showErrorMessage } from '@/components/mixins/ordbokUtils.js'

const imageServerURL = "https://usd.uib.no/perl/search/visbilde.cgi?filnavn="

import { mapStores } from 'pinia'

const clipFields = [
    { key: 'path', label: 'Klipp' },
    { key: 'page', label: 'Side' },
    { key: 'paragraph', label: 'Para' },
    { key: 'protocol', label: 'Protokoll' },
    { key: 'place', label: 'Heradsnavn' }
    ]

import VLazyImage from 'v-lazy-image/v2'

import { useStateStore
       } from '@/components/korpuskel/src/components/mixins/globals.js'

import { useOrdbankStore, useMOStore, nextDOMNode, isInput,
         hasEditStatus
       } from '@/components/mixins/ordbokUtils.js'

import $ from 'jquery'

export default {
          name: 'mo-synopsis',
          props: ['dart','mode','index'],
    components: { VLazyImage },
    data: function () {
        return { lexBase,
                 imageServerURL,
                 imageRows: [],
                 clipFields,
                 currentPage: 1,
                 protocol: null,
                 place: null,
                 clip_count: 0
               }
    },
    mounted: function () {
        window.addEventListener('keydown', this.onKeyDown)
    },
    destroyed: function () {
        window.removeEventListener('keydown', this.onKeyDown)
    },
    computed: {
        ...mapStores(useOrdbankStore, useMOStore),
        hasEditStatus: function () {
            return hasEditStatus('no')
        },
        canEdit: function () {
            return useStateStore().jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR')
        },
        title: function () {
            return this.dart?.words?.map(w => w.word).reduce((a,b) => a == '' ? b : a + ', ' + b, '')
        }
    },
    methods: {
        setActive: function (id) {
            this.activeNode = $('#' + id)[0]
            this.activeNode.focus()
            this.rowIndex = null
        },
        clipsProvider: function () {
            let protocol = this.protocol ? encodeURIComponent(this.protocol.replace(/\*|%/g,"%%")) : ''
            let place = this.place ? encodeURIComponent(this.place.replace(/\*|%/g,"%%")) : ''
            let promise = callAPI('/dict/mf_synopsis_clips/' + this.dart.art_id +
                                  '?offset=' + ((this.currentPage - 1) * 10) +
                                  '&limit=10' +
                                  '&protocol=' + protocol +
                                  '&place=' + place,
                                  null, null, 'ordbank'
                                 )
                .catch (showErrorMessage)
            return promise.then(r => {
                if (r[0]) {
                    this.clip_count = r[0].count
                    return r[0].clips
                } else {
                    this.clip_count = 0
                    return []
                }
            })
        },
        refresh: function () {
            this.currentPage = 1
            this.clipsProvider()
            this.$refs.clipsTable.refresh()
        },
        onKeyDown: function () {
            if (event.keyCode == 27) { // esc
                this.closePopups()
                event.preventDefault()
            } else if (event.ctrlKey) {
                // console.log(event.keyCode)
                switch (event.keyCode) {
                case 39: // arrow-right
                    if (this.activeNode?.id == 'comment' &&
                        this.moStore.editItem.context_tokens?.length
                       ) {
                        // let row = this.moStore.editItem.words[0]
                        // this.onRowClicked(row, 0)
                        // console.log('row:', $('.word-row')[0])
                        $('.word-row')[0]?.focus()
                        this.rowIndex = 0
                        this.activeNode = $('.word-row')[0]
                        // $('.word-row')[0]?.setAttribute('aria-selected', true)
                    } else if (this.activeNode?.id == 'context') {
                        null
                         let row = this.moStore.editItem.words[0]
                         this.onRowClicked(row, 0)
                    } else if (this.activeNode?.id == 'word-variant-input') {
                        null
                    } else if ((this.rowIndex || this.rowIndex == 0) && !this.detailsRow) {
                        // console.log('next row')
                        if (this.rowIndex < $('.word-row').length-1) {
                            this.rowIndex++
                            $('.word-row')[this.rowIndex]?.focus()
                        }
                    } else if (this.activeNode) {
                        let next = nextDOMNode(this.activeNode,true,false,false,
                                               next => isInput(next))
                        if (next) {
                            this.activeNode = next
                            next.focus()
                        }
                    } else if (this.detailsRow) {
                        $('#word-select')[0]?.focus()
                    } else {
                        this.setActive('registrant')
                    }
                    event.preventDefault()
                    break
                case 37: // arrow-left
                case 38:
                    // console.log('active:', !!this.activeNode, this.activeNode.id, this.rowIndex)
                    if (this.activeNode) {
                        if (this.activeNode.id == 'word-select') {
                            if (this.detailsRow) this.detailsRow._showDetails = false
                            this.detailsRow = null
                            if (this.rowIndex) {
                                this.rowIndex--
                                $('.word-row')[this.rowIndex]?.focus()
                            } else {
                                this.setActive('comment')
                            }
                        } else if (this.rowIndex == 0 && !this.detailsRow) {
                            this.rowIndex = null
                            this.setActive('comment')
                        } else if (this.rowIndex && !this.detailsRow) {
                            this.rowIndex--
                            $('.word-row')[this.rowIndex]?.focus()
                        } else {
                            // console.log('hier:', this.activeNode)
                            let next = nextDOMNode(this.activeNode,false,false,true,
                                                   next => isInput(next))
                            if (next) {
                                this.activeNode = next
                                next.focus()
                            }
                        }
                    } else {
                        this.setActive('registrant')
                    }
                    event.preventDefault()
                    break
                case 40: // arrow-down
                    if (this.detailsRow && this.activeNode) {
                        let next = nextDOMNode(this.activeNode,true,false,false,
                                               next => isInput(next))
                        if (next) {
                            this.activeNode = next
                            next.focus()
                        }
                    } else if (this.rowIndex || this.rowIndex == 0) {
                        this.rowIndex++
                        $('.word-row')[this.rowIndex]?.focus()
                    } else {
                        $('.word-row')[0]?.focus()
                    }
                    event.preventDefault()
                    break
                case 32: // space
                    if (this.detailsRow) {
                        this.detailsRow._showDetails = false
                        this.detailsRow = null
                        $('.word-row')[this.rowIndex]?.focus()
                    }
                    break
                case 83: // S save
                    this.storeSlip()
                    event.preventDefault()
                }
            }
        },
        onRowClicked: function (row,index) { // is also triggered by space
            if (row) {
                if (row._showDetails) {
                    this.detailsRow = null
                    row._showDetails = false
                } else {
                    if (this.detailsRow) {
                        this.detailsRow._showDetails = false
                    }
                    this.detailsRow = row
                    row._showDetails = true
                    this.rowIndex = index
                    this.$nextTick(() => {
                        $("#word-select").focus()
                        this.activeNode = $("#word-select")[0]
                    })
                }
            }
        },
        truncate: function (str) {
            if (str.length < 20) {
                return str
            } else {
                return str.substring(0,17) + "…"
            }
        },
        formatContext: function (dart) {
            let result = ''
            let pos = 0
            let words = dart.words?.map(w => w).sort((w1,w2) => w1.start < w2.start ? -1 : 1)
            if (words) {
                words.forEach(w => {
                    result += dart.context.substring(pos, w.start) +
                        '<span style="color: red">' +
                        dart.context.substring(w.start, w.end+1) +
                        '</span>'
                    pos = w.end+1
                })
            }
            result += dart.context.substring(pos)
            return result
        },
        editSlip: function () {
            let clone = JSON.parse(JSON.stringify(this.dart))
            console.log('clone', clone, 'index:', this.index)
            this.moStore.editItem = clone // this.dart
            if (this.index) {
                this.moStore.itemIndex = this.index
            }
            this.moStore.singleMode = this.dart
            this.hasImage = !!clone.path
            // this.hasImage = !!this.moStore.editItem.path
            // console.log(this.hasImage, this.moStore.editItem)
            
            this.lockContext(true)
            
            // this.undoStackPush()
        },
        pathToImageURL: function (path) {
            if (path.substring(0,4)=='lex/') {
                if (process.env.NODE_ENV == 'development') {
                    return 'https://clarino.uib.no/lex/dev/' + path.substring(4)
                } else {
                    return 'https://clarino.uib.no/' + path
                }
            } else {
                return imageServerURL + path
            }
        }
    }
}

</script>

<style>

span.context-token {
    cursor: pointer
}
span.context-token:hover {
    border-bottom: 2px solid gray
}

span.selected {
    color: red
}
span.registered {
    color: green
}

.img-container {
    border: 1px solid black
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

tr:focus  {
    padding: 10px;
    border: 2px solid blue
}


</style>
