<template>
<b-row style="padding-top: 0.5em; padding-bottom: 0.5em">
  <b-col>
    <b-list-group>
      <drop class="drop"
            :class="{ over }"
            @dragover="acceptDrop"
            @dragleave="over = false"
            @drop="handleDrop">
        <b-list-group-item class="item-top" :key="key">
          <span class="xref" @click="showOrdbankLemma(dart)">{{dart.segmentation || dart.lemma}}</span>
          <span class="label"> · ID:</span> <span class="font-weight-bold">{{dart.art_id}}</span>
          <span v-if="dart.lemma_ids" class="label">, OB: </span>
          <span v-if="dart.lemma_ids">
            <span v-for="lemma_lid in dart.lemmas" class="comma" :key="lemma_lid[1]">
              <span class="xref" @click="showOrdbankIdLemma(lemma_lid[1])">
                {{lemma_lid[1]}}</span> [{{lemma_lid[0]}}]
              <b-button v-if="!askDelete && isOrdbankEditor('NAOB')"
                        size="sm"
                        variant="outline-primary"
                        class="py-0 px-1 m-1"
                        @click="askDelete = lemma_lid[1]">
                Slett
              </b-button>
              <span v-if="askDelete == lemma_lid[1]">
                <b-button variant="outline-primary ml-2"
                          size="sm"
                          class="py-0 px-1 m-1"
                          @click.stop="askDelete = null">
                  Angre
                </b-button>
                <b-button v-if="isOrdbankEditor('NAOB')"
                          size="sm"
                          variant="outline-primary"
                          class="py-0 px-1 m-1"
                          @click.stop="deleteOrdbankLink(lemma_lid[1])">
                  Ja, slett
                </b-button>
              </span>
            </span>
            <small v-if="dart.link_type">| ({{dart.link_type}})</small>
            <span class="label"> · BM: </span>
            <span>
              <span class="comma"
                    v-for="id in dart.bm_art_ids"
                    :key="id">
                <span class="xref" @click="showBMEntry(id)">{{id}}</span>
              </span>
            </span>
            <b-form-checkbox v-if="dart.lemmas[1]"
                             size="sm"
                             v-model="dart.variants">
                {{$t('has variants')}}
              </b-form-checkbox>
            
          </span>
        </b-list-group-item>
      </drop>
      <b-list-group-item class="item-bottom">
        <div v-html="dart.xml"/>
      </b-list-group-item>
    </b-list-group>
  </b-col>
</b-row>
</template>

<script>

import { lexBase, callAPI, entryComps, isOrdbankEditor, // showErrorMessage, dismissErrorMessage, toRoman
         useOrdbankStore, useLexStore
       } from '@/components/mixins/ordbokUtils.js'

import { mapStores } from 'pinia'

export default {
    name: 'naob-article',
    props: ['dart','lemma'],
    data: function () {
        return { queryId: 0,
                 lexBase,
                 over: false,
                 askDelete: null,
                 key: 0
               }
    },
    computed: {
        ...mapStores(useOrdbankStore)
    },
    methods: {
        isOrdbankEditor,
        showOrdbankIdLemma: function (id) {
            this.ordbankStore.ordbankLemmaId['naob'] = id
            this.ordbankStore.ordbankLemmaQuery['naob'] = id
            this.ordbankStore.sendLemmaQuery()
        },
        showOrdbankLemma: function (dart) {
            let lemma = null
            if (dart.segmentation) {
                lemma = dart.segmentation
                    .replace('·', '*')
                    .replace('|', '')
                    .replace('(', '')
                    .replace(')', '')
            } else {
                lemma = dart.lemma
            }
            this.ordbankStore.ordbankLemmaQuery['naob'] = lemma
            this.ordbankStore.sendLemmaQuery()
            
        },
        canAcceptDrop: function () {
            return isOrdbankEditor('NAOB')
        },
        acceptDrop: function () {
            if (this.canAcceptDrop) {
                this.over = true
            }
        },
        handleDrop: function (data) {
            if (this.canAcceptDrop()) {
                this.over = false
                callAPI("/dict/naob/" + this.dart.art_id,
                        'PATCH',
                        JSON.stringify({ operation: 'add_lemma_link',
                                         elements: [ data.lemma.id ],
                                         link_type: 'manual',
                                         link_source: data.lemma.source || 'ordbank',
                                         subclass: data.lemma.subclass }),
                        'ordbank')
                    .then(() => {
                        if (this.dart.lemma_ids) {
                            this.dart.lemma_ids.push(data.lemma.id)
                            this.dart.lemmas.push([data.lemma.lemma, data.lemma.id])
                        } else {
                            this.dart['lemma_ids'] = [data.lemma.id]
                        }
                        this.dart['link_type'] = 'manual'
                        this.key++
                    })
                    .catch (a => this.alert = a)
            }
        },
        deleteOrdbankLink: function (lid) {
            this.askDelete = null
            callAPI("/dict/naob/" + this.dart.art_id,
                    'PATCH',
                    JSON.stringify({ operation: 'delete_lemma_link',
                                     elements: [ lid ],
                                     link_type: 'manual' }),
                    'ordbank')
                .then(() => {
                    this.dart.lemma_ids = this.dart.lemma_ids.filter(l => l != lid)
                    this.dart.lemmas = this.dart.lemmas.filter(w => w[1] != lid)
                })
                .catch (a => this.alert = a)
        },
        showBMEntry: function (article_id) {
            let comp = entryComps[0]
            if (comp) {
                comp.dictionary = 'bm'
                // this.$store.dispatch('changeWord', { word: article_id, id: 0 })
                useLexStore().dictWord[0].word = article_id
                this.$router.push(lexBase+'/ordbok')
            }
        }
    }
}
</script>

<style>

oppslagsord {
    font-weight: bold;
}

ordklasse, boeyningsledd genus, betydningsskiller, stil {
    font-style: italic;
}

uttale:before, uttale:after {
    content: '/'
}

boeyningsledd:before {
    content: '['
}

boeyningsledd:after {
    content: ']'
}

etymologiledd:before {
    content: '\A Etym: ';
    white-space: pre-wrap
}
etymologiledd {
    font-size: smaller;
}

redeksseksjon, kilde, dokumentasjon, sitatseksjon, sitatledd, hnr_gammelt {
    display: none
}

utdypning:after {
    content: '. '
}

betydning:before {
    content: '\A •';
    white-space: pre-line
}

betydningsskiller:after {
    content: ':'
}

definisjon:not(:last-child):after, redeks:after, sitat:not(:last-child):after {
    content: ', ';
}



</style>
