<template>
<b-container class="m-0 px-1 p-sm-4">
  <b-row>
    <b-col>
      <h2>Søk i NAOB</h2>
      <b-row>
        <b-col md="auto">
          <b-form @submit.stop.prevent inline>
            <label class="label m-2" for="lemma-query">{{$t('Search string')}}: </label>
            <b-form-input size="sm"
                          id="lemma-query"
                          class="mr-2"
                          xxxv-model.trim="dictQueryString"
                          v-model.trim="ordbankStore.naobQuery.query"
                          type="search"
                          autocomplete="off"
                          autocorrect="off"
                          autocapitalize="off"
                          xxinput="searchDictionary"
                          @keydown.enter="searchDictionary"
                          xxplaceholder="Søkestreng"/>
            <b-button variant="primary" size="sm" @click="searchDictionary">{{$t('Search')}}</b-button>
            <b-form-checkbox size="sm"
                             class="ml-4"
                             v-model="caseInsensitive"
                             @change="searchDictionary">
              {{$t('case insensitive')}}
            </b-form-checkbox>
            <b-form-checkbox size="sm"
                             class="ml-4"
                             v-model="ordbankStore.naobQuery.ambigOnly"
                             xxxchange="searchDictionary">
              {{$t('ambiguous only')}}
            </b-form-checkbox>
            <b-form-checkbox size="sm"
                             class="ml-4"
                             v-model="ordbankStore.naobQuery.variantsOnly"
                             xxxchange="searchDictionary">
              {{$t('variants only')}}
            </b-form-checkbox>
            <b-form-checkbox size="sm"
                             class="ml-4"
                             v-model="ordbankStore.naobQuery.unmatchedOnly"
                             xxxchange="searchDictionary">
              {{$t('unmatched only')}}
            </b-form-checkbox>
            <label class="label m-2" for="wordclass">{{$t('Part of speech')}}: </label>
            <b-form-select size="sm"
                           id="wordclass"
                           class="mr-2"
                           v-model="wordClass"
                           :options="wordClasses"
                           />
            <b-form-text class="m-sm-2">
              (Bruk * som jokertegn.)
            </b-form-text>
          </b-form>
        </b-col>
      </b-row>
      <b-row v-if="busy" class="text-center">
        <b-col>
          <b-icon icon="three-dots" animation="cylon" font-scale="4"/>
        </b-col>
      </b-row>
      
      <div v-if="!busy && dictArtList.length" style="height: 38em; overflow-y: scroll; position: relative">
        <span v-if="dictArtList.length > 1" class="label">{{dictArtList.length}} artikler:</span>
        <b-container>
          <naob-article v-for="(dart, i) in dictArtList" :dart="dart" :key="i" :lemma='lemma'/>
        </b-container>
      </div>
    </b-col>
    <b-col>
      <h2>Ordbank</h2>
      <ordbank-lemma :id='lemma.id' lang='nob' mode="naob"/>
    </b-col>
  </b-row>
</b-container>
</template>

<script>

// import lemmaBlock from './lemmaBlock.vue'

import { mapStores } from 'pinia'

import { lexBase, callAPI, showErrorMessage, // dismissErrorMessage,
         useOrdbankStore
       } from '@/components/mixins/ordbokUtils.js'

import naobArticle from './naobArticle.vue'
import ordbankLemma from './ordbankLemma.vue'

import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

import $ from 'jquery'

const wordClasses = [ '[alle]',
                      'verb',
                      'substantiv',
                      'subjunksjon',
                      'interjeksjon',
                      'sammensetningsledd',
                      'determinativ (kvantor)',
                      'ukjent',
                      'determinativ (demonstrativ)',
                      'pronomen (ubestemt)',
                      'pronomen',
                      'adjektiv (ordenstall)',
                      'substantiv (egennavn)',
                      'pronomen (personlig)',
                      'pronomen (possessiv)',
                      'adverb',
                      'pronomen ??',
                      'adv.',
                      'prefiks',
                      'suffiks',
                      'adjektiv',
                      'determinativ (possessiv)',
                      'preposisjon',
                      'determinativ',
                      'subst.',
                      'konjunksjon' ]

export default {
    name: 'naob-search',
    props: [],
    components: { naobArticle, ordbankLemma },
    data: function () {
        return { // queryId: 0,
            lexBase,
            busy: false,
            dictArtList: [],
            // dictQueryString: null,
            caseInsensitive: false,
            // ambigOnly: false,
            // unmatchedOnly: false,
            wordClass: '[alle]',
            wordClasses,
            lemma: { id: null }
        }
    },
    created: function () {
        this.searchDictionary()
    },
    computed: {
        ...mapStores(useOrdbankStore),
        canEdit: function () {
            return useStateStore().jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR')
        }
    },
    methods: {
        searchDictionary: function () {
            // dismissErrorMessage()
            $('div.entries a').removeClass('chosen')
            let query = this.ordbankStore.naobQuery.query
            if (query) {
                this.busy = true
                let path = "/dict/naob" +
                    "?query=" + encodeURIComponent(query.replace(/\*/,"%")) +
                    "&ambig_only=" + (this.ordbankStore.naobQuery.ambigOnly ? 'true' : 'false') +
                    "&variants_only=" + (this.ordbankStore.naobQuery.variantsOnly ? 'true' : 'false') +
                    "&unmatched_only=" + (this.ordbankStore.naobQuery.unmatchedOnly ? 'true' : 'false') +
                    "&word_class=" + (this.wordClass == '[alle]' ? '' : this.wordClass)
                callAPI(path, null, null, 'ordbank')
                    .then( r => {
                        this.dictArtList = r
                        this.busy = false
                    })
                    .catch (showErrorMessage)
            }
        }
    }
}
</script>

<style>

a.chosen {
    border-bottom: 3px solid var(--green);
}

</style>
