<template>
<div>
  <h2 class="heading ml-4 mb-0 p-2 pt-4">NAOB</h2>
  <router-view/>
  <!--b-card no-body>
    <b-card-header header-tag="nav">
      <b-nav card-header tabs>
        <b-nav-item :to="lexBase+'/naob/article'" active-class="active">
          {{$t('Article')}}
        </b-nav-item>
      </b-nav>
    </b-card-header>
    
    <b-card-body>
      <router-view/>
    </b-card-body>
  </b-card-->
</div>
</template>

<script>

import { lexBase } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'ordbank-search',
    data: function () {
        return {
            lexBase
        }
    }
}
</script>
