<template>
<div>
  <h1 class="heading ml-4 mb-0 p-2 pt-4">Ordbanken</h1>
  <b-alert variant="danger" :show="alert" dismissible>{{alert}}</b-alert>
  <b-card no-body>
    <b-card-header header-tag="nav">
      <b-nav card-header tabs>
        <b-nav-item :to="lexBase+'/ordbank/lemma'" active-class="active">
          {{$t('Ordbank entry')}}
        </b-nav-item>
        <b-nav-item :to="lexBase+'/ordbank/list'" exact exact-active-class="active">
          {{$t('Lemma list')}}
        </b-nav-item>
        <b-nav-item :to="lexBase+'/ordbank/paradigm'" active-class="active">
          {{$t('Paradigms')}}
        </b-nav-item>
      </b-nav>
    </b-card-header>
    <router-view/>
  </b-card>
</div>
</template>

<script>

import { lexBase } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'ordbank-search',
    data: function () {
        return { lexBase,
                 alert: false
               }
    }
}

</script>

<style>

div.list-group-item.link {
    font-weight: normal;
    color: black
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

</style>
