<template>
<b-container class="m-0 p-0"
             style="height: calc(100vh - 15.2em); overflow-y: scroll; overflow-x: hidden; xborder: 1px solid green">
  <b-row>
    <b-col>
      <b-form @submit.stop.prevent inline>
        <template v-if="!lang">
          <label class="m-2" for="search-language">{{$t('Language')}}:</label>
          <b-form-select size="sm"
                         id="search-language"
                         class="mr-2"
                         xxv-model="language"
                         v-model="ordbankStore.ordbankLemmaLanguage[mode]"
                         :options="languages"
                         @change="searchLemma"
                         />
        </template>
        <label class="m-2" for="search-lemma">{{$t('Lemma')}}:</label>
        <b-form-input size="sm"
                      id="search-lemma"
                      class="mr-2"
                      xxxv-model="lemmaQuery"
                      v-model="ordbankStore.ordbankLemmaQuery[mode]"
                      type="search"
                      autocomplete="off"
                      autocorrect="off"
                      autocapitalize="off"
                      @input="searchLemma"
                      @keydown.enter="searchLemma"
                      placeholder="Segmentert ordform"/>
        <b-button variant="primary"
                  size="sm"
                  @click="searchLemma">
          {{$t('Search')}}
        </b-button>
        <label class="label m-sm-2" for="word-class">
          {{$t('Part of speech')}}:
        </label>
        <b-form-select size="sm"
                       id="word-class"
                       class="mr-2"
                       v-model="wordClass"
                       :options="wordClassList"
                       @change="searchLemma"
                       />
        <b-form-checkbox size="sm"
                         class="ml-4"
                         v-model="ordbankStore.extendedVocab"
                         @input="searchLemma">
          {{$t('include expressions and non-standard forms')}}
        </b-form-checkbox>
        <b-form-checkbox size="sm"
                         class="ml-4"
                         v-model="includeSubcats"
                         @input="searchLemma">
          {{$t('show verb frames')}}
        </b-form-checkbox>
        <b-form-checkbox size="sm"
                         class="ml-4"
                         v-model="hideNonStandard">
          {{$t('show only valid standard paradigms')}}
        </b-form-checkbox>
        <b-form-checkbox size="sm"
                         class="ml-4"
                         v-model="searchInflection"
                         @input="searchLemma">
          {{$t('search inflected forms')}}
        </b-form-checkbox>
        <b-form-checkbox size="sm"
                         class="ml-4"
                         v-model="context">
          {{$t('show participle context')}}
        </b-form-checkbox>
        <b-form-checkbox size="sm"
                         class="ml-4"
                         v-model="ordbankStore.compactDisplay[mode]">
          kompakt visning
        </b-form-checkbox>
        <!--b-form-checkbox size="sm" class="ml-4"
            v-model="nobNames">norske trekknavn</b-form-checkbox-->
      </b-form>
    </b-col>
  </b-row>
  <b-row>
    <b-col md="auto">
      <b-alert size="sm" class="m-2 p-2" show>
        {{$t('Ordbank entry')}} ({{lemmas.length}}
        <span v-if="lemmas.length==1">{{$t('homograph')}}</span>
        <span v-else>{{$t('homographs')}}</span>)
      </b-alert>
    </b-col>
    <b-col md="auto"
           v-if="canEdit && editInfo.lemmaNr==null">
      <b-button @click="newHomograph"
                variant="outline-secondary"
                size="sm" class="m-3" align="center">
        {{$t('Create new homograph')}}
      </b-button>
    </b-col>
  </b-row>
  <lemma-block v-for="(lemma,index) in lemmas"
               :index="index"
               :key="lemma.id"
               :lemma="lemma"
               :lemmaString="lemmaString"
               :includeSubcats="includeSubcats"
               :hideNonStandard="hideNonStandard"
               :inflectAs="inflectAsLemma"
               :deleteNewHomograph="deleteNewHomograph"
               :searchLemma="searchLemma"
               :context="context"
               :compact="ordbankStore.compactDisplay[mode]"/>
</b-container>
</template>

<script>

import lemmaBlock from './lemmaBlock.vue'

import { callAPI, editInfo, showErrorMessage, dismissErrorMessage,
         useOrdbankStore
       } from '@/components/mixins/ordbokUtils.js'

import { mapStores } from 'pinia'

import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

export default {
    name: 'ordbank-lemma',
    props: ['id','lang', 'mode'],
    // mixins: [api],
    components: { lemmaBlock },
    data: function () {
        return { languages: [ {value: 'nob', text: 'Bokmål'},
                              {value: 'nno', text: 'Nynorsk'}
                            ],
                 lemmas: [],
                 includeSubcats: false,
                 searchInflection: false,
                 // nobNames: false,
                 lemmaString: null,
                 prefix: null,
                 junction: null,
                 negJunction: null,
                 suffix: null,
                 inflectAsLemma: null,
                 newLemma: null,
                 editInfo,
                 queryId: 0,
                 context: false,
                 prevId: null,
                 language_: 'nob',
                 lemmaQuery_: null,
                 hideNonStandard: false,
                 wordClass: '-',
                 wordClassList: ['-','NOUN','VERB','ADJ','ADV','PRON','DET','INTJ',
                                 'ABBR','COMPPFX','SYM','ADP','CCONJ','SCONJ',
                                 'INFM','ABBR','PFX','EXPR'],
                 // compact: true
               }
    },
    created: function () {
        this.ordbankStore.sendLemmaQuery = this.sendLemmaQuery
        // console.log('mode:', this.mode)
        if (this.mode == 'ob') {
            if (this.lang) {
                // this.language = this.lang
                this.ordbankStore.ordbankLemmaLanguage[this.mode] = this.lang
            }
            let lemmaId = this.id || this.$route.params.id
            // console.log('lemmaId:', lemmaId)
            if (lemmaId) {
                this.sendLemmaIdQuery(lemmaId)
            } else if (this.ordbankStore.ordbankLemmaQuery[this.mode]
                       // this.lemmaQuery
                      ) {
                this.searchLemma()
            }
        } else {
            this.searchLemma()
        }
    },
    computed: {
        ...mapStores(useOrdbankStore),
        jwt: function () {
            return useStateStore().jwt
        },
        canEdit: function () {
            return this.jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR' || x == 'EDITOR.NAOB')
        },
        roles: function () {
            return this.jwt?.roles['ordbank.uib.no']
        },
        isNAOB: function () {
            return this.jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR.NAOB')
        }
    },
    methods: {
        setSegments: function () {
            let seg = this.ordbankStore.ordbankLemmaQuery[this.mode].split('*')
            this.prefix = seg[0]
            this.junction = seg[2] ? seg[1] : null
            this.suffix = (seg[2] ? seg[2] : seg[1]) || null 
            let prefixSeg = this.prefix.split('#')
            this.prefix = this.suffix ? prefixSeg[0] + (prefixSeg[1] || '') : null
            this.negJunction = prefixSeg[1] || null
            this.lemmaString = prefixSeg[0] + (this.junction || '') + (this.suffix || '')
            // this.inflectAsLemma = this.suffix || this.lemmaString
            if (this.suffix) {
                this.ordbankStore.inflectsAs = this.suffix
            }
        },
        searchLemma: function () {
            this.editInfo.lemmaNr = null
            this.lemmas = []
            this.sendLemmaQuery()
        },
        sendLemmaQuery: function () {
            dismissErrorMessage()
            this.newLemma = null
            let lemmaQuery = this.ordbankStore.ordbankLemmaQuery[this.mode]
            if (!lemmaQuery) {
                null
            } else if (Number.isInteger(lemmaQuery)) {
                this.sendLemmaIdQuery(lemmaQuery)
            } else {
                this.setSegments()
                let queryId = ++this.queryId
                callAPI("/lemmas?query=" + encodeURIComponent(this.lemmaString.replace(/ /g, '+'))
                        + "&stubs=false&include_dict_links=true"
                        + "&extended_vocabulary=" + this.ordbankStore.extendedVocab
                        + "&language=" + this.ordbankStore.ordbankLemmaLanguage[this.mode] // language
                        + "&search_inflection=" + this.searchInflection
                        + (this.wordClass == '-' ? '' : "&word_class=" + this.wordClass),
                        null, null, 'ordbank')
                    .then( r => {
                        if (queryId == this.queryId) {
                            this.lemmas = r
                            this.lemmas.map(lemma =>
                                            lemma.paradigm_info = lemma.paradigm_info?.map(
                                                p => Object.assign({}, p, { exclude: false })))
                        }
                    })
                    .catch (showErrorMessage)
            }
        },
        sendLemmaIdQuery: function (id) {
            dismissErrorMessage()
            // console.log('sendLemmaIdQuery:', id)
            this.newLemma = null
            this.ordbankStore.ordbankLemmaQuery[this.mode] = id
            this.lemmaQuery = id // null
            callAPI("/lemmas/" + id + "?inflect=true&include_dict_links=true",
                    null, null, 'ordbank')
                .then( r => {
                    this.lemmas = [r]
                    this.lemmas.map(lemma =>
                                    lemma.paradigm_info = lemma.paradigm_info?.map(
                                        p => Object.assign({}, p, { exclude: false })))
                } )
                .catch (showErrorMessage)
        },
        // editing
        newHomograph: function () {
            dismissErrorMessage()
            if (this.ordbankStore.ordbankLemmaQuery[this.mode]?.length) {
                this.newLemma = { mode: "new",
                                  lemma: this.lemmaString,
                                  source: this.isNAOB ? 'NAOB-manual' : null,
                                  initial_lexeme: this.prefix,
                                  initial_lexeme_class: this.prefix ? 'NOUN' : null,
                                  junction: this.junction,
                                  neg_junction: this.negJunction,
                                  final_lexeme: this.suffix,
                                  language: this.ordbankStore.ordbankLemmaLanguage[this.mode], // language,
                                  id: -1,
                                  type: 0,
                                  type_designation: "lemma",
                                  word_class: "NOUN"
                                }
                this.lemmas.push(this.newLemma)
                // TODO: hide other homographs
                this.editInfo.lemmaNr = this.lemmas.length-1
            }
        },
        deleteNewHomograph: function () {
            dismissErrorMessage()
            if (this.newLemma == this.lemmas[this.lemmas.length-1]) {
                this.lemmas.pop()
                this.newLemma = null
            }
        }
    }
}
</script>
