<template>
<b-container class="m-0 px-3 pb-0 pt-3">
  <b-row>
    <b-col>
      <ordbank-lemma mode="ob" :id="id"/>
    </b-col>
    <b-col v-if="canEdit">
      <ordbank-lemma mode="ob-sec"/>
    </b-col>
  </b-row>
</b-container>
</template>

<script>

import ordbankLemma from './ordbankLemma.vue'

import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

export default {
    name: 'ordbank-lemma-wrapper',
    props: ['id'],
    components: { ordbankLemma },
    computed: {
        canEdit: function () {
            return useStateStore().jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR')
        }
    }
}

</script>
