<template>
<b-list-group-item class="px-1 p-sm-2">
  <b-list-group>
    <b-list-group-item v-if="edit" class="px-1 p-sm-2">
      <b-form inline>
        <b-form-checkbox size="sm"
                         class="ml-0"
                         :checked="!paradigm.exclude"
                         xxxv-model="paradigm.include"
                         @change="toggleInclude"/>
        <span class="label mr-3">{{$t('Paradigm')}}: </span>
        <span class="value">{{paradigm.paradigm_id}} </span>
        <label class="ml-3" for="standardisation">Standardisering: </label>
        <b-form-select size="sm"
                       id="standardisation"
                       class="mx-3"
                       v-model="paradigm.standardisation"
                       :options="standardisation"
                       @change="recalcStandardisation"/>
        <label class="mr-sm-2" for="paradigm-from-date">{{$t('from')}}:</label>
        <b-form-input type="date" class="mx-3"
                      id="paradigm-from-date"
                      v-model="paradigm.from"
                      @change="recalcStandardisation"/>
        <label class="mr-sm-2" for="paradigm-to-date">{{$t('to')}}:</label>
        <b-form-input type="date" class="mx-3"
                      id="paradigm-to-date"
                      v-model="paradigm.to"
                      @change="changeTo"/>
        <b-button @click="setDefaultDates"
                  variant="outline-secondary"
                  size="sm"
                  class="m-2"
                  title="sett from = 1996-01-01, to = null"
                  align="center">
          Sett default
        </b-button>
      </b-form>
    </b-list-group-item>

    <b-list-group-item v-else class="px-1 p-sm-2">
      <span class="label" v-if="!compact">Paradigme: </span>
      <router-link class="value" :to="lexBase+'/ordbank/paradigm/'+paradigm.paradigm_id">
        {{paradigm.paradigm_id}}</router-link>
      <span> {{paradigm.inflection_group}}</span>
      <span class="dot"> [{{standardisationText}} :
        {{paradigm.from}} – </span><span v-if="paradigm.to">{{paradigm.to}}</span>]
      <span class="dot" v-if="paradigm.source">
        ({{paradigm.source}})
      </span>
      <b-button v-if="canEdit && isRegularParadigm && paradigm.source && compact"
                @click="validateParadigm"
                variant="outline-secondary"
                size="sm"
                class="m-2"
                title="godkjenn paradigmet for bruk i Ordbøkene"
                align="center">
        Godkjenn
      </b-button>
    </b-list-group-item>

    <template v-if="edit || (!hideNonStandard || isStandardParadigm)">
      <b-list-group-item v-if="paradigm.mo_lemma_ids && (edit || !compact)" class="px-1 p-sm-2">
        <span class="label">Metaordbok-lemma: </span>
        {{paradigm.mo_lemma_ids}}
        <span v-if="paradigm.mo_morph?.[0]">
          (<span v-for="(morph,i) in paradigm.mo_morph" :key="i" class="comma">
            {{morph}}
            </span>)
        </span>
      </b-list-group-item>
      <b-list-group-item v-if="!compact || edit" class="px-1 p-sm-2">
        <span class="label">Bøyningsgruppe: </span>
        {{paradigm.inflection_group}}
      </b-list-group-item>
      <b-list-group-item class="px-1 p-sm-2" v-if="paradigm.source && !compact">
        <span class="label">{{$t('Source')}}: </span>
        {{paradigm.source}}
        <b-button v-if="canEdit && isRegularParadigm"
                  @click="validateParadigm"
                  variant="outline-secondary"
                  size="sm"
                  class="m-2"
                  title="godkjenn paradigmet for bruk i Ordbøkene"
                  align="center">
          Godkjenn
        </b-button>
      </b-list-group-item>
      <b-list-group-item class="px-1 p-sm-2">
        <span v-if="compact">
          <span v-if="paradigm.standardisation=='SECONDARY'">[ </span>
          <span class="tag text-muted"
                v-for="(tag, index) in paradigm.tags" :key="'p'+index">{{tag}} </span> <span>
            <paradigm-cell-compact v-for="(cell, index) in inflections"
                                   :key="index"
                                   :includeSubcats="includeSubcats"
                                   :lemma="lemma"
                                   :paradigm="paradigm"
                                   :cell="cell"/>
            <span v-if="paradigm.standardisation=='SECONDARY'"> ]</span>
          </span>
        </span>
        <table v-else>
          <paradigm-cell v-for="(cell, index) in inflections"
                         :key="index"
                         :includeSubcats="includeSubcats"
                         :lemma="lemma"
                         :paradigm="paradigm"
                         :compact="compact"
                         :cell="cell"/>
      </table>
    </b-list-group-item>
    </template>
  </b-list-group>
</b-list-group-item>
</template>

<script>

import { callAPI, lexBase, showErrorMessage } from '@/components/mixins/ordbokUtils.js'

import { useStateStore } from '@/components/korpuskel/src/components/mixins/globals.js'

import paradigmCell from './paradigmCell.vue'
import paradigmCellCompact from './paradigmCellCompact.vue'


const standardisation = [{ value: "STANDARD", text: "normert" },
                         { value: "SECONDARY", text: "klammeform" },
                         { value: "NON_STANDARD", text: "unormert" },
                         // for MWEs registered in BM/NN
                         { value: "REGISTERED", text: "registrert" },
                         // values for MO
                         // part before / is from Ordbanken, part after from MO.
                         // If ranges do not intersect, MO part is ‘uklar’
                         { value: "UNCLEAR", text: "uklar" },
                         { value: "UNKNOWN", text: "uklar" },
                         { value: "NON_S/STAND", text: "unorm/norm" },
                         { value: "SECON/STAND", text: "klamme/norm" },
                         { value: "STAND/UNCLR", text: "norm/uklar"},
                         { value: "NON_S/UNCLR", text: "unorm/uklar"},
                         { value: "SECON/UNCLR", text: "klamme/uklar"},
                         { value: "STAND/UNCLE", text: "norm/uklar"},
                         { value: "NON_S/UNCLE", text: "unorm/uklar"},
                         { value: "SECON/UNCLE", text: "klamme/uklar"},
                         { value: "SECON/NON_S", text: "klamme/unorm"},
                         { value: "STAND/NON_S", text: "norm/unorm"}
                        ]

export default {
    name: 'paradigm-block',
    components: { paradigmCell, paradigmCellCompact },
    props: ['lemma','paradigm','index','includeSubcats','hideNonStandard','compact'],
    data: function () {
        return { standardisation,
                 lexBase }
    },
    computed: {
        inflections: function () {
            // console.log('infl:', this.paradigm)
            return this.paradigm.inflection.filter(cell => cell.word_form)
        },
        edit: function () {
            return this.lemma.mode == 'new' || this.lemma.mode == 'edit'
        },
        standardisationText: function () {
            return this.standardisation.find(s =>
                s.value==this.paradigm.standardisation)?.text || this.paradigm.standardisation
        },
        canEdit: function () {
            return useStateStore().jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR')
            // return this.$store.state.lex.jwt?.roles['ordbank.uib.no']?.find(x => x == 'EDITOR')
        },
        isRegularParadigm: function () {
            return this.paradigm.code[0] != 'M'
        },
        isStandardParadigm: function () {
            return !this.paradigm.to && this.paradigm.code[0] != 'M' && this.paradigm.standardisation == 'STANDARD'
        }
    },
    methods: {
        toggleInclude: function () {
            this.paradigm.exclude = !this.paradigm.exclude
            this.$parent.calculateLemmaStandardisation(true)
            this.$parent.checkConsistency()
        },
        changeTo: function () {
            if (this.paradigm.to=='') {
                this.paradigm.to = null
            }
            this.recalcStandardisation()
        },
        changeFrom: function () {
            if (this.paradigm.from=='') {
                this.paradigm.from = null
            }
            this.recalcStandardisation()
        },
        setDefaultDates: function () {
            this.paradigm.from = '1996-01-01'
            this.paradigm.to = null
        },
        recalcStandardisation: function () {
            this.$nextTick(() => this.$parent.calculateLemmaStandardisation(true))
        },
        validateParadigm: function () {
            // this.storing = true
            callAPI("/lemmas/" +  this.lemma.id,
                    'PATCH',
                    JSON.stringify({ operation: "delete_paradigm_source",
                                     elements: [ this.paradigm.lemma_paradigm_id ] }),
                    'ordbank')
                .then(() => {
                    this.paradigm.source = null
                    this.lemma.source = null
                })
                .catch (showErrorMessage)
        }
    }
}
</script>
