<template>
<tr>
  <td class="cell">
    <span v-if="paradigm.standardisation=='STANDARD' && !paradigm.to" class="word_form" v-html="wordForm"/>
    <span v-else-if="paradigm.standardisation=='SECONDARY'" v-html="'['+wordForm+']'"/>
    <span v-else v-html="wordForm"/>
  </td>
  <td class="cell">
    <cell-tag v-for="(tag, index) in paradigm.tags" :key="'p'+index" :tag="tag"/>
    <cell-tag v-for="(tag, index) in cell.tags" :key="'c'+index" :tag="tag"/>
    <span v-if="includeSubcats">
      <cell-tag class="subcat" v-for="(tag, index) in lemma.subcat_tags" :key="'l'+index" :tag="tag"/>
    </span>
  </td>
</tr>
</template>

<script>


import Vue from 'vue'

import { markdownToHTML
       } from '@/components/mixins/ordbokUtils.js'

const cellTag = Vue.component('cell-tag', {
    props: ['tag'],
    template: `<span class="tag">{{tag}} </span>`
})

export default {
    name: 'paradigm-cell',
    components: { cellTag },
    props: ['lemma','paradigm','cell','includeSubcats'],
    computed: {
        wordForm: function () {
            return markdownToHTML(this.cell.markdown_word_form || this.cell.word_form)
        }
    }
}


</script>
