<template>
<span class="dot">
  <span>
    <span v-html="wordForm"/>
  </span> <small>
    <!--cell-tag v-for="(tag, index) in paradigm.tags" :key="'p'+index" :tag="tag"/-->
    <cell-tag v-for="(tag, index) in cell.tags" :key="'c'+index" :tag="tag"/>
    <span v-if="includeSubcats">
      <cell-tag class="subcat" v-for="(tag, index) in lemma.subcat_tags" :key="'l'+index" :tag="tag"/>
    </span>
  </small>
</span>
</template>

<script>


import Vue from 'vue'

import { markdownToHTML
       } from '@/components/mixins/ordbokUtils.js'

const cellTag = Vue.component('cell-tag', {
    props: ['tag'],
    template: `<span class="text-muted">{{tag}} </span>`
})

export default {
    name: 'paradigm-cell-compact',
    components: { cellTag },
    props: ['lemma','paradigm','cell','includeSubcats'],
    computed: {
        wordForm: function () {
            return markdownToHTML(this.cell.markdown_word_form || this.cell.word_form)
        }
    }
}


</script>
