<template>
<b-container class="m-0 px-3 pb-0 pt-3"
             style="height: calc(100vh - 14.4em); overflow-y: scroll; overflow-x: hidden; xborder: 1px solid green">
  <b-row>
    <b-col>
      <b-form @submit.stop.prevent inline>
        <span class="m-1 p-1">ID:</span>
        <b-form-input size="sm"
                      class="mr-2"
                      v-model="ordbankStore.ordbankQuery.paradigmId"
                      type="search"
                      autocomplete="off"
                      autocorrect="off"
                      autocapitalize="off"
                      @input="sendParadigmQuery"
                      @keydown.enter="sendParadigmQuery"
                      placeholder="Paradigme-ID"/>
        <span style="font-weight: bold" class="m-1 p-1">eller</span>
        <span class="m-1 p-1">språk:</span>
        <b-form-select size="sm"
                       class="mr-2"
                       v-model="language"
                       :options="languages"
                       @change="sendParadigmCodeQuery"
                       />
        <span class="m-1 p-1">og kode:</span>
        <b-form-input size="sm"
                      class="mr-2"
                      v-model="code"
                      type="search"
                      autocomplete="off"
                      autocorrect="off"
                      autocapitalize="off"
                      @input="sendParadigmCodeQuery"
                      @keydown.enter="sendParadigmCodeQuery"
                      placeholder="kode"/>
        <span class="m-1 p-1">ordklasse:</span>
        <b-form-select size="sm"
                       class="mr-2"
                       v-model="word_class"
                       :options="word_class_list"
                       @change="sendParadigmCodeQuery"
                       />
      </b-form>
    </b-col>
  </b-row>
  <b-row>
    <b-col v-if="busy">
      <p class="p-3">
        {{$t('Wait')}}…
      </p>
    </b-col>
    <template v-else>
      <b-col v-if="!paradigms?.length">
        <p class="p-3" v-if="paradigmId || code">
          {{$t('Paradigm not found')}}
        </p>
      </b-col>
      <b-col v-else>
        <p v-if="paradigms.length==1">
          Ett paradigme funnet.
        </p>
        <p v-else>
          {{paradigms.length}} paradigmer funnet.
        </p>
        <p class="pt-3" v-for="(paradigm, index) in paradigms" :key="index">
          <table v-if="paradigm">
            <tr>
              <td class="label">ID:</td>
              <td class="value">
                <span class="xref"
                      @click="showParadigmLemmas(paradigm)">
                  {{paradigm.id}}
                </span>
              </td>
            </tr> 
            <tr>
              <td class="label">{{$t('Language')}}:</td>
              <td class="value">{{paradigm.language}}</td>
            </tr>
            <tr>
              <td class="label">{{$t('Code')}}:</td>
              <td class="value">{{paradigm.code}}</td>
            </tr> 
            <tr>
              <td class="label">{{$t('Description')}}:</td>
              <td class="value">{{paradigm.description}}</td>
            </tr>
            
            <tr v-if="paradigm.inflection.length">
              <td class="label">{{$t('Inflection')}}:</td>
              <td class="value">{{paradigm.inflection}}</td>
            </tr>
            
            <tr v-if="paradigm.tags.length">
              <td class="label">{{$t('Tags')}}:</td>
              <td class="value">
                <span v-for="(p,i) in paradigm.tags" :key="i">{{p}} </span>
              </td>
            </tr>
            
            <tr>
              <td class="label"><nobr>{{$t('Inflection group')}}:</nobr></td>
              <td class="value">{{paradigm.inflection_group}}</td>
          </tr>
          
        </table>
      </p>
    </b-col>
    </template>
  </b-row>
</b-container>
</template>

<script>

import { callAPI, lexBase, showErrorMessage, useOrdbankStore
       } from '@/components/mixins/ordbokUtils.js'

import { mapStores } from 'pinia'

export default {
    name: 'paradigm-definition',
    props: [],
    data: function () {
        return { languages: [ {value: 'nob', text: 'Bokmål'},
                              {value: 'nno', text: 'Nynorsk'}
                            ],
                 language: 'nob',
                 paradigmId: null,
                 code: null,
                 paradigms: null,
                 busy: true,
                 queryId: 0,
                 word_class_list: ["-", "ABBR", "ADJ", "ADP", "ADV", "CCONJ", "COMPPFX", "DET",
                                   "EXPR", "INFM", "INTJ", "NOUN", "PFX", "PRON", "PROPN",
                                   "SCONJ", "SFX", "SYM", "UNKN", "VERB", "VSTEM"],
                 word_class: "-"
               }
    },
    created: function () {
        // this.busy = true
        this.ordbankStore.ordbankQuery.paradigmId = this.$route?.params.id
        this.sendParadigmQuery()
    },
    computed: {
        ...mapStores(useOrdbankStore)
    },
    methods: {
        sendParadigmQuery: function () {
            this.lemmaList = []
            let queryId = ++this.queryId
            callAPI("/paradigms/" + this.ordbankStore.ordbankQuery.paradigmId,
                    null, null, 'ordbank', null, null, [400,404])
                .then( r => {
                    if (queryId != this.queryId) {
                        null
                    } else  if (r.status) {
                        this.paradigms = []
                        this.busy = false
                    } else {
                        this.paradigms = r
                        this.busy = false
                    }
                })
                .catch (showErrorMessage)
        },
        sendParadigmCodeQuery: function () {
            if (this.code || this.word_class != '-') {
                let queryId = ++this.queryId
                this.lemmaList = []
                callAPI("/paradigms/" + this.language + '/' + (this.code || '*') +
                        '?word_class=' + this.word_class,
                        null,
                        null,
                        'ordbank', null, null, [400,404])
                    .then( r => {
                        if (queryId != this.queryId) {
                            null
                        } else if (r.status) {
                            this.paradigms = []
                        } else {
                            this.paradigms = r
                        }
                    })
                    .catch (showErrorMessage)
            }
        },
        showParadigmLemmas: function (paradigm) {
            this.ordbankStore.ordbankQuery.paradigmCode = null
            this.ordbankStore.ordbankQuery.standardisation = '-'
            this.ordbankStore.ordbankQuery.query = '*'
            this.ordbankStore.ordbankQuery.valid = false
            this.ordbankStore.ordbankQuery.wordClass = '-'
            this.ordbankStore.ordbankQuery.source = '-'
            this.ordbankStore.ordbankQuery.paradigmId = paradigm.id
            this.ordbankStore.ordbankQuery.language = paradigm.language
            this.$router.push(lexBase+'/ordbank/list')
        }
    }
}
</script>
