<template>
<span>
  <span v-if="!top"> &lt; </span>
  <drag :transfer-data="{ place_id: item.place_id, place_name: item.place_name_full }"
        tag="span" class="drag">
    <span :class="top ? 'font-weight-bold':''">
      {{item.place_name_full}}
    </span>
  </drag>
  <small class="font-italic"> {{item.place_type}} </small>
  <small> [<router-link :to="lexBase+'/metaordbok/places/'+item.place_id">{{item.place_id}}</router-link>]</small>
  <place-item v-if="item.parent" :item="item.parent"/>
</span>
</template>

<script>

import { lexBase } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'placeItem',
    components: { placeItem: () => import('./placeItem.vue') },
    props: ['item', 'top'],
    data: function () {
        return { lexBase }
    }
}

</script>

