<template>
<b-tr>
  <b-td>
    {{status.code}}
  </b-td>
  <b-td>
    <span v-if="!editName"
          @click="setEditMode('name')">
      {{status.name}}
    </span>
    <template v-if="editName">
      <b-form-input 
        size="sm"
        class="mr-2"
        v-model.trim="status.name"
        type="search"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        :disabled="!isAdmin"/>
      <b-button variant="secondary" size="sm" class="my-0 mx-2 py-0"
                @click="updateStatus">{{$t('Save')}}</b-button>
      <b-button variant="outline-secondary" size="sm" class="my-0 mx-2 py-0"
                @click="reloadStatus">{{$t('Cancel')}}</b-button>
    </template>
  </b-td>
  <b-td>
    <b-form-checkbox
      size="sm"
      v-model="status.locked"
      @input="updateStatus"
      >
    </b-form-checkbox>
  </b-td>
  <b-td>
    <span v-if="!editDesc"
          @click="setEditMode('description')">
      {{status.description||'-'}}
    </span>
    <template v-if="editDesc">
      <b-form-input size="sm"
                    class="mr-2"
                    v-model.trim="status.description"
                    type="search"
                    autocomplete="off"
                    autocorrect="off"
                    autocapitalize="off"/>    
      <b-button variant="secondary" size="sm" class="my-0 mx-2 py-0"
                @click="updateStatus">{{$t('Save')}}</b-button>
      <b-button variant="outline-secondary" size="sm" class="my-0 mx-2 py-0"
                @click="reloadStatus">{{$t('Cancel')}}</b-button>
    </template>
  </b-td>
</b-tr>
</template>

<script>

import { callAPI, showErrorMessage, isAdmin
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'editStatus',
    props: ['dictId','status'],
    // mixins: [api],
    data: function () {
        return {
            editName: false,
            editDesc: false
        }
    },
    methods: {
        setEditMode: function (att) {
            this.reloadStatus()
            switch (att) {
            case 'name':
                this.editName=true
                this.editDesc=false
                break
            case 'description':
                this.editName=false
                this.editDesc=true
            }
        },
        updateStatus: function () {
            this.editName = false
            this.editDesc = false
            let url = '/dict/' + this.dictId + '/status/' + this.status.code
            callAPI(url,'PUT',
                    JSON.stringify({ name: this.status.name,
                                     description: this.status.description,
                                     locked: this.status.locked
                                   }))
                .catch (showErrorMessage)
        },
        reloadStatus: function () {
            this.editName = false
            this.editDesc = false
            let url = '/dict/' + this.dictId + '/status'
            callAPI(url)
                .then(r => {
                    let status = r.find(s => s.code == this.status.code)
                    this.status.name = status.name
                    this.status.description = status.description
                    this.status.locked = status.locked
                })
                .catch (showErrorMessage)
        },
        isAdmin
    }
}

</script>
