<template>
<div>
  <!--b-alert variant="danger" :show="alert" dismissible>{{alert}}</b-alert-->
  <b-card no-body>
    <b-tabs card>
      <b-tab title="Ordbok" active>
        <b-card-text>
          <b-row>
            <b-col>
              <b-form inline>
                <span class="mr-2">Ordbok:</span>
                <b-form-select size="sm"
                               class="mr-2"
                               name="dictionary"
                               v-model="lexStore.dictId"
                               :options="dictionaries"
                               @change="initAdmin"
                               value-field="id"
                               text-field="name">
                </b-form-select>
              </b-form>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
            <h3>Statusliste</h3>
            
            <b-table-simple responsive small striped>
              <b-thead>
                <b-tr>
                  <b-th sticky-column class="font-italic text-center align-middle">
                    ID
                  </b-th>
                  <b-th>
                    Navn
                  </b-th>
                  <b-th>
                    Låst
                  </b-th>
                  <b-th>
                    Beskrivelse
                  </b-th>
                </b-tr>
              </b-thead>
              <b-tbody>
                <edit-status v-for="status in statusCodes"
                             :key="status.code"
                             :status="status"
                             :dictId="lexStore.dictId"/>
              </b-tbody>
            </b-table-simple>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
            <h3>Statusoverganger</h3>
            <b-table-simple responsive small striped bordered>
              <b-thead>
                <b-tr>
                  <b-th sticky-column class="font-italic text-center align-middle">
                    fra \ til
                  </b-th>
                  <b-th v-for="s_to in statusCodes"
                         class="text-center align-middle"
                        :key="s_to.code">
                    {{s_to.name}}
                  </b-th>
                </b-tr>
              </b-thead>
              <b-tbody>
                <b-tr v-for="s_from in statusCodes"
                      :key="s_from.code + '_' + initialized">
                  <b-th sticky-column>
                    {{s_from.name}}
                    <span v-if="s_from.locked">[låst]</span>
                  </b-th>
                  <b-td v-for="s_to in statusCodes"
                        @click="editId=s_from.code+'_'+s_to.code"
                        :key="s_to.code">
                    <!--b-form-group-->
                    <span v-if="s_from.code!=s_to.code">
                      <span v-if="editId==s_from.code+'_'+s_to.code">
                        <transition-roles :roles="roles"
                                          :dictId="lexStore.dictId"
                                          :transitions="transitions"
                                          :code_from="s_from.code"
                                          :code_to="s_to.code"/>
                      </span>
                      <span v-else>
                        <div v-for="(role,i) in transitions[s_from.code]?.[s_to.code]"
                              :key="i">
                          <span class="nobr">{{role}} </span>
                        </div>
                      </span>
                    </span>
                  </b-td>
                </b-tr>
              </b-tbody>
            </b-table-simple>
            </b-col>
          </b-row>
        </b-card-text>
      </b-tab>
      <b-tab title="Brukere">
        <b-card-text>
          <b-row>
            <b-col>
              <span class="font-italic">Logget inn som: </span> {{userName}}
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <span class="font-italic">Roller: </span>
              <span>
                Ordbok: <span v-for="r in personRoles" :key="r" class="comma">{{r}}</span>
              </span>;
              <span>
                Ordbank: <span v-for="r in ordbankPersonRoles" :key="r" class="comma">{{r}}</span>
              </span>
            </b-col>
          </b-row>
          <b-row v-if="isAdmin">
            <b-col>
              <h3>Brukere:</h3>
              <b-table stripedxx xxhover xxresponsive small
                       stacked="sm"
                       :items="users"
                       :fields="userFields"
                       @row-clicked="toggleDetails">
                <template v-slot:cell(roles)="row">
                  <span v-if="row.item.roles['api.ordbok.uib.no']">
                    <span class="font-weight-bold">Ordbok: </span>
                    <span>
                      <span v-for="r in row.item.roles['api.ordbok.uib.no']"
                            :key="r" class="comma">{{r}}</span>
                    </span>
                  </span>
                  <span v-if="row.item.roles['ordbank.uib.no']" class="dot">
                    <span class="font-weight-bold">Ordbank: </span>
                    <span>
                      <span v-for="r in row.item.roles['ordbank.uib.no']"
                            :key="r" class="comma">{{r}}</span>
                    </span>
                  </span>
                </template>
                <template v-slot:row-details="row">
                  <div style="border: 2px solid gray; border-radius: 6px">
                    <b-table-simple>
                      <b-tbody>
                        <b-tr>
                          <b-td class="font-weight-bold">Id:</b-td>
                          <b-td>{{row.item.id}}</b-td>
                        </b-tr>
                        <b-tr>
                          <b-td class="font-weight-bold">Navn:</b-td>
                          <b-td class="font-weight-bold">{{row.item.name}}</b-td>
                        </b-tr>
                        <b-tr>
                          <b-td class="font-weight-bold">Eppn:</b-td>
                          <b-td>{{row.item.eppn}}</b-td>
                        </b-tr>
                        <b-tr>
                          <b-td class="font-weight-bold">Alias:</b-td>
                          <b-td>
                            <b-form-input size="sm" v-model="row.item.alias"/>
                          </b-td>
                        </b-tr>
                        <b-tr>
                          <b-td class="font-weight-bold">Epost:</b-td>
                          <b-td>
                            <b-form-input size="sm" v-model="row.item.email"/>
                          </b-td>
                        </b-tr>
                        <b-tr>
                          <b-td class="font-weight-bold">Roller:</b-td>
                          <b-td>
                            <b-table-simple>
                              <b-tbody>
                                <b-tr>
                                  <b-td>Ordbank:</b-td>
                                  <b-td>
                                    <b-form-group>
                                      <b-form-checkbox-group
                                        v-model="row.item.roles['ordbank.uib.no']"
                                        :options="['ADMIN','EDITOR','EDITOR.NAOB']"/>
                                    </b-form-group>
                                  </b-td>
                                </b-tr>
                                <b-tr>
                                  <b-td>Ordbok:</b-td>
                                  <b-td>
                                    <b-form-group>
                                      <b-form-checkbox-group
                                        v-model="row.item.roles['api.ordbok.uib.no']"
                                        :options="editRoles"/>
                                    </b-form-group>
                                  </b-td>
                                </b-tr>
                              </b-tbody>
                            </b-table-simple>
                          </b-td>
                        </b-tr>
                      </b-tbody>
                    </b-table-simple>
                    <b-button @click="saveRoles(row.item)"
                              class="m-3"
                              variant="primary">
                      Lagre
                    </b-button>
                  </div>
                </template>
              </b-table>
                
              <span v-for="(u, index) in users" :key="index">{{u[1]}}</span>
            </b-col> 
          </b-row>
        </b-card-text>
      </b-tab>
      <b-tab title="Annet">
        <b-card-text>
          <b-row>
            <b-col>
              <b-form-group label="Edit mode">
                <b-form-radio v-model="app.documentationEditMode"
                              name="edit-mode"
                              :value="false">off</b-form-radio>
                <b-form-radio v-model="app.documentationEditMode"
                              name="edit-mode"
                              :value="true">on</b-form-radio>
              </b-form-group>
            </b-col>
          </b-row>
        </b-card-text>
      </b-tab>
    </b-tabs>
  </b-card>
</div>
</template>

<script>

import { app } from '@/main.js'
import { api } from '@/components/mixins/api.js'

import { mapStores } from 'pinia'

import transitionRoles from './transitionRoles.vue'
import editStatus from './editStatus.vue'

import { lexCommon, callAPI, showErrorMessage, userName, personRoles, ordbankPersonRoles, isAdmin,
         useLexStore, useKeyStore
       } from '@/components/mixins/ordbokUtils.js'

export default {
    name: 'lex-admin',
    props: [],
    mixins: [api, lexCommon],
    components: { editStatus, transitionRoles },
    data: function () {
        return { // dictId: 'bm',
            dictionaries: [],
            roles: [],
            statusCodes: [],
            permissions: [],
            transitions: [],
            initialized: false,
            detailsRow: null,
            editId: null,
            app,
            userFields: [ { key: "id" },
                          { key: "name" },
                          { key: "alias" },
                          { key: "email" },
                          { key: "roles" }
                        ],
            editRoles: ['ADMIN', 'WRITE_LOCKED','EDITOR','EDITOR.BM','EDITOR.NN','EDITOR.NO',
                        'READER.NORM',
                        'Redaktør 1','Redaktør 2','Ferdigkontroll','Gruppeleiar','Sitatkontrollør',
                        'Krysskontrollør','Hovudredaktør','Slutta']
        }
    },
    created: function () {
        this.getDicts()
        this.initAdmin()
    },
    computed: {
        ...mapStores(useLexStore, useKeyStore),
        userName,
        personRoles,
        ordbankPersonRoles,
        isAdmin,
        users: function () {
            if (this.keyStore.users) {
                return Array.from(this.keyStore.users.values()).sort((a,b) => a.id - b.id)
            } else {
                return []
            }
        }
    },
    methods: {
        getDicts: function () {
            callAPI('/dict')
                .then (r => this.dictionaries = r ) // r.sort((a,b) => a.name.localeCompare(b.name)))
                .catch (showErrorMessage)
        },
        getRoles: function () {
            return callAPI('/dict/' + this.lexStore.dictId + '/role')
                .then (r => this.roles = r)
        },
        saveRoles: function (item) {
            let user_data = { email: item.email,
                              alias: item.alias,
                              roles: item.roles }
            callAPI("/admin/" + item.id,
                    'PATCH',
                    JSON.stringify(user_data),
                    'ordbank')
                .then(() => this.hideDetails())
                .catch(a => this.alert = a)
            
        },
        getStatusCodes: function () {
            return callAPI('/dict/' + this.lexStore.dictId + '/status')
                .then (r => {
                    // build empty matrix 
                    this.transitions = new Array(r.length)
                    for (let i = 0; i < r.length; i++) {
                        this.transitions[i] = new Array(r.length)
                        for (let j = 0; j < r.length; j++) {
                            this.transitions[i][j] = []
                        }
                    }
                    this.statusCodes = r.sort((a,b) => a.code-b.code)
                })
        },
        getPermissions: function () {
            return callAPI('/dict/' + this.lexStore.dictId + '/permission')
                .then (r => this.permissions = r)
        },
        getTransitions: function () {
            for (let perm of this.permissions) {
                this.transitions[perm.from_status][perm.to_status] = perm.roles
            }
            this.initialized = true
        },
        toggleDetails: function (row) {
            if (this.detailsRow && this.detailsRow != row) {
                this.detailsRow._showDetails = false
                this.rows = []
            }
            row._showDetails=!row._showDetails
            this.detailsRow = row
            // this.refresh()
        },
        hideDetails: function () {
            if (this.detailsRow) {
                this.detailsRow._showDetails = false
                this.rows = []
                this.detailsRow = null
            }
        },
        initAdmin: function () {
            this.initialized = false
            this.getRoles()
                .then(() => this.getStatusCodes())
                .then(() => this.getPermissions())
                .then(() => this.getTransitions())
                .catch (showErrorMessage)
        }
    }
}
</script>


<style>

</style>
