<template>
  <span>
<b-form-checkbox-group
  size="sm"
  v-model="trans"
  @change="changeTransition"
  :options="roles"
  :disabled="!isAdmin"
  >
</b-form-checkbox-group>
</span>
</template>

<script>

import { callAPI, showErrorMessage, isAdmin
       } from '@/components/mixins/ordbokUtils.js'

import { app } from '@/main.js'

export default {
    name: 'transition-roles',
    props: ['dictId','transitions','roles','code_from', 'code_to'],
    data: function () {
        return {
            trans: this.transitions[this.code_from]?.[this.code_to]
        }
    },
    methods: {
        changeTransition: function (roles) {
            let oldRoles = this.transitions[this.code_from][this.code_to]
            let newRoles = roles.filter(r => !oldRoles.find(old_r => old_r == r))
            oldRoles = oldRoles.filter(old_r => !roles.find(r => r == old_r))
            // This code is a bit complex because we have to make sure that getPermissions() is
            // called after all API calls have returned. There is perhaps only one in any case,
            // so this could be simplified considerably.
            let self = this
            let deletePerm = function () {
                let url = '/dict/' + self.dictId + '/permission/'
                    + self.code_from + '/' + self.code_to + '/' + oldRoles.shift()
                callAPI(url,'DELETE')
                    .then (() => oldRoles.length ? deletePerm() : self.getPermissions())
                    .catch (showErrorMessage)
            }
            let addPerm = function () {
                let url = '/dict/' + self.dictId + '/permission/'
                    + self.code_from + '/' + self.code_to + '/' + newRoles.shift()
                callAPI(url,'PUT')
                    .then (() => newRoles.length ? addPerm() :
                           (oldRoles.length ? deletePerm() : self.getPermissions()))
                    .catch (showErrorMessage)
            }
            if (newRoles.length) {
                addPerm()
            } else if (oldRoles.length) {
                deletePerm()
            }
            this.transitions[this.code_from][this.code_to] = roles
        },
        getPermissions: function () {
            let dict = this.dictId
            callAPI('/dict/' + this.dictId + '/permission')
                .then (r => app.permissions[dict] = r)
                .catch (showErrorMessage)
            callAPI('/dict/' + this.dictId + '/status')
                .then (r => app.statusList[dict] = r)
                .catch (showErrorMessage)
        },
        isAdmin
    }
}

</script>
