// from: https://stackoverflow.com/questions/47494348/sticky-footer-in-vuejs-application

<template>
  <div id="app">
    <div class="content">
      Innhold
    </div>
    <footer class="footer">
      <hr/>
      Bunntekst
    </footer>
  </div>
</template>

<style>
#app { 
    display: flex;
    flex-direction: column;
    height: 100%
}

.content {
    flex: 1 0 auto
}

html, body {
    height: 100%
}

.footer {
    flex-shrink: 0;
    padding: 20px
}
</style>
