<template>
<div>
  <b-card>
    <!--b-alert variant="danger" :show="alert" dismissible>{{alert}}</b-alert-->
    <b-breadcrumb :items="stateStore.docPath"/>
    <b-form inline v-if="app.documentationEditMode">
      <template v-if="mode=='show' && canEdit">
        <b-button class="small m-2 p-1 px-2"
                  variant="outline-secondary"
                  @click="showWikiSource">
          Edit
        </b-button>
        <template v-if="versions.length > 1">
          <span class="m-2">
            Version:
          </span>
          <b-form-select size="sm"
                         class="m-2"
                         v-model="version"
                         :options="versions"
                         @change="showWikiPage(true)"
                         />
          </template>
      </template>
      <template v-else>
        <b-button v-if="mode=='source'" class="small m-2" @click="mode='show'">Discard</b-button>
        <b-button v-if="mode=='source'" class="small m-2" @click="saveWikiSource">Save</b-button>
      </template>
    </b-form>
    <b-card-text>
      <div v-if="mode=='show'"
           class="wiki-page"
           v-html="pageHTML"/>
      <b-form-textarea v-if="mode=='source'"
                       rows="30"
                       xxxmax-rows="1000"
                       v-model="pageSource"/>
    </b-card-text>
  </b-card>
</div>
</template>

<script>

import { lexCommon, showErrorMessage
       } from '@/components/mixins/ordbokUtils.js'

import { globals } from '@/components/korpuskel/src/components/mixins/globals.js'
import { app } from '@/main.js'

export default {
    name: 'lex-documentation',
    mixins: [lexCommon, globals],
    components: {  },
    data: function () {
        return { pageHTML: null,
                 pageSource: null,
                 mode: "show",
                 version: null,
                 versions: [],
                 canEdit: false,
                 app
               }
    },
    created: function () {
        this.showWikiPage()
    },
    watch:{
        $route (to, from) {
            if (from.path != to.path) { // don’t reload if only hash changes!
                this.showWikiPage()
                let pos = this.stateStore.docPath.findIndex(elt => elt.to == to.params.page)
                if (pos >= 0) {
                    this.stateStore.docPath.splice(pos, this.stateStore.docPath.length - pos)
                }
            }
        }
    },
    methods: {
        showWikiPage: function (setVersion) {
            let pageId = this.$route.params.page
            console.log('pageId:', pageId)
            // console.log('locale:')
            // console.log(this.$store.state.common.locale)
            let docPath = this.stateStore.docPath // this.$store.state.common.docPath
            if (pageId) {
                let pos = this.stateStore.docPath.findIndex(elt => elt.to == pageId)
                if (pos >= 0) {
                    this.stateStore.docPath.splice(pos,this.stateStore.docPath.length - pos)
                }
                this.callCorpusAPI('get-wiki-page', {
                    'page-id': pageId, // the URL rel. path
                    'page-version': (setVersion ? this.version : null),
                    'language': this.stateStore.locale
                })
                    .then (r => {
                        console.log('wikiPage:')
                        console.log(r)
                        this.stateStore.docPath.push({ to: pageId,
                                                       text: r.name || pageId.replace(/_/g,' ') })
                        // this.stateStore.docPath = this.path
                        this.pageHTML = r.html
                        this.versions = r.versions.map(v => {
                            return { text: v.date + (v.user ? ' [' + v.user + ']' : ''),
                                     value: v.value,
                                     disabled: v.disabled }
                        })
                        this.version = r.version
                        this.canEdit = r.canEdit
                        this.$nextTick(() => {
                            Array.from(document.getElementsByClassName("wiki-sublink"))
                                .forEach(elt => {
                                    elt.addEventListener("click", () => {
                                        this.$router.push({ path: elt.getAttribute('page') })
                                    })
                                })
                        })
                    })
                    .catch (showErrorMessage)
            } else if (docPath?.length) {
                pageId = docPath[docPath.length-1].to
                this.stateStore.docPath.pop()
                this.$router.push({ path: pageId })
            } else {
                this.$router.push({ path: 'lex-documentation' })
            }
        },
        showWikiSource: function () {
            let pageId = this.$route.params.page
            this.callCorpusAPI('get-wiki-source', {
                'page-id': pageId, // the URL rel. path
                'language': this.stateStore.locale
            })
                .then (r => {
                    this.pageSource = r.text
                    this.mode = 'source'
                })
                .catch (showErrorMessage)
        },
        saveWikiSource: function () {
            let pageId = this.$route.params.page
            this.callCorpusAPI('save-wiki-source',
                               { 'page-id': pageId,
                                 'language': this.stateStore.locale
                               },
                               null,
                               'PUT',
                               "markup=" + encodeURIComponent(this.pageSource)
                              )
                .then (r => {
                    this.pageHTML = r.html
                    this.pageSource = null
                    this.mode = 'show'
                    this.versions = r.versions.map(v => {
                        return { text: v.date + (v.user ? ' [' + v.user + ']' : ''),
                                 value: v.value,
                                 disabled: v.disabled }
                    })
                    this.version = r.version
                    this.canEdit = r.canEdit
                    this.$nextTick(() => {
                        Array.from(document.getElementsByClassName("wiki-sublink"))
                            .forEach(elt => {
                                elt.addEventListener("click", () => {
                                    this.$router.push({ path: elt.getAttribute('page') })
                                })
                            })
                    })
                })
                .catch (showErrorMessage)
        }
    }
}
</script>

<style>
  
  /*
@font-face {
    font-family: Halflings;
    src: url('woff/glyphicons-halflings-regular.woff') format('woff');
}
*/

span.wiki {
    color: #29a2c3;
    cursor: pointer;
}

span.wiki-link {
    cursor: pointer;
    margin: 2px;
    border-bottom: 1px dotted #ba0000;
}

span.wiki-link:hover {
    border-bottom: 1px dotted #ba0000;
    color: #29a2c3;
}

span.wiki:hover {
    border-bottom: 1px dotted #ba0000;
    color: green;
}

table.wiki {
    border-collapse: collapse;
    font-size: 10pt;
    margin: 1em;
    background-color: #fffce0;
}

p.wiki {
    margin-left: 0em;
}

h1.wiki {
    font-size: 18pt;
    font-weight: bold;
    margin-top: 1em;
    color: #151057;
}

h2.wiki {
    font-size: 14pt;
    font-weight: bold;
    margin-top: 1.5em;
    color: #151057;
}

h3.wiki {
    font-size: 12pt;
    font-weight: bold;
    margin-top: 1em;
    /* padding-top: 1em; */
    color: #151057;
}

h4.wiki {
    font-size: 12pt;
    margin-top: 2em;
    color: #151057;
}

/* fixes scrolling amount on anchors, see https://css-tricks.com/hash-tag-links-padding/ */
h2.wiki::before { 
  display: block; 
  content: " "; 
  margin-top: -86px; 
  height: 86px; 
  visibility: hidden; 
  pointer-events: none;
}

h3.wiki::before { /* doesn’t work here? */
  display: block; 
  content: " "; 
  margin-top: -86px;
  height: 86px; 
  visibility: hidden; 
  pointer-events: none;
}

h4.wiki::before { 
  display: block; 
  content: " "; 
  margin-top: -86px; 
  height: 86px; 
  visibility: hidden; 
  pointer-events: none;
}

th.wiki {
    border: 1px lightgray solid;
}

th.wiki {
    border: 1px lightgray solid;
    padding: 0.5em;
}

td.wiki {
    border: 1px lightgray solid;
    padding: 0.5em;
    background-color: #fffefe;
}

pre.wiki {
    margin-left: 2em;
}

div.wiki-toc {
    border: 1px solid gray;
    background-color: #f6fafa;
    border-radius: 6px;
    margin: 0.5em;
    margin-bottom: 1.5em;
    padding: 0.5em;
    float: right;
}

ul.wiki-toc {
    margin: 0;
    padding-left: 0;
}

li ul.wiki-toc {
    margin: 0;
    padding-left: 1.5em;
}

li.wiki-toc {
    list-style-type: none;
    margin: 0;
}

ul.wiki-list {
    margin: 0;
    padding-left: 1.5em;
}

li.wiki-list {
    list-style-type: circle;
    margin: 5px;
}

div.wiki-page {
    max-width: 60em
}

div.wiki {
    position: absolute;
    margin: 0.5em;
    padding: 0.8em;
    display: none;
    border: 1px solid black;
    background-color: #f6fafa;
}

div.wiki-img {
}

img.wiki {
  margin: 0.5em;
  margin-left: 1em;
}

span.wiki-sublink {
    text-decoration: underline;
    cursor: pointer;
}


</style>
