<template>
<div id="lex"
     :lang="stateStore.locale"
     :style="hasOverflow(location.pathname) ? '':'height: 100vh; overflow-y: hidden'">
  <div :class="hasOverflow(location.pathname) ? 'ovfl-content' : 'content'">
    <b-navbar toggleable="xl"
              type="light"
              sticky class="clarino"
              style="height: 3.5em"
              >
      <b-navbar-brand tabindex="-1"
                      href="https://clarin.w.uib.no"
                      target="_blank"
                      size="sm">
        <img alt="Clarino logo"
             height="55em"
             src="@/clarino/assets/clarino-green-lrg-trans.png"/>
        <span class="title home-link">
          <router-link :to="lexBase + '/home'" class="home-link">
            <span>Lex</span>
          </router-link>
        </span>
      </b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"/>
      <b-collapse id="nav-collapse" is-nav class="nav-collapse">
        <b-navbar-nav>
          <b-nav-item :to="lexBase+'/ordbank'"><span>Ordbank</span>
          </b-nav-item>
          <b-nav-item :to="lexBase+'/metaordbok'"><span>Metaordbok</span>
          </b-nav-item>
          <b-nav-item :to="lexBase+'/ordbok'"><span>{{$t('Dictionary')}}</span>
          </b-nav-item>
          <b-nav-item :to="lexBase+'/corpus'"><span>{{$t('Corpus')}}</span>
          </b-nav-item>
          <b-nav-item class="nobr" :to="lexBase+'/corpora'"><span>{{$t('Corpus list')}}</span>
          </b-nav-item>
          <b-nav-item :to="textUrl">
            <span>{{$t('Text')}}</span>
          </b-nav-item>
          <b-nav-item :to="lexBase + '/details'">
            <span>{{$t('Details')}}</span>
          </b-nav-item>
          <b-nav-item :to="lexBase+'/normal'"><span>{{$t('Normalization')}}</span>
          </b-nav-item>
          <b-nav-item v-if="isOrdbankEditor('NAOB')" :to="lexBase+'/naob/article'"><span>NAOB</span>
          </b-nav-item>
          <b-nav-item :to="lexBase+'/documentation/'">
            <span>{{$t('Documentation')}}</span>
          </b-nav-item>
          <b-nav-item v-if="sessionStore.userId" :to="lexBase+'/admin'"><span>{{$t('Admin')}}</span>
          </b-nav-item>
        </b-navbar-nav>
        
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown :text="$t(stateStore.locale)" right>
            <b-dropdown-item href="#"
                             v-for="(lang, i) in ['en','no']"
                             :key="i"
                             @click="setLocale(lang)">
              {{$t(lang)}}
            </b-dropdown-item>
          </b-nav-item-dropdown>
          <template v-if="jwt">
            <b-nav-item right class="nobr">
              <b-icon-person-fill/> {{userName || sessionStore.userName}}
            </b-nav-item>
            <b-nav-item class="nobr" @click="requestLogout">
              {{$t('Log out')}}
            </b-nav-item>
          </template>
          <template v-else>
            <b-nav-item right class="nobr" @click="singleSigninShib">
              Sign in
            </b-nav-item>
          </template>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <popover-modal :tabs='tabs'/>
    <b-modal id="bv-modal-jwt-expired"
             @ok="singleSigninShib"
             @cancel="requestLogout"
             ok-title="Sign in again"
             cancel-title="OK"
             >
      <template v-slot:modal-title>
        Your jwt session has expired.
      </template>
    </b-modal>
    <b-modal id="bv-modal-expired"
             @ok="getSession()"
             xxxcancel="requestLogout"
             ok-title="Get new session"
             cancel-title="OK"
             >
      <template v-slot:modal-title>
        Your session has expired.
      </template>
    </b-modal>
    <b-toast id="alert-toast" title="Advarsel" auto-hide>
      {{alert.message}}
    </b-toast>
    <router-view :tabs='tabs'/>
  </div>
  <footer class="footer">
    Design and implementation: Paul Meurer @ Clarino
  </footer>
</div>
</template>

<script>

import Vue from 'vue'
import VueMq from 'vue-mq'

Vue.use(VueMq, {
    breakpoints: {
        xs: 576,
        sm: 768,
        md: 992,
        lg: 1200,
        xl: Infinity
    }
})

import '@/clarino/assets/custom.scss'

import { production, userName, lexCommon, loadJSON, showErrorMessage, ordbrukerEndpoint,
         lexLispBase, lexBase, sessionId, isAdmin, isOrdbankEditor, useKeyStore, callAPI
       } from './mixins/ordbokUtils.js'

import { apiEndpointKorpuskel } from '../main.js'
import { globals, useTokenStore } from './korpuskel/src/components/mixins/globals.js'
import { mapStores } from 'pinia'
import popoverModal from './korpuskel/src/components/popoverModal.vue'

function trunk16 (str) {
    return str.length < 17 ? str : str.substring(0,16) + "…"
}

export default {
    name: 'lexMain',
    components: { popoverModal
                },
    mixins: [lexCommon, globals], // , popover],
    data: function () {
        return { lexBase,
                 lemmas: [],
                 tabs: { tabIndex: 0 },
                 production,
                 dicts: ['bm','nn','no'],
                 location
               }
    },
    created: function () {
        // need this to prevent having multiple timers when code is reloaded
        if (sessionStorage.timerId) { // perhaps better to put into global object?
            clearInterval(sessionStorage.timerId)
        }
        this.sessionStore.jwt = localStorage.jwt
        sessionStorage.timerId = setInterval(this.checkExpiredJWT, 5000)
        this.initCorpus() // see globals.js
        /*
          if (userName()) {
          this.dicts.forEach(dict =>
          callAPI('/dict/' + dict)
          .then (r => this.keyStore.info[dict] = r)
          .catch (showErrorMessage)
          )}
        */
        this.getUsers()
        this.getStatusLists()
    },
    computed: {
        ...mapStores(useTokenStore, useKeyStore),
        jwt: function () {
            return this.sessionStore.jwt
        },
        project: function () {
            return this.$route.params.project
        },
        textUrl: function () {
            if (this.stateStore.documentId) {
                return '/' + this.project + '/text' + '/' +
                    this.stateStore.textCorpus + '/' + this.stateStore.documentId
            } else {
                return '/' + this.project + '/text'
            }
        },
        userName
    },
    methods: {
        getStatusLists: function () {
            this.dicts.forEach(dict =>
                callAPI('/dict/' + dict + '/status')
                    .then (r => this.keyStore.statusList[dict] = r)
                    .catch (showErrorMessage))
        },
        getUsers: function () { // oracle-id -> alias
            // let url = ordbrukerEndpoint + '/admin?jwt=' + localStorage.jwt
            // use new jwt implementation
            let url = lexLispBase + '/js/get-users?jwt=' + localStorage.jwt
            loadJSON(url)
                .then(r => {
                    console.log('users:', r)
                    let map = new Map()
                    let users = r.users
                    for (let i = 0; i < users.length; i++) {
                        users[i]._showDetails = false
                        map.set(users[i].id, users[i])
                    }
                    this.keyStore.users = map
                    this.keyStore.userNames = Array.from(this.keyStore.users,u=>u[1])
                        .sort((a,b)=>a.name<b.name?-1:1)
                        .map(u => { return { value: u.id, text: trunk16(u.name) } })
                    if (userName()) {
                        this.dicts.forEach(dict =>
                            callAPI('/dict/' + dict)
                                .then (r => {
                                    this.keyStore.info[dict] = r
                                    let dict_owners = r.owners || []
                                    this.keyStore.owners[dict] = this.keyStore
                                        .userNames?.filter(u=>dict_owners.find(id => u.value == id))
                                })
                                .catch (showErrorMessage)
            )}

                })
                .catch (showErrorMessage)
        },

        hasOverflow: function (pn) {
            let res = false
            let paths =  ['/corpus/', '/corpora', '/text', '/details', '/normal', '/documentation/', '/admin']
            paths.forEach(path => {
                 if (pn.includes(path)) {
                     res = true
                     return
                 }
             })
            return res
        },
        setLocale: function (lang) {
            this.stateStore.setLocale(lang)
        },
        getReturnUrl: function () {
            var port = ""
            var returnUrl = null
            if (location.port) {
                port = ":" + location.port
            }
            // in addition, login via Shibboleth
            returnUrl = location.protocol + "//" 
                + location.hostname
                + port
                + lexBase // new
                + '/login'
                + "?path=" + location.pathname
            return returnUrl
        },
        getReturnUrlShib: function () {
            var port = ""
            var returnUrl = null
            // in addition, login via Shibboleth
            if (location.port) {
                port = ":" + location.port
            }
            returnUrl = location.protocol + "//" 
                + location.hostname
                + port
                + lexBase // new
                + '/login-jwt'
                + "?path=" + location.pathname
            return returnUrl
        },
        // test
        singleSigninShib: function () { // Shibboleth login
            let returnUrl = this.getReturnUrlShib()
            // see framework.lisp
            window.open(apiEndpointKorpuskel +
                        "login?return-url=" + encodeURIComponent(returnUrl) +
                        "&get-jwt=true", // not used yet
                        "_self")
        },
        
        getUrl: function (path) {
            return ordbrukerEndpoint + '/' + path
        },
        getSession: function () {
            sessionId()
        },
        isAdmin,
        isOrdbankEditor,
        // obsolete
        singleSignin: function () {
            let returnUrl = this.getReturnUrl()
            let url = this.getUrl('login/?spa_url=' + encodeURIComponent(returnUrl))
            window.location.assign(url)
        },
        requestLogout: function () {
            localStorage.removeItem('jwt')
            loadJSON(lexLispBase + '/js/unset-jwt')
                .catch (showErrorMessage)
            this.stateStore.jwt = null
            this.sessionStore.jwt = null
            this.sessionStore.sessionId = null
            this.sessionStore.userId = null
            this.sessionStore.userName = null
            this.$router.push({ path: lexBase }) 
            this.initCorpus()
        },
        checkExpiredJWT: function () {
            if (this.sessionStore.jwt != localStorage.jwt) {
                this.sessionStore.jwt = localStorage.jwt
                sessionId()
            }
        }
    }
}
</script>


<style>
  @import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#app {
    font-family: NotoParen, 'Noto Sans', Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center;*/
    /* color: #2c3e50; */
    /* margin-top: 20px; */
}

#lex {
    display: flex;
    flex-direction: column;
    height: 100%
}

td.cell {
   padding: 0.2em
}
td.label {
    padding: 0.2em;
    font-weight: bold
}
td.value {
    padding: 0.2em;
    font-weight: normal;
}
.subcat {
    font-size: smaller;
}

.title {
    font-weight: bold;
    color: #07426e
}

.clarino {
    background-color: #eee; /*#d0e0e8;*/ /*#b0b0f0;*/
    border-bottom: 2px solid var(--green) /* #a2c037 */
}

.clarino img {
    margin-bottom: -22px; 
    margin-top: -7px;
    margin-left: -10px;
    margin-right: 14px
}

.clarino a {
    color: #07426e
    }

.nav-link {
    color: #07426e !important
    }

a.nav-link span:hover, .home-link:hover {
    text-decoration: none;
    border-bottom: 2px solid var(--green)
    }

.router-link-active span {
    border-bottom: 3px solid var(--green)
    }

span.link {
    color: #39688b;
}

/* no need to display empty elements */
span.comma:empty {
    display: none;
}

span.comma:not(:first-child):before {
    content: ", ";
}

span.comma:not(:first-child):before {
    content: ", ";
}

div.comma:not(:last-child):after {
    content: ", ";
}

span.semi:empty {
    display: none;
}

span.semi:not(:first-child):before {
    content: "; ";
}

div.semi:not(:last-child):after {
    content: "; ";
}

span.dot:empty {
    display: none;
}

span.dot:not(:first-child):before {
    content: " · ";
}

div.dot:not(:last-child):after {
    content: " · ";
}

span.space:not(:first-child):before {
    content: " ";
}

div.space:not(:last-child):after {
    content: " ";
}

#app { 
    display: flex;
    flex-direction: column;
    height: 100%
}

.ovfl-content {
    border-bottom: 1px solid var(--green);
    /* height: calc(100vh - 2.8em); */
    flex: 1 0 auto
}

.content {
    border-bottom: 1px solid var(--green);
    height: calc(100vh - 2.8em);
    flex: 1 0 auto
}

html, body {
    height: 100%
}

.footer {
    flex-shrink: 0;
    padding-left: 20px;
    padding-top: 5px
}

.toast-header {
    background: red;
    color: green
}
.toast-body {
    background: red;
    color: white
}

h1.heading {
    font-size: 2rem
}

h2 {
    font-size: 1.6rem
}

.nobr {
    white-space: nowrap
}

h1.text-page {
    font-size: 18pt
}

.not-collapsed + .nav-collapse {
    background: white;
    border: 1px solid gray;
    padding: 0.5em;
    border-radius: 6px
}

</style>
