// File: custom.scss

// see node_modules/bootstrap/scss/_variables.scss

// Define your variable overrides here

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) ;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1640px
) ;

$table-cell-padding: .75rem ;

// $blue: #07426e;
$blue: #39688b;
$green: #a2c037;

// $warning: $green;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

body {
  margin: 0;
}

